<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?php
$arrAdaptive = array();
$arrHtml = array();
$arrClass = array('category-promo__left','category-promo__right');
?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$arrHtml[] = '<div class="'.$arrClass[$f_RowNum].' js-category-hover">
                <div class="category-slider js-category-slider" id="slider'.$f_RowNum.'">
                  '.$f_Images.'
                </div>
                <div class="category-promo__text">
                  <div class="category-promo__middle" data-mh="text">
                    <span class="category-promo__ico">'.getIconEasyCon($f_RowNum).'</span>
                    <strong class="category-promo__title">'.$f_Header.'</strong>

                    <p>'.$f_Text.'</p>

                    <a href="'.$lang_prefix.$f_ButtonLink.'" class="btn-type2"><span class="btn-type2__text">'.Langs::TEXT_GO_TO.'</span></a>
                  </div>
                </div>
                <span class="js-close-category-gallery close-gallery"></span>
              </div>';

$arrAdaptive[] = '<a href="'.$lang_prefix.$f_ButtonLink.'" class="category-promo-adaptive__item">
                    <span class="category-promo-adaptive__pic" style="background-image: url('.$f_Images->to_array()[0]['Path'].')"></span>
                    <span class="category-promo-adaptive__ico">'.getIconEasyCon($f_RowNum).'</span>
                    <strong class="category-promo-adaptive__title">'.$f_Header.'</strong>
                    <span class="btn-type2"><span class="btn-type2__text">'.Langs::TEXT_GO_TO.'</span></span>
                  </a>';
?><!-- /RecordTemplate -->

<!-- FormSuffix --><?if($totRows){?>
  <div class="category-promo">
    <?=implode('',$arrHtml)?>
    
    <span class="down-arrow js-scroll-down"></span>
  </div>

  <div class="category-promo-adaptive">
    <?=implode('',$arrAdaptive)?>
  </div>
<?}?><!-- /FormSuffix -->