<?if($totRows){?>
  <div class="category-promo">
    <?=implode('',$arrHtml)?>
    
    <span class="down-arrow js-scroll-down"></span>
  </div>

  <div class="category-promo-adaptive">
    <?=implode('',$arrAdaptive)?>
  </div>
<?}?>