<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$arrHtml[] = '<div class="'.$arrClass[$f_RowNum].' js-category-hover">
                <div class="category-slider js-category-slider" id="slider'.$f_RowNum.'">
                  '.$f_Images.'
                </div>
                <div class="category-promo__text">
                  <div class="category-promo__middle" data-mh="text">
                    <span class="category-promo__ico">'.getIconEasyCon($f_RowNum).'</span>
                    <strong class="category-promo__title">'.$f_Header.'</strong>

                    <p>'.$f_Text.'</p>

                    <a href="'.$lang_prefix.$f_ButtonLink.'" class="btn-type2"><span class="btn-type2__text">'.Langs::TEXT_GO_TO.'</span></a>
                  </div>
                </div>
                <span class="js-close-category-gallery close-gallery"></span>
              </div>';

$arrAdaptive[] = '<a href="'.$lang_prefix.$f_ButtonLink.'" class="category-promo-adaptive__item">
                    <span class="category-promo-adaptive__pic" style="background-image: url('.$f_Images->to_array()[0]['Path'].')"></span>
                    <span class="category-promo-adaptive__ico">'.getIconEasyCon($f_RowNum).'</span>
                    <strong class="category-promo-adaptive__title">'.$f_Header.'</strong>
                    <span class="btn-type2"><span class="btn-type2__text">'.Langs::TEXT_GO_TO.'</span></span>
                  </a>';
?>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>