<?php
$template_path = helperData::getTemplatePath();
$arrLang = getLanguage(false, true);
$lang_prefix = $arrLang['prefix'];

$query_select = "1";
$query_join = "";
$query_where = "1";

$arrFields = array(
                'Header',
                'Text',
);
$arrQueryLang = getQueryLang($classID,$arrFields);
$query_select .= $arrQueryLang["select"];
$query_join .= $arrQueryLang["join"];
$query_where .= $arrQueryLang["where"];




$f_Images_tpl = array(
  'prefix' => "",
  'record' => "<div class='category-slider__item'>
                 <div class='category-slider__pic' style='background-image: url(%Path%)'></div>
               </div>",
  'divider' => "",
  'suffix' => "",
  'i' => 0
);
?>