<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?php
$arrDotsHtml = array();
?>
<div class="page-width">
  <?=getBrcrHtml()?>
  <h1><?=getSubNameLang($sub)?></h1>
  <div class="innovation-list"><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$arrDotsHtml[] = '<li class="dots-list__item"><a href="#innovation'.$f_RowID.'" class="dots__text js-anchor-link">'.$f_Name.'</a></li>';
?>
<section class="innovation js-check-in-view" id="innovation<?=$f_RowID?>">
  <div class="innovation__ico">
    <?if(mb_stripos($f_Image, '.svg') !== false){?>
      <img src="<?=$f_Image?>" width="391" height="391" alt="">
    <?}else{?>
      <div class="innovation__pic">
        <img src="<?=$f_Image?>" width="391" height="391" alt="">
      </div>
    <?}?>
  </div>
  <div class="innovation__info">
    <div class="innovation__header">
      <strong class="innovation__name"><?=$f_Name?></strong>
      
      <?if($f_SubName){?>
        <span class="innovation__sub-name"><?=$f_SubName?></span>
      <?}?>
    </div>
    <div class="innovation__text">
      <?=$f_Text?>
    </div>
  </div>
</section><!-- /RecordTemplate -->

<!-- FormSuffix -->  </div>

  <div class="innovation-dots">
    <nav class="dots js-sticky-col">
      <ul class="dots-list">
        <?=implode('', $arrDotsHtml)?>
      </ul>
    </nav>
  </div>
</div><!-- /FormSuffix -->