<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$arrDotsHtml[] = '<li class="dots-list__item"><a href="#innovation'.$f_RowID.'" class="dots__text js-anchor-link">'.$f_Name.'</a></li>';
?>
<section class="innovation js-check-in-view" id="innovation<?=$f_RowID?>">
  <div class="innovation__ico">
    <?if(mb_stripos($f_Image, '.svg') !== false){?>
      <img src="<?=$f_Image?>" width="391" height="391" alt="">
    <?}else{?>
      <div class="innovation__pic">
        <img src="<?=$f_Image?>" width="391" height="391" alt="">
      </div>
    <?}?>
  </div>
  <div class="innovation__info">
    <div class="innovation__header">
      <strong class="innovation__name"><?=$f_Name?></strong>
      
      <?if($f_SubName){?>
        <span class="innovation__sub-name"><?=$f_SubName?></span>
      <?}?>
    </div>
    <div class="innovation__text">
      <?=$f_Text?>
    </div>
  </div>
</section>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>