<footer class="page-footer">
  
  <?if($sub == sct::sub('main')){?>
    <div class="page-up-btn js-scroll-top"></div>
  <?}?>
  
  <div class="page-width">
    <div class="page-footer__top">
      <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
        <div class="page-footer__copyright">
          <img src="<?=$template_path?>img/footer-logo.svg" width="71" height="74" alt="<?=$current_catalogue["Catalogue_Name"]?>" class="page-footer__logo">
          <span>
            <?=str_ireplace('%YEAR%', date('Y'), $current_catalogue["Copy".$lang_prefix_field])?>
          </span>
        </div>
      <?}?>
      <div class="footer-col">
        <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
          <div class="footer-col__title footer-col__title_arrow js-toggle-footer-menu"><?=getSubNameLang(sct::sub('easy_clean'))?></div>
        <?}?>

        <ul class="footer-menu">
          
          <?php
          $arrMenuFooterCatalog = array(sct::sub('catalog'),sct::sub('innovation'),sct::sub('care'),sct::sub('news'),sct::sub('media'),sct::sub('bracing'));
          foreach($nav->where_in("id", $arrMenuFooterCatalog)->get() as $sd){
            //Отображаем иммено для раздела EasyClean, как будто кликнули по меню в шапке Easy Clean
            if($sd->id == sct::sub('innovation')){
              $sd->url .= '?type=1';
            }
            if(empty($sd->Checked)){
              continue;
            }
            echo '<li class="footer-menu__item"><a href="'.$lang_prefix.$sd->url.'" class="footer-menu__link">'.getSubNameLang($sd->id).'</a> </li>';
          }
          ?>
          
        </ul>
      </div>
      <div class="footer-col">
        <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
          <div class="footer-col__title footer-col__title_arrow js-toggle-footer-menu"><?=getSubNameLang(sct::sub('contract_cloth'))?></div>
        <?}?>

        <ul class="footer-menu">
          
          <?php
          $arrMenuFooterCatalog2 = array(sct::sub('catalog'),sct::sub('innovation'),sct::sub('app_area'),sct::sub('news'),sct::sub('media'));
          foreach($nav->where_in("id", $arrMenuFooterCatalog2)->get() as $sd){
            //Отображаем иммено для раздела Контрактные ткани, как будто кликнули по меню в шапке Контрактные ткани
            if($sd->id == sct::sub('innovation')){
              $sd->url .= '?type=2';
            }
            if(empty($sd->Checked)){
              continue;
            }
            echo '<li class="footer-menu__item"><a href="'.$lang_prefix.$sd->url.'" class="footer-menu__link">'.getSubNameLang($sd->id).'</a> </li>';
          }
          ?>
          
        </ul>
      </div>
      <div class="footer-col">
        <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
          <div class="footer-col__title footer-col__title_arrow js-toggle-footer-menu"><?=Langs::TEXT_COMPANY?></div>
        <?}?>

        <ul class="footer-menu">
          
          <?php
          $arrMenuFooter = array(sct::sub('partners'),sct::sub('delivery'),sct::sub('payment'),sct::sub('contacts'));
          foreach($nav->where_in("id", $arrMenuFooter)->get() as $sd){
            if(empty($sd->Checked)){
              continue;
            }
            echo '<li class="footer-menu__item"><a href="'.$lang_prefix.$sd->url.'" class="footer-menu__link">'.getSubNameLang($sd->id).'</a> </li>';
          }
          ?>
          
        </ul>
      </div>

      <div class="footer-col">
        <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
          <a href="<?=$lang_prefix.nc_folder_path(sct::sub('contacts'))?>" class="footer-col__title"><?=Langs::TEXT_CONTACTS?></a>
        <?}?>

        <address class="page-footer__address"><?=$current_catalogue["Address".$lang_prefix_field]?></address>

        <a href="tel:<?=clearPhoneForTel($current_catalogue["Phone"])?>" class="page-footer__tel"><?=$current_catalogue["Phone"]?></a> <?=$current_catalogue["PhoneDopFooter".$lang_prefix_field]?>

        <a href="mailto:<?=$current_catalogue["Email"]?>" class="page-footer__mail"><?=$current_catalogue["Email"]?></a>
      </div>

    </div>
    <div class="page-footer__bottom">
      <div class="page-footer-links">
        <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
          <span class="page-footer-links__title"><?=Langs::TEXT_HOLDING_SITES?></span>
        <?}?>
        <?=s_list_class(sct::sub('site_holding'), sct::cc('site_holding'), "nc_ctpl=".sct::tpl('site_holding_footer')."&isNaked=1")?>
      </div>

      <?/*if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
        <div class="page-footer__developer">
          <?=Langs::TEXT_SITE_DEVELOPMENT?> <a href="https://fishlab.su" target="_blank">Fishlab</a>
        </div>
      <?}*/?>

    </div>
  </div>
</footer>