<?php
$langData = ObjectHelper::getData($message, ['Name', 'Address', 'WorkTime', 'NameService']);
?>

<div class="nc-modal-dialog" data-hidden-tabs="tab-system">
  <div class="nc-modal-dialog-header">
    <h2>
      <?= $current_cc["Sub_Class_Name"] ?>
    </h2>
  </div>
  <div class="nc-modal-dialog-body">


    <?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
    <form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>message.php'>
      <div id='nc_moderate_form'>
        <div class='nc_clear'></div>
        <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
        <?= $nc_core->token->get_input() ?>
        <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
        <input name='cc' type='hidden' value='<?= $cc ?>' />
        <input name='sub' type='hidden' value='<?= $sub ?>' />
        <input name='message' type='hidden' value='<?= $message ?>' />
        <input name='posting' type='hidden' value='1' />
        <input name='curPos' type='hidden' value='<?= $curPos ?>' />
        <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
        <?= nc_form_moderate('change', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>

        <input name='f_Language_ID' type='hidden' value='1' />

      </div>

      <div data-tab-caption="Общие данные" data-tab-id="data-general">
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isCash', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isCashlessPay', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isOnlinePay', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isDaysWeek', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isNew', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        <div class='nc-field nc-field-type-string'><?= nc_string_field('Phone', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-string'><?= nc_string_field('SiteLink', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-string'><?= nc_string_field('Email', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        
        <div class='nc-field nc-field-type-relation'>
          <span class="nc-field-caption">Региональный дилер:</span>
          <?php
          $arrParamsDealer = array(
            "classID" => 204,
            "fieldname" => "Dealer_ID",
            "value" => $f_Dealer_ID,
            "join" => "LEFT JOIN Classificator_TypeContact as cl ON a.TypeContact = cl.TypeContact_ID",
            "ifname" => "IF(a.Name <> '' AND a.Name IS NOT NULL, a.Name, cl.TypeContact_Name) as Name",
            "hide_default" => true,
          );
          echo get_select_list($arrParamsDealer);
          ?>
        </div>
        
        <div class='nc-field nc-field-type-multifile'><?= $f_ImagesPaymentMethod->form() ?></div>
        
        <div class='nc-field nc-field-type-multiselect'>
          <span class="nc-field-caption">Типы перетяжки:</span>
          <?php
          $f_TypeBanners = explode(',',$f_TypeBanners);
          ?>
          <?=get_checkbox_list(213, 'TypeBanners[%ID%]', $f_TypeBanners)?>
        </div>
        
        <div class='nc-field nc-field-type-multiselect'><?= nc_multilist_field('AdditionalService', "", "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>

      <div data-tab-caption="Русская версия" data-tab-id="data-ru">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', $langData->Name_Ru, 'Name', "", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', $langData->Address_Ru, 'Address', "", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', $langData->WorkTime_Ru, 'WorkTime', "", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', $langData->NameService_Ru, 'NameService', "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>

      <div data-tab-caption="Английская версия" data-tab-id="data-en">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', $langData->Name_En, 'Name', "", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', $langData->Address_En, 'Address', "", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', $langData->WorkTime_En, 'WorkTime', "", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', $langData->NameService_En, 'NameService', "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      
      <div data-tab-caption="Карта">
        <? include_once($NETCAT_FOLDER."netcat/modules/default/js/ymap.php"); ?>
        <!-- координаты объекта -->
        <div style='width:100%;clear:both;'>
          <p>Объект на карте</p>
          <div id="YMapsID"></div>
          <input type="hidden" id="markerPosition" name="f_maincoordinates" value="<?=($f_Longitude && $f_Latitude ? $f_Longitude.', '.$f_Latitude : '')?>">
          <input type="hidden" id="mapZoom" value="<?=$f_Zoom?>" name="f_mapZoom">
          <input type="hidden" id="mapCenter" value="<?=($f_Longitude && $f_Latitude ? $f_Longitude.', '.$f_Latitude : '')?>">
          <div style="display:none;">
            <div class='nc-field nc-field-type-float'><?= nc_float_field('Longitude', "maxlength='12' size='12'", ( $class_id ? $class_id : $classID), 1) ?></div>
            <div class='nc-field nc-field-type-float'><?= nc_float_field('Latitude', "maxlength='12' size='12'", ( $class_id ? $class_id : $classID), 1) ?></div>
            <div class='nc-field nc-field-type-int'><?= nc_int_field('Zoom', "maxlength='12' size='12'", ($class_id ? $class_id : $classID), 1) ?></div>
          </div>
        </div>
      </div>

      <?=FieldHelper::renderTabSystemLang($classID, $message)?>

      <div class='nc-hint nc-hint-required-fields'><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div>
      <?= nc_submit_button(NETCAT_MODERATION_BUTTON_CHANGE) ?>
    </form>

  </div>
  <div class="nc-modal-dialog-footer">
    <!-- Для стандартных кнопок нужно указать атрибут data-action: -->
    <button data-action="close">Закрыть</button>
    <button data-action="submit">Сохранить</button>
    <?if(!empty($system_env["AutosaveUse"])){?>
      <button data-action="save-draft">Сохранить черновик</button>
    <?}?>
  </div>
</div>