<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?php
$arrCoords = array();
$arrIds = array();
$arrTo = array();
$old_type_id = NULL;
$file_print_center_office = NULL;

$allCities = $db->get_results("SELECT a.Cities as Cities_id,cl.Cities_Name as Cities_name".$arrQueryLang["select"]." FROM Message".$classID." as a 
                                   LEFT JOIN Classificator_Cities as cl ON a.Cities = cl.Cities_ID
                                   ".$arrQueryLang["join"]."
                               WHERE a.Checked = 1 AND (a.Language_Parent IS NULL OR a.Language_Parent = 0) AND a.Sub_Class_ID = '".$cc."'
                               GROUP BY a.Cities
                               ORDER BY cl.Cities_Name", ARRAY_A);
$arrCities = array();
foreach($allCities as $arrRowC){
  $arrCities[] = array(
    'id' => $arrRowC['Cities_id'],
    'name' => $arrRowC['Cities_name'],
  );
}
?>

<style>
@media print{
  .page-header,
  .page-footer,
  .page-left-col,
  .page-up-btn-col,
  .breadcrumbs,
  .white-section,
  h1,
  p,
  select,
  .jq-selectbox,
  .print-link{
    display:none !important;
  }
  .contacts__left,
  .contacts__right{
    width:100% !important;
  }
  .page-width,
  .contacts__right{
    max-width:100% !important;
  }
  .page-wrap{
    padding:20px 0 0 0 !important;
  }
  .contacts__right{
    margin:0 0 40px 0 !important;
  }
  .contacts-map-wrap{
    padding:0 !important;
  }
  .contacts{
    display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    padding:0;
    margin:0;
  }
  .js-sticky-col{
    position:static !important;
  }
  .contacts-map-wrap{
    padding:0;
    height:100%;
    margin:150px 0 200px 0;
    max-height:690px;
  }
  .contacts-map{
    position:static;
  }
}
</style>

<div class="page-width">
  <?=getBrcrHtml()?>
  <div class="contacts">
    <div class="contacts__left">
      <h1><?=getSubNameLang($sub)?></h1>
      <?if($cc_settings['Text'.$lang_prefix_field]){?>
        <p><?=$cc_settings['Text'.$lang_prefix_field]?></p>
      <?}?>

      <!-- выводим все точки для карты -->

      <select class="js_city_contact">
        <?foreach($arrCities as $arrRowC){?>
          <?php
          $is_active = false;
          if((int)$city_id === (int)$arrRowC['id']){
            $is_active = true;
          }
          ?>
          <option <?=($is_active ? 'selected="selected"' : NULL)?> value="<?=$arrRowC['id']?>"><?=$arrRowC['name']?></option>
        <?}?>
      </select>
      
      <div class="js_list_contact_info"><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$arrCoords[] = $f_Longitude.','.$f_Latitude;
$arrIds[] = $f_RowID;

//$f_Phones = explode(',', $f_Phones);

$name_to = $f_Name;
if((int)$f_TypeContact_id === 1){
  $name_to = ${f_TypeContact.$lang_prefix_field};
}

if($city_id === 68){
  $file_print_center_office = $f_FilePrint;
}

if(!empty($f_Email)){
  $arrTo[] = array(
    'id' => $f_RowID,
    'name' => $name_to,
  );
}
?>

<?if((int)$old_type_id != (int)$f_TypeContact_id || !$old_type_id){?>
  <h3><?=${f_TypeContact_value.$lang_prefix_field}?></h3>
<?}?>

<div class="company-info" data-id="<?=$f_RowID?>">
  <?=($f_Name ? '<strong class="company-info__name">'.$f_Name.'</strong>' : NULL)?>
  <span class="company-info__address"><?=$f_Address?></span>
  <?=($f_Phones ? '<span class="company-info__phone">'.Langs::TEXT_PHONE.': '.$f_Phones.'</span>' : NULL)?>
  <?=($f_WorkTime ? '<span class="company-info__time">'.Langs::TEXT_WORK_TIME.': '.$f_WorkTime.'</span>' : NULL)?>
  <?=($f_SiteLink ? '<span class="company-info__site"><a href="'.$f_SiteLink.'" target="_blank">'.$f_SiteLink.'</a></span>' : NULL)?>
</div>

<?php
$old_type_id = $f_TypeContact_id;
?><!-- /RecordTemplate -->

<!-- FormSuffix -->        <a href="<?=($cookie_city_id === 68 && !empty($file_print_center_office) ? $file_print_center_office : '#')?>" <?=($cookie_city_id === 68 && !empty($file_print_center_office) ? 'target="_blank"' : NULL)?> class="print-link <?=($cookie_city_id !== 68 || empty($file_print_center_office) ? 'js_open_print' : NULL)?>"><?=Langs::TEXT_PRINT?></a>
      </div>
    </div>
    <div class="contacts__right">
      <div class="js-sticky-col">
        <div class="contacts-map-wrap">
          <div class="contacts-map-caption"><?=Langs::TEXT_MOVE_MAP_SWIPE_TWO_FINGERS?></div>
          <?php
          $set_map_city_name = $db->get_var("SELECT Cities_Name FROM Classificator_Cities 
                                             WHERE Cities_ID = '".$city_id."'");
          ?>
          <div class="contacts-map" id="contacts-map" data-zoom="9" data-center="" data-city="<?=$set_map_city_name?>" data-points="<?=implode(';', $arrCoords)?>" data-ids="<?=implode(';', $arrIds)?>"></div>
        </div>
      </div>
    </div>
  </div>

  <?php
  $_SESSION['json_to'] = json_encode($arrTo);
  ?>
  <?/*Вывод формы контактов*/?>
  <?=s_list_class(sct::sub('contact_form'), sct::cc('contact_form'), "nc_ctpl=".sct::tpl('contact_form')."&isNaked=1&city_id=".$city_id."")?>

</div>





















<!-- /FormSuffix -->