        <a href="<?=($cookie_city_id === 68 && !empty($file_print_center_office) ? $file_print_center_office : '#')?>" <?=($cookie_city_id === 68 && !empty($file_print_center_office) ? 'target="_blank"' : NULL)?> class="print-link <?=($cookie_city_id !== 68 || empty($file_print_center_office) ? 'js_open_print' : NULL)?>"><?=Langs::TEXT_PRINT?></a>
      </div>
    </div>
    <div class="contacts__right">
      <div class="js-sticky-col">
        <div class="contacts-map-wrap">
          <div class="contacts-map-caption"><?=Langs::TEXT_MOVE_MAP_SWIPE_TWO_FINGERS?></div>
          <?php
          $set_map_city_name = $db->get_var("SELECT Cities_Name FROM Classificator_Cities 
                                             WHERE Cities_ID = '".$city_id."'");
          ?>
          <div class="contacts-map" id="contacts-map" data-zoom="9" data-center="" data-city="<?=$set_map_city_name?>" data-points="<?=implode(';', $arrCoords)?>" data-ids="<?=implode(';', $arrIds)?>"></div>
        </div>
      </div>
    </div>
  </div>

  <?php
  $_SESSION['json_to'] = json_encode($arrTo);
  ?>
  <?/*Вывод формы контактов*/?>
  <?=s_list_class(sct::sub('contact_form'), sct::cc('contact_form'), "nc_ctpl=".sct::tpl('contact_form')."&isNaked=1&city_id=".$city_id."")?>

</div>





















