<?= $f_AdminCommon; ?>
<?php
$arrCoords = array();
$arrIds = array();
$arrTo = array();
$old_type_id = NULL;
$file_print_center_office = NULL;

$allCities = $db->get_results("SELECT a.Cities as Cities_id,cl.Cities_Name as Cities_name".$arrQueryLang["select"]." FROM Message".$classID." as a 
                                   LEFT JOIN Classificator_Cities as cl ON a.Cities = cl.Cities_ID
                                   ".$arrQueryLang["join"]."
                               WHERE a.Checked = 1 AND (a.Language_Parent IS NULL OR a.Language_Parent = 0) AND a.Sub_Class_ID = '".$cc."'
                               GROUP BY a.Cities
                               ORDER BY cl.Cities_Name", ARRAY_A);
$arrCities = array();
foreach($allCities as $arrRowC){
  $arrCities[] = array(
    'id' => $arrRowC['Cities_id'],
    'name' => $arrRowC['Cities_name'],
  );
}
?>

<style>
@media print{
  .page-header,
  .page-footer,
  .page-left-col,
  .page-up-btn-col,
  .breadcrumbs,
  .white-section,
  h1,
  p,
  select,
  .jq-selectbox,
  .print-link{
    display:none !important;
  }
  .contacts__left,
  .contacts__right{
    width:100% !important;
  }
  .page-width,
  .contacts__right{
    max-width:100% !important;
  }
  .page-wrap{
    padding:20px 0 0 0 !important;
  }
  .contacts__right{
    margin:0 0 40px 0 !important;
  }
  .contacts-map-wrap{
    padding:0 !important;
  }
  .contacts{
    display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    padding:0;
    margin:0;
  }
  .js-sticky-col{
    position:static !important;
  }
  .contacts-map-wrap{
    padding:0;
    height:100%;
    margin:150px 0 200px 0;
    max-height:690px;
  }
  .contacts-map{
    position:static;
  }
}
</style>

<div class="page-width">
  <?=getBrcrHtml()?>
  <div class="contacts">
    <div class="contacts__left">
      <h1><?=getSubNameLang($sub)?></h1>
      <?if($cc_settings['Text'.$lang_prefix_field]){?>
        <p><?=$cc_settings['Text'.$lang_prefix_field]?></p>
      <?}?>

      <!-- выводим все точки для карты -->

      <select class="js_city_contact">
        <?foreach($arrCities as $arrRowC){?>
          <?php
          $is_active = false;
          if((int)$city_id === (int)$arrRowC['id']){
            $is_active = true;
          }
          ?>
          <option <?=($is_active ? 'selected="selected"' : NULL)?> value="<?=$arrRowC['id']?>"><?=$arrRowC['name']?></option>
        <?}?>
      </select>
      
      <div class="js_list_contact_info">