<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$arrCoords[] = $f_Longitude.','.$f_Latitude;
$arrIds[] = $f_RowID;

//$f_Phones = explode(',', $f_Phones);

$name_to = $f_Name;
if((int)$f_TypeContact_id === 1){
  $name_to = ${f_TypeContact.$lang_prefix_field};
}

if($city_id === 68){
  $file_print_center_office = $f_FilePrint;
}

if(!empty($f_Email)){
  $arrTo[] = array(
    'id' => $f_RowID,
    'name' => $name_to,
  );
}
?>

<?if((int)$old_type_id != (int)$f_TypeContact_id || !$old_type_id){?>
  <h3><?=${f_TypeContact_value.$lang_prefix_field}?></h3>
<?}?>

<div class="company-info" data-id="<?=$f_RowID?>">
  <?=($f_Name ? '<strong class="company-info__name">'.$f_Name.'</strong>' : NULL)?>
  <span class="company-info__address"><?=$f_Address?></span>
  <?=($f_Phones ? '<span class="company-info__phone">'.Langs::TEXT_PHONE.': '.$f_Phones.'</span>' : NULL)?>
  <?=($f_WorkTime ? '<span class="company-info__time">'.Langs::TEXT_WORK_TIME.': '.$f_WorkTime.'</span>' : NULL)?>
  <?=($f_SiteLink ? '<span class="company-info__site"><a href="'.$f_SiteLink.'" target="_blank">'.$f_SiteLink.'</a></span>' : NULL)?>
</div>

<?php
$old_type_id = $f_TypeContact_id;
?>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>