<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?php
$row_i = 1;
?>
<div class="personal-row__left">
  <div class="personal-cont">
    <div class="personal-address">

      <!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$arrDataAddress = array(
    'id' => $f_RowID,
    'city' => $f_City,
    'address' => $f_Address,
    'zip' => $f_Zip,
);
?>
<div class="personal-address__item js_item_row">
  <strong class="personal-address__name"><?=Langs::TEXT_SHIPPING_ADDRESS_NO?> <?=$row_i?></strong>

  <p>
    <?=$f_Zip?>, <?=$f_City?>,
    <?=$f_Address?>
  </p>

  <a href="#address-edit-modal" class="ico-link ico-link_edit js_edit_address" data-json='<?=json_encode($arrDataAddress)?>'><?=Langs::TEXT_CHANGE?></a>
  <a href="#" class="ico-link ico-link_remove js_remove_address" data-id="<?=$f_RowID?>" data-url="<?=$lang_prefix?>/netcat/modules/default/deleteAddress.php"><?=Langs::TEXT_DELETE?></a>
  
  <a href="#" class="ico-link ico-link_undo js_address_return" style="display:none;" data-id="<?=$f_RowID?>" data-url="<?=$lang_prefix?>/netcat/modules/default/deleteAddress.php"><?=Langs::TEXT_RETURN?></a>
</div>

<?php
$row_i++;
?><!-- /RecordTemplate -->

<!-- FormSuffix -->  <div class="personal-address__item">
        <strong class="personal-address__name"><?=Langs::TEXT_NEW_ADDRESS?></strong>

        <p><?=$cc_settings['Text'.$lang_prefix_field]?></p>
        <a href="#address-add-modal" class="btn-type3 js-modal-link"><?=Langs::TEXT_ADD_ADDRESS?></a>
      </div>
    </div>
  </div>

  <div class="modal-window modal-window_form" id="address-add-modal">
    <form id="send_form_personal_address_add" class="main-form" enctype='multipart/form-data' method='post' action='<?= $lang_prefix . $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
      
      <div id='nc_moderate_form'>
        <div class='nc_clear'></div>
        <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
        <?= $nc_core->token->get_input() ?>
        <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
        <input name='cc' type='hidden' value='<?= $cc ?>' />
        <input name='sub' type='hidden' value='<?= $sub ?>' />
        <input name='posting' type='hidden' value='1' />
        <input name='isNaked' type='hidden' value='1' />
        <input name='jsQuery' type='hidden' value='1' />
        <input name='curPos' type='hidden' value='<?= $curPos ?>' />
        <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
        <?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
      </div>
      
      <div class="modal-window__title"><?=Langs::TEXT_NEW_SHIPPING_ADDRESS?></div>

      <div class="main-form__line">
        <label class="main-form__label" for="city"><?=Langs::TEXT_CITY?>: *</label>
        <input type="text" class="main-form__text-input" id="city" name="f_City" value=""  required>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="address"><?=Langs::TEXT_ADDRESS?>: *</label>
        <input type="text" class="main-form__text-input" id="address" name="f_Address" value=""  required>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="postcode"><?=Langs::TEXT_INDEX?>: *</label>
        <input type="text" class="main-form__text-input" id="postcode" name="f_Zip" value=""  required>
      </div>

      <div class="submit-line submit-line_right">
        <input type="submit" value="<?=Langs::TEXT_ADD?>" class="btn-type3">
      </div>
    </form>
  </div>

  <div class="modal-window modal-window_form" id="address-edit-modal">
    <form id="send_form_personal_address_edit" class="main-form" enctype='multipart/form-data' method='post' action='<?= $lang_prefix . $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>message.php'>
    
      <div id='nc_moderate_form'>
        <div class='nc_clear'></div>
        <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
        <?= $nc_core->token->get_input() ?>
        <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
        <input name='cc' type='hidden' value='<?= $cc ?>' />
        <input name='sub' type='hidden' value='<?= $sub ?>' />
        <input name='message' type='hidden' class="js_edit_id" value='' />
        <input name='posting' type='hidden' value='1' />
        <input name='isNaked' type='hidden' value='1' />
        <input name='jsQuery' type='hidden' value='1' />
        <input name='curPos' type='hidden' value='<?= $curPos ?>' />
        <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
        <?= nc_form_moderate('change', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
      </div>
    
      <div class="modal-window__title js_name"></div>

      <div class="main-form__line">
        <label class="main-form__label" for="city"><?=Langs::TEXT_CITY?>: *</label>
        <input type="text" class="main-form__text-input js_city" id="city2" name="f_City" value=""  required>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="address"><?=Langs::TEXT_ADDRESS?>: *</label>
        <input type="text" class="main-form__text-input js_address" id="address2" name="f_Address" value=""  required>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="postcode"><?=Langs::TEXT_INDEX?>: *</label>
        <input type="text" class="main-form__text-input js_zip" id="postcode2" name="f_Zip" value=""  required>
      </div>

      <div class="submit-line">
        <input type="submit" value="<?=Langs::TEXT_SAVE?>" class="btn-type3">
        <input type="submit" value="<?=Langs::TEXT_CANCEL?>" class="btn-type3">
      </div>
    </form>
  </div>

</div><!-- /FormSuffix -->