<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$arrDataAddress = array(
    'id' => $f_RowID,
    'city' => $f_City,
    'address' => $f_Address,
    'zip' => $f_Zip,
);
?>
<div class="personal-address__item js_item_row">
  <strong class="personal-address__name"><?=Langs::TEXT_SHIPPING_ADDRESS_NO?> <?=$row_i?></strong>

  <p>
    <?=$f_Zip?>, <?=$f_City?>,
    <?=$f_Address?>
  </p>

  <a href="#address-edit-modal" class="ico-link ico-link_edit js_edit_address" data-json='<?=json_encode($arrDataAddress)?>'><?=Langs::TEXT_CHANGE?></a>
  <a href="#" class="ico-link ico-link_remove js_remove_address" data-id="<?=$f_RowID?>" data-url="<?=$lang_prefix?>/netcat/modules/default/deleteAddress.php"><?=Langs::TEXT_DELETE?></a>
  
  <a href="#" class="ico-link ico-link_undo js_address_return" style="display:none;" data-id="<?=$f_RowID?>" data-url="<?=$lang_prefix?>/netcat/modules/default/deleteAddress.php"><?=Langs::TEXT_RETURN?></a>
</div>

<?php
$row_i++;
?>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>