@font-face { font-family: "UltraIcons"; src: url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.eot"); src: url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.eot?#iefix") format("embedded-opentype"), url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.woff") format("woff"), url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.ttf") format("truetype"), url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.svg#svgFontName") format("svg"); }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain H2 { font-weight: 600; font-size: 42px; line-height: 1.24em; color: #333; margin: 0 auto 30px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-contact.tpl-template-plain H2 * { line-height: 1.24em; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-description { text-align: center; margin: 0 auto; max-width: 740px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact { margin-top: 95px; display: flex; flex-wrap: wrap; justify-content: center; margin-left: -10px; margin-right: -10px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-row { display: flex; justify-content: center; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item { width: 250px; max-width: 250px; text-align: center; margin-bottom: 65px; padding: 0 10px; word-wrap: break-word; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-icon { font: 42px/44px "UltraIcons"; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item.tpl-layout-phone .tpl-block-icon { color: #01aff2; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item.tpl-layout-email .tpl-block-icon { color: #ffc433; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item.tpl-layout-address .tpl-block-icon { color: #ff5633; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item.tpl-layout-work-time .tpl-block-icon { color: #01aff2; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-label { font-weight: bold; font-size: 12px; line-height: 12px; text-transform: uppercase; margin-top: 25px; letter-spacing: 1px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-data { font-weight: 600; font-size: 18px; line-height: 1.44em; color: #333; margin-top: 15px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-data * { line-height: 1.44em; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-data A { color: #333; text-decoration: underline; word-break: break-all; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-map { width: 100%; height: 480px; position: relative; }
@media (max-width: 1100px) { 
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item { width: 160px; max-width: 160px; }
 }
