.tpl-component-netcat-page-block-countdown.tpl-template-plain .nc-infoblock-toolbar { top: 0; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-background { position: absolute; top: 0; left: 0; right: 0; bottom: 135px; background: #e5e5e5; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; position: relative; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain H2 { font-weight: bold; font-size: 24px; line-height: 1.17em; color: #333; margin: 0 auto 20px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain H2 * { line-height: 1.17em; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-description { text-align: center; margin: 0 auto 37px; max-width: 740px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter { border: 5px solid #e5e5e5; display: flex; justify-content: center; background: #fff; margin: 80px 30px 0; box-sizing: border-box; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-text { font-weight: 600; font-size: 24px; line-height: 28px; color: #777; align-items: center; display: none; min-height: 160px; text-align: center; padding: 0 25px; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit { width: 190px; text-align: center; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit .tpl-block-value { font-weight: bold; font-size: 48px; line-height: 95px; height: 95px; color: #01aff2; border-bottom: 1px solid rgba(1, 175, 242, 0.25); }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit .tpl-block-label { font-weight: bold; font-size: 12px; color: #777; letter-spacing: 1px; line-height: 54px; height: 54px; text-transform: uppercase; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit.tpl-state-end .tpl-block-value { color: #ccc; border-color: rgba(119, 119, 119, 0.25); }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit.tpl-state-red .tpl-block-value { color: #ff5633; border-color: rgba(255, 86, 51, 0.25); }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-spacer { width: 60px; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-spacer.tpl-layout-short { width: 25px; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter.tpl-state-end .tpl-block-digit, .tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter.tpl-state-end .tpl-block-spacer { display: none; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter.tpl-state-end .tpl-block-text { display: flex; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-page-block.tpl-layout-background-dark H2, .tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-page-block.tpl-layout-background-dark .tpl-block-description { color: #fff; }
