.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .nc-infoblock-toolbar { top: 0; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .nc-modal-trigger-overlay { border-radius: 50%; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-content { position: relative; margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; text-align: center; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-prefix { font-size: 12px; line-height: 1em; letter-spacing: 1px; font-weight: 600; color: #333; text-transform: uppercase; text-align: center; max-width: 340px; margin: 0 auto 38px; word-wrap: break-word; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-prefix * { line-height: 1em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center H1 { font-weight: 200; font-size: 60px; line-height: 1.13em; color: #333; margin: 0 auto 53px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center H1 * { line-height: 1.13em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-description { text-align: center; max-width: 740px; margin: 0 auto; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-slider { position: relative; margin-top: 80px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-slider .tpl-block-container { position: relative; max-width: 880px; max-height: 540px; margin: 0 auto 16px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-slider .tpl-block-container IMG { max-width: 100%; max-height: 540px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control { position: relative; display: inline-flex; background: #fff; padding: 11px 18px; border-radius: 20px; margin-bottom: 25px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control .tpl-block-dot { width: 18px; height: 18px; background: url("/netcat_template/class/netcat_page_block_cover/image_in_center/../images/dot_icon.png") 0 0 no-repeat; transition: all .1s ease; margin: 0 3px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control .tpl-block-dot:hover { background-image: url("/netcat_template/class/netcat_page_block_cover/image_in_center/../images/dot_icon_hover.png"); }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control .tpl-block-dot:active, .tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control .tpl-block-dot.tpl-state-active { background-image: url("/netcat_template/class/netcat_page_block_cover/image_in_center/../images/dot_icon_active.png"); }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information { position: absolute; right: 0; top: 80px; box-sizing: border-box; background: #ff5633; width: 260px; height: 260px; border-radius: 130px; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15); color: #fff; padding-top: 90px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .tpl-block-price-label { font-size: 18px; line-height: 18px; margin-bottom: 8px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .tpl-block-price { font-weight: bold; font-size: 32px; line-height: 32px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .tpl-block-discount { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .tpl-block-saving { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information HR { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount { padding-top: 47px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-price-label { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-discount { font-size: 18px; line-height: 18px; text-decoration: line-through; display: block; margin-bottom: 8px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-price { margin-bottom: 24px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount HR { border: none; border-top: 1px solid rgba(255, 255, 255, 0.25); width: 220px; display: block; margin: 0 auto 30px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-saving { display: block; font-size: 18px; line-height: 18px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-saving SPAN { display: block; font-size: 24px; line-height: 34px; font-weight: bold; }
@media (max-width: 570px) { 
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-button .tpl-block-button-divider, .tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-button .tpl-block-button-title { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-button .tpl-block-button-title:last-child { display: block; }
 }
@media (max-width: 620px) { 
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information { position: relative; right: 0; top: 0; margin: 0 auto 40px; }
 }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-page-block.tpl-layout-background-dark .tpl-block-prefix, .tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-page-block.tpl-layout-background-dark H1, .tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-page-block.tpl-layout-background-dark .tpl-block-description { color: #fff; }
