.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .nc-infoblock-toolbar { top: 0; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .nc-modal-trigger-overlay { border-radius: 50%; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-content { position: relative; margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; text-align: center; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-prefix { font-size: 12px; line-height: 1em; letter-spacing: 1px; font-weight: 600; color: #333; text-transform: uppercase; text-align: center; margin-bottom: 38px; word-wrap: break-word; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-prefix * { line-height: 1em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left H2 { font-weight: 600; font-size: 42px; line-height: 1.24em; color: #333; margin: 0 auto 20px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left H2 * { line-height: 1.24em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-description { text-align: center; max-width: 740px; margin: 0 auto; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover { position: relative; padding: 0 20px 80px; margin-top: 100px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover .tpl-block-background { position: absolute; left: 0; right: 0; bottom: 0; top: 90px; background: url("/netcat_template/class/netcat_page_block_cover/image_on_left/images/pat_cover.png") 50% 50% repeat; background-color: #ff5633; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover .tpl-block-container { position: relative; max-width: 1060px; margin: 0 auto; background: #fff; border-radius: 2px; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); display: flex; justify-content: flex-end; box-sizing: border-box; padding: 50px 90px 60px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information { position: absolute; left: 20px; top: -95px; box-sizing: border-box; background: #ff5633; width: 190px; height: 190px; border-radius: 95px; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15); color: #fff; padding-top: 72px; text-align: center; z-index: 2; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .tpl-block-price-label { font-size: 18px; line-height: 18px; margin-bottom: 8px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .tpl-block-price { font-weight: bold; font-size: 18px; line-height: 18px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .tpl-block-discount { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .tpl-block-saving { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information HR { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount { padding-top: 34px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-price-label { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-discount { font-size: 18px; line-height: 18px; text-decoration: line-through; display: block; margin-bottom: 4px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-price { margin-bottom: 21px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount HR { border: none; border-top: 1px solid rgba(255, 255, 255, 0.25); width: 150px; display: block; margin: 0 auto 19px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-saving { display: block; font-size: 18px; line-height: 18px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-saving SPAN { display: block; font-size: 18px; line-height: 24px; font-weight: bold; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form { max-width: 340px; min-height: 360px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-title { margin-bottom: 42px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-title H4 { font-weight: 600; font-size: 24px; line-height: 28px; color: #333; margin-bottom: 9px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-image { position: absolute; left: 50px; top: 50px; width: 430px; height: 360px; display: flex; justify-content: center; align-items: center; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-image * { max-width: 100%; max-height: 360px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form FORM .tpl-block-image { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form FORM .tpl-block-divider { display: none; }
@media (max-width: 980px) { 
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover { margin-top: 50px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information { position: relative; left: 50%; margin: -55px 0 -95px -95px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover .tpl-block-container { display: block; max-width: 520px; padding-top: 55px; padding-left: 0; padding-right: 0; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover .tpl-block-container.tpl-layout-with-price { margin-top: 115px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form { margin: 0 auto; text-align: center; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-image { position: relative; top: 0; left: 0; margin: 0 -45px 31px; max-width: 430px; width: auto; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-title { margin-bottom: 31px; }
 }
@media (max-width: 520px) { 
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-image { margin: 0 -25px 31px; max-width: 390px; }
 }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-page-block.tpl-layout-disable-bg-pattern .tpl-block-cover .tpl-block-background { background-image: none; }
