.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; min-height: 80px; padding: 0 20px 20px; display: flex; justify-content: space-between; align-items: flex-end; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-shadow { height: 20px; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05)); position: absolute; top: 100%; left: 0; right: 0; z-index: 2; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-flex-spacer { flex-grow: 2; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-logo { width: 160px; min-width: 160px; height: 60px; display: flex; align-items: center; justify-content: center; position: relative; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-logo IMG { max-width: 160px; max-height: 60px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone { margin: 15px 0 15px 110px; max-width: 430px; word-wrap: break-word; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone .tpl-field-phone { font-weight: bold; line-height: 1em; font-size: 18px; color: #333; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone .tpl-field-phone * { line-height: 1em; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone .tpl-field-work-time { font-weight: 600; line-height: 1em; font-size: 12px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone .tpl-field-work-time * { line-height: 1em; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-form { max-width: 400px; }
@media (max-width: 800px) { 
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone { margin-left: 30px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-button-divider, .tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-button-title.tpl-field-item-price { display: none; }
 }
@media (max-width: 600px) { 
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-content { height: 60px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-logo { width: 130px; min-width: 130px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-logo IMG { max-width: 130px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-form { display: none; }
 }
