.tpl-component-netcat-page-block-table .tpl-block-value { position: relative; }
.tpl-component-netcat-page-block-table .tpl-block-container .nc-toolbar { top: 6px; left: auto; right: -190px; }
.tpl-component-netcat-page-block-table .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-table .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 90px 20px 0; }
.tpl-component-netcat-page-block-table H2 { font-weight: 600; font-size: 42px; line-height: 52px; color: #333; margin-bottom: 20px; text-align: center; }
.tpl-component-netcat-page-block-table .tpl-block-description { text-align: center; margin-bottom: 82px; }
.tpl-component-netcat-page-block-table .tpl-block-table { position: relative; padding: 0 20px 80px; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-background { position: absolute; left: 0; right: 0; bottom: 0; top: 120px; background: url("/netcat_template/class/netcat_page_block_table/images/pat_specs.png") 50% 50% repeat; background-color: #e5e5e5; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container { position: relative; background: #fff; border-radius: 3px; border-top: 5px solid #ff5633; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); margin: 0 auto; max-width: 700px; box-sizing: border-box; padding: 35px 20px 50px; text-align: center; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container TABLE { max-width: 520px; margin: 0 auto 46px; font-size: 18px; line-height: 26px; text-align: left; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container TABLE TR { border-bottom: 1px solid #e5e5e5; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container TABLE TD { width: 50%; height: 60px; box-sizing: border-box; padding: 14px 0 16px; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container TABLE TD.tpl-block-value { color: #333; padding-left: 10px; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-show-all-button { display: inline-block; font-size: 18px; color: #ff5633; line-height: 55px; height: 58px; border: 1px solid #ffd5cc; border-radius: 3px; padding: 0 20px; text-decoration: none; cursor: pointer; transition: all .1s ease; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-show-all-button:hover { border-color: #ff785c; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-show-all-button:active { border-color: #ff785c; box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25); }
