.tpl-component-netcat-page-block-text.tpl-template-paragraph .nc-infoblock-toolbar { position: absolute; top:0; right: 10px; z-index: 2; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph h1 { font-weight: bold; font-size: 32px; line-height: 1.22em; color: #333; margin: 0 auto 23px; word-wrap: break-word; max-width: 700px; word-wrap: break-word; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph h1 * { line-height: 1.22em; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-text { max-width: 700px; margin: 0 auto; font-weight: 500; font-size: 24px; line-height: 1.58em; color: #333; word-wrap: break-word; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-text * { line-height: 1.58em; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-page-block.tpl-layout-background-dark H1, .tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-page-block.tpl-layout-background-dark .tpl-block-text { color: #fff; }
