.tpl-component-netcat-page-block-text-with-image .nc-infoblock-toolbar { position: absolute; right: 10px; z-index: 2; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; display: flex; justify-content: space-between; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-container { max-width: 520px; min-width: 420px; }
.tpl-component-netcat-page-block-text-with-image H3 { font-weight: bold; font-size: 32px; line-height: 1.22em; color: #333; margin-bottom: 23px; word-wrap: break-word; }
.tpl-component-netcat-page-block-text-with-image H3 * { line-height: 1.22em; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-text { margin-bottom: 53px; padding-left: 2px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-text * { line-height: 1.44em; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-image { position: relative; width: 430px; min-width: 430px; max-height: 360px; text-align: center; margin-top: 8px; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-image IMG { max-width: 430px; max-height: 360px; }
@media (max-width: 1010px) { 
.tpl-component-netcat-page-block-text-with-image .tpl-block-content { flex-direction: column-reverse; justify-content: flex-start; align-items: center; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-container { text-align: center; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-image { margin-bottom: 43px; }
 }
