<!-- FormPrefix --><div class="page-width js_wrap_cart">
  <?=getBrcrHtml()?>
  <h1><?=getSubNameLang($sub)?></h1>


<? /* Отображение корзины */ ?>
<? if ($cart->get_item_count()): ?>
    
    <?= $cart->get_quantity_notifications() ?>
    
    
    <form method="post" data-url-cart="<?=$cart_url?>" action="<?=$lang_prefix.nc_modules('netshop')->get_add_to_cart_url()?>" id="form_cart">
      <input type="hidden" name="redirect_url" value="<?= $_SERVER["REQUEST_URI"]; ?>"/>
      <input type="hidden" name="cart_mode" value=""/>
      <input type="hidden" name="json" value="1">
      
      <div class="basket-table-wrap">
        <table class="basket-table">
          <thead>
            <tr>
              <th class="basket-table__cell basket-table__cell_title"><?=Langs::TEXT_DESCRIPTION?>:</th>
              <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_PRICE?>:</th>
              <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_AMOUNT?>:</th>
              <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_SUM?>:</th>
              <th class="basket-table__cell basket-table__cell_title"></th>
            </tr>
          </thead>
          <tbody>

            <?php
            $arrCartIds = array();
            foreach($items as $arrRowCI){
              $arrCartIds[$arrRowCI['Message_ID']] = array(
                'id' => $arrRowCI['Message_ID'],
                'qty' => $arrRowCI['Qty'],
              );
            }
            ?>

            <?=s_list_class(sct::sub('item'), sct::cc('item'), 'nc_ctpl='.sct::tpl('item').'&isNaked=1&json_cart='.json_encode($arrCartIds).'')?>

            <tr>
              <td class="basket-table__cell basket-table__cell_result" colspan="4">

                <?=Langs::TEXT_TOTAL_COST?>: <strong> <?=formatPrice($fullTotal)?> ₽</strong>
              </td>
              <td class="basket-table__cell">

              </td>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="basket-buttons">
        <a href="<?=$lang_prefix.nc_folder_path(sct::sub('order'))?>add_order.html" class="btn-type3"><?=Langs::TEXT_CHECKOUT?></a>
        <?/*?>
        <a href="<?=$lang_prefix.nc_folder_path(sct::sub('catalog'))?>" class="btn-type4"><?=Langs::TEXT_RETURN_TO_CATALOG?></a>
        <?*/?>
      </div>

    </form>
<? /* Корзина пуста */ ?>
<? else: ?>
  <div class="basket-empty">
    <div class="basket-empty__ico">
      <svg width="66px" height="66px">
        <path fill-rule="evenodd"  stroke="rgb(8, 135, 170)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
              d="M56.866,46.777 L63.998,16.958 L15.262,16.958 L15.262,6.458 C15.262,3.811 13.457,0.998 10.111,0.998 L0.998,0.998 L0.998,7.038 L9.111,7.038 C9.289,7.038 9.380,7.064 9.381,7.061 C9.433,7.123 9.497,7.344 9.508,7.502 L9.508,50.558 C9.508,54.377 12.693,57.548 15.836,58.797 C15.721,59.179 15.659,59.585 15.659,60.008 C15.659,62.212 17.344,63.997 19.423,63.997 C21.502,63.997 23.187,62.212 23.187,60.008 C23.187,59.792 23.166,59.581 23.135,58.958 L44.238,58.958 C44.207,59.583 44.187,59.793 44.187,60.008 C44.187,62.212 45.872,63.997 47.951,63.997 C50.030,63.997 51.715,62.212 51.715,60.008 C51.715,59.793 51.695,59.583 51.664,59.377 L53.300,59.377 L53.300,53.339 L22.395,53.339 L18.828,53.334 C16.512,53.334 15.262,52.388 15.262,50.558 L15.262,46.777 L56.866,46.777 Z"/>
      </svg>
    </div>
    <strong class="basket-empty__title">
      <?=Langs::TEXT_CART_EMPTY?>
    </strong>
  </div>
  
  <div class="basket-buttons">
    <a href="<?=$lang_prefix.nc_folder_path(sct::sub('catalog'))?>" class="btn-type4"><?=Langs::TEXT_RETURN_TO_CATALOG?></a>
  </div>
<? endif; ?>



</div>
<!-- /FormPrefix -->

<!-- RecordTemplate --><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->