<!-- FormPrefix --><?= $f_AdminCommon; ?>


<?php
$allItems = $db->get_results("SELECT a.Message_ID,a.TypeCloth as TypeCloth_ID,".($lang_id !== 1 ? 't_lang' : 't').".Name as TypeCloth_Name FROM Message".$classID." as a 
                                  LEFT JOIN Message164 as t ON a.TypeCloth = t.Message_ID
                                  ".($lang_id !== 1 ? "LEFT JOIN Message164 as t_lang ON t.Message_ID = t_lang.Language_Parent" : NULL)."
                              WHERE a.Checked = 1 AND a.Subdivision_ID <> 0 AND a.TypeCloth IS NOT NULL AND a.TypeCloth <> 0
                              ORDER BY a.Priority", ARRAY_A);
$arrNewData = array();
foreach($allItems as $arrRow){
  $arrItemParams = array(
      'Class_ID' => $classID,
      'Message_ID' => $arrRow['Message_ID'],
      '_ItemKey' => $classID.':'.$arrRow['Message_ID'],
  );
  $addData = itemQueryLand::getItemField($arrItemParams);
  $type_cloth_id = $arrRow['TypeCloth_ID'];
  $type_cloth_name = $arrRow['TypeCloth_Name'];
  
  foreach($addData['AdditionalData']['Spot'] as $arrRowSpot){
    $arrNewData['type_spot'][$arrRowSpot['TypeSpot']] = array(
      'id' => $arrRowSpot['TypeSpot'],
    );
    
    $arrNewData['spot'][$arrRowSpot['TypeSpot']][$arrRowSpot['id']] = array(
      'id' => $arrRowSpot['id'],
      'name' => $arrRowSpot['name'],
      'image' => $arrRowSpot['Image'],
    );
  }
  
  $arrNewData['type_cloth'][$type_cloth_id] = array(
    'id' => $type_cloth_id,
    'name' => $type_cloth_name,
    'image' => nc_file_path(164, $type_cloth_id, 'Image'),
  );
}
?>


<div class="page-width">
  <?=getBrcrHtml()?>
  <h1><?=getSubNameLang($sub)?></h1>
  
  <p><?=nl2br($cc_settings['Text'.$lang_prefix_field])?></p>

  <h3><?=Langs::TEXT_CHOOSE_SPOT_TYPE?></h3>

  <div class="care-selection">
    <div class="care-tabs js-care-tabs">
      <?php
      $key_active_ts = 0;
      //Для кода чуть ниже
      $id_active_ts = NULL;
      $allTypesSpot = $db->get_results("SELECT TypeSpot".$lang_prefix_field."_ID as ID,TypeSpot".$lang_prefix_field."_Name as Name FROM Classificator_TypeSpot".$lang_prefix_field." 
                                        WHERE TypeSpot".$lang_prefix_field."_ID IN (".implode(',', array_column($arrNewData['type_spot'], 'id')).")
                                        ORDER BY TypeSpot".$lang_prefix_field."_ID", ARRAY_A);
      foreach($allTypesSpot as $key_ts => $arrRowTS){
        $is_active = false;
        if($key_active_ts === $key_ts){
          $is_active = true;
          $id_active_ts = $arrRowTS['ID'];
        }
        echo '<div class="care-tabs__item '.($is_active ? 'active' : NULL).'">'.$arrRowTS['Name'].'</div>';
      }
      ?>
    </div>

    <div class="care-panes">
      
      <?php
      $html_spot = '';
      ksort($arrNewData['spot']);
      foreach($arrNewData['spot'] as $key_id_type_spot => $arrDataSpot){
        $is_active = false;
        //$id_active_ts получаем чуть выше
        if((int)$key_id_type_spot === (int)$id_active_ts){
          $is_active = true;
        }
        
        $html_spot .= '<div class="care-panes__item '.($is_active ? 'active' : NULL).' js-care-checkbox" data-mh="care-panes">';
        
        $html_checkbox = '<div class="care-panes__checkbox">
                            <ul class="checkbox-list checkbox-list_care">';
        $html_image = '<div class="care-panes__pic">
                         <div class="care-pics">';
        foreach($arrDataSpot as $arrRowSpot){
          $html_checkbox .= '<li class="checkbox-list__item">
                               <label class="checkbox"><input type="checkbox" class="checkbox__input" value="'.$arrRowSpot['id'].'"> <span class="checkbox__text">'.$arrRowSpot['name'].'</span></label>
                             </li>';
          $html_image .= '<div class="care-pics__item" style="background-image: url('.$arrRowSpot['image'].')"></div>';
        }
        $html_checkbox .= '</ul>
                          </div>';
        $html_image .= '</div>
                      </div>';
        
        
        $html_spot .= $html_checkbox.$html_image;
        $html_spot .= '</div>';
      }
      echo $html_spot;
      ?>
      
    </div>
  </div>

  <div class="care-cloth">
    <h3><?=Langs::TEXT_CHOOSE_CLOTH_TYPE?></h3>
    <div class="care-selection js-care-checkbox2">
      <div class="care-panes">
        <div class="care-panes__item active">
          <?php
          $html_checkbox = '';
          $html_image = '';
          foreach($arrNewData['type_cloth'] as $arrRowTC){
            $html_checkbox .= '<li class="checkbox-list__item">
                                 <label class="checkbox"><input type="checkbox" class="checkbox__input" value="'.$arrRowTC['id'].'"> <span class="checkbox__text">'.$arrRowTC['name'].'</span></label>
                               </li>';
            $html_image .= '<div class="care-pics__item" style="background-image: url('.$arrRowTC['image'].')"></div>';
          }
          ?>
          <div class="care-panes__checkbox">
            <ul class="checkbox-list checkbox-list_care">
              <?=$html_checkbox?>
            </ul>
          </div>
          <div class="care-panes__pic">
            <div class="care-pics">
              <?=$html_image?>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="care-not-selected">
    <?=Langs::TEXT_CHOOSE_SPOT_TYPE?>
  </div>
</div>

<div class="care-result-cont">
  <div class="page-width js_care_content" data-url="<?=$lang_prefix?>/netcat/modules/default/getDataCareHtmlByFilter.php">
    
    
    
  </div>
</div><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->