<!-- FormPrefix --><?= $f_AdminCommon; ?>

<style>
.standard-table {
  width:100%;
  margin-top:20px;
  border-collapse:collapse;
}
.standard-table th,.standard-table td {
  padding:5px;
  text-align:center;
  border:1px solid #ccc;
}
.standard-table th {
  padding:7px;
}
.standard-table .nc-toolbar.nc--left {
	float: none;
	display: inline-block;
}
.sort_admin_block {
  margin:10px 20px 0 0;
  padding:10px;
  border:1px solid #ccc;
}
.sort_admin_block a {
  display:inline-block;
  margin-left:15px;
}
</style>
<table class="standard-table" style="width:100%">
  <th>Наименование константы</th>
  <th>На русском</th>
  <th>На английском</th>
  <th>Описание</th>
  <th>Действия</th><!-- /FormPrefix -->

<!-- RecordTemplate --><tr>
  <td><?=$f_ConstantName?></td>
  <td><?=$f_ValueRu?></td>
  <td><?=$f_ValueEn?></td>
  <td><?=$f_Description?></td>
  <td><?=$f_AdminButtons;?></td>
</tr><!-- /RecordTemplate -->

<!-- FormSuffix --></table>

<br><br>
                    <? if ($nextLink || $prevLink) { ?>
                        <div class="pagination scroll-anim-elem" style="text-align:center;font-size:16px;">
                            <nav class="navigation numeric-navigation" role="navigation">
                            <? if ($prevLink) { ?><a class="prev page-numbers" aria-label="Previous" href="<?=$prevLink?><?=($inside_admin ? '&inside_admin=1' : '')?>"><span aria-hidden="true">&laquo;</span></a><?}?>
                            <?=browse_messages($cc_env,10)?>
                            <? if ($nextLink) { ?><a class="next page-numbers" aria-label="Next" href="<?=$nextLink?><?=($inside_admin ? '&inside_admin=1' : '')?>"><span aria-hidden="true">&raquo;</span></a><?}?>
                            </nav>
                        </div>
                    <?}?>

<br><br><!-- /FormSuffix -->