<?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
<form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>message.php'>
<div id='nc_moderate_form'>
<div class='nc_clear'></div>
<input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
<?= $nc_core->token->get_input() ?>
<input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
<input name='cc' type='hidden' value='<?= $cc ?>' />
<input name='sub' type='hidden' value='<?= $sub ?>' />
<input name='message' type='hidden' value='<?= $message ?>' />
<input name='posting' type='hidden' value='1' />
<input name='curPos' type='hidden' value='<?= $curPos ?>' />
<input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
<?= nc_form_moderate('change', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
</div>

<div data-tab-caption="Основное">
    <div class='nc-field nc-field-type-string'><?= nc_string_field('ConstantName', "maxlength='255' size='50' readonly style='background:#eee;'", ($class_id ? $class_id : $classID), 1) ?></div>
    <div class='nc-field nc-field-type-text'><?= nc_text_field('Description', "", ($class_id ? $class_id : $classID), 1) ?></div>
    <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isTranslated', "", ($class_id ? $class_id : $classID ), 1) ?></div>
</div>

<div data-tab-caption="Русский">
    <div class='nc-field nc-field-type-string'><?= nc_string_field('ValueRu', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
</div>

<div data-tab-caption="Английский">
    <div class='nc-field nc-field-type-string'><?= nc_string_field('ValueEn', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
</div>

<div class='nc-hint nc-hint-required-fields'><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div>
<?= nc_submit_button(NETCAT_MODERATION_BUTTON_CHANGE) ?>
</form>