<?= $f_AdminCommon; ?>

<style>
.standard-table {
  width:100%;
  margin-top:20px;
  border-collapse:collapse;
}
.standard-table th,.standard-table td {
  padding:5px;
  text-align:center;
  border:1px solid #ccc;
}
.standard-table th {
  padding:7px;
}
.standard-table .nc-toolbar.nc--left {
	float: none;
	display: inline-block;
}
.sort_admin_block {
  margin:10px 20px 0 0;
  padding:10px;
  border:1px solid #ccc;
}
.sort_admin_block a {
  display:inline-block;
  margin-left:15px;
}
</style>
<table class="standard-table" style="width:100%">
  <th>Наименование константы</th>
  <th>На русском</th>
  <th>На английском</th>
  <th>Описание</th>
  <th>Действия</th>