</table>

<br><br>
                    <? if ($nextLink || $prevLink) { ?>
                        <div class="pagination scroll-anim-elem" style="text-align:center;font-size:16px;">
                            <nav class="navigation numeric-navigation" role="navigation">
                            <? if ($prevLink) { ?><a class="prev page-numbers" aria-label="Previous" href="<?=$prevLink?><?=($inside_admin ? '&inside_admin=1' : '')?>"><span aria-hidden="true">&laquo;</span></a><?}?>
                            <?=browse_messages($cc_env,10)?>
                            <? if ($nextLink) { ?><a class="next page-numbers" aria-label="Next" href="<?=$nextLink?><?=($inside_admin ? '&inside_admin=1' : '')?>"><span aria-hidden="true">&raquo;</span></a><?}?>
                            </nav>
                        </div>
                    <?}?>

<br><br>