<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?php
$arrCoords = array();
$arrIds = array();
$arrHtml = array();
?>

<div class="page-width">
  <?=getBrcrHtml()?>
  <h1><?=getSubNameLang($sub)?></h1>

  <div class="page-text-top">
    <p><?=nl2br($cc_settings['Text'.$lang_prefix_field])?></p>
    
    <?if($cc_settings['TextHidden'.$lang_prefix_field]){?>
      <div class="page-text-top__hidden">
        <p><?=nl2br($cc_settings['TextHidden'.$lang_prefix_field])?></p>
      </div>

      <div class="page-text-top__more">
        <span class="page-text-top__more-btn"><?=Langs::TEXT_SHOW_BIG_MORE?></span>
      </div>
    <?}?>
  </div>

</div>

<div class="map-filter">
  <div class="page-width">
    <div class="map-filter__row">
      <div class="map-filter__col map-filter__col_select">
        <div class="map-filter__line">
          <?php
          $allCountries = $db->get_results("SELECT Countries".$lang_prefix_field."_ID as ID,Countries".$lang_prefix_field."_Name as Name FROM Classificator_Countries".$lang_prefix_field." 
                                            WHERE Checked = 1", ARRAY_A);
          ?>
          <select class="js_change_country">
            <?foreach($allCountries as $arrRowCountry){?>
              <option value="<?=$arrRowCountry['ID']?>"><?=$arrRowCountry['Name']?></option>
            <?}?>
          </select>
        </div>
      </div>
      <div class="map-filter__col map-filter__col_input">
        <div class="map-filter__line">
          <input type="text" class="map-filter__input js_search_map_bracing" placeholder="<?=Langs::TEXT_ENTER_YOUR_CITY_AND_STREET_AND_HOUSE?>">
        </div>
      </div>
      <div class="map-filter__col map-filter__col_btn">
        <div class="map-filter__line">
          <a href="#" class="filter-type-btn js-restoration-show-map active"><?=Langs::TEXT_ON_THE_MAP?></a>
          <a href="#" class="filter-type-btn filter-type-btn_list js-restoration-show-list"><?=Langs::TEXT_LIST?></a>
        </div>
      </div>
    </div>
    
    <ul class="checkbox-list checkbox-list_inline js_filter_checkbox_bracing">
      <?php
      foreach($arrFilterCheck as $arrRowFCheck){
        $is_active = false;
        if((int)$_GET[$arrRowFCheck['param']] === (int)$arrRowFCheck['value']){
          $is_active = true;
        }
        echo '<li class="checkbox-list__item">
                <label class="checkbox"><input type="checkbox" '.($is_active ? 'checked="checked"' : NULL).' class="checkbox__input" data-param-name="'.$arrRowFCheck['param'].'" value="'.$arrRowFCheck['value'].'"> <span class="checkbox__text">'.$arrRowFCheck['name'].'</span></label>
              </li>';
      }
      ?>
    </ul>
  </div>
</div>

<!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$arrCoords[] = $f_Longitude.','.$f_Latitude;
$arrIds[] = $f_RowID;
$arrHtml[] = '<a href="'.$lang_prefix.$fullLink.'" class="restoration-list__item" data-id="'.$f_RowID.'">
                <span class="restoration-list__name">'.$f_Name.'</span>
                <span class="restoration-list__contacts">
                  <span class="restoration-list__address">'.$f_Address.'</span>
                  '.($f_Phone ? '<span class="restoration-list__phone">'.$f_Phone.'</span>' : NULL).'
                </span>
                '.($f_WorkTime ? '<span class="restoration-list__time">'.$f_WorkTime.'</span>' : NULL).'
              </a>';
?><!-- /RecordTemplate -->

<!-- FormSuffix --><?php
$set_zoom = 10;
$set_map_city_name = $db->get_var("SELECT Cities_Name FROM Classificator_Cities 
                                   WHERE Cities_ID = '".$city_id."'");
if(!empty($search_value)){
  $set_map_city_name = $search_value;
  $set_zoom = 13;
}
?>

<div class="page-width js_bracing_empty" <?=(!empty($arrHtml) ? 'style="display:none;"' : NULL)?>>
  <div class="catalog-empty catalog-empty2">
    <div class="catalog-empty__row">
      <div class="catalog-empty__col">
        <strong class="catalog-empty__title"><?=Langs::TEXT_NO_RESULTS_FOUND_FOR_YOUR_REQUEST?></strong> <?=Langs::TEXT_TRY_DIFF_SEARCH_OPTIONS?>
      </div>
      <div class="catalog-empty__col">
        <span class="btn-type3">
          <?=Langs::TEXT_CLEAN_FILTER_LOWER?>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="js_filter_content" <?=(empty($arrHtml) ? 'style="display:none;"' : NULL)?>>
  <div class="restoration-map-wrap">
    <div class="contacts-map-caption"><?=Langs::TEXT_MOVE_MAP_SWIPE_TWO_FINGERS?></div>
    <div class="restoration-map" id="restoration-map" data-zoom="<?=$set_zoom?>" data-center="" data-city="<?=$set_map_city_name?>" data-points="<?=implode(';', $arrCoords)?>" data-ids="<?=implode(';', $arrIds)?>"></div>
  </div>

  <div class="page-width">
    <div class="restoration-list">
      <?=implode('', $arrHtml)?>
    </div>
  </div>
</div>

<div class="js_content_company">
  
</div><!-- /FormSuffix -->