<?php
$set_zoom = 10;
$set_map_city_name = $db->get_var("SELECT Cities_Name FROM Classificator_Cities 
                                   WHERE Cities_ID = '".$city_id."'");
if(!empty($search_value)){
  $set_map_city_name = $search_value;
  $set_zoom = 13;
}
?>

<div class="page-width js_bracing_empty" <?=(!empty($arrHtml) ? 'style="display:none;"' : NULL)?>>
  <div class="catalog-empty catalog-empty2">
    <div class="catalog-empty__row">
      <div class="catalog-empty__col">
        <strong class="catalog-empty__title"><?=Langs::TEXT_NO_RESULTS_FOUND_FOR_YOUR_REQUEST?></strong> <?=Langs::TEXT_TRY_DIFF_SEARCH_OPTIONS?>
      </div>
      <div class="catalog-empty__col">
        <span class="btn-type3">
          <?=Langs::TEXT_CLEAN_FILTER_LOWER?>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="js_filter_content" <?=(empty($arrHtml) ? 'style="display:none;"' : NULL)?>>
  <div class="restoration-map-wrap">
    <div class="contacts-map-caption"><?=Langs::TEXT_MOVE_MAP_SWIPE_TWO_FINGERS?></div>
    <div class="restoration-map" id="restoration-map" data-zoom="<?=$set_zoom?>" data-center="" data-city="<?=$set_map_city_name?>" data-points="<?=implode(';', $arrCoords)?>" data-ids="<?=implode(';', $arrIds)?>"></div>
  </div>

  <div class="page-width">
    <div class="restoration-list">
      <?=implode('', $arrHtml)?>
    </div>
  </div>
</div>

<div class="js_content_company">
  
</div>