<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$arrCoords[] = $f_Longitude.','.$f_Latitude;
$arrIds[] = $f_RowID;
$arrHtml[] = '<a href="'.$lang_prefix.$fullLink.'" class="restoration-list__item" data-id="'.$f_RowID.'">
                <span class="restoration-list__name">'.$f_Name.'</span>
                <span class="restoration-list__contacts">
                  <span class="restoration-list__address">'.$f_Address.'</span>
                  '.($f_Phone ? '<span class="restoration-list__phone">'.$f_Phone.'</span>' : NULL).'
                </span>
                '.($f_WorkTime ? '<span class="restoration-list__time">'.$f_WorkTime.'</span>' : NULL).'
              </a>';
?>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>