<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?php
global $FILES_FOLDER;

$file_post_tmp = $_FILES["file"]['tmp_name'];
$file_name = basename($_FILES["file"]["name"]);
$file_to_save = $FILES_FOLDER.'loadExcel/'.$file_name;
if(!empty($file_post_tmp)){
  echo '<br/><br/><hr><br/><br/><br/>';
  if($file_name !== 'items.xlsx'){
    echo '<h2>Неверное имя файла!!!</h2>';
  }else{
    if(move_uploaded_file($file_post_tmp, $file_to_save)){
      $loadExcelItems_obj = new loadExcelItems($file_to_save);
      $arrLoadSteps = $loadExcelItems_obj->getTextSteps();
      $arrLoadSteps = array_map(function($value){
        return '<li>'.$value.'</li>';
      }, $arrLoadSteps);
      echo '<h2>Импорит завершен:</h2>
            <ul>
              '.implode('', $arrLoadSteps).'
            </ul>';
      unlink($file_to_save);
    }else{
      echo '<h2>Не удалось загрузить файл!!!</h2>';
    }
  }
  echo '<br/><br/><br/><hr><br/><br/>';
}
?>
<style>
.wrap_import p{
  margin:0;
  padding:0;
}
.wrap_import ol li,
.wrap_import ul li{
  font-size:14px;
  margin-bottom:10px;
}
.wrap_import ol li > ul{
  margin-top:10px;
}
</style>
<div class="wrap_import">
  <h3>Импорт каталога и справачников</h3>
  <p style="margin:0;padding:0;">Для правильного импорта необходимо:</p>
  <ol>
    <li>Название файла обязательно должно быть <strong>items.xlsx</strong></li>
    <li>Название вкладок должно быть называться именно так - <strong>Товары</strong>,
                                                             <strong>Коллекции</strong>,
                                                             <strong>Тип дизайна</strong>,
                                                             <strong>Тип ткани</strong>,
                                                             <strong>Область применения</strong>,
                                                             <strong>Цвет</strong>,
                                                             <strong>Технологии</strong>,
                                                             <strong>Уход</strong>,
                                                             <strong>Направление в рулоне</strong> (в каком они порядке не имеет значение)</li>
    <li>Первая строка это название полей и они не должны меняться (в каком они порядке не имеет значение)</li>
    <li>Поле <strong>ID</strong> обязательно должно присутствовать в каждом листе и должно нумероваться по порядку</li>
    <li>
        Поле <strong>ItemTypeIcon</strong> может содержать только цифры, а именно(Число - Что обозначает):
         <ul>
           <li>0 - Ничего</li>
           <li>1 - Easy Clean</li>
           <li>2 - Fire</li>
         </ul>
     </li>
     <li>Такие поля как: <strong>isNew</strong>,<strong>isHit</strong>,<strong>isSale</strong>,<strong>isContractFabric</strong>,<strong>isUnderOrder</strong>,<strong>Yandex</strong>,<strong>Available</strong> - могу содержать только число 0 или 1</li>
     <li>Такие поля как: <strong>SimilarCloth</strong>,<strong>Color</strong>,<strong>AppArea</strong>,<strong>Technologies</strong>,<strong>Care</strong>,<strong>TypeItem</strong> - имееют множественные значения и разделитем выступает обязательно <strong>точка с запятой ;</strong>, если значение одно, то <strong>точку с запятой ;</strong> можно не указывать</li>
  </ol>
  
  <?/*?>
  <form action="/netcat/index.php?" enctype='multipart/form-data' method="POST">
    <input type="hidden" name="action" value="index">
    <input type="hidden" name="admin_mode" value="1">
    <input type="hidden" name="inside_admin" value="1">
    <input type="hidden" name="cc" value="<?=$cc?>">
    <input type="hidden" name="list_mode" value="">
    
     <input type="file" name="file" />
     <br/>
     <br/>
     <input type="submit" class="nc-btn nc--blue" value="Загрузить" />
  </form>
  <?*/?>
</div>
<br/>
<br/>
<br/><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->