%Header
<div class="page-width">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="<?=$lang_prefix?>/" class="breadcrumbs__link"><?=Langs::TEXT_HOME?></a>
    </li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__current">404</span>
    </li>
  </ul>
</div>

<div class="error-page">
  <div class="error-page__pic">
    <img src="<?=$template_path?>img/404.jpg" width="1320" height="783" alt="404">
  </div>
  <div class="error-page__text">
    <h1>404</h1>
    <strong class="error-page__sub-title"><?=Langs::TEXT_ERROR_LOWER?></strong>

    <a href="<?=$lang_prefix?>/" class="btn-type2 btn-type2_green"><span class="btn-type2__text"><?=Langs::TEXT_GO_TO_MAIN_PAGE?></span></a>
  </div>
</div>