<!-- FormPrefix -->
<?php

$table_fields = array();
$all_fields = array();
foreach ($component->get_fields() as $field) {
    $all_fields[$field['name']] = $field;
    if ($field['in_table_view']) {
        $table_fields[$field['name']] = $field;
    }
}

$standart_table_fields = array();
foreach ($component->get_standart_fields() as $field) {
    $all_fields[$field['name']] = $field;
    if ($field['in_table_view']) {
        $standart_table_fields[$field['name']] = $field;
    }
}
$fields = array_merge($table_fields, $standart_table_fields);
?>

<?if($cc == 5){?>
<?php
$arrDirection = array(
	array(
		'name' => 'От меньшего к большему',
		'value' => 'asc',
	),
	array(
		'name' => 'От большего к меньшему',
		'value' => 'desc',
	),
);
?>
<br/>
<div>
	
	<label>Сортировка по:</label>
	<br/>
	<select name="sort" id="sort_by_component">
		<option value="">-- выбрать --</option>
		<?php
		global $db;
		
		$post_field_name = $_POST["sort_by_component"] ? $_POST["sort_by_component"] : ($_GET["sort_by_component"] ? $_GET["sort_by_component"] : NULL);
		$post_sort_name = $_POST["what_sort_by"] ? $_POST["what_sort_by"] : ($_GET["what_sort_by"] ? $_GET["what_sort_by"] : NULL);
		
		$allFiledsComponent = $db->get_results("SELECT Field_Name,Description,TypeOfData_ID FROM Field WHERE Class_ID = '".$classID."' AND TypeOfData_ID IN (1,2,4,5,7,8,9) ORDER BY Priority",ARRAY_A);
		$arrSortFields = array(
							"Priority" => "По приоритету",
							"Keyword" => "По ключевому слову",
							"Checked" => "По вкл/выкл",
							"Created" => "По дате создания",
							"LastUpdated" => "По дате изменения"
		);
		if(!empty($allFiledsComponent)){
			foreach($allFiledsComponent as $arrVal){
				$arrSortFields[$arrVal["Field_Name"]] = $arrVal["Description"];
			}
		}
		
		foreach($arrSortFields as $name_val => $desc_val){
			if($post_field_name == $name_val){
				$selected = 'selected="selected"';
			}else{
				$selected = '';
			}
			echo '<option '.$selected.' value="'.$name_val.'">'.$desc_val.'</option>';
		}
		?>
	</select>
	
	<br/>
	<br/>
	
	<label for="direction">Тип сортировки:</label>
	<br/>
	<select name="direction" id="what_sort_by">
		<option value="">-- выбрать --</option>
		<?php
		foreach($arrDirection as $arrRowDirection){
			$is_active = false;
			if($post_sort_name === $arrRowDirection['value']){
				$is_active = true;
			}
			
			echo '<option '.($is_active ? 'selected="selected"' : NULL).' value="'.$arrRowDirection['value'].'">'.$arrRowDirection['name'].'</option>';
		}
		?>
	</select>
	
	<script>
	$(document).ready(function(){
		$('#sort_by_component').on('change',function(){
			var value = $(this).val();
			var what_sort_value = $('#what_sort_by').val();
			var obj_form = $('#nc_objects_filter_form form');
			var sortInput = obj_form.find('.sort_by_component_input');
			var whatSortInput = obj_form.find('.what_sort_by_input');
			if(!value){
				obj_form.find('.sort_by_component_input,.what_sort_by_input').remove();
			}else{
				if(sortInput.length <= 0){
					obj_form.append('<input type="hidden" name="sort_by_component" class="sort_by_component_input" value="'+value+'" />');
					obj_form.append('<input type="hidden" name="what_sort_by" class="what_sort_by_input" value="'+what_sort_value+'" />');
				}else{
					sortInput.val(value);
					whatSortInput.val(what_sort_value);
				}
			}
			obj_form.find('input:submit').trigger('click');
		});
		
		$('#what_sort_by').on('change',function(){
			$('#sort_by_component').trigger('change');
		});
	});
	</script>
</div>
<br/>
<?}?>

<div id='nc_table_view_<?= $cc ?>' class="nc-padding-20" style='padding-left:0 !important'>
    <table class='nc-table nc--bordered nc--striped nc--wide'>
        <thead>
        <tr>
            <th width='1%'>#</th>
            <? if ($nc_core->get_settings('PacketOperations')): ?>
                <th width='1%'></th>
            <? endif ?>
            <th width='1%'></th>
            <? if (!$table_fields && !$standart_table_fields): ?>
                <th></th>
            <? endif ?>
            <? foreach ($fields as $field): ?>
                <th><?= $field['description'] ?: $field['name'] ?></th>
            <? endforeach ?>
            <th class="nc-text-center">
                <div class="icons icon_prior" title="<?= NETCAT_MODERATION_STANDART_FIELD_PRIORITY ?>"></div>
            </th>
            <th colspan="4" class='nc-text-right' width='1%'>
                <a href='#' id='nc_table_view_settings_btn' title=" <?= STRUCTURE_TAB_SETTINGS ?>"><i class='nc-icon nc--settings'></i></a>
            </th>
        </tr>
        </thead>
        <tbody>
<!-- /FormPrefix -->

<!-- RecordTemplate -->
        <tr>
            <td><?= $f_RowID ?></td>
            <? if ($nc_core->get_settings('PacketOperations')): ?>
                <td>
                    <input class='nc_multi_check' type='checkbox' onchange='nc_package_obj.select(<?= $f_RowID ?>, <?= $cc ?>)'>
                </td>
            <? endif ?>
            <td>
                <? if (!empty($f_AdminButtons_check)): ?>
                <a href="<?= $f_AdminButtons_check ?>" class="nc--wide nc-label nc--<?= $f_Checked ? 'green' : 'red' ?>" title="<?= constant('NETCAT_MODERATION_OBJ_' . ($f_Checked ? 'ON' : 'OFF')) ?>">
                    <?= constant('NETCAT_MODERATION_OBJ_' . ($f_Checked ? 'ON' : 'OFF')) ?>
                </a>
                <? endif; ?>
            </td>

            <? if (!$table_fields && !$standart_table_fields): ?>
                <td><?= NETCAT_MODERATION_OBJECT . ' #' . $f_RowID ?></td>
            <? else: ?>
                <? foreach ($fields as $fieldname => $field): ?>
                    <td<?= $f_Checked ? '' : " class='nc-text-gray'" ?>>
                        <?php
                        if ($fieldname == 'User') {
                            $user_id = $f_User_ID;
                            $f_User = '';
                            if ($user_id) {
                                try {
                                    $user_object = nc_core('user')->get_by_id($user_id);
                                    $f_User = $user_object['Login'];
                                } catch (Exception $e) {
                                }
                            }
                            $value = $f_User;
                        } else if ($fieldname == 'LastUser') {
                            $user_id = $f_LastUser_ID;
                            $f_LastUser = '';
                            if ($user_id) {
                                try {
                                    $user_object = nc_core('user')->get_by_id($user_id);
                                    $f_LastUser = $user_object['Login'];
                                } catch (Exception $e) {
                                }
                            }
                            $value = $f_LastUser;
                        } else {
                            $value = ${'f_' . $fieldname};

                            if ($field['type'] == NC_FIELDTYPE_FILE) { // File
                                if (strpos($field['format'], 'image/')) { // Image
                                    $value = "<img src='{$value}' alt='' style='max-height:80px;max-width:80px'>";
                                }
                            }
                        }
                        ?>

                        <?= $value ?>
                    </td>
                <? endforeach ?>
            <? endif ?>

            <? /* PRIORITY */ ?>
            <td width="1">
                <? if (!empty($f_AdminButtons_check)): ?>
                <div class="nc-form">
                    <input type="hidden" name="Checked[<?= $f_RowID; ?>]" value="<?= $f_Checked; ?>"/>
                    <input type="text" name="priority[<?= $f_RowID; ?>]" size="3" value="<?= $f_Priority; ?>" class="nc--mini" maxlength="5" style="margin-top: -5px; margin-bottom: -7px;">
                </div>
                <? endif; ?>
            </td>

            <? /* ACTIONS */ ?>
            <? if (isset($list_mode) && $list_mode == 'select'): ?>
                <td class="nc--action nc--action-text-only" colspan="4">
                    <a onclick="<?= $f_AdminButtons_select ?>" href="#"><?= NETCAT_MODERATION_SELECT_RELATED ?></a>
                </td>
            <? else: ?>
                <td class='nc--action' width="1">
                    <? if (!empty($f_AdminButtons_change)): ?>
                    <a onclick="window.open('<?= $f_AdminButtons_copy ?>', 'nc_popup_test1', 'width=800,height=500,menubar=no,resizable=no,scrollbars=no,toolbar=no,resizable=yes'); return false;" href="#" title="<?= NETCAT_MODERATION_COPY_OBJECT ?>"><i class='nc-icon nc--copy'></i></a>
                    <? endif; ?>
                </td>
                <td class='nc--action' width="1">
                    <? if (!empty($f_AdminButtons_change)): ?>
                    <a onclick="parent.nc_form(this.href); return false;" href="<?= $f_AdminButtons_change ?>" title="<?= NETCAT_MODERATION_CHANGE ?>"><i class='nc-icon nc--edit'></i></a>
                    <? endif; ?>
                </td>
                <? if (!empty($f_AdminButtons_version)) : ?>
                    <td class='nc--action' width="1">
                        <a onclick="parent.nc_form(this.href); return false;" href="<?= $f_AdminButtons_version ?>" title="<?= NETCAT_MODERATION_VERSION ?>"><i class='nc-icon nc--clock'></i></a>
                    </td>
                <? else: ?>
                    <td width="1" style='padding: 0; margin: 0;'></td>
                <? endif; ?>
                <td class='nc--action' width="1">
                    <? if (!empty($f_AdminButtons_delete)): ?>
                    <a onclick="parent.nc_action_message(this.href); return false;" href="<?= $f_AdminButtons_delete ?>" title="<?= NETCAT_MODERATION_DELETE ?>"><i class='nc-icon nc--remove'></i></a>
                    <? endif; ?>
                </td>
            <? endif; ?>
        </tr>

<!-- /RecordTemplate -->

<!-- FormSuffix --></tbody>
    </table>
    <br>

    <div class="nc-pagination nc--right">
        <?= CONTROL_CLASS_CLASS_OBJECTSLIST_SHOW ?>:
        <!--span class='nc--active'>по умолчанию <?=$maxRows ?></span-->
        <? foreach (array(10, 20, 50, 100) as $per_page): ?>
            <? if ($per_page == $maxRows): ?>
                <span class='nc--active'><?= $per_page ?></span>
            <? else: ?>
                <a href="<?= $SUB_FOLDER . $HTTP_ROOT_PATH ?>?inside_admin=1&amp;cc=<?= $cc ?>&amp;maxRows=<?= $per_page ?>"><?= $per_page ?></a>
            <? endif ?>
        <? endforeach ?>
    </div>

    <?=
    browse_messages($cc_env, 15, array(
        'prefix' => "<div class='nc-pagination'>",
        'suffix' => "</div>",
        'active' => "<span class='nc--active'>%PAGE</span>",
        'unactive' => "<a href='%URL'>%PAGE</a>",
        'divider' => " ",
    )) ?>
</div>

<div id='nc_table_view_settings' class='nc-padding-20 nc--hide' style='padding-left:0 !important'>

    <form class='nc-panel nc-padding-15' method='post' action='<?= $SUB_FOLDER . $HTTP_ROOT_PATH ?>?inside_admin=1&amp;cc=<?= $cc ?>'>
        <? foreach ($all_fields as $field): ?>
            <div>
                <label>
                    <input name='in_table_view<?= isset($field['standart']) && $field['standart'] ? '_standart' : ''; ?>[]' value='<?= $field['id'] ?>' type="checkbox" <?= $field['in_table_view'] ? 'checked="checked"' : '' ?>>
                    <?= $field['description'] ?: $field['name'] ?>
                </label>
            </div>
        <? endforeach ?>
        <br>
        <input type="hidden" name="table_view_settings" value="1">
        <button type='submit' class='nc-btn nc--blue nc--small'><?= NETCAT_CUSTOM_ONCE_SAVE ?></button>
        <button onclick="return nc_toggle_table_view_settings()" type='button' class='nc-btn nc--red nc--small nc--bordered'><?= CONTROL_BUTTON_CANCEL ?></button>
    </form>
</div>


<script>
    function nc_toggle_table_view_settings() {
        nc('#nc_table_view_<?=$cc ?>').toggle();
        nc('#nc_table_view_settings').toggle();
        return false;
    }
    nc('#nc_table_view_settings_btn').click(nc_toggle_table_view_settings);

    $nc(function () {
        $nc(document).on('change', 'INPUT[name^="priority["]', function () {
            var $this = $nc(this);
            var message = /^priority\[(\d+)\]/.exec($this.attr('name'));
            message = message[1];
            var priority = parseInt($this.val());
            priority = isNaN(priority) ? 0 : Math.abs(priority);
            $this.val(priority);

            var checked = $nc('INPUT[name="Checked[' + message + ']"]').val() - 0 + 1;

            var url = '<?= $SUB_FOLDER . $HTTP_ROOT_PATH . "message.php?inside_admin=1&catalogue=" . $catalogue . "&sub=" . $sub . "&cc=" . $cc . "&classID=" . $classID . "&posting=1" . ($curPos ? "&curPos=" . $curPos : "") . ($admin_mode ? "&admin_mode=1" : ""); ?>';
            url += '&message=' + message + '&priority=' + priority + '&checked=' + checked;

            var priorities = [];

            $this.closest('TABLE').find('TBODY TR').each(function () {
                priorities.push({
                    priority: parseInt($(this).find('INPUT[name^="priority["]').val()),
                    row: $(this)
                });
            });

            priorities.sort(function (a, b) {
                return a.priority - b.priority;
            });

            priorities.reverse();

            for (var i in priorities) {
                $this.closest('TABLE').find('TBODY').append(priorities[i].row);
            }

            nc.process_start('priority_change');
            $nc.get(url, function () {
                nc.process_stop('priority_change');
            });

            return true;
        });
    });
</script>
<!-- /FormSuffix -->