
<?php

$table_fields = array();
$all_fields = array();
foreach ($component->get_fields() as $field) {
    $all_fields[$field['name']] = $field;
    if ($field['in_table_view']) {
        $table_fields[$field['name']] = $field;
    }
}

$standart_table_fields = array();
foreach ($component->get_standart_fields() as $field) {
    $all_fields[$field['name']] = $field;
    if ($field['in_table_view']) {
        $standart_table_fields[$field['name']] = $field;
    }
}
$fields = array_merge($table_fields, $standart_table_fields);
?>

<?if($cc == 5){?>
<?php
$arrDirection = array(
	array(
		'name' => 'От меньшего к большему',
		'value' => 'asc',
	),
	array(
		'name' => 'От большего к меньшему',
		'value' => 'desc',
	),
);
?>
<br/>
<div>
	
	<label>Сортировка по:</label>
	<br/>
	<select name="sort" id="sort_by_component">
		<option value="">-- выбрать --</option>
		<?php
		global $db;
		
		$post_field_name = $_POST["sort_by_component"] ? $_POST["sort_by_component"] : ($_GET["sort_by_component"] ? $_GET["sort_by_component"] : NULL);
		$post_sort_name = $_POST["what_sort_by"] ? $_POST["what_sort_by"] : ($_GET["what_sort_by"] ? $_GET["what_sort_by"] : NULL);
		
		$allFiledsComponent = $db->get_results("SELECT Field_Name,Description,TypeOfData_ID FROM Field WHERE Class_ID = '".$classID."' AND TypeOfData_ID IN (1,2,4,5,7,8,9) ORDER BY Priority",ARRAY_A);
		$arrSortFields = array(
							"Priority" => "По приоритету",
							"Keyword" => "По ключевому слову",
							"Checked" => "По вкл/выкл",
							"Created" => "По дате создания",
							"LastUpdated" => "По дате изменения"
		);
		if(!empty($allFiledsComponent)){
			foreach($allFiledsComponent as $arrVal){
				$arrSortFields[$arrVal["Field_Name"]] = $arrVal["Description"];
			}
		}
		
		foreach($arrSortFields as $name_val => $desc_val){
			if($post_field_name == $name_val){
				$selected = 'selected="selected"';
			}else{
				$selected = '';
			}
			echo '<option '.$selected.' value="'.$name_val.'">'.$desc_val.'</option>';
		}
		?>
	</select>
	
	<br/>
	<br/>
	
	<label for="direction">Тип сортировки:</label>
	<br/>
	<select name="direction" id="what_sort_by">
		<option value="">-- выбрать --</option>
		<?php
		foreach($arrDirection as $arrRowDirection){
			$is_active = false;
			if($post_sort_name === $arrRowDirection['value']){
				$is_active = true;
			}
			
			echo '<option '.($is_active ? 'selected="selected"' : NULL).' value="'.$arrRowDirection['value'].'">'.$arrRowDirection['name'].'</option>';
		}
		?>
	</select>
	
	<script>
	$(document).ready(function(){
		$('#sort_by_component').on('change',function(){
			var value = $(this).val();
			var what_sort_value = $('#what_sort_by').val();
			var obj_form = $('#nc_objects_filter_form form');
			var sortInput = obj_form.find('.sort_by_component_input');
			var whatSortInput = obj_form.find('.what_sort_by_input');
			if(!value){
				obj_form.find('.sort_by_component_input,.what_sort_by_input').remove();
			}else{
				if(sortInput.length <= 0){
					obj_form.append('<input type="hidden" name="sort_by_component" class="sort_by_component_input" value="'+value+'" />');
					obj_form.append('<input type="hidden" name="what_sort_by" class="what_sort_by_input" value="'+what_sort_value+'" />');
				}else{
					sortInput.val(value);
					whatSortInput.val(what_sort_value);
				}
			}
			obj_form.find('input:submit').trigger('click');
		});
		
		$('#what_sort_by').on('change',function(){
			$('#sort_by_component').trigger('change');
		});
	});
	</script>
</div>
<br/>
<?}?>

<div id='nc_table_view_<?= $cc ?>' class="nc-padding-20" style='padding-left:0 !important'>
    <table class='nc-table nc--bordered nc--striped nc--wide'>
        <thead>
        <tr>
            <th width='1%'>#</th>
            <? if ($nc_core->get_settings('PacketOperations')): ?>
                <th width='1%'></th>
            <? endif ?>
            <th width='1%'></th>
            <? if (!$table_fields && !$standart_table_fields): ?>
                <th></th>
            <? endif ?>
            <? foreach ($fields as $field): ?>
                <th><?= $field['description'] ?: $field['name'] ?></th>
            <? endforeach ?>
            <th class="nc-text-center">
                <div class="icons icon_prior" title="<?= NETCAT_MODERATION_STANDART_FIELD_PRIORITY ?>"></div>
            </th>
            <th colspan="4" class='nc-text-right' width='1%'>
                <a href='#' id='nc_table_view_settings_btn' title=" <?= STRUCTURE_TAB_SETTINGS ?>"><i class='nc-icon nc--settings'></i></a>
            </th>
        </tr>
        </thead>
        <tbody>
