<div class="page-width">
  <?=getBrcrHtml()?>
  <div class="order-ok">
    <div class="order-ok__ico">
      <img src="<?=$template_path?>img/order-ok-ico.svg" width="150" height="150" alt="">
    </div>
    <div class="order-ok__title">
      <?=str_ireplace('%ORDER_ID%', $order_id, Langs::TEXT_YOUR_ORDER_NO_ISSUED)?>
    </div>
    <p>
      <?=Langs::TEXT_SHIPPING_INFO_MAIL?>
    </p>

    <a href="<?=$lang_prefix.nc_folder_path(sct::sub('item'))?>" class="btn-type3"><?=Langs::TEXT_BACK_TO_SHOPPING?></a>
  </div>

</div>