<!-- FormPrefix --><?php
$errorText = NULL;
if(!$search_query){
    $errorText = 'Введите значение';
}else{
    $totRows = $results->get_total_count();
    if($totRows == 0){
        if($results->get_error_message()){
			$errorText = 'Ошибка в запросе';
        }else{
			$errorText = 'По вашему запросу ничего не найдено';
        }
    }
}

$total_rows = 0;
?><!-- /FormPrefix -->

<!-- RecordTemplate --><?php
$titleHtml = NULL;
$arrExplodeTitle = explode(' / ', $f_title);
foreach($arrExplodeTitle as $title_name){
  $titleHtml .= '<li class="breadcrumbs__item">
                   <span class="breadcrumbs__link">'.trim($title_name).'</span>
                 </li>';
}

if(mb_stripos($f_url, '/en/') === false && $lang_id === 1){
  $arrHtml[] = '<div class="search-results__item">
                  <ul class="breadcrumbs">
                    '.$titleHtml.'
                  </ul>

                  <a href="'.$lang_prefix.$f_url.'" class="search-results__link"> '.strip_tags($f_context, "<strong>").'</a>
                </div>';
  $total_rows++;
}

if(mb_stripos($f_url, '/en/') !== false && $lang_id !== 1){
  $arrHtml[] = '<div class="search-results__item">
                  <ul class="breadcrumbs">
                    '.$titleHtml.'
                  </ul>

                  <a href="'.$f_url.'" class="search-results__link"> '.strip_tags($f_context, "<strong>").'</a>
                </div>';
  $total_rows++;
}
?><!-- /RecordTemplate -->

<!-- FormSuffix --><div class="page-width">
  <?=getBrcrHtml()?>
  <h1><?=getSubNameLang($sub)?></h1>

  <div class="search-form-wrap">
    <form class="search-form" method="GET" action="<?=$lang_prefix.nc_folder_path(sct::sub('search'))?>">
      <div class="search-form__row">
        <div class="search-form__col">
          <input type="text" class="search-form__input" name="search_query" value="<?=$search_query?>" placeholder="<?=Langs::TEXT_SITE_SEARCH?>">
        </div>
        <div class="search-form__col">
          <input type="submit" class="search-form__submit" value="<?=Langs::TEXT_SEARCH?>">
        </div>
      </div>
      
      <div class="search-empty js_search_empty" <?=($total_rows ? 'style="display:none;"' : NULL)?>>
        <strong class="search-empty__title"><?=Langs::TEXT_NO_RESULTS_FOUND_FOR_YOUR_REQUEST?></strong> <?=Langs::TEXT_TRY_DIFF_SEARCH_OPTIONS?>
      </div>
      
      <div class="search-form__count" <?=(!$total_rows ? 'style="display:none;"' : NULL)?>><?=Langs::TEXT_SEARCH_TOTAL_RESULTS?>: <?=$totRows?></div>
    </form>
  </div>

  <div class="search-results js_catalog_list">
    <?=implode(PHP_EOL, $arrHtml)?>
  </div>
  
  <?if($nextLink){?>
    <a href="<?=$lang_prefix.$nextLink?>" data-param-name="ajax_show_more" data-param-value="1" class="catalog-more-btn js-catalog-load-more" style="margin-bottom:100px;">
      <?=Langs::TEXT_SHOW_MORE?>
    </a>
  <?}?>
</div>


<?if(!$total_rows && $nextLink){?>
  <script>
  $(document).ready(function(){
    setTimeout(function(){
      $('.js-catalog-load-more').trigger('click');
    },500);
    $('.js_search_empty').hide();
  });
  </script>
<?}?><!-- /FormSuffix -->