<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?php
$titleHtml = NULL;
$arrExplodeTitle = explode(' / ', $f_title);
foreach($arrExplodeTitle as $title_name){
  $titleHtml .= '<li class="breadcrumbs__item">
                   <span class="breadcrumbs__link">'.trim($title_name).'</span>
                 </li>';
}

if(mb_stripos($f_url, '/en/') === false && $lang_id === 1){
  $arrHtml[] = '<div class="search-results__item">
                  <ul class="breadcrumbs">
                    '.$titleHtml.'
                  </ul>

                  <a href="'.$lang_prefix.$f_url.'" class="search-results__link"> '.strip_tags($f_context, "<strong>").'</a>
                </div>';
  $total_rows++;
}

if(mb_stripos($f_url, '/en/') !== false && $lang_id !== 1){
  $arrHtml[] = '<div class="search-results__item">
                  <ul class="breadcrumbs">
                    '.$titleHtml.'
                  </ul>

                  <a href="'.$f_url.'" class="search-results__link"> '.strip_tags($f_context, "<strong>").'</a>
                </div>';
  $total_rows++;
}
?>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>