%Header
<div class="page-wrap page-wrap_main">

  <div class="main-header">

    <div class="lang-select">
      <?=getLangHtml()?>
    </div>

    <img src="<?=$template_path?>img/logo.svg" width="156" height="153" alt="<?=$current_catalogue["Catalogue_Name"]?>">
  </div>

  <div class="page-content">
    
    <?/*Слайдер*/?>
    <?=s_list_class(sct::sub('main'),sct::cc('slider'),"nc_ctpl=".sct::tpl('slider')."&isNaked=1")?>
    
    
    <?/*О бренде*/?>
    <?=s_list_class(sct::sub('main'),sct::cc('main_about'),"nc_ctpl=".sct::tpl('main_about')."&isNaked=1")?>
    
    <?/*?>
    <div class="page-up-btn-col">
      <div class="page-up-btn-col-scroll">
        <div class="page-up-btn js-scroll-top"></div>
      </div>
    </div>
    <?*/?>

  </div>
  <!-- .page-content -->
  
  <?= $this->partial('footer') ?>

  <div class="favorites-animate"></div>
</div>
<!-- .page-wrap -->