    <div class="personal-row__right">
      <nav class="right-menu">
        <ul class="col-menu">
          <?php
          $arrSubsLK = $db->get_results("SELECT Subdivision_ID as ID,Hidden_URL as URL FROM Subdivision
                                         WHERE Parent_Sub_ID = '".$current_sub['Parent_Sub_ID']."'", ARRAY_A);
          foreach($arrSubsLK as $arrRowSubLK){
            $is_active = false;
            $sub_lk_id = $arrRowSubLK['ID'];
            $sub_lk_url = $arrRowSubLK['URL'];
            if(mb_stripos($_SERVER['REQUEST_URI'], $sub_lk_url) !== false){
              $is_active = true;
            }
            
            echo '<li class="col-menu__item '.($is_active ? 'active' : NULL).'"><a href="'.$lang_prefix.$sub_lk_url.'" class="col-menu__link">'.getSubNameLang($sub_lk_id).'</a></li>';
          }
          ?>
          
          <li class="col-menu__item"><a href="<?=$exit_login?>" class="col-menu__link"><?=Langs::TEXT_EXIT_CABINET?></a> </li>
        </ul>
      </nav>
    </div>
    
  </div>
</div>
%Footer