<?php
$langData = ObjectHelper::getData($message, ['Name', 'Announce', 'Text']);
?>
<div class="nc-modal-dialog" data-hidden-tabs="tab-system">
  <div class="nc-modal-dialog-header">
    <h2>
      <?= $current_cc["Sub_Class_Name"] ?>
    </h2>
  </div>
  <div class="nc-modal-dialog-body">

    <?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
    <form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>message.php'>
      <div id='nc_moderate_form'>
        <div class='nc_clear'></div>
        <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
        <?= $nc_core->token->get_input() ?>
        <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
        <input name='cc' type='hidden' value='<?= $cc ?>' />
        <input name='sub' type='hidden' value='<?= $sub ?>' />
        <input name='message' type='hidden' value='<?= $message ?>' />
        <input name='posting' type='hidden' value='1' />
        <input name='curPos' type='hidden' value='<?= $curPos ?>' />
        <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
        <input name='f_Language_ID' type='hidden' value='1' />
        <?= nc_form_moderate('change', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
      </div>
      
      <div data-tab-caption="Общие данные" data-tab-id="data-general">
        <div class='nc-field nc-field-type-file'><?= nc_file_field('Image', "size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-multifile'><?= $f_Images->form() ?></div>
        
        <div class='nc-field nc-field-type-multiselect'>
          <span class="nc-field-caption">Теги:</span>
          <?php
          $arrTags = explode(',', $f_Tags);
          $arrTags = array_filter($arrTags);
          $arrTags = array_values($arrTags);
          $arrParamsTags = array(
              'classID' => 228,
              'fieldname' => 'Tags[]',
              'value' => $arrTags,
              'add_dop_value' => 'class="js_chosen_multiple js_type_spot" multiple',
              'hide_default' => true,
          );
          echo get_select_list($arrParamsTags);
          ?>
        </div>
      </div>
      
      <div data-tab-caption="Русская версия" data-tab-id="data-ru">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', $langData->Name_Ru, 'Name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-text"><?= FieldHelper::renderTextField('ru', $langData->Announce_Ru, 'Announce', "", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-text"><?= FieldHelper::renderTextField('ru', $langData->Text_Ru, 'Text', "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      <div data-tab-caption="Английская версия" data-tab-id="data-en">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', $langData->Name_En, 'Name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-text"><?= FieldHelper::renderTextField('en', $langData->Announce_En, 'Announce', "", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-text"><?= FieldHelper::renderTextField('en', $langData->Text_En, 'Text', "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>

      <?=FieldHelper::renderTabSystemLang($classID,$message)?>
      
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <div class='nc-hint nc-hint-required-fields'><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div>
      <?= nc_submit_button(NETCAT_MODERATION_BUTTON_CHANGE) ?>
    </form>

  </div>
  <div class="nc-modal-dialog-footer">
    <!-- Для стандартных кнопок нужно указать атрибут data-action: -->
    <button data-action="close">Закрыть</button>
    <button data-action="submit">Сохранить</button>
    <?if(!empty($system_env["AutosaveUse"])){?>
      <button data-action="save-draft">Сохранить черновик</button>
    <?}?>
  </div>
  
  <link rel="stylesheet" href="<?=$HTTP_ROOT_PATH?>modules/default/js/chosen/chosen.min.css" type="text/css" />
  <script type="text/javascript" src="<?=$HTTP_ROOT_PATH?>modules/default/js/chosen/chosen.jquery.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.js_chosen_multiple').chosen({
        width:'300px',
        search_contains: true,
        placeholder_text_multiple: "Выберите Теги",
      });
    });
  </script>
</div>