<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?php
$arrGET = $_GET;
unset($arrGET['REQUEST_URI']);
unset($arrGET['curlang']);
?>
<div class="page-width">
  <?=getBrcrHtml()?>

  <div class="page-row page-row_wrap media-header">
    <div class="page-col">
      <h1><?=getSubNameLang($sub)?></h1>
    </div>
    <div class="page-col">
      <ul class="media-category">
        <li class="media-category__item <?=(empty($arrGET) ? 'active' : NULL)?>"><a href="<?=$lang_prefix.$subLink?>" class="media-category__link"><?=Langs::TEXT_ALL_MATERIALS?></a></li>
        <?php
        unset($arrRowTag);
        foreach($allTags as $arrRowTag){
          $is_active = false;
          if((int)$_GET[$arrRowTag['ParamName']] === (int)$arrRowTag['ID']){
            $is_active = true;
          }
          echo '<li class="media-category__item '.($is_active ? 'active' : NULL).'"><a href="'.$lang_prefix.$subLink.'?'.$arrRowTag['ParamName'].'='.$arrRowTag['ID'].'" class="media-category__link js-filter-media">'.$arrRowTag['Name'].'</a></li>';
        }
        ?>
      </ul>
    </div>
  </div>
  
  <div class="media-wrap">
    <div id="media-ajax" class="media-wrap__cont">
      <div class="media js_catalog_list"><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$arrTagsIds = explode(',', $f_TagsCustom);
$arrTagsIds = array_map(function($value){
	return (int)$value;
}, $arrTagsIds);
$arrTagsIds = array_filter($arrTagsIds);
$arrTags = array();
foreach($arrTagsIds as $tag_id){
  $key_search = array_search($tag_id, array_column($allTags, 'ID'));
  if($key_search !== false){
    $arrTags[] = array(
      'name' => $allTags[$key_search]['Name'],
      'code' => $allTags[$key_search]['Code'],
    );
  }
}
?>
<div class="media__item js-check-in-view">
  <a href="<?=$lang_prefix.$fullLink?>" class="media__link" data-mh="media">
    <span class="media__pic">
      <span class="media__pic-bg" style="background-image: url(<?=$f_Image?>)"></span>
      
      <?php
      unset($arrRowTag);
      foreach($arrTags as $arrRowTag){
        echo '<span class="media__label" style="background-color:'.$arrRowTag['code'].';">'.$arrRowTag['name'].'</span>';
      }
      ?>
      
      <span class="media__pic-lines"></span>
    </span>
    <span class="media__info">
      <strong class="media__name"><?=$f_Name?></strong>
      <?=$f_Announce?>
    </span>
  </a>
</div><!-- /RecordTemplate -->

<!-- FormSuffix -->      </div>
      <?if($nextLink){?>
        <a href="<?=$lang_prefix.$nextLink?>" class="catalog-more-btn js-catalog-load-more" data-param-name="ajax_show_more" data-param-value="1">
          <?=Langs::TEXT_SHOW_MORE?>
        </a>
      <?}?>

      <?=getPaginationTemplate($cc_env, $nextLink, $prevLink)?>
    </div>
    
    <div class="catalog-preloader">
      <div class="catalog-preloader__sticky js-sticky-col">
        <div class="preloader"></div>
      </div>
    </div>
  </div>
  
</div><!-- /FormSuffix -->