      </div>
      <?if($nextLink){?>
        <a href="<?=$lang_prefix.$nextLink?>" class="catalog-more-btn js-catalog-load-more" data-param-name="ajax_show_more" data-param-value="1">
          <?=Langs::TEXT_SHOW_MORE?>
        </a>
      <?}?>

      <?=getPaginationTemplate($cc_env, $nextLink, $prevLink)?>
    </div>
    
    <div class="catalog-preloader">
      <div class="catalog-preloader__sticky js-sticky-col">
        <div class="preloader"></div>
      </div>
    </div>
  </div>
  
</div>