<?= $f_AdminCommon; ?>
<?php
$arrGET = $_GET;
unset($arrGET['REQUEST_URI']);
unset($arrGET['curlang']);
?>
<div class="page-width">
  <?=getBrcrHtml()?>

  <div class="page-row page-row_wrap media-header">
    <div class="page-col">
      <h1><?=getSubNameLang($sub)?></h1>
    </div>
    <div class="page-col">
      <ul class="media-category">
        <li class="media-category__item <?=(empty($arrGET) ? 'active' : NULL)?>"><a href="<?=$lang_prefix.$subLink?>" class="media-category__link"><?=Langs::TEXT_ALL_MATERIALS?></a></li>
        <?php
        unset($arrRowTag);
        foreach($allTags as $arrRowTag){
          $is_active = false;
          if((int)$_GET[$arrRowTag['ParamName']] === (int)$arrRowTag['ID']){
            $is_active = true;
          }
          echo '<li class="media-category__item '.($is_active ? 'active' : NULL).'"><a href="'.$lang_prefix.$subLink.'?'.$arrRowTag['ParamName'].'='.$arrRowTag['ID'].'" class="media-category__link js-filter-media">'.$arrRowTag['Name'].'</a></li>';
        }
        ?>
      </ul>
    </div>
  </div>
  
  <div class="media-wrap">
    <div id="media-ajax" class="media-wrap__cont">
      <div class="media js_catalog_list">