<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$arrTagsIds = explode(',', $f_TagsCustom);
$arrTagsIds = array_map(function($value){
	return (int)$value;
}, $arrTagsIds);
$arrTagsIds = array_filter($arrTagsIds);
$arrTags = array();
foreach($arrTagsIds as $tag_id){
  $key_search = array_search($tag_id, array_column($allTags, 'ID'));
  if($key_search !== false){
    $arrTags[] = array(
      'name' => $allTags[$key_search]['Name'],
      'code' => $allTags[$key_search]['Code'],
    );
  }
}
?>
<div class="media__item js-check-in-view">
  <a href="<?=$lang_prefix.$fullLink?>" class="media__link" data-mh="media">
    <span class="media__pic">
      <span class="media__pic-bg" style="background-image: url(<?=$f_Image?>)"></span>
      
      <?php
      unset($arrRowTag);
      foreach($arrTags as $arrRowTag){
        echo '<span class="media__label" style="background-color:'.$arrRowTag['code'].';">'.$arrRowTag['name'].'</span>';
      }
      ?>
      
      <span class="media__pic-lines"></span>
    </span>
    <span class="media__info">
      <strong class="media__name"><?=$f_Name?></strong>
      <?=$f_Announce?>
    </span>
  </a>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>