<?= $f_AdminButtons; ?>
<?php
$arrTagsIds = explode(',', $f_TagsCustom);
$arrTagsIds = array_map(function($value){
	return (int)$value;
}, $arrTagsIds);
$arrTagsIds = array_filter($arrTagsIds);
$arrTags = array();
foreach($arrTagsIds as $tag_id){
  $key_search = array_search($tag_id, array_column($allTags, 'ID'));
  if($key_search !== false){
    $arrTags[] = array(
      'name' => $allTags[$key_search]['Name'],
      'code' => $allTags[$key_search]['Code'],
    );
  }
}
?>
<div class="page-width">
  <?=getBrcrHtml(false, false, false, $message, $f_Name)?>

  <div class="media-detail">
    <div class="media-detail__left">
      <div class="default-ui">
        <?php
        unset($arrRowTag);
        foreach($arrTags as $arrRowTag){
          echo '<div class="media-detail__label" style="background-color:'.$arrRowTag['code'].';">'.$arrRowTag['name'].'</div>';
        }
        ?>

        <h1><?=$f_Name?></h1>
        
        <?if($f_Announce){?>
          <div class="preview-text">
            <p><?=$f_Announce?></p>
          </div>
        <?}?>
        
        <?if($f_Images->count()){?>
          <div class="media-gallery">
            <?=$f_Images?>
          </div>
        <?}?>
        
        <?=$f_Text?>
        
      </div>
    </div>
    
    <?=s_list_class(sct::sub('media'), sct::cc('media'), "nc_ctpl=".sct::tpl('media_fresh_articles')."&isNaked=1&not_message_id=".$message."")?>
    
  </div>

  <div class="media-detail media-detail_border">
    <div class="media-detail__left">
      <div class="share">
        <?=Langs::TEXT_SHARE_WITH_FRIENDS?>

        <ul class="share-list js-share" data-link="<?=$full_url_site.$lang_prefix.$fullLink?>" data-title="<?=$f_Name?>" data-img="<?=$full_site_url.$f_Image?>" data-text="<?=($f_Announce)?>">
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_fb" data-network="fb"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_vk" data-network="vk"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_tw" data-network="tw"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_gp" data-network="gp"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_pin" data-network="pin"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_mail" data-network="mail"></a> </li>
        </ul>

      </div>
    </div>
    <div class="media-detail__right">
      <a href="<?=$lang_prefix.$subLink?>" class="btn-type4"><?=Langs::TEXT_ALL_MATERIALS?></a>
    </div>
  </div>

</div>