<?php
$template_path = helperData::getTemplatePath();
$full_site_url = helperData::getFullUrlSite();

$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];

$query_select = "1";
$query_join = "";
$query_where = "1";


$arrFields = array(
                'Name',
                'Announce',
                'Text',
);
$arrQueryLang = getQueryLang($classID,$arrFields);
$query_select .= $arrQueryLang["select"];
$query_join .= $arrQueryLang["join"];
$query_where .= $arrQueryLang["where"];


$query_select .= ',a.Tags as TagsCustom';
$allTags = $db->get_results("SELECT t.Message_ID as ID, ".($lang_id !== 1 ? 't_lang' : 't').".Name as Name, t.Code as Code, t.ParamName as ParamName FROM Message".$classID." as a 
                                 LEFT JOIN Message228 as t ON FIND_IN_SET(t.Message_ID, a.Tags)
                                 ".($lang_id !== 1 ? 'LEFT JOIN Message228 as t_lang ON t.Message_ID = t_lang.Language_Parent' : NULL)."
                             WHERE a.Checked AND a.Language_Parent IS NULL
                             GROUP BY t.Message_ID
                             ORDER BY t.Priority", ARRAY_A);
unset($arrRowTag);
foreach($allTags as $arrRowTag){
  if((int)$_GET[$arrRowTag['ParamName']] === (int)$arrRowTag['ID']){
    $query_where .= ' AND a.Tags LIKE "%,'.(int)$arrRowTag['ID'].',%"';
  }
}



$f_Images_tpl = array(
    'prefix' => "",
    'record' => "<div class='media-gallery__item'>
                   <div class='media-gallery__pic' data-mh='gallery'>
                     <img src='%Path%'>
                   </div>
                 </div>",
    'divider' => "",
    'suffix' => "",
    'i' => 0
);
?>