<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<div class="tpl-block-quote" style="border-color: <?= $cc_settings['background_color']; ?>">
            <?= $f_AdminButtons ?>
                <div class="tpl-block-text">
                    <span class="tpl-field-text"><?= nc_edit_inline('Text', $f_RowID, $cc) ?></span>
                </div>
                <div class="tpl-block-author">
                    <span class="tpl-block-author"><?= nc_edit_inline('AuthorName', $f_RowID, $cc) ?></span>
                </div>
                <div class="tpl-block-slider-control">
                    <a href="#" class="tpl-block-button tpl-layout-prev"></a><a href="#" class="tpl-block-button tpl-layout-next"></a>
                </div>
                <div class="tpl-block-tail-outer" style="border-color: <?= $cc_settings['background_color']; ?>"></div>
                <div class="tpl-block-tail-inner"></div>
            </div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>