    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
      <div class="modal-window modal-window_subscribe modal-window_form" id="subscribe-modal">
        <form id="send_form_subscription" class="main-form" method="POST" action="<?=$lang_prefix?>/netcat/subscribe.php">
          
          <input type='hidden' name='catalogue' value='<?=$catalogue?>' />
          <input type='hidden' name='sub' value='16' />
          <input type='hidden' name='cc' value='67' />
          <input type='hidden' name='posting' value='1' />
          <input type='hidden' name='isNaked' value='1' />
          <input type="hidden" name="subscribe_2" value="1">
          
          <div class="modal-window__title"><?=Langs::TEXT_SUBSCRIPTION?></div>

          <p class="form-cation"><?=Langs::TEXT_STAY_EVENTS_AND_CURRENT_PROMOTIONS_AND_OFFERS?></p>

          <div class="main-form__line">
            <label class="main-form__label" for="name"><?=Langs::TEXT_YOUR_NAME_AND_SURNAME?>: *</label>
            <input type="text" value="" class="main-form__text-input" name="fields[FIO]" id="name" required="">
          </div>
          
          <div class="main-form__line">
            <label class="main-form__label" for="email"><?=Langs::TEXT_YOUR_EMAIL?>: *</label>
            <input type="email" class="main-form__text-input" id="email" name="fields[Email]" value="" required>
          </div>
          
          <div class="page-row ">
            <div class="page-col">
              <div class="main-form__line">
                <?= nc_captcha_formfield() ?>
              </div>
            </div>
          </div>
          
          <div class="page-row">
            <div class="page-col">
              <div class="main-form__line">
                <input type="submit" value="<?=Langs::TEXT_SUBSCRIBE?>" class="btn-type3">
              </div>
            </div>
          </div>

          <div class="main-form__line">
            <label class="checkbox">
              <input type="checkbox" value="" name="agree" checked="checked" class="checkbox__input" required>
              <span class="checkbox__text"><?=Langs::TEXT_I_AGREE_TO?> <a href="#" class="js-modal-link" data-fancybox data-type="ajax" data-src="<?=$lang_prefix.nc_folder_path(sct::sub('privacy_policy'))?>?isNaked=1"><?=Langs::TEXT_PRIVACY_POLICY?></a></span>
            </label>
          </div>

        </form>
      </div>

      <div class="modal-window modal-window_form" id="success-modal">
        <div class="modal-window__title js_header"><?=Langs::TEXT_ERROR?></div>
        <p class="form-cation js_text"></p>
      </div>

      <a href="#success-modal" class="js-modal-link js_open_modal" style="display:none;"></a>

      <div style="display:none;" data-url="<?=$lang_prefix?>/netcat/modules/default/getDbCityNameByCityName.php" class="js_city_check_url"></div>
      <div class="js_catalogue_lang_id" data-id="<?=$lang_id?>" style="display:none;"></div>
      <div class="js_lang_consts" data-json='<?=json_encode($arrConstJS)?>' style="display:none;"></div>
    <?}?>
    
    <script src="<?=$template_path?>js/scripts.js?v3"></script>
    <script src="<?=$template_path?>js/backend.js?v5"></script>
    <script src="<?=$template_path?>js/default.js?v23" async></script>
    
    
    
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter51210716 = new Ya.Metrika2({
                        id:51210716,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/51210716" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
    
  </body>
</html>