<?php
$template_path = helperData::getTemplatePath();
$full_site_url = helperData::getFullUrlSite();
$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_name = $arrLang['name'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];
$cookie_city_id = (int)$nc_core->input->fetch_cookie('city_id');
$phone_header = $current_catalogue["Phone"];
if(!empty($cookie_city_id)){
  $cookie_city_name = $db->get_var("SELECT Cities".$lang_prefix_field."_Name FROM Classificator_Cities".$lang_prefix_field." 
                                    WHERE Cities".$lang_prefix_field."_ID = '".$cookie_city_id."'");
  $phone_header = getPhoneHeaderByCityID($cookie_city_id);
}else{
  $cookie_city_name = getDefaultCityName();
  $phone_header = getPhoneHeaderByCityID(getDefaultCityName(true));
}

//Значение 1 или 2 берется из списка TypeSubdivisionForBind
$header_menu_active = (int)$_SESSION['header_menu_active'];
if(
  mb_stripos($_SERVER['REQUEST_URI'], nc_folder_path(sct::sub('easy_clean'))) !== false || 
  (
    mb_stripos($_SERVER['REQUEST_URI'], nc_folder_path(sct::sub('contract_cloth'))) === false && 
    $header_menu_active === 1
  )
){
  $_SESSION['header_menu_active'] = $header_menu_active = 1;
}
if(
  mb_stripos($_SERVER['REQUEST_URI'], nc_folder_path(sct::sub('contract_cloth'))) !== false || 
  (
    mb_stripos($_SERVER['REQUEST_URI'], nc_folder_path(sct::sub('easy_clean'))) === false && 
    $header_menu_active === 2
  )
){
  $_SESSION['header_menu_active'] = $header_menu_active = 2;
}
//По умолчанию 1
if(empty($header_menu_active)){
  $_SESSION['header_menu_active'] = $header_menu_active = 1;
}

$nav = nc_nav::get_instance();
$netshop = nc_netshop::get_instance();
$cart = $netshop->cart;
$items = $cart->get_items();
$total_items = $cart->get_item_count();
$totals_cart = $cart->get_totals();
$total_favorites = count($netshop->goodslist_favorite->get_all('DESC', 9999));
$cart_url = $lang_prefix.nc_folder_path(sct::sub('cart'));

//Стоимость товаров в корзине с учётом скидок на товары, но без учёта возможных скидок на корзину
$totalItems = $cart->get_item_totals_without_cart_discounts();
//Cумма скидки на корзину (на состав заказа)
$cartTotalDiscount = $cart->get_cart_discount_sum();
//Cумма скидки на товары
$itemsTotalDiscount = $cart->get_field_sum('TotalDiscount', false);
//Cумма скидок на товары и скидок на корзину
$fullDiscount = $cartTotalDiscount + $itemsTotalDiscount;
//Старая сумма заказа, вместе с учетом скидки на корзину и скидку на товары
$oldTotal = $totalItems + $itemsTotalDiscount;
//Финальная сумма заказа, с учетом скидки на товары и на корзину
$fullTotal = $cart->get_totals();



$arrConstJS = array(
                "TEXT_GO_TO" => Langs::TEXT_GO_TO,
                "TEMPLATE_PATH" => $template_path,
                "TEXT_ERROR" => mb_ucfirst(Langs::TEXT_ERROR),
                "TEXT_SHOW_ALL_FILTERS" => Langs::TEXT_SHOW_ALL_FILTERS,
                "TEXT_CHOOSE_CLOTH_TYPE" => Langs::TEXT_CHOOSE_CLOTH_TYPE,
                "TEXT_SELECT_TYPE_SPOT" => Langs::TEXT_SELECT_TYPE_SPOT,
                "TEXT_SUBSCRIPTION" => Langs::TEXT_SUBSCRIPTION,
                "TEXT_THANK_SUBSCRIBING" => Langs::TEXT_THANK_SUBSCRIBING,
);
//Выход
$exit_login = $lang_prefix."/netcat/modules/auth/?logoff=1&REQUESTED_FROM=".$REQUEST_URI."&REQUESTED_BY=".$REQUEST_METHOD;
if(mb_stripos($subLink, '/lk/') !== false){
  $exit_login = $lang_prefix."/netcat/modules/auth/?logoff=1&REQUESTED_FROM=/login/&REQUESTED_BY=".$REQUEST_METHOD;
}



// хлебные крошки для тайтла
$browse_path_title['active'] = "%NAME ";
$browse_path_title['active_link'] = "%NAME";
$browse_path_title['unactive'] = "%NAME";
$browse_path_title['divider'] = " / ";


//Пагинация
$browse_msg['prefix']   = ""; // Префикс перед блоком навигации
$browse_msg['suffix']   = ""; // Суффикс после блока навигации
$browse_msg['active']   = "<li class='page-nav-list__item'><span class='page-nav-list__current'>%PAGE</span></li>"; // Формат вывода текущей страницы
$browse_msg['unactive'] = "<li class='page-nav-list__item'><a href='".$lang_prefix."%URL' class='page-nav-list__link'>%PAGE</a></li>"; // Формат вывода ссылок
$browse_msg['divider']  = " "; // Разделитель между ссылками
?>