    <div class="page-up-btn-col">
      <div class="page-up-btn-col-scroll">
        <div class="page-up-btn js-scroll-top"></div>
      </div>
    </div>
    
  </div>
  <!-- /content -->
  
  <!-- .page-content -->
  
  <?= $this->partial('footer') ?>

  <div class="favorites-animate"></div>
</div>
<!-- .page-wrap -->
%Footer