<!-- Header -->%Header


<?php
$allCitiesDealers = $db->get_results("SELECT w.* FROM 
										(
											  SELECT cl.Cities".$lang_prefix_field."_ID as ID,cl.Cities".$lang_prefix_field."_Name as Name,a.PhoneHeader,0 as isMainOffice FROM Message204 as a 
												  LEFT JOIN Classificator_Cities".$lang_prefix_field." as cl ON a.Cities = cl.Cities".$lang_prefix_field."_ID
											  WHERE a.Checked = 1 AND a.Language_ID = 1 AND a.TypeContact IN (2,3) AND a.Cities IS NOT NULL AND a.Cities <> '' AND a.Cities <> 0
											  GROUP BY a.Cities

										  UNION ALL

											  SELECT cl.Cities".$lang_prefix_field."_ID as ID,cl.Cities".$lang_prefix_field."_Name as Name,a.PhoneHeader,1 as isMainOffice FROM Message204 as a 
												  LEFT JOIN Classificator_Cities".$lang_prefix_field." as cl ON a.Cities = cl.Cities".$lang_prefix_field."_ID
											  WHERE a.Language_ID = 1 AND a.TypeContact IN (1)
											  GROUP BY a.Cities
										) as w
                                      WHERE w.Name IS NOT NULL AND w.Name <> ''
									  ORDER BY w.Name", ARRAY_A);
$key_search_main_office = array_search(1, array_column($allCitiesDealers, 'isMainOffice'));
$header_phone_main_office = $allCitiesDealers[$key_search_main_office]['PhoneHeader'];
?>


<aside class="page-left-col">
  <div class="lang-select">
    <?=getLangHtml()?>
  </div>
    
  <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
    <div class="city-select js-city-select">
      <span class="city-select__current"><?=$cookie_city_name?></span>

      <div class="city-select__drop">
        <input type="text" placeholder="<?=Langs::TEXT_YOUR_CITY?>" value="" class="city-select__input js_change_city_header" data-url="<?=$lang_prefix?>/netcat/modules/default/getCities.php">
        <ul class="city-select-list">
          <li class="city-select-list__item js_city_min_length js_no_remove_li" style="display:none;"><i><?=Langs::TEXT_ENTER_LEAST_CHAR?></i></li>
          <li class="city-select-list__item js_city_not_found js_no_remove_li" style="display:none;"><strong><?=Langs::TEXT_CITY_ENTERED_NOT_FOUND?></strong></li>
          
          <?php
          foreach($allCitiesDealers as $arrRowCD){
            $is_active = false;
            if(mb_strtolower($arrRowCD['Name']) === mb_strtolower($cookie_city_name)){
              $is_active = true;
            }
            if(!empty((int)$arrRowCD['isMainOffice'])){
              continue;
            }
            $row_header_phone = $arrRowCD['PhoneHeader'];
            if(empty($row_header_phone)){
              $row_header_phone = $header_phone_main_office;
            }
            echo '<li class="city-select-list__item '.($is_active ? 'city-select-list__item_active' : NULL).'" data-id="'.$arrRowCD['ID'].'" data-phone="'.$row_header_phone.'" data-phone-clear="'.clearPhoneForTel($row_header_phone).'">'.$arrRowCD['Name'].'</li>';
          }
          ?>
          
          <?/*?>
          <li class="city-select-list__item city-select-list__item_active"><?=$cookie_city_name?></li>
          <?*/?>
        </ul>
      </div>

    </div>

    <a href="<?=$lang_prefix?>/" class="aside-logo">
      <img src="<?=$template_path?>img/logo.svg" width="156" height="153" alt="<?=$current_catalogue["Catalogue_Name"]?>">
    </a>
  <?}?>

  <ul class="main-menu">
    
    <?php
    $arrMenuHeaderCatalog = array(sct::sub('catalog'),sct::sub('innovation'),sct::sub('care'),sct::sub('app_area'),sct::sub('news'),sct::sub('media'),sct::sub('bracing'));
    foreach($nav->where_in("id", $arrMenuHeaderCatalog)->get() as $sd){
      $type_sub_for_bind = (int)$sd->TypeSubdivisionForBind_id;
      $show_menu = true;
      if(!empty($type_sub_for_bind)){
        if($header_menu_active !== $type_sub_for_bind){
          $show_menu = false;
        }
      }
      if(empty($sd->Checked)){
        continue;
      }
      if($show_menu){
        echo '<li class="main-menu__item '.($sd->active ? 'active' : NULL).'"><a href="'.$lang_prefix.$sd->url.'" class="main-menu__link"><span class="main-menu__text">'.getSubNameLang($sd->id).'</span></a> </li>';
      }
    }
    ?>
    
  </ul>

  <ul class="main-menu2">
    
    <?php
    $arrMenuHeader = array(sct::sub('about'),sct::sub('delivery'),sct::sub('payment'),sct::sub('contacts'));
    foreach($nav->where_in("id", $arrMenuHeader)->get() as $sd){
      if($sd->id == sct::sub('about')){
        $sd->url = '/#about';
      }
      if(empty($sd->Checked)){
        continue;
      }
      echo '<li class="main-menu2__item"><a href="'.$lang_prefix.$sd->url.'" class="main-menu2__link">'.getSubNameLang($sd->id).'</a> </li>';
    }
    ?>
    
  </ul>

  <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
    <ul class="social-list social-list_aside">
      <?if($current_catalogue['FacebookLink']){?>
        <li class="social-list__item"><a href="<?=$current_catalogue['FacebookLink']?>" class="social-list__link social-list__link_bf" target="_blank" rel="nofollow"></a> </li>
      <?}?>

      <?if($current_catalogue['VkLink']){?>
        <li class="social-list__item"><a href="<?=$current_catalogue['VkLink']?>" class="social-list__link social-list__link_vk" target="_blank" rel="nofollow"></a> </li>
      <?}?>

      <?if($current_catalogue['InstLink']){?>
        <li class="social-list__item"><a href="<?=$current_catalogue['InstLink']?>" class="social-list__link social-list__link_in" target="_blank" rel="nofollow"></a> </li>
      <?}?>

      <?if($current_catalogue['YoutubeLink']){?>
        <li class="social-list__item"><a href="<?=$current_catalogue['YoutubeLink']?>" class="social-list__link social-list__link_yt" target="_blank" rel="nofollow"></a> </li>
      <?}?>

      <li class="social-list__item"><a href="#subscribe-modal" class="social-list__link social-list__link_mail js-modal-link" target="_blank" rel="nofollow"></a> </li>
    </ul>
  <?}?>

</aside>
<div class="page-wrap">

  <header class="page-header js-fix-header">

    <a href="<?=$lang_prefix?>/" class="mobile-logo">
      <img src="<?=$template_path?>img/logo.svg" width="156" height="153" alt="<?=$current_catalogue["Catalogue_Name"]?>">
    </a>

    <div class="page-header__cont">
      <div class="page-header__left-col">
        <a href="<?=$lang_prefix.nc_folder_path(sct::sub('easy_clean'))?>" class="site-category-link <?=($header_menu_active === 1 ? 'site-category-link_active' : NULL)?>"><span class="site-category-link__ico"><?=getIconEasyCon(0)?></span><?=getSubNameLang(sct::sub('easy_clean'))?></a>

        <a href="<?=$lang_prefix.nc_folder_path(sct::sub('contract_cloth'))?>" class="site-category-link <?=($header_menu_active === 2 ? 'site-category-link_active' : NULL)?>"><span class="site-category-link__ico"><?=getIconEasyCon(1)?></span><?=getSubNameLang(sct::sub('contract_cloth'))?></a>
      </div>
      <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
        <form class="header-search" method="GET" action="<?=$lang_prefix.nc_folder_path(sct::sub('search'))?>">
          <input type="text" class="header-search__input js-search-autocomplete" name="search_query" data-url="<?=nc_folder_path(sct::sub('catalog'))?>?get_json=1" placeholder="<?=Langs::TEXT_SITE_SEARCH?>" value="">
          <input type="submit" class="header-search__submit" value="<?=Langs::TEXT_SEARCH?>">
          <span class="header-search__close js-toggle-search"></span>

          <div class="js-header-search-results header-search__results">

            <div class="empty-message"><?=Langs::TEXT_NO_RESULTS_WERE_FOUND_FOR_SEARCH?></div>
            <a href="#" class="js-search-full-url search-full-url"><?=Langs::TEXT_VIEW_ALL_RESULTS?>: <span class="count">12</span></a>
          </div>
        </form>
      <?}?>
      <div class="page-header__right-col">

        <button class="burger-btn js-toggle-menu">
          <span class="burger-btn__line"></span>
          <span class="burger-btn__line"></span>
          <span class="burger-btn__line"></span>
        </button>
        <div class="page-header__adaptive-contacts">
        
          <div class="lang-select">
            <?=getLangHtml()?>
          </div>
          
          <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
            <div class="city-select js-city-select">
              <span class="city-select__current"><?=$cookie_city_name?></span>

              <div class="city-select__drop">
                <input type="text" placeholder="<?=Langs::TEXT_YOUR_CITY?>" value="" class="city-select__input js_change_city_header" data-url="<?=$lang_prefix?>/netcat/modules/default/getCities.php">
                <ul class="city-select-list">
                  <li class="city-select-list__item js_city_min_length js_no_remove_li" style="display:none;"><i><?=Langs::TEXT_ENTER_LEAST_CHAR?></i></li>
                  <li class="city-select-list__item js_city_not_found js_no_remove_li" style="display:none;"><strong><?=Langs::TEXT_CITY_ENTERED_NOT_FOUND?></strong></li>
                  
                  <?php
                  foreach($allCitiesDealers as $arrRowCD){
                    $is_active = false;
                    if(mb_strtolower($arrRowCD['Name']) === mb_strtolower($cookie_city_name)){
                      $is_active = true;
                    }
                    if(!empty((int)$arrRowCD['isMainOffice'])){
                      continue;
                    }
                    $row_header_phone = $arrRowCD['PhoneHeader'];
                    if(empty($row_header_phone)){
                      $row_header_phone = $header_phone_main_office;
                    }
                    echo '<li class="city-select-list__item '.($is_active ? 'city-select-list__item_active' : NULL).'" data-id="'.$arrRowCD['ID'].'" data-phone="'.$row_header_phone.'" data-phone-clear="'.clearPhoneForTel($row_header_phone).'">'.$arrRowCD['Name'].'</li>';
                  }
                  ?>
                  
                  <?/*?>
                  <li class="city-select-list__item city-select-list__item_active"><?=$cookie_city_name?></li>
                  <?*/?>
                </ul>
              </div>

            </div>
          <?}?>
          
          <a href="tel:<?=clearPhoneForTel($phone_header)?>" class="page-header__tel"><?=$phone_header?></a>
        </div>

        <span class="page-header__search-btn js-toggle-search"></span>

        <a href="#" class="header-favorites js-toggle-favorites"><span class="header-favorites__count js_header_favorites_items_total" <?=(!$total_favorites ? 'style="display:none;"' : NULL)?>><?=$total_favorites?></span></a>
        
        <?if($_GET["test"] == 100 || $AUTH_USER_ID == 795 || $AUTH_USER_ID == 796 || $AUTH_USER_ID == 805){?>
        <?php
        $arrCartHeaderIds = array();
        foreach($items as $arrRowCHI){
          $arrCartHeaderIds[$arrRowCHI['Message_ID']] = array(
            'id' => $arrRowCHI['Message_ID'],
            'qty' => $arrRowCHI['Qty'],
          );
        }
        ?>
        <div class="header-cart js_header_cart <?=(empty($total_items) ? 'no_cart_items' : NULL)?>">
          <a href="<?=$cart_url?>" class="header-cart__link"><span class="header-cart__result-price"><?=formatPrice($totals_cart)?> ₽</span></a>

          <div class="header-cart__drop">
            <form method="post" data-url-cart="<?=$cart_url?>" action="<?=$lang_prefix.nc_modules('netshop')->get_add_to_cart_url()?>">
              <input type="hidden" name="redirect_url" value="<?= $_SERVER["REQUEST_URI"]; ?>"/>
              <input type="hidden" name="cart_mode" value=""/>
              <input type="hidden" name="json" value="1">
              
              <ul class="header-cart-list">
                <?if(!empty($total_items)){?>
                  <?=s_list_class(sct::sub('item'), sct::cc('item'), 'nc_ctpl='.sct::tpl('item').'&isNaked=1&json_cart_header='.json_encode($arrCartHeaderIds).'')?>
                <?}?>
              </ul>
            </form>
            <div class="header-cart__footer">
              <span>
                <?=Langs::TEXT_TOTAL_COST?>: <strong class="header-cart__price"><?=formatPrice($totals_cart)?> ₽</strong>
              </span>

              <a href="<?=$cart_url?>" class="btn-type1"><?=Langs::TEXT_GO_TO_CART?></a>
            </div>
          </div>
        </div>
        <a href="<?=($AUTH_USER_ID ? $lang_prefix.nc_folder_path(sct::sub('lk_personal')) : $lang_prefix.nc_folder_path(sct::sub('auth')))?>" class="header-personal"></a>
        <?}?>
      </div>
    </div>
  </header>

  <?php
  $html_favorites_small = trim(s_list_class(sct::sub('favorites'), sct::cc('favorites'), "nc_ctpl=".sct::tpl('favorites_small')."&isNaked=1"));
  ?>
  <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
    <div class="favorites-popup">
      <div class="page-width">
        <span class="favorites-popup__close js-toggle-favorites"></span>
        <div class="favorites-popup__title"><?=Langs::TEXT_MY_FAVORITES?></div>

        <div class="favorites-scroll-wrap">
          <span class="favorites-scroll-wrap__empty" <?=(!empty($html_favorites_small) ? 'style="display:none;"' : NULL)?>><?=Langs::TEXT_NO_PRODUCTS_IN_FAVORITES?></span>
          <div class="favorites-scroll">
            <?=$html_favorites_small?>
          </div>
        </div>

        <div class="favorites-popup__links" <?=(!empty($html_favorites_small) ? 'style="display:flex;"' : NULL)?>>

          <a href="<?=$lang_prefix?>/netcat/modules/default/getFavoritesPDF.php" class="file-link" target="_blank">
            <?=Langs::TEXT_OPEN?> <span class="file-link__params">(PDF)</span>
          </a>
          <a href="<?=$lang_prefix?>/netcat/modules/default/getFavoritesPDF.php?is_download=1" class="file-link file-link_download" target="_blank">
            <?=Langs::TEXT_DOWNLOAD?> <span class="file-link__params">(PDF)</span>
          </a>
          <a href="<?=$lang_prefix?>/netcat/modules/default/getFavoritesPDF.php" class="file-link file-link_mail js-open-email-form">
            <?=Langs::TEXT_SEND_EMAIL?>
          </a>

          <form class="email-form" id="form_send_email_favorites_pdf" action="<?=$lang_prefix?>/netcat/modules/default/getFavoritesPDF.php?is_email=1">
            <div class="email-form__row">
              <div class="email-form__col">
                <input type="email" name="email" placeholder="Укажите ваш E-mail" class="email-form__input" required>
                <input type="submit" value="&#xe927;" class="email-form__submit">
              </div>
              <div class="email-form__col">
                <label class="checkbox"><input type="checkbox" class="checkbox__input" checked="checked" name="agreement" required> <span class="checkbox__text"><?=Langs::TEXT_I_AGREE_TO?> <a href="#" class="js-modal-link" data-fancybox data-type="ajax" data-src="<?=$lang_prefix.nc_folder_path(sct::sub('privacy_policy'))?>?isNaked=1"><?=Langs::TEXT_PRIVACY_POLICY?></a></span></label>
              </div>
            </div>

            <span class="email-form__close js-close-email-form"></span>
          </form>

        </div>
      </div>

    </div>
  <?}?>

  <!-- content -->
  <div class="page-content"><!-- /Header -->

<!-- Footer -->    <div class="page-up-btn-col">
      <div class="page-up-btn-col-scroll">
        <div class="page-up-btn js-scroll-top"></div>
      </div>
    </div>
    
  </div>
  <!-- /content -->
  
  <!-- .page-content -->
  
  <?= $this->partial('footer') ?>

  <div class="favorites-animate"></div>
</div>
<!-- .page-wrap -->
%Footer<!-- /Footer -->