<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$row_i = 0;
foreach($f_ImagePhotos->to_array() as $row_image){
  if(!empty($is_modal)){
    if(!empty($is_active_first) && $row_i === 0){
      echo '<div class="modal-gallery-slider__item">
              <div class="equal-pic js-equal-height" data-mh="gallery">
                <img src="'.$row_image->resize('1350', '900').'" width="1350" height="900" alt="">
                <!-- src у первого, чтоб не скакал попап.  Первым делаем в зависитимости от параметра id в ajax запросе -->
              </div>
            </div>';
    }else{
      echo '<div class="modal-gallery-slider__item">
              <div class="equal-pic js-equal-height" data-mh="gallery">
                <img data-lazy="'.$row_image->resize('1350', '900').'" width="1350" height="900" alt="">
              </div>
            </div>';
    }
  }else{
    echo '<div class="small-gallery-scroll__item">
            <a data-type="ajax" data-src="/netcat/modules/default/getImagePhotosGallery.php?item_id='.$item_id.'&collection_id='.$f_RowID.'&row_i_active='.$row_index_block.'" href="javascript:;" class="small-gallery-scroll__link js-modal-link js-gallery-link"><span class="small-gallery-scroll__pic" style="background-image: url('.$row_image->resize('370', '250').');"></span></a>
          </div>';
  }
  $row_i++;
  $row_index_block++;
}
?>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>