<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?if(!empty($is_modal)){?>
  <?if($row_i === 0 && (int)$f_RowID === (int)$row_active_id){?>
    <div class="modal-gallery-slider__item">
      <div class="equal-pic">
        <img src="<?=$f_Image->resize('1350', '900')?>" width="1350" height="900" alt="">
        <!--active-->
        <!-- src у первого, чтоб не скакал попап.  Первым делаем в зависитимости от параметра id в ajax запросе -->
      </div>
    </div>
  <?}else{?>
    <div class="modal-gallery-slider__item">
      <div class="equal-pic">
        <img data-lazy="<?=$f_Image->resize('1350', '900')?>" width="1350" height="900" alt="">
      </div>
    </div>
  <?}?>
<?}else{?>
  <div class="small-gallery-scroll__item">
    <a data-type="ajax" data-src="/netcat/modules/default/getImagePhotosGallery.php?item_id=<?=$item_id?>&collection_id=<?=$collection_id?>&row_active_id=<?=$f_RowID?>" href="javascript:;" class="small-gallery-scroll__link js-modal-link js-gallery-link"><span class="small-gallery-scroll__pic" style="background-image: url(<?=$f_Image->resize('370', '250')?>);"></span></a>
  </div>
<?}?>

<?php
$row_i++;
?>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>