.nc-netshop-location-autocomplete-dropdown {
    max-height: 300px;
    overflow: auto;
    background: white;
    color: black;
    border: 1px solid #999;
    padding: 0;
    line-height: 1.3;
    z-index: 1500; /* у модального диалога z-index: 1001 */
    cursor: default;
}

.nc-netshop-location-autocomplete-dropdown-item {
    list-style: none;
    margin: 0;
    padding: 4px 8px;
}

.nc-netshop-location-autocomplete-dropdown-item.nc--focus {
    background: steelblue;
    color: white;
    font-weight: normal;
    border: none;
}