<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?php
$netshop = nc_netshop::get_instance();
$order = $netshop->load_order($f_RowID);
$items = $order->get_items();
$total = $order->get_totals();
$total_items = $order->get_item_totals();
$delivery_cost = (float)$order["DeliveryCost"];
if(empty($delivery_cost)){
  $delivery_cost = Langs::TEXT_FREE;
}else{
  $delivery_cost = formatPrice($delivery_cost).' ₽';
}
$delivery_method = new nc_netshop_delivery_method($order['DeliveryMethod']);

$arrItems = array();
foreach($items as $item){
  $arrItems[$item['Message_ID']] = array(
    'id' => $item['Message_ID'],
    'qty' => $item['Qty'],
  );
}
?>
<div class="order-list__item">
  <div class="order-list__header">
    <span class="order-list__name"><?=Langs::TEXT_ORDER?> № <?=$f_RowID?> / <?=date('d.m.Y', strtotime($order['Created']))?></span>
    <span class="order-list__status"><?=$arrStatus[(int)$order['Status']]?></span>
    <span class="order-list__delivery"><?=$delivery_method->get('name')?></span>
  </div>

  <div class="order-list__info">
    <table class="basket-table">
      <thead>
        <tr>
          <th class="basket-table__cell basket-table__cell_title"><?=Langs::TEXT_DESCRIPTION?>:</th>
          <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_PRICE?>:</th>
          <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_AMOUNT?>:</th>
          <th class="basket-table__cell basket-table__cell_title basket-table__cell_right"><?=Langs::TEXT_SUM?>:</th>
        </tr>
      </thead>
      <tbody>
        
        <?=s_list_class(sct::sub('item'), sct::cc('item'), "nc_ctpl=".sct::tpl('item')."&isNaked=1&no_wrap_catalog=1&json_cart_order=".json_encode($arrItems)."")?>
        
        <tr>
          <td class="basket-table__cell basket-table__cell_result" colspan="4">
            <?=Langs::TEXT_TOTAL_COST?>: <?=formatPrice($total_items)?> ₽<br>
            <?=Langs::TEXT_DELIVERY?>: <?=$delivery_cost?><br>
            <?=Langs::TEXT_SHIPPING_ADDRESS?>: <?=$order['Zip']?>, <?=$order['City']?>, <?=$order['Address']?><br>
            <strong><?=Langs::TEXT_TOTAL?>: <?=formatPrice($total)?> ₽</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>