<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?if(!empty($cc_settings['wrapSectionNoEnd'])){?>
  <section class="vertical-section vertical-section_gray vertical-section_gray-decor">
<?}?>
<?if($totRows){?>
  <div class="main-promo-params js-check-in-view">
<?}?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div class="main-promo-params__item <?=($f_RowNum % 5 == 0 ? 'main-promo-params__item_large' : NULL)?>">
  <div class="main-promo-params__cont">
    <span class="main-promo-params__pic" style="background-image: url(<?=$f_Image?>);"></span>
    <div class="main-promo-params__text">
      <strong class="main-promo-params__title"><?=$f_Header?></strong>
      <span class="main-promo-params__hidden">
        <?=$f_Text?>
      </span>
    </div>
  </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><?if($totRows){?>
  </div>
<?}?><!-- /FormSuffix -->