<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<div class="main-promo-params__item <?=($f_RowNum % 5 == 0 ? 'main-promo-params__item_large' : NULL)?>">
  <div class="main-promo-params__cont">
    <span class="main-promo-params__pic" style="background-image: url(<?=$f_Image?>);"></span>
    <div class="main-promo-params__text">
      <strong class="main-promo-params__title"><?=$f_Header?></strong>
      <span class="main-promo-params__hidden">
        <?=$f_Text?>
      </span>
    </div>
  </div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>