<div class="nc-modal-dialog" data-hidden-tabs="tab-system">
  <div class="nc-modal-dialog-header">
    <h2>
      <?= $current_cc["Sub_Class_Name"] ?>
    </h2>
  </div>
  <div class="nc-modal-dialog-body">

    <?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
    <form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
      <div id='nc_moderate_form'>
        <div class='nc_clear'></div>
        <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
        <?= $nc_core->token->get_input() ?>
        <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
        <input name='cc' type='hidden' value='<?= $cc ?>' />
        <input name='sub' type='hidden' value='<?= $sub ?>' />
        <input name='posting' type='hidden' value='1' />
        <input name='curPos' type='hidden' value='<?= $curPos ?>' />
        <input name='f_Language_ID' type='hidden' value='1' />
        <?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
      </div>
      
      <div data-tab-caption="Общие данные" data-tab-id="data-general">
        <div class='nc-field nc-field-type-file'><?= nc_file_field('Image', "size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-string'><?= nc_string_field('VideoUrl', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-multifile'><?= $f_Images->form() ?></div>
        
        <div class='nc-field nc-field-type-relation'>
          <span class="nc-field-caption">Тип ткани:</span>
          <?php
          $arrParamsCloth = array(
            'classID' => 164,
            'fieldname' => 'TypeCloth',
            'value' => $f_TypeCloth,
            'hide_default' => true,
          );
          echo get_select_list($arrParamsCloth);
          ?>
        </div>
        
        <div class='nc-field nc-field-type-multiselect'>
          <span class="nc-field-caption">Тип пятна:</span>
          <?php
          $arrParamsTypeSpot = array(
              'classID' => 'TypeSpot',
              'fieldname' => 'TypeSpot[]',
              'value' => $f_TypeSpot,
              'add_dop_value' => 'class="js_chosen_multiple js_type_spot" multiple',
              'hide_default' => true,
          );
          echo get_select_list($arrParamsTypeSpot, 2);
          ?>
        </div>
        <br/>
        
        <div class='nc-field nc-field-type-multiselect js_spot'>
          <span class="nc-field-caption">Пятна:</span>
          <p>Выберите "Тип пятна"</p>
          <div class="js_spot_content">
            
          </div>
        </div>
        <br/>
      </div>

      <div data-tab-caption="Русская версия" data-tab-id="data-ru">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', false, 'Name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-text"><?= FieldHelper::renderTextField('ru', false, 'Text', "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      <div data-tab-caption="Английская версия" data-tab-id="data-en">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', false, 'Name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-text"><?= FieldHelper::renderTextField('en', false, 'Text', "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      
      <?=FieldHelper::renderTabSystemLang($classID, $message)?>
      
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <? if (!$AUTH_USER_ID && $current_cc['UseCaptcha'] && $MODULE_VARS['captcha']) { ?><?= nc_captcha_formfield() ?><br/><br/><?= NETCAT_MODERATION_CAPTCHA ?> (*):<br/><input type='text' name='nc_captcha_code' size='10'><br/><br/><? } ?>
      <div class='nc-hint nc-hint-required-fields'><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div>
      <?= nc_submit_button(NETCAT_MODERATION_BUTTON_ADD) ?>
    </form>

  </div>
  <div class="nc-modal-dialog-footer">
    <!-- Для стандартных кнопок нужно указать атрибут data-action: -->
    <button data-action="close">Закрыть</button>
    <button data-action="submit">Сохранить</button>
    <?if(!empty($system_env["AutosaveUse"])){?>
      <button data-action="save-draft">Сохранить черновик</button>
    <?}?>
  </div>
  
  <link rel="stylesheet" href="<?=$HTTP_ROOT_PATH?>modules/default/js/chosen/chosen.min.css" type="text/css" />
  <script type="text/javascript" src="<?=$HTTP_ROOT_PATH?>modules/default/js/chosen/chosen.jquery.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.js_chosen_multiple').chosen({
        width:'300px',
        search_contains: true,
        placeholder_text_multiple: "Выберите Тип пятна",
      });
      
      $('.js_type_spot').on('change', function(){
        
        var arrActiveIds = [];
        $('.js_spot .js_spot_content input:checkbox:checked').each(function(){
          arrActiveIds.push($(this).val());
        });
        
        var arrIds = [];
        if($(this).val()){
          arrIds = $(this).val();
        }
        
        $.ajax({  
          'url': '/netcat/modules/default/getSpotHtml.php',
          'type': 'POST',  
          'data': {ids:arrIds.join(','), active_ids:arrActiveIds.join(',')},  
          'dataType':'HTML',
          'success': function(data){
            data = $.trim(data);
            if(data){
              $('.js_spot p').hide();
              $('.js_spot .js_spot_content').html(data);
            }else{
              $('.js_spot p').show();
              $('.js_spot .js_spot_content').html('');
            }
          }
        });
        
      });
    });
  </script>
</div>