<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?php
$arrCoords = array();
$arrIds = array();
$arrHtml = array();
$arrInfoCompany = array();
?>

<div class="page-width">
  <?=getBrcrHtml()?>
  <h1><?=getSubNameLang($sub)?></h1>

  <div class="page-text-top">
    <?=nl2br($cc_settings['Text'.$lang_prefix_field])?>
    
    <?if($cc_settings['TextHidden'.$lang_prefix_field]){?>
      <div class="page-text-top__hidden">
        <?=nl2br($cc_settings['TextHidden'.$lang_prefix_field])?>
      </div>

      <div class="page-text-top__more">
        <span class="page-text-top__more-btn" data-text="<?=Langs::TEXT_SHOW_LESS?>"><?=Langs::TEXT_SHOW_BIG_MORE?></span>
      </div>
    <?}?>
  </div>

</div>

<div class="map-filter">
  <div class="page-width">
    <div class="map-filter__row">
      <div class="map-filter__col map-filter__col_select">
        <div class="map-filter__line">
          <?php
          $allCountries = $db->get_results("SELECT a.Countries".$lang_prefix_field."_ID as ID,a.Countries".$lang_prefix_field."_Name as Name FROM Classificator_Countries".$lang_prefix_field." as a 
                                                INNER JOIN Message".$classID." as p ON a.Countries".$lang_prefix_field."_ID = p.Countries
                                            WHERE a.Checked = 1 AND p.Language_ID = 1
                                            GROUP BY ID", ARRAY_A);
          ?>
          <select class="js_change_country">
            <?foreach($allCountries as $arrRowCountry){?>
              <option value="<?=$arrRowCountry['ID']?>"><?=$arrRowCountry['Name']?></option>
            <?}?>
          </select>
        </div>
      </div>
      <div class="map-filter__col map-filter__col_input">
        <div class="map-filter__line" style="position:relative;">
          <input type="text" class="map-filter__input js_search_map_bracing" placeholder="<?=Langs::TEXT_ENTER_YOUR_CITY_AND_STREET_AND_HOUSE?>" value="<?=$cookie_city_name.', '?>">
          <div class="header-search__results header-search__results_articles js_search_ymaps">
            
          </div>
        </div>
      </div>
      <div class="map-filter__col map-filter__col_btn">
        <div class="map-filter__line">
          <a href="#" class="filter-type-btn js-restoration-show-map active" data-id="1"><?=Langs::TEXT_ON_THE_MAP?></a>
          <a href="#" class="filter-type-btn filter-type-btn_list js-restoration-show-list" data-id="2"><?=Langs::TEXT_LIST?></a>
        </div>
      </div>
    </div>
    
    <ul class="checkbox-list checkbox-list_inline js_filter_checkbox_bracing">
      <?php
      foreach($arrFilterCheck as $arrRowFCheck){
        $is_active = false;
        if((int)$_GET[$arrRowFCheck['param']] === (int)$arrRowFCheck['value']){
          $is_active = true;
        }
        echo '<li class="checkbox-list__item">
                <label class="checkbox"><input type="checkbox" '.($is_active ? 'checked="checked"' : NULL).' class="checkbox__input" data-param-name="'.$arrRowFCheck['param'].'" value="'.$arrRowFCheck['value'].'"> <span class="checkbox__text">'.$arrRowFCheck['name'].'</span></label>
              </li>';
      }
      ?>
    </ul>
  </div>
</div>

<!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$f_Phones = explode(',', $f_Phones);
$f_Phones = array_filter($f_Phones);
$f_Phones = array_values($f_Phones);

if(!empty($f_Longitude) && !empty($f_Latitude)){
  $arrInfoCompany[] = array(
      'name' => $f_Name,
      'content' => $f_Address,
  );
  $arrCoords[] = $f_Longitude.','.$f_Latitude;
  $arrIds[] = $f_RowID;
}
$arrHtml[] = '<a href="'.$lang_prefix.$fullLink.'" class="restoration-list__item js_show_company_list" data-id="'.$f_RowID.'">
                <span class="restoration-list__name">'.$f_Name.'</span>
                <span class="restoration-list__contacts">
                  <span class="restoration-list__address">'.$f_Address.'</span>
                  '.($f_Phones ? '<span class="restoration-list__phone">'.implode(', ', $f_Phones).'</span>' : NULL).'
                </span>
                <span class="restoration-list__time '.(!$f_WorkTime ? 'no_icon' : NULL).'">'.$f_WorkTime.'</span>
              </a>';
?><!-- /RecordTemplate -->

<!-- FormSuffix --><?php
$set_zoom = 10;
$set_map_city_name = $db->get_var("SELECT Cities_Name FROM Classificator_Cities 
                                   WHERE Cities_ID = '".$city_id."'");
if(!empty($search_value)){
  $set_map_city_name = $search_value;
  $set_zoom = 13;
}

$arrInfoCompanyJson = array();
foreach($arrInfoCompany as $arr){
  $arrInfoCompanyJson[] = json_encode($arr);
}
?>

<div class="page-width js_bracing_empty" <?=(!empty($arrHtml) ? 'style="display:none;"' : NULL)?>>
  <div class="catalog-empty catalog-empty2">
    <div class="catalog-empty__row">
      <div class="catalog-empty__col">
        <strong class="catalog-empty__title"><?=Langs::TEXT_NO_RESULTS_FOUND_FOR_YOUR_REQUEST?></strong> <?=Langs::TEXT_TRY_DIFF_SEARCH_OPTIONS?>
      </div>
      <div class="catalog-empty__col">
        <a href="<?=$lang_prefix.$subLink?>" class="btn-type3">
          <?=Langs::TEXT_CLEAN_FILTER_LOWER?>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="js_filter_content" <?=(empty($arrHtml) ? 'style="display:none;"' : NULL)?>>
  <div class="restoration-map-wrap">
    <div class="contacts-map-caption"><?=Langs::TEXT_MOVE_MAP_SWIPE_TWO_FINGERS?></div>
    <div class="restoration-map" id="restoration-map" style="display:<?=((int)$_GET['active_block'] === 1 || empty($_GET['active_block']) ? 'block' : 'none')?>;" data-zoom="<?=$set_zoom?>" data-center="" data-city="<?=$set_map_city_name?>" data-points="<?=implode(';', $arrCoords)?>" data-ids="<?=implode(';', $arrIds)?>" data-points-info='<?=implode(";", $arrInfoCompanyJson)?>'></div>
  </div>

  <div class="page-width">
    <div class="restoration-list" style="display:<?=((int)$_GET['active_block'] === 2 ? 'block' : 'none')?>;">
      <?=implode('', $arrHtml)?>
      <?if(isset($_GET['ids']) && !$totRows){?>
        <li class="restoration-list__item"><?=Langs::TEXT_VISIBLE_AREA_MAP_NOT_BRACINGS?></li>
      <?}?>
    </div>
  </div>
</div>

<div class="js_content_company">
  
</div><!-- /FormSuffix -->