<?= $f_AdminCommon; ?>
<?php
$arrCoords = array();
$arrIds = array();
$arrHtml = array();
$arrInfoCompany = array();
?>

<div class="page-width">
  <?=getBrcrHtml()?>
  <h1><?=getSubNameLang($sub)?></h1>

  <div class="page-text-top">
    <?=nl2br($cc_settings['Text'.$lang_prefix_field])?>
    
    <?if($cc_settings['TextHidden'.$lang_prefix_field]){?>
      <div class="page-text-top__hidden">
        <?=nl2br($cc_settings['TextHidden'.$lang_prefix_field])?>
      </div>

      <div class="page-text-top__more">
        <span class="page-text-top__more-btn" data-text="<?=Langs::TEXT_SHOW_LESS?>"><?=Langs::TEXT_SHOW_BIG_MORE?></span>
      </div>
    <?}?>
  </div>

</div>

<div class="map-filter">
  <div class="page-width">
    <div class="map-filter__row">
      <div class="map-filter__col map-filter__col_select">
        <div class="map-filter__line">
          <?php
          $allCountries = $db->get_results("SELECT a.Countries".$lang_prefix_field."_ID as ID,a.Countries".$lang_prefix_field."_Name as Name FROM Classificator_Countries".$lang_prefix_field." as a 
                                                INNER JOIN Message".$classID." as p ON a.Countries".$lang_prefix_field."_ID = p.Countries
                                            WHERE a.Checked = 1 AND p.Language_ID = 1
                                            GROUP BY ID", ARRAY_A);
          ?>
          <select class="js_change_country">
            <?foreach($allCountries as $arrRowCountry){?>
              <option value="<?=$arrRowCountry['ID']?>"><?=$arrRowCountry['Name']?></option>
            <?}?>
          </select>
        </div>
      </div>
      <div class="map-filter__col map-filter__col_input">
        <div class="map-filter__line" style="position:relative;">
          <input type="text" class="map-filter__input js_search_map_bracing" placeholder="<?=Langs::TEXT_ENTER_YOUR_CITY_AND_STREET_AND_HOUSE?>" value="<?=$cookie_city_name.', '?>">
          <div class="header-search__results header-search__results_articles js_search_ymaps">
            
          </div>
        </div>
      </div>
      <div class="map-filter__col map-filter__col_btn">
        <div class="map-filter__line">
          <a href="#" class="filter-type-btn js-restoration-show-map active" data-id="1"><?=Langs::TEXT_ON_THE_MAP?></a>
          <a href="#" class="filter-type-btn filter-type-btn_list js-restoration-show-list" data-id="2"><?=Langs::TEXT_LIST?></a>
        </div>
      </div>
    </div>
    
    <ul class="checkbox-list checkbox-list_inline js_filter_checkbox_bracing">
      <?php
      foreach($arrFilterCheck as $arrRowFCheck){
        $is_active = false;
        if((int)$_GET[$arrRowFCheck['param']] === (int)$arrRowFCheck['value']){
          $is_active = true;
        }
        echo '<li class="checkbox-list__item">
                <label class="checkbox"><input type="checkbox" '.($is_active ? 'checked="checked"' : NULL).' class="checkbox__input" data-param-name="'.$arrRowFCheck['param'].'" value="'.$arrRowFCheck['value'].'"> <span class="checkbox__text">'.$arrRowFCheck['name'].'</span></label>
              </li>';
      }
      ?>
    </ul>
  </div>
</div>

