<?php
$set_zoom = 10;
$set_map_city_name = $db->get_var("SELECT Cities_Name FROM Classificator_Cities 
                                   WHERE Cities_ID = '".$city_id."'");
if(!empty($search_value)){
  $set_map_city_name = $search_value;
  $set_zoom = 13;
}

$arrInfoCompanyJson = array();
foreach($arrInfoCompany as $arr){
  $arrInfoCompanyJson[] = json_encode($arr);
}
?>

<div class="page-width js_bracing_empty" <?=(!empty($arrHtml) ? 'style="display:none;"' : NULL)?>>
  <div class="catalog-empty catalog-empty2">
    <div class="catalog-empty__row">
      <div class="catalog-empty__col">
        <strong class="catalog-empty__title"><?=Langs::TEXT_NO_RESULTS_FOUND_FOR_YOUR_REQUEST?></strong> <?=Langs::TEXT_TRY_DIFF_SEARCH_OPTIONS?>
      </div>
      <div class="catalog-empty__col">
        <a href="<?=$lang_prefix.$subLink?>" class="btn-type3">
          <?=Langs::TEXT_CLEAN_FILTER_LOWER?>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="js_filter_content" <?=(empty($arrHtml) ? 'style="display:none;"' : NULL)?>>
  <div class="restoration-map-wrap">
    <div class="contacts-map-caption"><?=Langs::TEXT_MOVE_MAP_SWIPE_TWO_FINGERS?></div>
    <div class="restoration-map" id="restoration-map" style="display:<?=((int)$_GET['active_block'] === 1 || empty($_GET['active_block']) ? 'block' : 'none')?>;" data-zoom="<?=$set_zoom?>" data-center="" data-city="<?=$set_map_city_name?>" data-points="<?=implode(';', $arrCoords)?>" data-ids="<?=implode(';', $arrIds)?>" data-points-info='<?=implode(";", $arrInfoCompanyJson)?>'></div>
  </div>

  <div class="page-width">
    <div class="restoration-list" style="display:<?=((int)$_GET['active_block'] === 2 ? 'block' : 'none')?>;">
      <?=implode('', $arrHtml)?>
      <?if(isset($_GET['ids']) && !$totRows){?>
        <li class="restoration-list__item"><?=Langs::TEXT_VISIBLE_AREA_MAP_NOT_BRACINGS?></li>
      <?}?>
    </div>
  </div>
</div>

<div class="js_content_company">
  
</div>