<?= $f_AdminButtons; ?>

<?php
$f_Phones = explode(',', $f_Phones);
$f_Phones = array_filter($f_Phones);
$f_Phones = array_values($f_Phones);

$arrItemParams = array(
  '_ItemKey' => $classID.':'.$message,
  'Class_ID' => $classID,
  'Message_ID' => $message,
);
$arrItem = itemQueryLand::getItemField($arrItemParams);
$arrRating = ratingCompany($message);

$arrInfoCompanyJson = array(
    json_encode(
      array(
          'name' => $f_Name,
          'content' => $f_Address,
      )
    ),
);


$arrIconsPay = array();
if(!empty($f_isCash)){
  $arrIconsPay[] = array(
      'image' => $template_path.'img/cash-ico.svg',
      'name' => Langs::TEXT_CASH_ONLY,
  );
}
if(!empty($f_isCashlessPay)){
  $arrIconsPay[] = array(
      'image' => $template_path.'img/card-ico.svg',
      'name' => Langs::TEXT_BY_CARD,
  );
}
if(!empty($f_isOnlinePay)){
  $arrIconsPay[] = array(
      'image' => $template_path.'img/online-ico.svg',
      'name' => Langs::TEXT_ONLINE,
  );
}
?>

<div class="page-width">

  <?=getBrcrHtml(false, false, false, $message, $f_Name)?>
  <h1><?=getSubNameLang($sub)?></h1>

  <div class="page-text-top">
    <p><?=$cc_settings['Text'.$lang_prefix_field]?></p>
    
    <?if($cc_settings['TextHidden'.$lang_prefix_field]){?>
      <div class="page-text-top__hidden">
        <?=nl2br($cc_settings['TextHidden'.$lang_prefix_field])?>
      </div>

      <div class="page-text-top__more">
        <span class="page-text-top__more-btn" data-text="<?=Langs::TEXT_SHOW_LESS?>"><?=Langs::TEXT_SHOW_BIG_MORE?></span>
      </div>
    <?}?>
  </div>

</div>

<?php
$set_map_city_name = $db->get_var("SELECT Cities_Name FROM Classificator_Cities 
                                   WHERE Cities_ID = '".$city_id."'");
?>
<div class="restoration-map-wrap">
  <div class="contacts-map-caption"><?=Langs::TEXT_MOVE_MAP_SWIPE_TWO_FINGERS?></div>
  <div class="restoration-map is_one" id="restoration-map" data-zoom="12" data-center="<?=($f_Longitude.','.$f_Latitude)?>" data-city="<?=$set_map_city_name?>" data-points="<?=($f_Longitude.','.$f_Latitude)?>" data-ids="<?=$message?>" data-points-info='<?=implode(";", $arrInfoCompanyJson)?>'></div>
</div>

<div class="js_company_detail">
  <div class="company-detail">
    <div class="restoration-company">
      <div class="page-width">
        <h3><?=$f_Name?></h3>

        <div class="restoration-company__row">
          <div class="restoration-company__left">
            <dl class="company-params">
              <dt><?=Langs::TEXT_ADDRESS?>:</dt>
              <dd><?=$f_Address?></dd>
            </dl>
            <?if($f_Phones){?>
              <dl class="company-params">
                <dt><?=Langs::TEXT_PHONE?>:</dt>
                <dd>
                  <?php
                  $total_phones = count($f_Phones);
                  $row_i = 1;
                  ?>
                  <?foreach($f_Phones as $phone){?>
                    <a href="tel:<?=clearPhoneForTel($phone)?>"><?=$phone?></a>
                    <?if($total_phones != $row_i){?>
                      , 
                    <?}?>
                    <?php
                    $row_i++;
                    ?>
                  <?}?>
                </dd>
              </dl>
            <?}?>

            <dl class="company-params">
              <dt><?=Langs::TEXT_HOURS_WORK?>:</dt>
              <dd><?=$f_WorkTime?></dd>
            </dl>

            <?if($f_SiteLink){?>
              <dl class="company-params">
                <dt><?=Langs::TEXT_SITE_COMPANY?>:</dt>
                <dd><a href="<?=$f_SiteLink?>" target="_blank"><?=$f_SiteLink?></a></dd>
              </dl>
            <?}?>
            
            <?if(!empty($arrIconsPay)){?>
              <dl class="company-params">
                <dt><?=Langs::TEXT_PAYMENT_METHODS?>:</dt>
                <dd>
                  <ul class="payment-list">
                    <?php
                    foreach($arrIconsPay as $arrRowIcon){
                      echo '<li class="payment-list__item tooltip-title" data-title="'.$arrRowIcon['name'].'"><img src="'.$arrRowIcon['image'].'" width="" height="" alt=""></li>';
                    }
                    ?>
                  </ul>
                </dd>
              </dl>
            <?}?>

            <?if(!empty($arrRating) || $f_isNew){?>
            <dl class="company-params">
              <dt><?=Langs::TEXT_OVERALL_RATING?>:</dt>
              <dd>
                <div class="company-rating">
                  <?if($f_isNew){?>
                    <?=Langs::TEXT_NEW_CONSTRICTOR?>
                  <?}else{?>
                    <div class="company-rating__average"><?=$arrRating['total']?></div>

                    <div class="company-rating__hidden">
                      <?=Langs::TEXT_PRICE_QUALITY_RATIO?> — <strong><?=$arrRating['price_quality']?></strong>
                      <br> <?=Langs::TEXT_QUALITY_SERVICES_PROVIDED?> — <strong><?=$arrRating['quality_service']?></strong>
                      <br> <?=Langs::TEXT_PERSONEL_ASSESSMENT?> — <strong><?=$arrRating['personel']?></strong>
                      <br> <?=Langs::TEXT_ORDER_EXECUTION_SPEED?> — <strong><?=$arrRating['order_speed']?></strong>
                      <br> <?=Langs::TEXT_FEEDBACK_QUALITY?> — <strong><?=$arrRating['feedback_quality']?></strong>
                    </div>
                  <?}?>
                </div>
              </dd>
            </dl>
            <?}?>

          </div>
          
          <?php
          $additional_service_data = ${f_AdditionalService.$lang_prefix_field};
          ?>
          <?if(!empty($arrItem['AdditionalData']['TypeBanners']) || $additional_service_data){?>
            <div class="restoration-company__right">
              <h5><?=Langs::TEXT_COMPANY_SERVICES?></h5>
              
              <?if(!empty($arrItem['AdditionalData']['TypeBanners'])){?>
                <dl class="restoration-company__type">
                  <dt><?=Langs::TEXT_TYPES_OF_BANNERS?>:</dt>
                  <dd>
                    <ul class="restoration-ico">
                      <?foreach($arrItem['AdditionalData']['TypeBanners'] as $arrRowTB){?>
                        <li class="restoration-ico__item"><img src="<?=$arrRowTB['Image']?>" width="20" height="20" alt="">
                          <div class="restoration-ico__info"><?=$arrRowTB['name']?></div>
                        </li>
                      <?}?>
                    </ul>
                  </dd>
                </dl>
              <?}?>
              
              <?php
              if($lang_id !== 1){
                $additional_service_data = explode(',', $additional_service_data);
              }
              ?>
              <?if($additional_service_data){?>
                <ul class="restoration-company__services">
                  <?foreach($additional_service_data as $additional_service_name){?>
                    <li><?=$additional_service_name?></li>
                  <?}?>
                </ul>
              <?}?>
            </div>
          <?}?>
          
        </div>
      </div>
    </div>
    
    <?=s_list_class(sct::sub('review_bracing'), sct::cc('review_bracing'), "nc_ctpl=".sct::tpl('review_bracing_list')."&isNaked=1&company_id=".$message."")?>
    
  </div>

  <?=s_list_class(sct::sub('review_bracing'), sct::cc('review_bracing'), "nc_ctpl=".sct::tpl('review_bracing_form')."&isNaked=1&company_id=".$message."")?>
  
</div>








