<?= $f_AdminCommon; ?>
<div class="page-width" <?=($cc == sct::cc('main_about') ? 'id="about"' : NULL)?>>
  <div class="news-detail">
    <?if(!$isNaked){?>
      <?=getBrcrHtml()?>
    <?}?>
    <h1><?=getSubNameLang($sub)?></h1>