<!-- FormPrefix --><?= $f_AdminCommon; ?><!-- /FormPrefix -->

<!-- RecordTemplate --><div>
  <?= $f_AdminButtons; ?>
  <h3><?=$f_Fio?></h3>
  <p><?=$f_Email?></p>
</div>
<br/>
<br/><!-- /RecordTemplate -->

<!-- FormSuffix --><br/>
<br/>
<?= browse_messages($cc_env, 15) ?>
<br/>
<br/><!-- /FormSuffix -->