<?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
<form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
<div id='nc_moderate_form'>
<div class='nc_clear'></div>
<input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
<?= $nc_core->token->get_input() ?>
<input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
<input name='cc' type='hidden' value='<?= $cc ?>' />
<input name='sub' type='hidden' value='<?= $sub ?>' /><input name='posting' type='hidden' value='1' />
<input name='curPos' type='hidden' value='<?= $curPos ?>' />
<input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
<?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
</div>

  <div class='nc-field nc-field-type-multiselect'>
    <span class="nc-field-caption">Кому:</span>
    <?php
    $arrParamsContact = array(
      "classID" => 204,
      "fieldname" => "f_toContact_ID",
      "value" => $f_toContact_ID,
      "add_dop_value" => 'class="js_chosen"',
      "hide_default" => true,
      "join" => "LEFT JOIN Classificator_TypeContact as cl ON a.TypeContact = cl.TypeContact_ID",
      "ifname" => "IF(a.Name <> '' AND a.Name IS NOT NULL, a.Name, cl.TypeContact_Name) as Name",
    );
    echo get_select_list($arrParamsContact);
    ?>
  </div>

<div class='nc-field nc-field-type-string'><?= nc_string_field('Fio', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-string'><?= nc_string_field('Phone', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-string'><?= nc_string_field('Email', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

  <div class='nc-field nc-field-type-multiselect'>
    <span class="nc-field-caption">Тема сообщения для Центрального офиса:</span>
    <?php
    $arrParamsSubject = array(
      "classID" => 206,
      "fieldname" => "f_Subject_ID",
      "value" => $f_Subject_ID,
      "add_dop_value" => 'class="js_chosen"',
      "hide_default" => true,
    );
    echo get_select_list($arrParamsSubject);
    ?>
  </div>

<div class='nc-field nc-field-type-string'><?= nc_string_field('Subject', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

<div class='nc-field nc-field-type-text'><?= nc_text_field('Text', "", ($class_id ? $class_id : $classID), 1) ?></div>

<? if (!$AUTH_USER_ID && $current_cc['UseCaptcha'] && $MODULE_VARS['captcha']) { ?><?= nc_captcha_formfield() ?><br/><br/><?= NETCAT_MODERATION_CAPTCHA ?> (*):<br/><input type='text' name='nc_captcha_code' size='10'><br/><br/><? } ?>
<div class='nc-hint nc-hint-required-fields'><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div>
<?= nc_submit_button(NETCAT_MODERATION_BUTTON_ADD) ?>
</form>