<!-- FormPrefix --><?= $f_AdminCommon; ?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div class="main-company js-check-in-view">
  <div class="main-company__left <?=($f_TypeIcon_id != 1 ? 'main-company__left_ico2' : NULL)?>">
    <div class="main-company__text">
      <div class="main-company__anim">
        <strong class="main-company__title"><?=$f_Header?></strong> <?=$f_Text?>
      </div>
    </div>
  </div>
  <div class="main-company__right">
    <div class="main-company__pic">
      <img src="<?=$f_ImageSofa?>" width="" height="" alt="">
      <img src="<?=$template_path?>img/sofa-dots2.svg" class="main-company__pic-anim" width="" height="" alt="">
    </div>
  </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix -->  </section>
<?if(!empty($cc_settings['noWrapDiv'])){?>
  </div>
<?}?><!-- /FormSuffix -->