<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<div class="main-company js-check-in-view">
  <div class="main-company__left <?=($f_TypeIcon_id != 1 ? 'main-company__left_ico2' : NULL)?>">
    <div class="main-company__text">
      <div class="main-company__anim">
        <strong class="main-company__title"><?=$f_Header?></strong> <?=$f_Text?>
      </div>
    </div>
  </div>
  <div class="main-company__right">
    <div class="main-company__pic">
      <img src="<?=$f_ImageSofa?>" width="" height="" alt="">
      <img src="<?=$template_path?>img/sofa-dots2.svg" class="main-company__pic-anim" width="" height="" alt="">
    </div>
  </div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>