<?php
$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];
?>
<div class="modal-window review-modal" id="review-modal">
  <form id='send_form_review_company' class='review-form main-form' enctype='multipart/form-data' method='post' action='<?= $lang_prefix . $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
    <div id='nc_moderate_form'>
      <div class='nc_clear'></div>
      <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
      <?= $nc_core->token->get_input() ?>
      <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
      <input name='cc' type='hidden' value='<?= $cc ?>' />
      <input name='sub' type='hidden' value='<?= $sub ?>' />
      <input name='posting' type='hidden' value='1' />
      <input name='isNaked' type='hidden' value='1' />
      <input name='jsQuery' type='hidden' value='1' />
      
      <input name='f_ReviewRating_PriceQuality' class="js_price_quality" type='hidden' value='1' />
      <input name='f_ReviewRating_QualityService' class="js_quality_service" type='hidden' value='1' />
      <input name='f_ReviewRating_Personel' class="js_personel" type='hidden' value='1' />
      <input name='f_ReviewRating_OrderSpeed' class="js_order_speed" type='hidden' value='1' />
      <input name='f_ReviewRating_FeedbackQuality' class="js_feedback_quality" type='hidden' value='1' />
      
      <input name='f_Company_ID' type='hidden' value='<?=$company_id?>' />
      <input name='curPos' type='hidden' value='<?= $curPos ?>' />
      <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
      <?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
    </div>

    <div class="review-form__left">
      <div class="h3"><?=Langs::TEXT_ORDER_DATA?></div>

      <div class="main-form__line">
        <label class="main-form__label" for="order-number"><?=Langs::TEXT_ORDER_NUMBERS?>: *</label>
        <input type="text" class="main-form__text-input" id="order-number" name="f_OrderNumber" value="" required>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="item-code"><?=Langs::TEXT_CLOTH_ARTICLE?>: *</label>
        <input type="text" class="main-form__text-input js_auto_search_articles" data-url="<?=nc_folder_path(sct::sub('catalog'))?>?get_json=1&i_check=1" id="item-code" name="f_ArticleCloth" value="" required>
        
        <div class="header-search__results header-search__results_articles js_articles_list">
          
        </div>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="name"><?=Langs::TEXT_YOUR_NAME_AND_SURNAME?>: *</label>
        <input type="text" class="main-form__text-input" id="name" name="f_Fio" value="" required>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="tel"><?=Langs::TEXT_PHONE?>: *</label>
        <input type="tel" class="main-form__text-input js-phone-input" value="" id="tel" name="f_Phone" placeholder="+_ (___) ___-__-__" required>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="email"><?=Langs::TEXT_EMAIL?>: *</label>
        <input type="email" class="main-form__text-input" id="email" name="f_Email" value="" placeholder="E-mail" required>
      </div>

    </div>
    <div class="review-form__right">
      <div class="h3"><?=Langs::TEXT_PERFOMANCE_EVALUATION?></div>

      <div class="main-form__line">
        <div class="rating-vote-line" data-class-input="js_price_quality">
          <label class="rating-vote-line__label"><?=Langs::TEXT_PRICE_QUALITY_RATIO?>:</label>
          <div class="rating-vote">
            <label class="rating-vote__item">
              <input type="radio" value="1" name="rating" checked="checked" class="rating-vote__input active">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="2" name="rating" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="3" name="rating" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="4" name="rating" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="5" name="rating" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="6" name="rating" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="7" name="rating" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="8" name="rating" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="9" name="rating" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="10" name="rating" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
          </div>
        </div>
        <div class="rating-vote-line" data-class-input="js_quality_service">
          <label class="rating-vote-line__label"><?=Langs::TEXT_QUALITY_SERVICES_PROVIDED?>:</label>
          <div class="rating-vote">
            <label class="rating-vote__item">
              <input type="radio" value="1" name="rating2" checked="checked" class="rating-vote__input active">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="2" name="rating2" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="3" name="rating2" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="4" name="rating2" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="5" name="rating2" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="6" name="rating2" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="7" name="rating2" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="8" name="rating2" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="9" name="rating2" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="10" name="rating2" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
          </div>
        </div>
        <div class="rating-vote-line" data-class-input="js_personel">
          <label class="rating-vote-line__label"><?=Langs::TEXT_PERSONEL_ASSESSMENT?>:</label>
          <div class="rating-vote">
            <label class="rating-vote__item">
              <input type="radio" value="1" name="rating3" checked="checked" class="rating-vote__input active">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="2" name="rating3" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="3" name="rating3" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="4" name="rating3" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="5" name="rating3" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="6" name="rating3" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="7" name="rating3" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="8" name="rating3" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="9" name="rating3" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="10" name="rating3" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
          </div>
        </div>
        <div class="rating-vote-line" data-class-input="js_order_speed">
          <label class="rating-vote-line__label"><?=Langs::TEXT_ORDER_EXECUTION_SPEED?>:</label>
          <div class="rating-vote">
            <label class="rating-vote__item">
              <input type="radio" value="1" name="rating4" checked="checked" class="rating-vote__input active">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="2" name="rating4" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="3" name="rating4" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="4" name="rating4" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="5" name="rating4" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="6" name="rating4" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="7" name="rating4" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="8" name="rating4" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="9" name="rating4" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="10" name="rating4" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
          </div>
        </div>
        <div class="rating-vote-line" data-class-input="js_feedback_quality">
          <label class="rating-vote-line__label"><?=Langs::TEXT_FEEDBACK_QUALITY?>:</label>
          <div class="rating-vote">
            <label class="rating-vote__item">
              <input type="radio" value="1" name="rating5" checked="checked" class="rating-vote__input active">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="2" name="rating5" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="3" name="rating5" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="4" name="rating5" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="5" name="rating5" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="6" name="rating5" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="7" name="rating5" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="8" name="rating5" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="9" name="rating5" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
            <label class="rating-vote__item">
              <input type="radio" value="10" name="rating5" class="rating-vote__input">
              <span class="rating-vote__star"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="h10-separator"></div>

      <div class="h3"><?=Langs::TEXT_REVIEW?></div>

      <div class="main-form__line">
        <label class="main-form__label" for="title"><?=Langs::TEXT_HEADER?>: *</label>
        <input type="text" class="main-form__text-input" id="title" name="f_Header" value="" placeholder="<?=Langs::TEXT_REVIEW_HEADER?>" required>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="plus"><?=Langs::TEXT_PROS?>: *</label>
        <textarea class="main-form__text-input" id="plus" name="f_Plus" placeholder="<?=Langs::TEXT_ADVANTAGES_OF_COMPANY?>" required></textarea>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="minus"><?=Langs::TEXT_MINUSES?>: *</label>
        <textarea class="main-form__text-input" id="minus" name="f_Minus" placeholder="<?=Langs::CONS_OF_COMPANY?>" required></textarea>
      </div>

      <div class="main-form__line">
        <label class="main-form__label" for="comment"><?=Langs::TEXT_A_COMMENT?>: *</label>
        <textarea class="main-form__text-input" id="comment" name="f_Comment" placeholder="<?=Langs::TEXT_GENERAL_COMMENT?>" required></textarea>
      </div>

      <div class="h10-separator"></div>
      <div class="page-row page-row_captcha">
        
        <div class="page-col">
          <div class="main-form__line">
            <?= nc_captcha_formfield() ?>
          </div>
        </div>
        
        <div class="page-col">
          <div class="page-row page-row_wrap-xl page-row_justify page-row_vmiddle" style="margin-left:0;">
            <div class="main-form__line">
              <label class="checkbox">
                <input type="checkbox" class="checkbox__input" name="agreement" value="1" checked>
                <span class="checkbox__text"><?=Langs::TEXT_I_AGREE_TO?> <a href="#" class="js-modal-link" data-fancybox data-type="ajax" data-src="<?=nc_folder_path(sct::sub('privacy_policy'))?>?isNaked=1"><?=Langs::TEXT_PRIVACY_POLICY?></a></span>
              </label>
            </div>
          </div>
          <div class="page-row page-row_right">
            <div class="main-form__line">
              <input type="submit" value="<?=Langs::TEXT_POST_REVIEW?>" class="btn-type3">
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>
</div>