<?php
$arrItemsJsonSearch = array();
$arrItemsJsonSearch['url'] = array(
  "value" => nc_folder_path(sct::sub('search')),
  "count" => $totRows,
);
$arrItemsJsonSearch['items'] = array();
?>

<?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
  <?if(!$no_wrap_catalog){?>
    <?php
    $old_collection_id = NULL;
    if(!empty((int)$set_old_collection_id)){
      $old_collection_id = (int)$set_old_collection_id;
    }
    /*
    $query_full_no_limit = trim(preg_replace("/LIMIT \d{1,},\d{1,}/i","",$message_select));
    $query_full_no_limit = str_replace("SQL_CALC_FOUND_ROWS","",$query_full_no_limit);
    $arrQueryFull = $db->get_results("SELECT f.Price FROM (".$query_full_no_limit.") as f",ARRAY_A);
    $allPrices = array_column($arrQueryFull, 'Price');
    */

    $minPrice = min($allPrices);
    $maxPrice = max($allPrices);
    ?>

    <?if(empty($ajax_show_more)){?>

    <?if($current_sub['Image'] || $current_sub['VideoFile']){?>
      <div class="catalog-pic" style="background-image: url(<?=$current_sub['Image']?>);">
        <?if(!empty($current_sub['VideoFile'])){?>
          <video src="<?=$current_sub['VideoFile']?>" autoplay muted loop></video>
        <?}?>
      </div>
    <?}?>

    <div class="page-width">
      <?if(!empty($current_catalogue['FileStockItems']) || !empty($current_catalogue['FileCatalog'])){?>
        <div class="catalog-files">
          <?if(!empty($current_catalogue['FileStockItems'])){?>
            <a href="<?=$current_catalogue['FileStockItems']?>" class="file-link file-link_xls" target="_blank"><?=Langs::TEXT_ITEMS_IN_STOCK?> <span class="file-link__params">(<?=Langs::TEXT_DOWNLOAD_LOWER?> XLS)</span></a>
          <?}?>

          <?if(!empty($current_catalogue['FileCatalog'])){?>
            <a href="<?=$current_catalogue['FileCatalog']?>" class="file-link" target="_blank"><?=Langs::TEXT_CATALOG?> <span class="file-link__params">(<?=Langs::TEXT_DOWNLOAD_LOWER?> PDF)</span></a>
          <?}?>
        </div>
      <?}?>

      <div class="catalog-wrap">
        <?}?>

        <div class="catalog-wrap__cont">
          <div class="catalog-filter">
            <form class="catalog-filter__form">
              <div class="catalog-filter__left">
                <div class="catalog-filter__selects">

                  <?=$html_filters?>

                </div>
              </div>

              <div class="catalog-filter__right">

                <?if(!empty($arrColors)){?>
                  <div class="catalog-filter__line js_filter_colors">
                    <div class="catalog-filter__label"><?=Langs::TEXT_COLOR?>:</div>

                    <div class="color-checkbox-list">
                      <?php
                      foreach($arrColors as $arrRowColor){
                        $is_active = false;
                        if(in_array($arrRowColor['ID'], $arrColorsGet)){
                          $is_active = true;
                          $arrActiveTags[] = array(
                              'name' => $arrRowColor['Name'],
                              'param' => 'colors',
                              'type' => 'colors',
                              'value' => $arrRowColor['ID'],
                          );
                        }
                        echo '<div class="color-checkbox-list__item">
                                <label class="color-checkbox tooltip-title" data-title="'.$arrRowColor['Name'].'"><input type="checkbox" '.($is_active ? 'checked="checked"' : NULL).' data-param-name="colors" value="'.$arrRowColor['ID'].'" class="color-checkbox__input"><span class="color-checkbox__bg" style="background-color: '.$arrRowColor['Code'].';"></span></label>
                              </div>';
                      }
                      ?>
                    </div>
                  </div>
                <?}?>



                <?php
                $set_min_price = !empty($getMinPrice) ? $getMinPrice : $minPrice;
                $set_max_price = !empty($getMaxPrice) ? $getMaxPrice : $maxPrice;
                ?>
                <?if($minPrice !== $maxPrice){?>
                  <div class="catalog-filter__line">
                    <div class="range-slider js_price_range_slider" data-step="100" data-min="<?=$minPrice?>" data-max="<?=$maxPrice?>" data-start="<?=$set_min_price?>,<?=$set_max_price?>">

                      <div class="catalog-filter__input-row">
                        <span class="catalog-filter__price-label">
                          <?=Langs::TEXT_PRICE_PER_PIECE?>:
                        </span>

                        <div class="range-slider-input">
                          <span class="range-slider-input__label"><?=Langs::TEXT_FROM?></span>
                          <input type="text" name="price" value="<?=formatPrice($set_min_price)?>" class="range-slider__input range-slider__input_min js-range-slider__input_min" data-id="0">

                        </div>
                        <div class="range-slider-input">
                          <span class="range-slider-input__label"><?=Langs::TEXT_BEFORE?></span>
                          <input type="text" name="price" value="<?=formatPrice($set_max_price)?>" class="range-slider__input range-slider__input_max js-range-slider__input_max" data-id="0">
                        </div>
                      </div>

                      <div class="number-range"></div>
                    </div>
                  </div>
                <?}?>
              </div>

              <div class="catalog-filter__left">
                <div class="catalog-filter__bottom">
                  <div class="catalog-filter__line">
                    <div class="code-search">
                      <input type="text" placeholder="<?=Langs::TEXT_SEARCH_BY_ARTICLE_NUMBER?>" class="text-input js_search_article" value="<?=$search_article?>">
                    </div>
                  </div>
                  <div class="catalog-filter__line">
                    <ul class="checkbox-list checkbox-list_line">
                      <?php
                      unset($arrRowFFCheck);
                      foreach($arrFilterFieldsCheckbox as $arrRowFFCheck){
                        $is_active = false;
                        if(!empty((int)$_GET[$arrRowFFCheck['param']])){
                          $is_active = true;
                        }

                        echo '<li class="checkbox-list__item">
                                <label class="checkbox"><input type="checkbox" class="checkbox__input" '.($is_active ? 'checked="checked"' : NULL).' data-param-name="'.$arrRowFFCheck['param'].'" value="'.$arrRowFFCheck['value'].'"> <span class="checkbox__text">'.$arrRowFFCheck['name'].'</span></label>
                              </li>';
                      }
                      ?>
                    </ul>
                  </div>
                </div>
              </div>
            </form>

            <div class="catalog-filter__hide-btn js-toggle-filter opened" data-hide="<?=Langs::TEXT_HIDE_ALL_FILTERS?>" data-show="<?=Langs::TEXT_SHOW_ALL_FILTERS?>"><?=Langs::TEXT_HIDE_ALL_FILTERS?></div>
          </div>

          <div class="catalog-filter-result">
            <div class="catalog-filter-result__title" <?=(empty($arrActiveTags) ? 'style="display:none;"' : NULL)?>>
              <?=Langs::TEXT_YOUR_CHOICE?>:
            </div>

            <div class="catalog-filter-tags" <?=(empty($arrActiveTags) ? 'style="display:none;"' : NULL)?>>
              <?php
              foreach($arrActiveTags as $arrRowAT){
                echo '<div class="catalog-filter-tags__item js_remove_active_tag" data-param="'.$arrRowAT['param'].'" data-class-name="'.$arrRowAT['class_name'].'" data-type="'.$arrRowAT['type'].'" data-value="'.$arrRowAT['value'].'"><span class="catalog-filter-tags__remove">'.$arrRowAT['name'].'</span></div>';
              }
              ?>
              <div class="catalog-filter-tags__item"><span class="catalog-filter-tags__clear-all js_clear_filter"><?=Langs::TEXT_RESET_FILTER?></span></div>
            </div>

            <div class="catalog-filter-result__count">
              <?=Langs::TEXT_FOUND?>: <?=$totRows?> <?=($show_catalog_by_article ? sklonenie($totRows, array('артикул', 'артикула', 'артикулов'), array('article', 'article', 'articles')) : sklonenie($totRows, array('коллекция', 'коллекции', 'коллекций'), array('collection', 'collections', 'collections')))?>
            </div>

          </div>

          <div class="catalog-sort" <?=(!$totRows ? 'style="display:none;"' : NULL)?>>
            <div class="catalog-sort__left">
              <label class="checkbox">
                <input type="checkbox" class="checkbox__input js_group_cloth" <?=($group_cloth ? 'checked="checked"' : NULL)?> data-param-name="group_cloth" value="1">
                <span class="checkbox__text"><?=Langs::TEXT_GROUP_BY_TYPE_OF_FABRIC?></span>
              </label>
            </div>

            <div class="catalog-sort__right">
              <span class="catalog-sort__view-btn js-catalog-view" data-type="0" data-href="catalog-ajax.html"></span>
              <span class="catalog-sort__view-btn js-catalog-view active" data-type="1" data-href="catalog-ajax2.html"></span>
              <span class="catalog-sort__view-btn js-catalog-view" data-type="2" data-href="catalog-ajax3.html"></span>

              <div class="catalog-sort__count-select">
                <span class="catalog-sort__count-select-label"><?=Langs::TEXT_ON_THE_PAGE?>:</span>
                <select class="js_select_recnum">
                  <option>12</option>
                  <option>24</option>
                  <option>48</option>
                </select>
              </div>
            </div>
          </div>

          <div class="catalog-empty" <?=($totRows ? 'style="display:none;"' : NULL)?>>
            <div class="catalog-empty__row">
              <div class="catalog-empty__col">
                <strong class="catalog-empty__title"><?=Langs::TEXT_NO_RESULTS_FOUND_FOR_YOUR_REQUEST?></strong> <?=Langs::TEXT_TRY_DIFF_SEARCH_OPTIONS?>
              </div>
              <div class="catalog-empty__col">
                <a href="#" class="btn-type3 js_clear_filter">
                  <?=Langs::TEXT_CLEAN_FILTER_LOWER?>
                </a>
              </div>
            </div>
          </div>

          <div class="catalog-list" <?=(!$totRows ? 'style="margin:0;padding:0;"' : NULL)?>>
  <?}?>
<?}?>      
        
        
        
        
        
        
        
        
        
        
        
        
        