<?php
if(!empty($get_json)){
  ob_end_clean();
  echo json_encode($arrItemsJsonSearch);
  exit();
}
?>


<?if(!$no_wrap_catalog){?>
        </div>
        
        <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
          <?if($nextLink){?>
            <a href="<?=$lang_prefix.$nextLink.($old_collection_id ? '&set_old_collection_id='.$old_collection_id : NULL)?>" data-param-name="ajax_show_more" data-param-value="1" class="catalog-more-btn js-catalog-load-more">
              <?php
              $total_items_show_more = $recNum;
              if(!$curPos){
                $total_items_show_more_max = $totRows - $recNum;
              }else{
                $total_items_show_more_max = $totRows - ($curPos + $recNum);
              }
              if($total_items_show_more_max < $recNum){
                $total_items_show_more = $total_items_show_more_max;
              }
              ?>
              <?=Langs::TEXT_SHOW_MORE?> <?=$total_items_show_more?> <?=sklonenie($total_items_show_more)?>
            </a>
          <?}?>
        <?}?>

        <?=getPaginationTemplate($cc_env, $nextLink, $prevLink)?>
      </div>

  <?if(empty($ajax_show_more)){?>
      <div class="catalog-preloader">
        <div class="catalog-preloader__sticky js-sticky-col">
          <div class="preloader"></div>
        </div>
      </div>
    </div>

    <?if(!empty($current_sub['HeaderSeo'.$lang_prefix_field]) || !empty($current_sub['TextSeo'.$lang_prefix_field])){?>
      <section class="page-text">
        <div class="page-text__cont">
          <?if(!empty($current_sub['HeaderSeo'.$lang_prefix_field])){?>
            <h2 class="page-text__title"><?=$current_sub['HeaderSeo'.$lang_prefix_field]?></h2>
          <?}?>
          <?=$current_sub['TextSeo'.$lang_prefix_field]?>
        </div>
      </section>
    <?}?>

  </div>
  <?}?>
<?}?>