<?php
$template_path = helperData::getTemplatePath();
$full_site_url = helperData::getFullUrlSite();
$smo_image = $nc_core->page->get_smo_image();
if(empty($smo_image)){
  $smo_image = $full_site_url.$template_path.'img/social-img.png';
}

$item = new nc_netshop_item($resMsg);
$item = itemQueryLand::getItemField($item);

//dump($item);

//$testDev = itemQueryLand_New::getItemField($item);
//dump($testDev);

$item_id = $item['Message_ID'];
$item_class_id = $item['Class_ID'];
$item_name = $item['Name'];
$item_price = $item['ItemPrice'];
$item_collection_id = $item['Collection'];
$item_composition = $item['Composition'];
$item_type_item = $item['TypeItem'];
$item_collection_name = $item['AdditionalData']['Collection_Name'];
$item_collection_text = $item['AdditionalData']['Collection_Text']['Text'];
$item_collection_cert = $item['AdditionalData']['Collection_Multi']['Certificates'];
$item_collection_file_xls = $item['AdditionalData']['Collection_File']['FileMaterialXLS'];
$item_collection_file_pdf = $item['AdditionalData']['Collection_File']['FileMaterialPDF'];
$item_collection_files = $item['AdditionalData']['Collection_Multifield']['Files'];
$item_type_cloth_name = $item['AdditionalData']['Cloth_Name'];
$item_type_cloth_text = $item['AdditionalData']['Cloth_Text']['Text'];
$item_country_vendor = $item['AdditionalData']['CountryVendor'];
$item_colors = $item['AdditionalData']['Color'];
$item_width_cloth = $item['ClothWidth'];
$item_density = $item['Density'];
$item_resist_abrasion = $item['ResistanceAbrasion'];
$item_reapport = $item['Reapport'];
$item_direction_roll_name = $item['AdditionalData']['DirectionRoll_Name'];
$item_direction_roll_icon = $item['AdditionalData']['DirectionRoll_File']['Icon'];
$item_app_area = $item['AdditionalData']['AppArea'];
$item_technologies = $item['AdditionalData']['Technologies'];
$item_cares = $item['AdditionalData']['Care'];
$item_stock = (int)$item['StockUnits'];
$item_under_order = $item['isUnderOrder'];
$item_date_exp_rec = $item['DateExpectedOfReceipt'];
if(strtotime($item_date_exp_rec) <= 0){
  $item_date_exp_rec = NULL;
}
$item_new = $item['isNew'];
$item_hit = $item['isHit'];
$item_sale = $item['isSale'];
$item_call = $item['isUnderOrder'];
$item_min_qty = (int)$item['OrderMinQuantity'];
if(empty($item_min_qty)){
  $item_min_qty = 1;
}

$item_header_seo = $item['HeaderSeo'];
$item_text_seo = $item['TextSeo'];


$item_type_icon_group_name = $item['ItemTypeIcon'];
$item_type_icon_group = $item['ItemTypeIcon_value'];



$is_favorite = $netshop->goodslist_favorite->check($item_id, $item_class_id);
$strBindSimilarClothIds = getBindMore(182,$message,'Item_Main_ID','Item_Parent_ID');
$arrImagesCrop = getImageForItem($item['Image']);



// Указываем, какие поля отличают товары друг от друга — Color, Size
$selectors = new nc_netshop_item_variant_selector($item, array('Name'));
echo $selectors->init(array(
    'on_update' => '

        formsInit();
        setTimeout(function(){
          imageZoom($(\'.card-detail-scroll__item img\'));
        },250);
        initItemsSmallScroll();
        initSmallGalleryScroll();
        setShowButtonMoreArticle();
        $(".js-modal-link").fancybox(fancyOpt);
        
        setTimeout(function(){
          setSimilarItemsHeight();
          setGalleryItemsHeight();
        }, 150);
        
        /*
        setTimeout(function(){
          $(\'.card-wrap\').removeClass(\'pre-loading\');
        }, 150);
        */
    ',
    'cache' => false,
));



// запрет кэширования страницы сервером, если цена или скидки зависят от пользователя
if ($template_partial_loading && $item->price_depends_on_user_data()) {
    header('X-Accel-Expires: 0');
}

if($request_type != 'get_variant'){
  unset($_COOKIE['show_articles']);
  $nc_core->cookie->remove('show_articles');
}
?>

<!-- content -->
<div class="card-wrap">
  <div id="card-ajax" class="card-ajax-cont">
    
<div class="page-width">

<div class="tpl-variable-part">
  <div data-product="<?=$message?>"></div>
  <div data-type="goods"></div>
</div>

<?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
  <div class="tpl-variable-part">
    <?=getBrcrHtml(true, $item)?>
  </div>
<?}?>
    <div class="card-row">
      
      <div>
        <div class="card-row__right tpl-variable-part">
          <div class="card-info">
            <div class="card-info__row">
              <div class="card-info__left">

                <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                  <?if($item_type_icon_group){?>
                    <span class="card-info__type">
                      <span class="card-info__type-ico"><?=$item_type_icon_group?></span> <?=$item_type_icon_group_name?>
                    </span>
                  <?}?>
                <?}?>

                <h1 class="card-info__name"><?=$item_name?></h1>

                <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                  <span class="card-info__label"><?=Langs::TEXT_PRICE_FOR_METER?></span>

                  <strong class="card-info__price">
                    <?if( ((int)$item_stock && $item_under_order) || (!(int)$item_stock && $item_under_order) || empty($item_price) ){?>
                      <?=Langs::TEXT_PRICE_ON_REQUEST?>
                    <?}else{?>
                      <?=formatPrice($item_price)?> ₽
                    <?}?>
                  </strong>

                  
                  <?php
                  $text_available = Langs::TEXT_IN_STOCK;
                  $class_available = 'card-info__in-stock';
                  if(!$item_stock){
                    $text_available = Langs::TEXT_NOT_AVAILABLE;
                    $class_available = 'card-info__not-in-stock';
                  }
                  if(empty($item_price)){
                    $text_available = Langs::TEXT_NOT_AVAILABLE;
                    $class_available = 'card-info__not-in-stock';
                  }
                  if($item_under_order){
                    $text_available = Langs::TEXT_AVAILABILITY_UNDER_ORDER;
                    $class_available = 'card-info__not-in-stock';
                  }
                  ?>
                  <span class="<?=$class_available?>"><?=$text_available?></span>
                  <?if($item_date_exp_rec){?>
                    <br/>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_DATE_EXPECTED_OF_RECEIPT?>: <?=date('d.m.Y', strtotime($item_date_exp_rec))?></span>
                  <?}?>
                  
                  <?/*if((int)$item_stock && !$item_under_order && !$item_date_exp_rec){?>
                    <span class="card-info__in-stock"><?=Langs::TEXT_IN_STOCK?></span>
                  <?}else if(!(int)$item_stock && $item_under_order && !$item_date_exp_rec){?>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_AVAILABILITY_UNDER_ORDER?></span>
                  <?}else if(!(int)$item_stock && !$item_under_order && $item_date_exp_rec){?>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_NOT_AVAILABLE?></span>
                    <br/>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_DATE_EXPECTED_OF_RECEIPT?>: <?=date('d.m.Y', strtotime($item_date_exp_rec))?></span>
                  <?}else if((int)$item_stock && $item_under_order && !$item_date_exp_rec){?>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_AVAILABILITY_UNDER_ORDER?></span>
                  <?}else if((int)$item_stock && !$item_under_order && $item_date_exp_rec){?>
                    <br/>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_DATE_EXPECTED_OF_RECEIPT?>: <?=date('d.m.Y', strtotime($item_date_exp_rec))?></span>
                  <?}else if(!(int)$item_stock && !$item_under_order && !$item_date_exp_rec){?>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_NOT_AVAILABLE?></span>
                  <?}else if(!(int)$item_stock && $item_under_order && $item_date_exp_rec){?>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_AVAILABILITY_UNDER_ORDER?></span>
                    <br/>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_DATE_EXPECTED_OF_RECEIPT?>: <?=date('d.m.Y', strtotime($item_date_exp_rec))?></span>
                  <?}else if(empty($item_price) && (int)$item_stock){?>
                    <span class="card-info__in-stock"><?=Langs::TEXT_IN_STOCK?></span>
                  <?}else if(empty($item_price) && !(int)$item_stock){?>
                    <span class="card-info__not-in-stock"><?=Langs::TEXT_NOT_AVAILABLE?></span>
                  <?}*/?>
                <?}?>
              </div>

              <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                <div class="card-info__right">

                  <div class="share">
                    <span class="tooltip-title" data-title="<?=Langs::TEXT_SHARE?>">
                      <span class="share-ico js-show-share"></span>
                    </span>

                    <ul class="share-list-small js-share" data-link="<?=$item['URL']?>" data-title="<?=$f_ncSMO_Title?>" data-img="<?=$smo_image?>" data-text="<?=$f_ncSMO_Description?>">
                      <li class="share-list-small__item"><a href="#" class="share-list-small__link share-list-small__link_fb" data-network="fb"></a> </li>
                      <li class="share-list-small__item"><a href="#" class="share-list-small__link share-list-small__link_vk" data-network="vk"></a> </li>
                      <li class="share-list-small__item"><a href="#" class="share-list-small__link share-list-small__link_tw" data-network="tw"></a> </li>
                      <li class="share-list-small__item"><a href="#" class="share-list-small__link share-list-small__link_gp" data-network="gp"></a> </li>
                      <li class="share-list-small__item"><a href="#" class="share-list-small__link share-list-small__link_pin" data-network="pin"></a> </li>
                      <li class="share-list-small__item"><a href="#" class="share-list-small__link share-list-small__link_mail" data-network="mail"></a> </li>
                    </ul>

                  </div>
                  
                  <span class="tooltip-title" data-title="<?=Langs::TEXT_ADD_TO_FAVORITES?>">
                    <a href="#" class="favorites-ico js-add-favorites is_card <?=($is_favorite ? 'active' : NULL)?>" data-url="<?=$lang_prefix?>/netcat/modules/default/addFavorite.php" data-class-id="<?=$item_class_id?>" data-id="<?=$item_id?>"></a>
                  </span>

                </div>
              <?}?>
            </div>
          </div>

          <?if( ($_GET["test"] == 100 || $AUTH_USER_ID == 795 || $AUTH_USER_ID == 796 || $AUTH_USER_ID == 805) && !empty($item_price)){?>
            <div class="card-info js_wrap_card_info_basket">
              <form action="<?=$lang_prefix.$netshop->get_add_to_cart_url()?>" method="post" id="form_item_card_full_input_add_to_cart">
                <input type="hidden" name="redirect_url" value="<?= $_SERVER["REQUEST_URI"] ?>"/>
                <input type="hidden" name="cart_mode" value="add"/>
                <input type="hidden" name="json" value="1">
                
                <div class="card-info__row">
                  <div class="card-info__left">

                    <label class="card-info__label"><?=Langs::TEXT_AMOUNT?>: </label>

                    <input type="number" name="cart[<?=$item_class_id?>][<?=$item_id?>]" class="card-info__count-input js_card_count js_number_mask" min="<?=$item_min_qty?>" max="<?=$item_stock?>" maxlength="<?=(mb_strlen($item_stock))?>" value="<?=$item_min_qty?>">

                    <span class="card-info__label"><?=Langs::TEXT_N_M?></span>

                    <span class="full-price">
                      <span class="card-info__label"><?=Langs::TEXT_TOTAL?>:</span>
                      <strong class="full-price__val js_item_price" data-price="<?=$item_price?>"><?=formatPrice($item_price)?> ₽</strong>
                    </span>

                  </div>
                  <div class="card-info__right">
                    <span class="tooltip-title" data-title="<?=Langs::TEXT_ADD_TO_CART?>">
                      <a href="#" class="card-ico js-add-to-cart"></a>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          <?}?>

        </div>

        <div class="card-row__left card_images">
          <div class="card-detail-pic <?=(!empty($arrImagesCrop['no_photo']) ? 'card-detail-pic-no-photo' : NULL)?>">
            <div style="position:relative;" class="tpl-variable-part">
              <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                <?if($item_sale){?>
                  <span class="card-detail-pic__label">Sale</span>
                <?}?>

                <?if($item_new){?>
                  <span class="card-detail-pic__label card-detail-pic__label_new">NEW</span>
                <?}?>

                <?if($item_hit){?>
                  <span class="card-detail-pic__label card-detail-pic__label_hit">HIT</span>
                <?}?>

                <?if($item_call){?>
                  <span class="card-detail-pic__label card-detail-pic__label_call">Call</span>
                <?}?>
              <?}?>

              <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                <?if(empty($arrImagesCrop['no_photo'])){?>
                  <a data-fancybox data-type="ajax" data-src="<?=$lang_prefix.'/netcat/modules/default/getItemGallery.php?active_id='.$item_id.'&active_class_id='.$item_class_id.'&item_id='.$item_id?>" href="javascript:;" class="zoom-ico js-modal-link"></a>
                <?}?>
              <?}?>

              <div class="card-detail-scroll">
                <div class="card-detail-scroll__item <?=(!empty($arrImagesCrop['no_photo']) ? 'card_detail_no_pic' : NULL)?>">
                  <img src="<?=$arrImagesCrop['card']?>" alt="" <?=(empty($arrImagesCrop['no_photo']) ? 'data-zoom-image="'.$arrImagesCrop['card_zoom'].'"' : NULL)?> class="<?=(empty($arrImagesCrop['no_photo']) ? 'js-zoom-img' : NULL)?>">
                </div>
              </div>
            </div>
          </div>
          
          <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
            <div class="card-detail-thumbs" data-role="variant-selector">

              <?//if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                <?php
                //Для того, чтобы показавать все артикулы, если это необходимо
                $show_articles = (int)$_COOKIE['show_articles'];
                foreach($item['_Variants'] as $item_variant){
                  $is_active = false;
                  $arrImageResult = getImageForItem($item_variant['Image']);
                  $full_link_item_variant = nc_object_path($item_variant['Class_ID'], $item_variant['Message_ID'], 'full');
                  if(mb_stripos($_SERVER['REQUEST_URI'], $full_link_item_variant) !== false){
                    $is_active = true;
                  }
                  echo '<div class="card-detail-thumbs__item '.($is_active ? 'active' : NULL).'" '.(!empty($show_articles) ? 'style="display:block;"' : NULL).'>
                          <div class="card-detail-thumbs__link">
                            <a href="'.$full_link_item_variant.'" class="js_variant_item">
                              <span class="card-detail-thumbs__pic '.(!empty($arrImageResult['no_photo']) ? 'card_detail_thumb_no_pic' : NULL).'">
                                <img src="'.$arrImageResult['small'].'" width="90" height="90" alt="">
                              </span> '.$item_variant['Name'].'
                            </a>
                          </div>
                        </div>';
                }
                ?>
              <?//}?>

            </div>
          <?}?>

          <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
            <div class="card-detail-thumbs-more">
              <div class="card-detail-thumbs-more__btn js-toggle-thumbs <?=(!empty($show_articles) ? 'opened' : NULL)?>" data-hide="<?=Langs::TEXT_HIDE_ARTICLES?>" data-show="<?=Langs::TEXT_SHOW_ALL_ARTICLES?>"><?=(!empty($show_articles) ? Langs::TEXT_HIDE_ARTICLES : Langs::TEXT_SHOW_ALL_ARTICLES)?></div>
            </div>
          <?}?>

        </div>

        <div class="card-row__right tpl-variable-part">
          <div class="card-info">
            <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
              <ul class="tabs js-tabs">
                <li class="tabs__item active"><span class="tabs__text"><?=Langs::TEXT_CHARACTERISTICS?></span></li>

                <?if($item_technologies || $item_collection_cert){?>
                  <li class="tabs__item"><span class="tabs__text"><?=Langs::TEXT_TECHNOLOGIES?></span></li>
                <?}?>

                <?if($item_cares){?>
                  <li class="tabs__item"><span class="tabs__text"><?=Langs::TEXT_CARE?></span></li>
                <?}?>
              </ul>
            <?}?>

            <div class="tabs-panes">
              <div class="tabs-panes__item active">

                <?if($item_collection_name){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_COLLECTION?>:</dt>
                    <?}?>

                    <dd><?=$item_collection_name?></dd>
                  </dl>
                <?}?>

                <?if($item_type_cloth_name){?>
                  <dl class="item-detail-params <?=($item_type_cloth_text ? 'item-detail-params_more js-cloth-more' : NULL)?>">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_TYPE_CLOTH?>:</dt>
                    <?}?>

                    <dd><?=$item_type_cloth_name?></dd>
                  </dl>
                  <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                    <?if($item_type_cloth_text){?>
                      <div class="card-cloth-info"><?=$item_type_cloth_text?></div>
                    <?}?>
                  <?}?>
                <?}?>

                <?if($item_country_vendor){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_COUNTRY_VENDOR?>:</dt>
                    <?}?>

                    <dd><?=$item_country_vendor?></dd>
                  </dl>
                <?}?>

                <?if($item_colors){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_COLOR?>:</dt>
                    <?}?>

                    <dd><?=implode(', ', array_column($item_colors, 'name'))?></dd>
                  </dl>
                <?}?>

                <?if($item_composition){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_COMPOSITION?>:</dt>
                    <?}?>

                    <dd><?=$item_composition?></dd>
                  </dl>
                <?}?>

                <?if($item_width_cloth){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_CLOTH_WIDTH_CM?>:</dt>
                    <?}?>

                    <dd><?=$item_width_cloth?></dd>
                  </dl>
                <?}?>

                <?if($item_density){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_DENSITY_OF_CLOTH?>:</dt>
                    <?}?>

                    <dd><?=$item_density?></dd>
                  </dl>
                <?}?>

                <?if($item_resist_abrasion){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_RESISTANCE_TO_ABRASION?>:</dt>
                    <?}?>

                    <dd>
                      <?if(is_numeric($item_resist_abrasion)){?>
                        <?=formatPrice($item_resist_abrasion)?>
                      <?}else{?>
                        <?=$item_resist_abrasion?>
                      <?}?>
                    </dd>
                  </dl>
                <?}?>

                <?if($item_reapport){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_RAPPORT_CM?>:</dt>
                    <?}?>

                    <dd><?=$item_reapport?></dd>
                  </dl>
                <?}?>

                <?if($item_direction_roll_name){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_DIRECTION_IN_ROLL?>:</dt>
                    <?}?>

                    <dd><span class="param-ico"><img src="<?=$item_direction_roll_icon?>" width="28" height="14" alt=""></span> <?=$item_direction_roll_name?></dd>
                  </dl>
                <?}?>

                <?if($item_type_item){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_ITEM_TYPE?>:</dt>
                    <?}?>

                    <dd><?=$item_type_item?></dd>
                  </dl>
                <?}?>

                <?if($item_app_area){?>
                  <dl class="item-detail-params">
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <dt><?=Langs::TEXT_APP_AREA?>:</dt>
                    <?}?>

                    <dd>
                      <?php
                      $row_i = 1;
                      $total_app_area = count($item_app_area);
                      foreach($item_app_area as $arrRowAppArea){
                        echo '<span class="param-ico"><img src="'.$arrRowAppArea['Image'].'" width="21" height="22" alt=""></span> '.$arrRowAppArea['name'];
                        if($row_i !== $total_app_area){
                            echo '<br/>';
                        }
                        $row_i++;
                      }
                      ?>
                    </dd>
                  </dl>
                <?}?>

                <div class="h20-separator"></div>

                <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                  <?if($item_collection_text){?>
                      <h4><?=Langs::TEXT_DESC_OF_COLLECTION?></h4>
                      <p><?=$item_collection_text?></p>
                  <?}?>
                <?}?>

                <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                  
                  <?if(!empty($item_collection_files)){?>
                    <div class="files-list">
                      <?php
                      foreach($item_collection_files as $arrRowFileMC){
                        $file_header_name = $arrRowFileMC['name'];
                        $file_collection_size = $arrRowFileMC['size'];
                        $arrPathInfoFileMC = pathinfo($arrRowFileMC['path']);
                        $class_add = 'file-link_xls';
                        $text_download = 'XLS';
                        if(mb_strtolower($arrPathInfoFileMC['extension']) === 'pdf'){
                          $class_add = NULL;
                          $text_download = 'PDF';
                        }
                        if(mb_strtolower($arrPathInfoFileMC['extension']) === 'jpg' || mb_strtolower($arrPathInfoFileMC['extension']) === 'jpeg' || mb_strtolower($arrPathInfoFileMC['extension']) === 'png'){
                          $class_add = 'file-link_jpg';
                          $text_download = 'JPG';
                        }
                        echo '<a href="'.$arrRowFileMC['path'].'" class="file-link '.$class_add.'" target="_blank">'.(!empty($file_header_name) ? $file_header_name : Langs::TEXT_MATERIAL_FOR_DOWNLOAD).' <br><span class="file-link__params">'.$text_download.' '.FileSizeConvert($file_collection_size).'</span></a>';
                      }
                      ?>
                    </div>
                  <?}?>
                  
                  <?/*if($item_collection_file_xls || $item_collection_file_pdf){?>
                    <div class="files-list">
                      <?if($item_collection_file_xls){?>
                        <a href="<?=$item_collection_file_xls?>" class="file-link file-link_xls" target="_blank"><?=Langs::TEXT_MATERIAL_FOR_DOWNLOAD?> <br><span class="file-link__params">(<?=Langs::TEXT_DOWNLOAD_XLS?>)</span></a>
                      <?}?>

                      <?if($item_collection_file_pdf){?>
                        <a href="<?=$item_collection_file_pdf?>" class="file-link" target="_blank"><?=Langs::TEXT_MATERIAL_FOR_DOWNLOAD?> <br><span class="file-link__params">(<?=Langs::TEXT_DOWNLOAD_PDF?>)</span></a>
                      <?}?>
                    </div>
                  <?}*/?>
                <?}?>

              </div>

              <?if($item_technologies || $item_collection_cert){?>
                <div class="tabs-panes__item">

                  <?foreach($item_technologies as $arrRowTech){?>
                      <div class="card-technology">
                        <div class="card-technology__row">
                          <span class="card-technology__logo"><img src="<?=$arrRowTech['Image']?>" width="78" height="54" alt=""></span>
                          <span class="card-technology__name"><?=$arrRowTech['name']?></span>
                        </div>

                        <div class="card-technology__hidden">
                          <?=$arrRowTech['Text']?>
                        </div>
                      </div>
                  <?}?>
                  
                  <?if($item_technologies && $item_collection_cert){?>
                    <div class="h30-separator"></div>
                  <?}?>
                  
                  <?if($item_collection_cert){?>
                    <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                      <h4><?=Langs::TEXT_CERTIFICATES?></h4>
                    <?}?>

                    <div class="certificate-list">
                      <?foreach($item_collection_cert as $arrRowCert){?>
                        <div class="certificate-list__item"><?=$arrRowCert['name']?></div>
                      <?}?>
                    </div>
                  <?}?>

                </div>
              <?}?>

              <?if($item_cares){?>
                <div class="tabs-panes__item">

                  <ul class="care-list">

                    <?foreach($item_cares as $arrRowCare){?>
                        <li class="care-list__item">
                          <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
                            <?if($arrRowCare['Icon']){?>
                                <svg width="32px" height="32px">
                                  <use xlink:href="<?=$template_path?>img/sprite.svg#ico<?=$arrRowCare['Icon']?>"></use>
                                </svg>
                            <?}else{?>
                                <?if(!empty($arrRowCare['Image'])){?>
                                  <img src="<?=$arrRowCare['Image']?>" alt="" style="max-width:32px;margin-right:10px;" />
                                <?}?>
                            <?}?>
                          <?}?>
                          <span>
                            <?=$arrRowCare['name']?>
                          </span>
                        </li>
                    <?}?>

                  </ul>

                </div>
              <?}?>

            </div>
          </div>

          <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
            <div class="card-tel-row">
              <?=Langs::TEXT_HAVE_QUESTION_CALL_PHONE?> <a href="tel:<?=clearPhoneForTel($current_catalogue["Phone"])?>" class="js_tel"><?=$current_catalogue["Phone"]?></a>
            </div>
          <?}?>
        </div>
      
        <div class="clear"></div>
      </div>

      <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
        <?if(!empty($strBindSimilarClothIds)){?>
          <div class="card-row__left tpl-variable-part">
            <h4><?=Langs::TEXT_SIMILAR_CLOTH?></h4>

            <div class="items-small-scroll js_similar_cloth_item">

              <?=s_list_class($sub, $cc, "nc_ctpl=159&isNaked=1&similar_cloth_ids=".$strBindSimilarClothIds."")?>

            </div>
          </div>
        <?}?>
      <?}?>

    </div>


    <?php
    /*
    $arrImagePhotosHtml = array();
    $row_i = 0;
    foreach($f_ImagePhotos->to_array() as $row_image){
      $arrImagePhotosHtml[] = '<div class="small-gallery-scroll__item">
                                 <a data-type="ajax" data-src="'.$lang_prefix.'/netcat/modules/default/getImagePhotosGallery.php?item_id='.$item_id.'&collection_id='.$item_collection_id.'&row_i_active='.$row_i.'" href="javascript:;" class="small-gallery-scroll__link js-modal-link js-gallery-link"><span class="small-gallery-scroll__pic" style="background-image: url('.$row_image->resize('370', '250').');"></span></a>
                               </div>';
      $row_i++;
    }
    $collection_image_photos_html = trim(s_list_class(sct::sub('collection'), sct::cc('collection'), "nc_ctpl=".sct::tpl('collection_image_photos')."&isNaked=1&collection_id=".$item_collection_id."&item_id=".$item_id."&row_index_block=".$row_i));
    */
    $imgaes_photos_collection = trim(s_list_class(sct::sub('persona_images'), sct::cc('persona_images'), "nc_ctpl=".sct::tpl('persona_images_collection')."&isNaked=1&collection_id=".$item_collection_id."&item_id=".$item_id."&row_index_block=".$row_i));
    ?>
    <?if($imgaes_photos_collection){?>
      <div class="tpl-variable-part">
        <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
          <h3><?=Langs::TEXT_IMAGE_PICTURES?></h3>
        <?}?>

        <div class="small-gallery-scroll js_gallery_for_item">
          <?=$imgaes_photos_collection?>
          <?//=implode('', $arrImagePhotosHtml)?>
        </div>
      </div>
    <?}?>
	
    <div class="tpl-variable-part">
      <?if($item_header_seo || $item_text_seo){?>
          <section class="page-text">
            <div class="page-text__cont">
              <?if($item_header_seo){?>
                  <h2 class="page-text__title"><?=$item_header_seo?></h2>
              <?}?>

              <?if($item_text_seo){?>
                  <p><?=$item_text_seo?></p>
              <?}?>
            </div>
          </section>
      <?}else{?>
        <?if(!empty($current_sub['HeaderSeo'.$lang_prefix_field]) || !empty($current_sub['TextSeo'.$lang_prefix_field])){?>
          <section class="page-text">
            <div class="page-text__cont">
              <?if(!empty($current_sub['HeaderSeo'.$lang_prefix_field])){?>
                <h2 class="page-text__title"><?=$current_sub['HeaderSeo'.$lang_prefix_field]?></h2>
              <?}?>
              <?=$current_sub['TextSeo'.$lang_prefix_field]?>
            </div>
          </section>
        <?}?>
      <?}?>
    </div>
	
</div>
<!-- /content -->

  </div>
  <div class="catalog-preloader">
    <div class="catalog-preloader__sticky js-sticky-col">
      <div class="preloader"></div>
    </div>
  </div>
</div>















