<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?php
$item = new nc_netshop_item($res[$f_RowNum]);
// запрет кэширования страницы сервером, если цена или скидки зависят от пользователя
if ($template_partial_loading && $item->price_depends_on_user_data()) {
    header('X-Accel-Expires: 0');
}
$item = itemQueryLand::getItemField($item);

$item_id = $item['Message_ID'];
$item_price = $item['ItemPrice'];
$item_currency = $item['Currency'];
$item_name = $item['Name'];
$item_composition = $item['Composition'];
$item_cloth_width = $item['ClothWidth'];
$item_density = $item['Density'];
$item_resist_abrasion = $item['ResistanceAbrasion'];
$item_reapport = $item['Reapport'];
$item_image = $item['Image'];
$item_qr_code = $item['QrCode'];
$item_collection_id = (int)$item['Collection'];
$item_collection_name = $item['AdditionalData']['Collection_Name'];
$item_cloth_type_name = $item['AdditionalData']['Cloth_Name'];
$item_cloth_type_id = $item['AdditionalData']['Cloth'];
$item_country_vendor = $item['AdditionalData']['CountryVendor'];
$item_direction_roll_name = $item['AdditionalData']['DirectionRoll_Name'];
$item_app_area = $item['AdditionalData']['AppArea'];
$item_colors = $item['AdditionalData']['Color'];
$item_url = nc_object_path($classID,$item_id,'full');
$item_min_qty = (int)$item['OrderMinQuantity'];
if(empty($item_min_qty)){
  $item_min_qty = 1;
}
$item_stock = (int)$item['StockUnits'];


$item_type_icon_group = $item['ItemTypeIcon_value'];
$item_type_icon_group_id = $item['ItemTypeIcon_id'];
$arrTypeIconImagePath = array(
	1 => $template_path.'img/pdf/type-ico.svg',
	2 => $template_path.'img/pdf/type-ico2.svg',
);
$item_type_icon_group_image = $arrTypeIconImagePath[$item_type_icon_group_id];

$hide_data_info_collection = false;
$hide_data_info_child = false;

//Класс определяющий, откуда удаляют товар из избранного, используется в js-коде, смотреть еще в карточе товара и файле getItemGallery.php
$add_class_name_for_favorite_is_who_remove = 'is_catalog';

//Избранные товары
if(!empty($arrFavorites)){
  $key_search_favorite = array_search($item_id, array_column($arrFavorites, 'id'));
  if($key_search_favorite !== false){
    if(!empty($arrFavorites[$key_search_favorite]['show_by_article'])){
      $show_catalog_by_article = true;
    }
    $add_class_name_for_favorite_is_who_remove = 'is_favorite';
  }
}

//Избранные товары - в шапке
if(!empty($arrSmallFavorites)){
  $key_search_favorite_small = array_search($item_id, array_column($arrSmallFavorites, 'id'));
  if($key_search_favorite_small !== false){
    if(!empty($arrSmallFavorites[$key_search_favorite_small]['show_by_article'])){
      $show_catalog_by_article = true;
    }
  }
}

//Избранные товары - PDF
if(!empty($arrFavoritesPDF)){
  $key_search_favorite_pdf = array_search($item_id, array_column($arrFavoritesPDF, 'id'));
  if($key_search_favorite_pdf !== false){
    if(!empty($arrFavoritesPDF[$key_search_favorite_pdf]['show_by_article'])){
      $show_catalog_by_article = true;
    }
  }
}
if(!empty($json_cart_header) || !empty($cart_ids) || !empty($cart_order_ids)){
  $show_catalog_by_article = true;
}


$set_real_id = $item_id;
$set_real_class_id = $item['Class_ID'];
if($show_catalog_by_article){
  $hide_data_info_collection = true;
  $hide_data_info_child = true;
  $item_name = $item_name;
}else{
  $item_name = $item_collection_name;
  $set_real_id = $item_collection_id;
  $set_real_class_id = 160;
}

$is_favorite_real = $netshop->goodslist_favorite->check($set_real_id, $set_real_class_id);

$arrDataItems = getDataItemsCollectionChild($item, $hide_data_info_collection, $hide_data_info_child);

if(empty($item_qr_code)){
	generateQrCodeItem($set_real_class_id, $set_real_id, 'QrCode');
	$item_qr_code = nc_file_path($set_real_class_id, $set_real_id, 'QrCode');
}




$arrItemsJsonSearch['items'][] = array(
  'name' => $item_name,
  'link' => $item_url,
);
?>


<?if( ((int)$old_collection_id !== (int)$item_cloth_type_id || !$old_collection_id) && $group_cloth){?>
  <h3><?=$item_cloth_type_name?></h3>
<?}?>




<?if(empty($similar_cloth_ids) && empty($arrSmallFavorites) && empty($favorites_pdf_ids) && empty($cart_header_ids) && empty($json_cart) && empty($cart_order_ids)){?>

<div class="catalog-list__item">
  <div class="item-tile <?=($show_catalog_by_article ? 'show-info' : NULL)?>">
    <div class="item-tile__pic">
      
      <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
        <span <?=(!empty($arrDataItems[0]['no_photo']) ? 'style="display:none;"' : NULL)?> data-src="<?=$lang_prefix?>/netcat/modules/default/getItemGallery.php?active_id=<?=$row_id?>&active_class_id=<?=$set_real_class_id?>&item_id=<?=$set_real_id?>"  class="zoom-ico js_link_no_clicked js_open_modal_no_cache"></span>
        <span class="favorites-ico js-add-favorites <?=$add_class_name_for_favorite_is_who_remove?> <?=($is_favorite_real ? 'active' : NULL)?>" data-url="<?=$lang_prefix?>/netcat/modules/default/addFavorite.php" data-class-id="<?=$set_real_class_id?>" data-id="<?=$set_real_id?>"></span>
      <?}?>
      
      <div class="item-tile-slider js-item-tile-slider">
        
        <?php
        foreach($arrDataItems as $arrRowDataItem){
          $row_id = $arrRowDataItem['id'];
          if(!empty($arrRowDataItem['collection_id'])){
            $row_id = $arrRowDataItem['collection_id'];
          }
          $is_favorite = $netshop->goodslist_favorite->check($row_id, $arrRowDataItem['class_id']);
          
          $arrJsonItem = array(
              //Чтобы когда слайдер переключали, и снова переключались на первое изображение, становилось имя коллекции
              'name' => !empty($arrRowDataItem['collection_id']) && !$show_catalog_by_article ? $arrRowDataItem['item_data']['AdditionalData']['Collection_Name'] : $arrRowDataItem['item_data']['Name'],
              'id' => $row_id,
              'class_id' => $arrRowDataItem['class_id'],
              'is_hit' => $arrRowDataItem['item_data']['isHit'],
              'is_new' => $arrRowDataItem['item_data']['isNew'],
              'is_new_colour' => $arrRowDataItem['item_data']['isNewColour'],
              'is_sale' => $arrRowDataItem['item_data']['isSale'],
              'is_call' => $arrRowDataItem['item_data']['isUnderOrder'],
              'url_zoom' => $lang_prefix.'/netcat/modules/default/getItemGallery.php?active_id='.$row_id.'&active_class_id='.$arrRowDataItem['class_id'].'&item_id='.$item_id,
              'is_favorite' => $is_favorite,
              'is_zoom' => (!empty($arrRowDataItem['no_photo']) ? false : true),
          );
          
          echo '<a href="'.$lang_prefix.$arrRowDataItem['full_link'].'" data-json=\''.json_encode($arrJsonItem).'\' class="item-tile-slider__link '.($arrRowDataItem['no_photo'] ? 'item-tile-slider__link_no-pic' : NULL).'">
                  <span class="item-tile__img"><span><img  data-lazy="'.$arrRowDataItem['list'].'" width="270" height="270" alt=""></span></span>
                </a>';
        }
        ?>
      </div>
      
      <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
        <span class="item-tile__label item-tile__label_sale" style="display:none;">Sale</span>
        <span class="item-tile__label item-tile__label_new" style="display:none;">NEW</span>
        <span class="item-tile__label item-tile__label_new_colour" style="display:none;">New colour</span>
        <span class="item-tile__label item-tile__label_hit" style="display:none;">HIT</span>
        <span class="item-tile__label item-tile__label_call" style="display:none;">Call</span>

        <strong class="item-tile__name"><?=$item_name?></strong>

        <?if($item_type_icon_group){?>
          <span class="type-ico"><?=$item_type_icon_group?></span>
        <?}?>
      <?}?>
      
    </div>
    <div class="item-tile__info">
      <div class="item-tile__price-line">
        <a href="<?=$lang_prefix.$item_url?>" class="item-tile__type"><?=$item_cloth_type_name?></a>
        
        <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
          <span class="item-tile__price">
            <span>1 <?=Langs::TEXT_ONE_RUNNING_METER?>:</span>
            <strong>
              <?if($item_price){?>
                <?=formatPrice($item_price, $item_currency)?> ₽
              <?}else{?>
                <?=Langs::TEXT_PRICE_ON_REQUEST?>
              <?}?>
            </strong>
          </span>
        <?}?>
      </div>
      
      <?if(mb_stripos($_SERVER["HTTP_USER_AGENT"],"NetCat Bot") === false){?>
        <div class="item-tile__params">
          <?if($item_composition){?>
            <?=Langs::TEXT_COMPOSITION?>: <?=$item_composition?>
            <br>
          <?}?>

          <?if($item_cloth_width){?>
            <?=Langs::TEXT_CLOTH_WIDTH?>: <?=$item_cloth_width?> <?=Langs::TEXT_CM?>
            <br>
          <?}?>

          <?if($item_density){?>
            <?=Langs::TEXT_DENSITY_AND_WEIGHT?>: <?=$item_density?> <?=Langs::TEXT_GRAMM_METER?>
            <br>
          <?}?>

          <?if($item_resist_abrasion){?>
            <?=Langs::TEXT_SUSTAINABILITY?>: 
              <?if(is_numeric($item_resist_abrasion)){?>
                <?=formatPrice($item_resist_abrasion)?>
              <?}else{?>
                <?=$item_resist_abrasion?>
              <?}?>
            <?php
            preg_match('/(\d+)/', $item_resist_abrasion, $matches);
            $item_resist_abrasion_int = $matches[0];
            ?>
            <?=sklonenie($item_resist_abrasion_int, array('цикл', 'цикла', 'циклов'), array('cycle', 'cycle', 'cycles'))?>
          <?}?>
        </div>
      <?}?>
    </div>
    <span class="item-tile__shadow"></span>
  </div>
</div>

<?php
$old_collection_id = $item_cloth_type_id;
?>



<?}else if(!empty($similar_cloth_ids)){?>

  <div class="items-small-scroll__item">
    <a href="<?=$lang_prefix.$item_url?>" class="item-tile-small">
      <span class="favorites-ico js-add-favorites is_similar <?=($is_favorite_real ? 'active' : NULL)?>" data-url="<?=$lang_prefix?>/netcat/modules/default/addFavorite.php" data-class-id="<?=$set_real_class_id?>" data-id="<?=$set_real_id?>"></span>
      
      <span class="item-tile-small__pic <?=(!empty($arrDataItems[0]['no_photo']) ? 'item-tile-small__pic_empty' : NULL)?>">
        <img src="<?=$arrDataItems[0]['small']?>" width="120" height="120" alt="">
        <?if($item_type_icon_group){?>
          <span class="type-ico"><?=$item_type_icon_group?></span>
        <?}?>
      </span>
      <span class="item-tile-small__name">
        <?=$item_name?>
      </span>
    </a>
  </div>

<?}else if(!empty($arrSmallFavorites)){?>
  <div class="favorites-scroll__item">
    <a href="<?=$lang_prefix.$item_url?>" class="favorite-item">
      <span class="favorite-item__pic" style="background-image: url(<?=$arrDataItems[0]['small']?>);<?=(!empty($arrDataItems[0]['no_photo']) ? 'background-repeat:no-repeat;background-size:auto;' : NULL)?>">
        <span class="favorite-item__remove js-remove-favorites js_remove_favorite_header_<?=$set_real_class_id?>_<?=$set_real_id?>" data-url="<?=$lang_prefix?>/netcat/modules/default/addFavorite.php" data-class-id="<?=$set_real_class_id?>" data-id="<?=$set_real_id?>"></span>
      </span>

      <strong class="favorite-item__name"><?=$item_name?></strong>
    </a>
  </div>
<?}else if(!empty($favorites_pdf_ids)){?>

<?php
global $row_break_i_first_three,$row_break_i_by_four_not_first_three,$total;
?>
<div class="item <?=( ((int)$row_break_i_first_three === 3) || ($row_break_i_by_four_not_first_three % 3 === 0 && $row_break_i_first_three > 3) && (int)$total !== (int)$row_break_i_by_four_not_first_three ? 'is_break' : NULL)?>">
  <div class="item__pic">
    <img src="<?=$full_site_url.$arrDataItems[0]['list']?>" width="240" height="240" alt="">
    
    <?if(!empty($item_type_icon_group_id)){?>
      <span class="ico">
        <img src="<?=$full_site_url.$item_type_icon_group_image?>" width="25" height="32" alt="">
      </span>
    <?}?>
  </div>
  <div class="item__info">
    <strong class="item__name"><?=$item_name?></strong>
    
    <?if(!empty($item_cloth_type_name)){?>
      <dl class="item-params">
        <dt><?=Langs::TEXT_TYPE_CLOTH?></dt>
        <dd><?=$item_cloth_type_name?></dd>
      </dl>
    <?}?>
    
    <?if(!empty($item_country_vendor)){?>
      <dl class="item-params">
        <dt><?=Langs::TEXT_COUNTRY_VENDOR?>ь</dt>
        <dd><?=$item_country_vendor?></dd>
      </dl>
    <?}?>
    
    <?if(!empty($item_composition)){?>
      <dl class="item-params">
        <dt><?=Langs::TEXT_COMPOSITION?>:</dt>
        <dd><?=$item_composition?></dd>
      </dl>
    <?}?>
    
    <?if(!empty($item_cloth_width)){?>
      <dl class="item-params">
        <dt><?=Langs::TEXT_CLOTH_WIDTH?></dt>
        <dd><strong><?=$item_cloth_width?></strong></dd>
      </dl>
    <?}?>
    
    <?if(!empty($item_density)){?>
      <dl class="item-params">
        <dt><?=Langs::TEXT_DENSITY_OF_CLOTH?></dt>
        <dd><strong><?=$item_density?></strong></dd>
      </dl>
    <?}?>
    
    <?if(!empty($item_composition)){?>
      <dl class="item-params">
        <dt><?=Langs::TEXT_RESISTANCE_TO_ABRASION_NO_CYCLES?></dt>
        <dd>
          <strong>
            <?if(is_numeric($item_resist_abrasion)){?>
              <?=formatPrice($item_resist_abrasion)?>
            <?}else{?>
              <?=$item_resist_abrasion?>
            <?}?>
          <?php
          preg_match('/(\d+)/', $item_resist_abrasion, $matches);
          $item_resist_abrasion_int = $matches[0];
          ?>
          </strong>
          <?=sklonenie($item_resist_abrasion_int, array('цикл', 'цикла', 'циклов'), array('cycle', 'cycle', 'cycles'))?>
        </dd>
      </dl>
    <?}?>
    
    <?if(!empty($item_reapport)){?>
      <dl class="item-params">
        <dt><?=Langs::TEXT_RAPPORT_CM?></dt>
        <dd><strong><?=$item_reapport?></strong> <?=Langs::TEXT_CM?></dd>
      </dl>
    <?}?>
    
    <?if(!empty($item_direction_roll_name)){?>
      <dl class="item-params">
        <dt><?=Langs::TEXT_DIRECTION_IN_ROLL?></dt>
        <dd><?=$item_direction_roll_name?></dd>
      </dl>
    <?}?>
    
    <?if(!empty($item_composition)){?>
      <dl class="item-params">
        <dt><?=Langs::TEXT_APP_AREA?>:</dt>
        <dd>
          <?php
          foreach($item_app_area as $arrRowAppArea){
            echo '<span class="param-ico"><img src="'.$full_site_url.$arrRowAppArea['Image'].'" width="21" height="22" alt=""></span>';
          }
          ?>
        </dd>
      </dl>
    <?}?>

    <img src="<?=$full_site_url.$item_qr_code?>" width="100" height="100" alt="" class="item__code">
  </div>
</div>

<?}else if(!empty($cart_header_ids)){?>

  <li class="header-cart-list__item js_item_row">
    <a href="<?=$lang_prefix.$item_url?>" class="header-cart-list__pic">
      <img src="<?=$arrDataItems[0]['small']?>" width="90" height="90" alt="">
    </a>
    <div class="header-cart-list__info">
      <a href="<?=$lang_prefix.$item_url?>" class="header-cart-list__name"><?=$item_name?></a>
      <?if(!empty($item_cloth_type_name)){?>
        <dl class="item-params">
          <dt class="item-params__title"><?=Langs::TEXT_TYPE_CLOTH?>:</dt>
          <dd class="item-params__val"><?=$item_cloth_type_name?></dd>
        </dl>
      <?}?>
      
      <?if(!empty($item_collection_name)){?>
        <dl class="item-params">
          <dt class="item-params__title"><?=Langs::TEXT_COLLECTION?>:</dt>
          <dd class="item-params__val"><?=$item_collection_name?></dd>
        </dl>
      <?}?>
      
      <?if(!empty($item_colors)){?>
        <dl class="item-params">
          <dt class="item-params__title"><?=Langs::TEXT_COLOR?>:</dt>
          <dd class="item-params__val"><?=implode(', ', array_column($item_colors, 'name'))?></dd>
        </dl>
      <?}?>
      
      <input type="hidden" name="cart[<?=$set_real_class_id?>][<?=$item_id?>]" value="<?=$arrCartHeaderItems[$item_id]['qty']?>" class="js_card_count" />
      
      <span class="header-cart-list__remove js_cart_remove"></span>
    </div>
  </li>

<?}else if(!empty($cart_ids)){?>

  <tr class="js_item_row">
    <td class="basket-table__cell">
      <div class="basket-table__item">
        <a href="<?=$lang_prefix.$item_url?>" class="basket-table__pic">
          <img src="<?=$arrDataItems[0]['small']?>" width="90" height="90" alt="">
        </a>
        <div class="basket-table__info">
          <a href="<?=$lang_prefix.$item_url?>" class="basket-table__name"><?=$item_name?></a>
          <?if(!empty($item_cloth_type_name)){?>
            <dl class="item-params">
              <dt class="item-params__title"><?=Langs::TEXT_TYPE_CLOTH?>:</dt>
              <dd class="item-params__val"><?=$item_cloth_type_name?></dd>
            </dl>
          <?}?>

          <?if(!empty($item_collection_name)){?>
            <dl class="item-params">
              <dt class="item-params__title"><?=Langs::TEXT_COLLECTION?>:</dt>
              <dd class="item-params__val"><?=$item_collection_name?></dd>
            </dl>
          <?}?>

          <?if(!empty($item_colors)){?>
            <dl class="item-params">
              <dt class="item-params__title"><?=Langs::TEXT_COLOR?>:</dt>
              <dd class="item-params__val"><?=implode(', ', array_column($item_colors, 'name'))?></dd>
            </dl>
          <?}?>
        </div>
      </div>
    </td>
    <td class="basket-table__cell basket-table__cell_center" data-title="<?=Langs::TEXT_PRICE?>:"><span class="basket-table__price"><?=formatPrice($item_price)?> ₽</span></td>
    <td class="basket-table__cell basket-table__cell_center" data-title="<?=Langs::TEXT_AMOUNT?>:">
      <div class="count-input">
        <input type="number" name="cart[<?=$set_real_class_id?>][<?=$item_id?>]" value="<?=$arrCartItems[$item_id]['qty']?>" min="<?=$item_min_qty?>" max="<?=$item_stock?>" maxlength="<?=(mb_strlen($item_stock))?>" class="js_card_count in_cart js_number_mask">
        <br> <?=Langs::TEXT_ONE_RUNNING_METER?>
      </div>
    </td>
    <td class="basket-table__cell basket-table__cell_center" data-title="<?=Langs::TEXT_SUM?>:"><strong class="basket-table__full-price"><?=formatPrice($item_price * $arrCartItems[$item_id]['qty'])?> ₽</strong></td>
    <td class="basket-table__cell basket-table__cell_remove">
      <span class="basket-table__remove js_cart_remove_in_folder"></span>
    </td>
  </tr>

<?}else if(!empty($cart_order_ids)){?>

  <tr class="js_item_row">
    <td class="basket-table__cell">
      <div class="basket-table__item">
        <a href="<?=$lang_prefix.$item_url?>" class="basket-table__pic">
          <img src="<?=$arrDataItems[0]['small']?>" width="90" height="90" alt="">
        </a>
        <div class="basket-table__info">
          <a href="<?=$lang_prefix.$item_url?>" class="basket-table__name"><?=$item_name?></a>
          <?if(!empty($item_cloth_type_name)){?>
            <dl class="item-params">
              <dt class="item-params__title"><?=Langs::TEXT_TYPE_CLOTH?>:</dt>
              <dd class="item-params__val"><?=$item_cloth_type_name?></dd>
            </dl>
          <?}?>

          <?if(!empty($item_collection_name)){?>
            <dl class="item-params">
              <dt class="item-params__title"><?=Langs::TEXT_COLLECTION?>:</dt>
              <dd class="item-params__val"><?=$item_collection_name?></dd>
            </dl>
          <?}?>

          <?if(!empty($item_colors)){?>
            <dl class="item-params">
              <dt class="item-params__title"><?=Langs::TEXT_COLOR?>:</dt>
              <dd class="item-params__val"><?=implode(', ', array_column($item_colors, 'name'))?></dd>
            </dl>
          <?}?>
        </div>
      </div>
    </td>
    <td class="basket-table__cell basket-table__cell_center" data-title="<?=Langs::TEXT_PRICE?>:"><span class="basket-table__price"><?=formatPrice($item_price)?> ₽</span></td>
    <td class="basket-table__cell basket-table__cell_center" data-title="<?=Langs::TEXT_AMOUNT?>:">
      <span class="count-result"><?=$arrCartItems[$item_id]['qty']?> <?=Langs::TEXT_ONE_RUNNING_METER?></span>
    </td>
    <td class="basket-table__cell basket-table__cell_center" data-title="<?=Langs::TEXT_SUM?>:"><strong class="basket-table__full-price"><?=formatPrice($item_price * $arrCartItems[$item_id]['qty'])?> ₽</strong></td>
  </tr>

<?}?>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>