<div class="nc-modal-dialog" data-hidden-tabs="tab-system">
  <div class="nc-modal-dialog-header">
    <h2>
      <?= $current_cc["Sub_Class_Name"] ?>
    </h2>
  </div>
  <div class="nc-modal-dialog-body">

    <?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
    <form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
      <div id='nc_moderate_form'>
        <div class='nc_clear'></div>
        <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
        <?= $nc_core->token->get_input() ?>
        <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
        <input name='cc' type='hidden' value='<?= $cc ?>' />
        <input name='sub' type='hidden' value='<?= $sub ?>' />
        <input name='posting' type='hidden' value='1' />
        <input name='curPos' type='hidden' value='<?= $curPos ?>' />
        <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
        <?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
        
        <input name='f_Language_ID' type='hidden' value='1' />
      </div>
      
      <div data-tab-caption="Общие данные" data-tab-id="data-general">
        <div class='nc-field nc-field-type-select'><?= nc_list_field('ItemTypeIcon', "", ($class_id ? $class_id : $classID), 1) ?></div>
        
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isNew', "", ($class_id ? $class_id : $classID ), 1) ?></div>

        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isHit', "", ($class_id ? $class_id : $classID ), 1) ?></div>

        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isSale', "", ($class_id ? $class_id : $classID ), 1) ?></div>

        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isContractFabric', "", ($class_id ? $class_id : $classID ), 1) ?></div>

        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isUnderOrder', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        
        <div class='nc-field nc-field-type-datetime'><?= nc_date_field('DateExpectedOfReceipt', "", ($class_id ? $class_id : $classID), 1) ?></div>
        
        
        <div class='nc-field nc-field-type-file'><?= nc_file_field('RapportImage', "size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        
        <div class='nc-field nc-field-type-file'><?= nc_file_field('Image', "size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        
        <div class='nc-field nc-field-type-multifile'><?= $f_ImagePhotos->form() ?></div>
        
        <div class='nc-field nc-field-type-file'><?= nc_file_field('QrCode', "size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

        <div class='nc-field nc-field-type-float'><?= nc_float_field('Price', "maxlength='12' size='12'", ( $class_id ? $class_id : $classID), 1) ?></div>

        <div class='nc-field nc-field-type-int'><?= nc_int_field('Weight', "maxlength='12' size='12'", ($class_id ? $class_id : $classID), 1) ?></div>
        
        <div class='nc-field nc-field-type-int'><?= nc_int_field('OrderMinQuantity', "maxlength='12' size='12'", ($class_id ? $class_id : $classID), 1) ?></div>

        <div class='nc-field nc-field-type-int'><?= nc_int_field('StockUnits', "maxlength='12' size='12'", ($class_id ? $class_id : $classID), 1) ?></div>

        <div class='nc-field nc-field-type-int'><?= nc_int_field('OrderMinQuantity', "maxlength='12' size='12'", ($class_id ? $class_id : $classID), 1) ?></div>
        
        
        
        <div class='nc-field nc-field-type-relation'>
          <span class="nc-field-caption">Коллекция:</span>
          <?php
          $arrParamsSelectCollection = array(
            'classID' => 160,
            'fieldname' => 'Collection',
            'value' => $f_Collection,
          );
          echo get_select_list($arrParamsSelectCollection);
          ?>
        </div>

        <div class='nc-field nc-field-type-relation'>
          <span class="nc-field-caption">Дизайн:</span>
          <?php
          $arrParamsSelectDesign = array(
            'classID' => 162,
            'fieldname' => 'Design',
            'value' => $f_Design,
          );
          echo get_select_list($arrParamsSelectDesign);
          ?>
        </div>

        <div class='nc-field nc-field-type-relation'>
          <span class="nc-field-caption">Тип ткани:</span>
          <?php
          $arrParamsSelectCloth = array(
            'classID' => 164,
            'fieldname' => 'Cloth',
            'value' => $f_Cloth,
          );
          echo get_select_list($arrParamsSelectCloth);
          ?>
        </div>

        <div class='nc-field nc-field-type-relation'>
          <span class="nc-field-caption">Направление в рулоне:</span>
          <?php
          $arrParamsSelectDirectionRoll = array(
            'classID' => 178,
            'fieldname' => 'DirectionRoll',
            'value' => $f_DirectionRoll,
          );
          echo get_select_list($arrParamsSelectDirectionRoll);
          ?>
        </div>










        <div class='nc-field nc-field-type-string'><?= nc_string_field('ClothWidth', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

        <div class='nc-field nc-field-type-select'><?= nc_list_field('CountryVendor', "", ($class_id ? $class_id : $classID), 1) ?></div>

        <div class='nc-field nc-field-type-string'><?= nc_string_field('Density', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

        <div class='nc-field nc-field-type-string'><?= nc_string_field('ResistanceAbrasion', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>

        <div class='nc-field nc-field-type-string'><?= nc_string_field('Reapport', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        
        
        <div class='nc-field nc-field-type-relation'>
          <span class="nc-field-caption">Похожие ткани:</span>
          <?php
          
          $arrParamsSelectSimilarCloth = array(
            'classID' => 31,
            'fieldname' => 'SimilarCloth[]',
            'value' => NULL,
            'where' => "AND a.Message_ID <> '".$message."' AND a.Parent_Message_ID <> '".$message."'",
            'add_dop_value' => 'class="js_chosen_multiple" multiple',
            'hide_default' => true,
          );
          echo get_select_list($arrParamsSelectSimilarCloth);
          ?>
        </div>
        <br/>


        <div style='display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: stretch;align-content: stretch;'>
          <div class='nc-field nc-field-type-multiselect'>
            <span class="nc-field-caption">Тип товара:</span>
            <?php
            $f_TypeItem = explode(',',$f_TypeItem);
            ?>
            <?=get_checkbox_list(243, 'TypeItem[%ID%]', $f_TypeItem)?>
          </div>
          
          <div class='nc-field nc-field-type-multiselect'>
            <span class="nc-field-caption">Цвет:</span>
            <?php
            $f_Color = explode(',',$f_Color);
            ?>
            <?=get_checkbox_list(172, 'Colors[%ID%]', $f_Color)?>
          </div>

          <div class='nc-field nc-field-type-multiselect'>
            <span class="nc-field-caption">Область применения:</span>
            <?php
            $f_AppArea = explode(',',$f_AppArea);
            ?>
            <?=get_checkbox_list(168, 'AppAreas[%ID%]', $f_AppArea)?>
          </div>

          <div class='nc-field nc-field-type-multiselect'>
            <span class="nc-field-caption">Технологии:</span>
            <?php
            $f_Technologies = explode(',',$f_Technologies);
            ?>
            <?=get_checkbox_list(174, 'Technologies[%ID%]', $f_Technologies)?>
          </div>

          <div class='nc-field nc-field-type-multiselect'>
            <span class="nc-field-caption">Уход:</span>
            <?php
            $f_Care = explode(',',$f_Care);
            ?>
            <?=get_checkbox_list(176, 'Cares[%ID%]', $f_Care)?>
          </div>
        </div>
      </div>
      
      <div data-tab-caption="Русская версия" data-tab-id="data-ru">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', false, 'Name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', false, 'Composition', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', false, 'HeaderSeo', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-text"><?= FieldHelper::renderTextField('ru', false, 'TextSeo', "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      <div data-tab-caption="Английская версия" data-tab-id="data-en">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', false, 'Name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', false, 'Composition', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', false, 'HeaderSeo', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-text"><?= FieldHelper::renderTextField('en', false, 'TextSeo', "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      
      <?=FieldHelper::renderTabSystemLang($classID)?>

      <? if (!$AUTH_USER_ID && $current_cc['UseCaptcha'] && $MODULE_VARS['captcha']) { ?><?= nc_captcha_formfield() ?><br/><br/><?= NETCAT_MODERATION_CAPTCHA ?> (*):<br/><input type='text' name='nc_captcha_code' size='10'><br/><br/><? } ?>
      <div class='nc-hint nc-hint-required-fields'><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div>
      <?= nc_submit_button(NETCAT_MODERATION_BUTTON_ADD) ?>
    </form>

  </div>
  <div class="nc-modal-dialog-footer">
    <!-- Для стандартных кнопок нужно указать атрибут data-action: -->
    <button data-action="close">Закрыть</button>
    <button data-action="submit">Сохранить</button>
    <?if(!empty($system_env["AutosaveUse"])){?>
      <button data-action="save-draft">Сохранить черновик</button>
    <?}?>
  </div>
  
  <link rel="stylesheet" href="<?=$HTTP_ROOT_PATH?>modules/default/js/chosen/chosen.min.css" type="text/css" />
  <script type="text/javascript" src="<?=$HTTP_ROOT_PATH?>modules/default/js/chosen/chosen.jquery.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.js_chosen_multiple').chosen({
        width:'300px',
        search_contains: true,
        placeholder_text_multiple: "Выберите товары",
      });
    });
  </script>
</div>
<div class='nc-hint nc-hint-required-fields'><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div>
<?= nc_submit_button(NETCAT_MODERATION_BUTTON_ADD) ?>
</form>