<!-- FormPrefix --><?= $f_AdminCommon ?>
<div class="tpl-block-list tpl-component-goods">
<!-- /FormPrefix -->

<!-- RecordTemplate --><?php
$item = new nc_netshop_item($res[$f_RowNum]);
?>

<div class="tpl-block-list tpl-component-goods">
    <div class="tpl-block-list-object">
        <h3><a href="<?= $fullLink ?>"><?= $item["FullName"] ?></a></h3>

        <?= $f_AdminButtons; ?>
        <?= nc_netshop_item_variant_admin_table($item, array('Article', 'Name', 'Price')); ?>

        <?php if ($item["BigImage"]): ?>
            <div class="tpl-property-big-image">
                <a href="<?= $fullLink ?>">
                    <img src="<?= $item["BigImage"] ?>" alt="<?= htmlspecialchars($item["Name"], ENT_QUOTES) ?>" style="max-height: 200px" />
                </a>
            </div>
        <?php endif; ?>

        <div class="tpl-property-description">
            <?= $item["Description"] ?>
        </div>

        <div class="tpl-block-prices">
            <?php
            if ($cc_settings["show_price_range"] || !$item["ItemPrice"] || !$item["Checked"]):
                // Показываем диапазон цен, если это указано в настройках, или у товара нет цены,
                // или товар отключён:

                if ($item["ItemPriceMin"] != $item["OriginalPriceMin"]): ?>
                    <div class="tpl-property-original-price tpl-property-original-price-range">
                        <?= $item["OriginalPriceRange"] ?>
                    </div>
                <?php endif; ?>

                <div class="tpl-property-item-price tpl-property-item-price-range"><?= $item["ItemPriceRange"] ?></div>

            <?php else: ?>
                <?php if ($item["ItemDiscount"]): ?>
                    <div class="tpl-block-discount">
                        <span class="tpl-property-original-price"><?= $item["OriginalPriceF"] ?></span>
                        <span class="tpl-property-discount-percent">(скидка: <?= $item["DiscountPercent"] ?>%)</span>
                    </div>
                <?php endif; ?>
                    <div class="tpl-property-item-price"><?= $item["ItemPriceF"] ?></div>
            <?php endif; ?>
        </div>
    </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --></div>
<div class="tpl-block-pagination">
    <? if (strlen($prevLink)): ?>
        <a href="<?= $prevLink; ?>" class="tpl-link-prev" title="Предыдущая страница">Предыдущая страница</a>
    <? endif; ?>
    <?= nc_browse_messages($cc_env, 10, $pages_template); ?>
    <? if (strlen($nextLink)): ?>
        <a href="<?= $nextLink; ?>" class="tpl-link-next" title="Следующая страница">Следующая страница</a>
    <? endif; ?>
</div>
<!-- /FormSuffix -->