<div class="nc-modal-dialog" data-hidden-tabs="tab-system">
  <div class="nc-modal-dialog-header">
    <h2>
      <?= $current_cc["Sub_Class_Name"] ?>
    </h2>
  </div>
  <div class="nc-modal-dialog-body">

    <?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
    <form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
      <div id='nc_moderate_form'>
        <div class='nc_clear'></div>
        <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
        <?= $nc_core->token->get_input() ?>
        <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
        <input name='cc' type='hidden' value='<?= $cc ?>' />
        <input name='sub' type='hidden' value='<?= $sub ?>' />
        <input name='posting' type='hidden' value='1' />
        <input name='curPos' type='hidden' value='<?= $curPos ?>' />
        <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
        <input name='f_Language_ID' type='hidden' value='1' />
        <?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
      </div>
      
      <div data-tab-caption="Общие данные" data-tab-id="data-general">
        <div class='nc-field nc-field-type-select'><?= nc_list_field('TypeContact', "class='js_change_bracing'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-select js_is_contact'><?= nc_list_field('Cities', "", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-string js_is_contact'><?= nc_string_field('PhoneHeader', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-string'><?= nc_string_field('Phones', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-string'><?= nc_string_field('Email', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-string'><?= nc_string_field('SiteLink', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class='nc-field nc-field-type-file js_is_contact'><?= nc_file_field('FilePrint', "size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      
      <div data-tab-caption="Данные для Перетяжки" data-tab-id="data-bracing">
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isCash', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isCashlessPay', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isOnlinePay', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isDaysWeek', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        <div class='nc-field nc-field-type-boolean'><?= nc_bool_field('isNew', "", ($class_id ? $class_id : $classID ), 1) ?></div>
        
        <div class='nc-field nc-field-type-select'><?= nc_list_field('Countries', "", ($class_id ? $class_id : $classID), 1) ?></div>
        
        <div class='nc-field nc-field-type-relation'>
          <span class="nc-field-caption">Региональный дилер:</span>
          <?php
          $arrParamsDealer = array(
            "classID" => 204,
            "fieldname" => "Dealer_ID",
            "value" => $f_Dealer_ID,
            "join" => "LEFT JOIN Classificator_TypeContact as cl ON a.TypeContact = cl.TypeContact_ID",
            "ifname" => "IF(a.Name <> '' AND a.Name IS NOT NULL, a.Name, cl.TypeContact_Name) as Name",
            //"hide_default" => true,
            "where" => " AND a.TypeContact <> 4",
          );
          echo get_select_list($arrParamsDealer);
          ?>
        </div>
        
        <div class='nc-field nc-field-type-multifile'><?= $f_ImagesPaymentMethod->form() ?></div>
        
        <div class='nc-field nc-field-type-multiselect'>
          <span class="nc-field-caption">Типы перетяжки:</span>
          <?php
          $f_TypeBanners = explode(',',$f_TypeBanners);
          ?>
          <?=get_checkbox_list(213, 'TypeBanners[%ID%]', $f_TypeBanners)?>
        </div>
        
        <div class='nc-field nc-field-type-multiselect'><?= nc_multilist_field('AdditionalService', "", "", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      
      <div data-tab-caption="Русская версия" data-tab-id="data-ru">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', false, 'Name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', false, 'Address', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('ru', false, 'WorkTime', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      <div data-tab-caption="Английская версия" data-tab-id="data-en">
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', false, 'Name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', false, 'Address', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
        <div class="nc-field nc-field-type-string"><?= FieldHelper::renderStringField('en', false, 'WorkTime', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?></div>
      </div>
      
      <div data-tab-caption="Карта">
        <div class='nc-field'>
          <input type="text" id="find_address" maxlength="255" size="50">
          <button type="button" id="findOnMap">Найти на карте</button>
        </div>
        
        <? include_once($NETCAT_FOLDER."netcat/modules/default/js/ymap.php"); ?>
        <!-- координаты объекта -->
        <div style='width:100%;clear:both;'>
          <p>Объект на карте</p>
          <div id="YMapsID"></div>
          
          <input type="hidden" id="markerPosition" name="f_maincoordinates" value="">
          <input type="hidden" id="mapZoom" value="8" name="f_mapZoom">
          <input type="hidden" id="mapCenter" value="">
          <div style="display:none;">
            <div class='nc-field nc-field-type-float'><?= nc_float_field('Longitude', "maxlength='12' size='12'", ( $class_id ? $class_id : $classID), 1) ?></div>
            <div class='nc-field nc-field-type-float'><?= nc_float_field('Latitude', "maxlength='12' size='12'", ( $class_id ? $class_id : $classID), 1) ?></div>
            <div class='nc-field nc-field-type-int'><?= nc_int_field('Zoom', "maxlength='12' size='12'", ($class_id ? $class_id : $classID), 1) ?></div>
          </div>
        </div>
      </div>
      
      <?=FieldHelper::renderTabSystemLang($classID)?>

      <? if (!$AUTH_USER_ID && $current_cc['UseCaptcha'] && $MODULE_VARS['captcha']) { ?><?= nc_captcha_formfield() ?><br/><br/><?= NETCAT_MODERATION_CAPTCHA ?> (*):<br/><input type='text' name='nc_captcha_code' size='10'><br/><br/><? } ?>
      <div class='nc-hint nc-hint-required-fields'><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div>
      <?= nc_submit_button(NETCAT_MODERATION_BUTTON_ADD) ?>
    </form>

  </div>
  <div class="nc-modal-dialog-footer">
    <!-- Для стандартных кнопок нужно указать атрибут data-action: -->
    <button data-action="close">Закрыть</button>
    <button data-action="submit">Сохранить</button>
    <?if(!empty($system_env["AutosaveUse"])){?>
      <button data-action="save-draft">Сохранить черновик</button>
    <?}?>
  </div>
  <script>
  $(document).ready(function(){
    $('.js_change_bracing').on('change', function(){
      $('.js_is_contact').show();
      $('.js_is_bracing').hide();
      $('li[data-tab-id="data-bracing"]').hide();
      if($(this).val() == 4){
        $('.js_is_contact').hide();
        $('.js_is_bracing').show();
        $('li[data-tab-id="data-bracing"]').show();
      }
    });
    $('.js_change_bracing').trigger('change');
  });
  </script>
</div>