<!-- FormPrefix --><?= $f_AdminCommon; ?><!-- /FormPrefix -->

<!-- RecordTemplate --><div>
  <?= $f_AdminButtons; ?>
  <h3><?=($f_Name ? $f_Name : $f_TypeContact)?></h3>
  <p><?=$f_Address?></p>
</div>
<br/>
<br/><!-- /RecordTemplate -->

<!-- FormSuffix --><br/>
<br/>
<?= browse_messages($cc_env, 15) ?>
<br/>
<br/><!-- /FormSuffix -->