<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?if((int)$cc_settings['SliderTemplate'] === 3){?>
  <div class="main-slider2__item slide_<?=$f_RowID?>">
    <div class="main-slider2__pic" style="background-image: url(<?=$f_Image?>);<?=($f_OpacityImage ? 'opacity:'.$f_OpacityImage.';' : NULL)?>"></div>
    <div class="main-slider2__content" style="<?=($f_ColorBackgroundRight ? 'background-color:'.$f_ColorBackgroundRight.';' : NULL)?>">
      <div class="main-slider2__middle">
        <strong class="main-slider2__title" style="<?=($f_ColorHeader ? 'color:'.$f_ColorHeader.';' : NULL)?>">
          <?=$f_Header?>
        </strong>
        <div class="main-slider2__text" style="<?=($f_ColorText ? 'color:'.$f_ColorText.';' : NULL)?>">
          <?=$f_Text?>
        </div>
        
        <?if($f_ButtonLink){?>
          <div class="main-slider2__btn">
            <a href="<?=$lang_prefix.$f_ButtonLink?>" class="btn-type2 btn-type2_blue" style="<?=($f_ColorButtonText ? 'color:'.$f_ColorButtonText.';' : NULL)?>"><span class="btn-type2__text"><?=($f_ButtonText ? $f_ButtonText : Langs::TEXT_LOOK)?></span></a>
          </div>
        <?}?>
      </div>
    </div>
  </div>
<?}else{?>
  <div class="main-slider__item slide_<?=$f_RowID?>">
    <div class="main-slider__pic" style="background-image: url(<?=$f_Image?>);<?=($f_OpacityImage ? 'opacity:'.$f_OpacityImage.';' : NULL)?>"></div>
    <div class="main-slider__content">
      <div class="main-slider__middle">
        <div class="page-width">
          <strong class="main-slider__title" style="<?=($f_ColorHeader ? 'color:'.$f_ColorHeader.';' : NULL)?>">
            <?=$f_Header?>
          </strong>
          <div class="main-slider__text" style="<?=($f_ColorText ? 'color:'.$f_ColorText.';' : NULL)?>">
            <?=$f_Text?>
          </div>
          
          <?if($f_ButtonLink){?>
            <div class="main-slider__btn">
              <a href="<?=$lang_prefix.$f_ButtonLink?>" class="btn-type2" style="<?=($f_ColorButtonText ? 'color:'.$f_ColorButtonText.';' : NULL)?>"><span class="btn-type2__text"><?=($f_ButtonText ? $f_ButtonText : Langs::TEXT_LOOK)?></span></a>
            </div>
          <?}?>
        </div>
      </div>
    </div>
  </div>
<?}?>

<?php
if($f_ColorHeader){
  $arrStyles[] = '
  .slide_'.$f_RowID.' .main-slider__title:after,
  .slide_'.$f_RowID.' .main-slider__title:before{
    background-color:'.$f_ColorHeader.';
  }
  ';
}
if($f_ColorButtonBorder){
  $arrStyles[] = '
  .slide_'.$f_RowID.' .btn-type2:before, .slide_'.$f_RowID.' .btn-type2:link:before, .slide_'.$f_RowID.' .btn-type2:visited:before,
  .slide_'.$f_RowID.' .btn-type2:after, .slide_'.$f_RowID.' .btn-type2:link:after, .slide_'.$f_RowID.' .btn-type2:visited:after{
      background:'.$f_ColorButtonBorder.';
  }
  .slide_'.$f_RowID.' .btn-type2, .slide_'.$f_RowID.' .btn-type2:link, .slide_'.$f_RowID.' .btn-type2:visited{
      border-color:'.$f_ColorButtonBorder.';
  }';
}
if($f_ColorButton){
  $arrStyles[] = '
  .slide_'.$f_RowID.' .btn-type2, .slide_'.$f_RowID.' .btn-type2:link, .slide_'.$f_RowID.' .btn-type2:visited{
    background: '.$f_ColorButton.';
  }
  ';
}
if($f_ColorButtonHover){
  $arrStyles[] = '
  .slide_'.$f_RowID.' .btn-type2:hover, .slide_'.$f_RowID.' .btn-type2:link:hover, .slide_'.$f_RowID.' .btn-type2:visited:hover{
    background: '.$f_ColorButtonHover.';
    border-color: '.$f_ColorButtonHover.';
  }
  .slide_'.$f_RowID.' .btn-type2:hover:before, .slide_'.$f_RowID.' .btn-type2:link:hover:before, .slide_'.$f_RowID.' .btn-type2:hover:visited:before,
  .slide_'.$f_RowID.' .btn-type2:hover:after, .slide_'.$f_RowID.' .btn-type2:hover:link:after, .slide_'.$f_RowID.' .btn-type2:hover:visited:after{
    background:'.$f_ColorButtonHover.';
  }
  ';
}
?>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>