<!-- FormPrefix --><?= $f_AdminCommon; ?>
<div class="page-width">
  <?=getBrcrHtml()?>
  <h1><?=getSubNameLang($sub)?></h1>
  <div class="news-list"><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div class="news-list__item">
  <a href="<?=$lang_prefix.$fullLink?>" class="news-list__link">
    <span class="news-list__pic" style="background-image: url(<?=$f_Image?>)"></span>

    <span class="news-list__date">
      <?=(int)$f_DateCreated_day?><br>
      <?=getRusMonth($f_DateCreated_month)?>
    </span>

    <strong class="news-list__name"><?=$f_Name?></strong>

    <span class="news-list__text">
      <?=$f_Announce?><br>
      <span class="news-list__btn"><?=Langs::TEXT_READ_MORE?></span>
    </span>
  </a>
</div><!-- /RecordTemplate -->

<!-- FormSuffix -->  </div>
  <?=getPaginationTemplate($cc_env, $nextLink, $prevLink)?>
</div><!-- /FormSuffix -->