<?= $f_AdminButtons; ?>
<div class="page-width">
  <div class="news-detail">
    <?=getBrcrHtml(false, false, false, $message, $f_Name)?>
    <h1><?=$f_Name?></h1>
    <span class="news-detail__date"><?=(int)$f_DateCreated_day?> <?=getRusMonth($f_DateCreated_month)?></span>

    <div class="default-ui">
      
      <?if($f_Announce){?>
        <div class="preview-text">
          <p><?=$f_Announce?></p>
        </div>
      <?}?>
      
      <?if($f_Images->count()){?>
        <div class="media-gallery">
          <?=$f_Images?>
        </div>
      <?}?>
      
      <?=$f_Text?>
    </div>

  </div>

  <div class="media-detail media-detail_border">
    <div class="media-detail__left">
      <div class="share">
        <?=Langs::TEXT_SHARE_WITH_FRIENDS?>

        <ul class="share-list js-share" data-link="<?=$full_site_url.$lang_prefix.$fullLink?>" data-title="<?=$f_Name?>" data-img="<?=$full_site_url.$f_Image?>" data-text="<?=$f_Announce?>">
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_fb" data-network="fb"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_vk" data-network="vk"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_tw" data-network="tw"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_gp" data-network="gp"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_pin" data-network="pin"></a> </li>
          <li class="share-list__item"><a href="#" class="share-list__link share-list__link_mail" data-network="mail"></a> </li>
        </ul>

      </div>
    </div>
    <div class="media-detail__right">
      <a href="<?=$lang_prefix.$subLink?>" class="btn-type4"><?=Langs::TEXT_ALL_NEWS?></a>
    </div>
  </div>

</div>