<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<div class="news-list__item">
  <a href="<?=$lang_prefix.$fullLink?>" class="news-list__link">
    <span class="news-list__pic" style="background-image: url(<?=$f_Image?>)"></span>

    <span class="news-list__date">
      <?=(int)$f_DateCreated_day?><br>
      <?=getRusMonth($f_DateCreated_month)?>
    </span>

    <strong class="news-list__name"><?=$f_Name?></strong>

    <span class="news-list__text">
      <?=$f_Announce?><br>
      <span class="news-list__btn"><?=Langs::TEXT_READ_MORE?></span>
    </span>
  </a>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>