<?php
$template_path = helperData::getTemplatePath();
$full_site_url = helperData::getFullUrlSite();

$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];

$query_select = "1";
$query_join = "";
$query_where = "1";


$arrFields = array(
                'Name',
                'Announce',
                'Text',
);
$arrQueryLang = getQueryLang($classID,$arrFields);
$query_select .= $arrQueryLang["select"];
$query_join .= $arrQueryLang["join"];
$query_where .= $arrQueryLang["where"];



$f_Images_tpl = array(
    'prefix' => "",
    'record' => "<div class='media-gallery__item'>
                   <div class='media-gallery__pic' data-mh='gallery'>
                     <img src='%Path%'>
                   </div>
                 </div>",
    'divider' => "",
    'suffix' => "",
    'i' => 0
);
?>