<?php
$template_path = helperData::getTemplatePath();
$arrTo = json_decode($_SESSION['json_to'], true);

$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];
?>

<div class="white-section">
  <h3><?=Langs::TEXT_CONTACT_US?></h3>
  <form id="form_send_app_contact" class="main-form main-form_contacts" enctype='multipart/form-data' method='post' action='<?= $lang_prefix . $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
    <div id='nc_moderate_form'>
      <div class='nc_clear'></div>
      <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
      <?= $nc_core->token->get_input() ?>
      <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
      <input name='cc' type='hidden' value='<?= $cc ?>' />
      <input name='sub' type='hidden' value='<?= $sub ?>' />
      <input name='posting' type='hidden' value='1' />
      <input name='isNaked' type='hidden' value='1' />
      <input name='jsQuery' type='hidden' value='1' />
      <input name='curPos' type='hidden' value='<?= $curPos ?>' />
      <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
      <?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
    </div>

    <div class="page-row page-row_wrap">
      <div class="page-col page-col_w40">
        <div class="main-form__line">
          <label class="main-form__label" for="whom"><?=Langs::TEXT_TO?> *</label>
          <select id="whom" name="f_toContact_ID" required>
            <?foreach($arrTo as $arrRowTo){?>
              <option value="<?=$arrRowTo['id']?>"><?=$arrRowTo['name']?></option>
            <?}?>
          </select>
        </div>
        <div class="main-form__line">
          <label class="main-form__label" for="name"><?=Langs::TEXT_YOUR_NAME_AND_SURNAME?>: *</label>
          <input type="text" value="" class="main-form__text-input" name="f_Fio" id="name" required>
        </div>

        <div class="page-row page-row_wrap">
          <div class="page-col page-col_w50">
            <div class="main-form__line">
              <label class="main-form__label" for="tel"><?=Langs::TEXT_PHONE?>: *</label>
              <input type="tel" class="main-form__text-input js-phone-input" value="" id="tel" name="f_Phone" required>
            </div>
          </div>
          <div class="page-col page-col_w50">

            <div class="main-form__line">
              <label class="main-form__label" for="email"><?=Langs::TEXT_EMAIL?>: *</label>
              <input type="email" class="main-form__text-input" id="email" name="f_Email" value="" placeholder="E-mail" required>
            </div>
          </div>
        </div>

        <div class="main-form__line">
          <label class="main-form__label" for="question"><?=Langs::TEXT_MESSAGE_SUBJECT?>: *</label>
            <?if((int)$city_id === 68){?>
              <?php
              $arrQueryLang = getQueryLang(206, array('Name'));
              $allSubjects = $db->get_results("SELECT a.Message_ID as ID,a.Name as Name,a.Email as Email,1".$arrQueryLang['select']." FROM Message206 as a
                                                   ".$arrQueryLang['join']."
                                               WHERE a.Checked = 1 AND a.Language_Parent IS NULL
                                               ORDER BY a.Priority", ARRAY_A);
              ?>
              <select id="question" name="f_Subject_ID" required>
                <?foreach($allSubjects as $arrRowSubject){?>
                  <option value="<?=$arrRowSubject['ID']?>"><?=$arrRowSubject['Name']?></option>
                <?}?>
              </select>
            <?}else{?>
              <input type="text" value="" class="main-form__text-input" name="f_Subject" id="question" required>
            <?}?>
        </div>

      </div>
      <div class="page-col page-col_w60">

        <div class="main-form__line">
          <label class="main-form__label" for="message"><?=Langs::TEXT_YOUR_MESSAGE?> *</label>
          <textarea class="main-form__text-input" name="f_Text" id="message" placeholder="<?=Langs::TEXT_MESSAGE_TEXT?>" required></textarea>
        </div>

        <div class="page-row page-row_captcha">
          <div class="page-col">
              <?= nc_captcha_formfield() ?>
          </div>
          <div class="page-col">

            <div class="main-form__line">
              <label class="checkbox">
                <input type="checkbox" checked="checked" name="agreement" class="checkbox__input" value="1" required>
                <span class="checkbox__text"><?=Langs::TEXT_I_AGREE_TO?> <a href="#" class="js-modal-link" data-fancybox data-type="ajax" data-src="<?=nc_folder_path(sct::sub('privacy_policy'))?>?isNaked=1"><?=Langs::TEXT_PRIVACY_POLICY?></a></span>
              </label>
            </div>

            <input type="submit" value="<?=Langs::TEXT_SEND_MESSAGE?>" class="btn-type3">
          </div>
        </div>

      </div>
    </div>

    <span class="required-caption">* <?=Langs::TEXT_REQUIRED_FIELDS?></span>

  </form>
</div>















