<?php

$city_id = (int)$_COOKIE['city_id'];
$system_email = $system_env["SpamFromEmail"];
$main_office_email = $db->get_var("SELECT Email FROM Message204 
                                   WHERE TypeContact = 1
                                   ORDER BY Priority
                                   LIMIT 1");
if(!$main_office_email){
  $main_office_email = $system_email;
}


//Отправка письма пользователю
if(!$inside_admin){
  $mailer = new CMIMEMail();
  $htmlText = "Вы оставили обращение на сайте ".$current_catalogue['Catalogue_Name'].".\n<br/>Ваше обращение будет рассмотрено в ближайшее время.\n<br/>Номер вашего обращения №".$message."\n<br/>";
  $mailer->mailbody(strip_tags($htmlText),$htmlText);
  $subject = "Оставлено обращение на сайте ".$current_catalogue['Catalogue_Name'];
  $mailer->send($f_Email, $system_email, $system_email, $subject, $current_catalogue["Catalogue_Name"]);
}

//Кому
$arrWho = $db->get_row("SELECT IF(a.Name <> '' AND a.Name IS NOT NULL, a.Name, cl.TypeContact_Name) as Name,Email FROM Message204 as a
                            LEFT JOIN Classificator_TypeContact as cl ON a.TypeContact = cl.TypeContact_ID
                        WHERE a.Message_ID = '".(int)$f_toContact_ID."'", ARRAY_A);
$who_name = $arrWho['Name'];
$who_email = $arrWho['Email'];
//Тема сообщения
$arrSubject = $db->get_row("SELECT Name,Email FROM Message206 
                            WHERE Message_ID = '".(int)$f_Subject_ID."'", ARRAY_A);
$subject_name = $arrSubject['Name'];
$subject_email = $arrSubject['Email'];
//Если город Москва и задан Email, отправляем на него
if(!empty($subject_email) && $city_id === 68){
  $main_office_email = $subject_email;
}
//Ставим тему сообщения, если оно было заполнено, значит отправляется из Москва в Центральный офис
if($subject_name){
  $f_Subject = $subject_name;
}

//Отправка в Главный офис
if(!$inside_admin){
  $mailer = new CMIMEMail();
  $htmlText = "Кому - ".$who_name."\n<br/>Имя,Фамилия - ".$f_Fio."\n<br/>Телефон - ".$f_Phone."\n<br/>Email - ".$f_Email."\n<br/>Тема - ".$f_Subject."\n<br/>Сообщение - ".$f_Text."\n<br/>";
  $mailer->mailbody(strip_tags($htmlText),$htmlText);
  $subject = "Новое обращение \"Напишите нам\"";
  $mailer->send($main_office_email, $system_email, $system_email, $subject, $current_catalogue["Catalogue_Name"]);
}

//Если выбрана не Москва, то отправляем письмо еще и самому Дилеру/Филиалу, если оно конечно заполнено
if($city_id !== 68 && $who_email){
  $mailer = new CMIMEMail();
  $htmlText = "Кому - ".$who_name."\n<br/>Имя,Фамилия - ".$f_Fio."\n<br/>Телефон - ".$f_Phone."\n<br/>Email - ".$f_Email."\n<br/>Тема - ".$f_Subject."\n<br/>Сообщение - ".$f_Text."\n<br/>";
  $mailer->mailbody(strip_tags($htmlText),$htmlText);
  $subject = "Новое обращение \"Напишите нам\"";
  $mailer->send($who_email, $system_email, $system_email, $subject, $current_catalogue["Catalogue_Name"]);
}


ob_end_clean();
$response_arr = array('status' => 1, 'text' => '<p>Ваш запрос принят к рассмотрению.<br/>Запрос №'.$message.'</p><p>Копия запроса отправлена на указанный вами адрес электронной почты.</p><p>Мы ответим вам в самое ближайшее время.</p>', "header" => 'Спасибо!');
echo json_encode($response_arr);
exit;

if($inside_admin) {
    ob_end_clean();
    header('Location: '.$goBackLink.'&inside_admin=1');
    exit;
} else { 
	echo ($IsChecked ? NETCAT_MODERATION_MSG_OBJADD : NETCAT_MODERATION_MSG_OBJADDMOD);
	echo "<br /><br />".$goBack;
}
?>