<?php
$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];
?>

<form id='send_form_auth' class='main-form' enctype='multipart/form-data' method='post' action='<?= $lang_prefix . $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
  <div id='nc_moderate_form'>
    <div class='nc_clear'></div>
    <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
    <?= $nc_core->token->get_input() ?>
    <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
    <input name='cc' type='hidden' value='<?= $cc ?>' />
    <input name='sub' type='hidden' value='<?= $sub ?>' />
    <input name='posting' type='hidden' value='1' />
    <input name='isNaked' type='hidden' value='1' />
    <input name='jsQuery' type='hidden' value='1' />
    <input type="hidden" name="AuthPhase" value="1">
    <input type="hidden" name="REQUESTED_FROM" value="<?=$_SERVER["REQUEST_URI"]?>">
    <input type="hidden" name="REQUESTED_BY" value="POST">
    <input type="hidden" name="login_save" value="1">
    <input name='curPos' type='hidden' value='<?= $curPos ?>' />
    <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
    <?= nc_form_moderate('add', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
  </div>

  <h4><?=Langs::TEXT_I_AM_ALREADY_REGISTERED?></h4>

  <div class="page-row page-row_wrap">
    <div class="page-col page-col_w50">
      <div class="main-form__line">
        <label class="main-form__label" for="email_auth"><?=Langs::TEXT_EMAIL?>: *</label>
        <input type="email" class="main-form__text-input" id="email_auth" name="AUTH_USER" placeholder="E-mail" required>
      </div>
    </div>
    <div class="page-col page-col_w50">
      <div class="main-form__line">
        <label class="main-form__label" for="password_auth"><?=Langs::TEXT_PASSWORD?>: *</label>
        <input type="password" class="main-form__text-input" id="password_auth" name="AUTH_PW" placeholder="" required>
      </div>
    </div>
  </div>

  <div class="submit-line">
    <input type="submit" value="<?=Langs::TEXT_LOG_IN?>" class="btn-type3">
    <a href="<?=$lang_prefix?>/netcat/modules/auth/password_recovery.php" class="pass-reset-link"><?=Langs::TEXT_FORGOT_PASSWORD?></a>
  </div>

</form>