<?= $f_AdminCommon; ?>
<div class="page-width">
  <?//=getBrcrHtml()?>
  <br/>
  <h1><?=getSubNameLang($sub)?></h1>

  <div class="form-cont">
    <div class="form-row">
      <div class="form-row__left">
        <?=$addForm?>
      </div>