.tpl-component-netcat-module-requests-request { position: relative; }
.tpl-component-netcat-module-requests-request.tpl-link-form-open .nc-modal-trigger-overlay, .tpl-component-netcat-module-requests-request .tpl-link-form-submit .nc-modal-trigger-overlay { margin: 0; }
.tpl-component-netcat-module-requests-request.tpl-link-form-open { display: inline-block; }
.tpl-component-netcat-module-requests-request .tpl-link-form-submit { position: relative; }
.tpl-component-netcat-module-requests-request .nc-ckeditor-inline { width: 100%; }
.tpl-component-netcat-module-requests-request H4 { font-weight: 600; font-size: 24px; line-height: 28px; color: #333; margin: 0 0 9px; padding: 0; word-wrap: break-word; }
.tpl-component-netcat-module-requests-request .tpl-block-text-after-header { word-wrap: break-word; }
.tpl-component-netcat-module-requests-request form { text-align: left; }
.tpl-component-netcat-module-requests-request .tpl-block-columns { display: flex; }
.tpl-component-netcat-module-requests-request .tpl-block-columns .tpl-block-image img { margin-top: 40px; max-width: 430px; }
.tpl-component-netcat-module-requests-request .tpl-block-columns .tpl-block-divider { min-width: 1px; width: 1px; margin: 0 100px 0 60px; background: #e5e5e5; }
.tpl-component-netcat-module-requests-request .tpl-block-fields { position: relative; }
.tpl-component-netcat-module-requests-request .tpl-block-fields .nc-modal-trigger-overlay { margin: -10px; z-index: 5; }
.tpl-component-netcat-module-requests-request .tpl-block-fields.tpl-state-empty { margin: 20px 10px; padding: 20px; text-align: center; }
.tpl-component-netcat-module-requests-request .tpl-block-fields.tpl-state-empty .nc-modal-trigger-overlay { background-size: 64px; }
.tpl-component-netcat-module-requests-request H4 + .tpl-block-fields, .tpl-component-netcat-module-requests-request .tpl-block-text-after-header + .tpl-block-fields { margin-top: 30px; }
.tpl-component-netcat-module-requests-request .tpl-block-input { margin-bottom: 20px; text-align: left; }
.tpl-component-netcat-module-requests-request .tpl-block-fields .tpl-caption { padding-bottom: 10px; display: none; }
.tpl-component-netcat-module-requests-request .tpl-block-input .tpl-block-error { font-weight: 600; font-size: 13px; line-height: 16px; color: #ff7373; padding: 2px 0 0 2px; display: none; }
.tpl-component-netcat-module-requests-request .tpl-block-input INPUT, .tpl-component-netcat-module-requests-request .tpl-block-input SELECT, .tpl-component-netcat-module-requests-request .tpl-block-input TEXTAREA { box-sizing: border-box; width: 100%; border: 1px solid #ccc; background: #fff; border-radius: 3px; outline: none; padding: 19px 20px; font-family: "Open Sans", sans-serif; color: #333; font-size: 18px; line-height: 20px; -webkit-appearance: none; transition: background, border-color .1s ease; }
.tpl-component-netcat-module-requests-request .tpl-block-input TEXTAREA { height: 120px; line-height: 22px; resize: none; }
.tpl-component-netcat-module-requests-request .tpl-block-input SELECT { -moz-appearance: none; appearance: none; background: #fff url('/netcat_template/class/netcat_module_requests_request/images/dropdown_arrow.png') no-repeat 100% center; height: 60px; padding: 1px 20px; }
.tpl-component-netcat-module-requests-request .tpl-block-input SELECT OPTION { font-family: "Open Sans", sans-serif; color: #333; font-size: 18px; padding: 12px 20px; }
.tpl-component-netcat-module-requests-request .tpl-block-input INPUT[disabled="disabled"], .tpl-component-netcat-module-requests-request .tpl-block-input SELECT[disabled="disabled"], .tpl-component-netcat-module-requests-request .tpl-block-input TEXTAREA[disabled="disabled"] { opacity: 0.5; }
.tpl-component-netcat-module-requests-request .tpl-block-input INPUT:hover, .tpl-component-netcat-module-requests-request .tpl-block-input SELECT:hover, .tpl-component-netcat-module-requests-request .tpl-block-input TEXTAREA:hover { background-color: #f9f9f9; border-color: #999; }
.tpl-component-netcat-module-requests-request .tpl-block-input INPUT:focus, .tpl-component-netcat-module-requests-request .tpl-block-input SELECT:focus, .tpl-component-netcat-module-requests-request .tpl-block-input TEXTAREA:focus { background-color: #f9f9f9; border: 2px solid #999; padding: 18px 19px; }
.tpl-component-netcat-module-requests-request .tpl-block-input SELECT:focus { background-image: url('/netcat_template/class/netcat_module_requests_request/images/dropdown_arrow_focus.png'); }
.tpl-component-netcat-module-requests-request .tpl-block-input SELECT:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
.tpl-component-netcat-module-requests-request .tpl-block-input.tpl-state-error INPUT, .tpl-component-netcat-module-requests-request .tpl-block-input.tpl-state-error SELECT, .tpl-component-netcat-module-requests-request .tpl-block-input.tpl-state-error TEXTAREA { border: 2px solid #ff7373; padding: 18px 19px; }
.tpl-component-netcat-module-requests-request .tpl-block-input SELECT:focus, .tpl-component-netcat-module-requests-request .tpl-block-input.tpl-state-error SELECT { padding: 0 19px; }
.tpl-component-netcat-module-requests-request .tpl-block-input.tpl-state-error .tpl-block-error { display: block; }
.tpl-component-netcat-module-requests-request .tpl-field-quantity .tpl-value { display: flex; margin-bottom: 20px; }
.tpl-component-netcat-module-requests-request .tpl-block-form .tpl-block-input.tpl-field-quantity .tpl-value INPUT { position: relative; border-radius: 0; text-align: center; z-index: 2; }
.tpl-component-netcat-module-requests-request .tpl-field-quantity .tpl-block-control-button { position: relative; width: 62px; min-width: 62px; height: 60px; border: 1px solid #ccc; border-radius: 2px; transition: all .1s ease; box-sizing: border-box; background: #fff 50% 50% no-repeat; outline: none; }
.tpl-component-netcat-module-requests-request .tpl-field-quantity .tpl-block-control-button:not(.tpl-state-disabled):hover { border-color: #999; z-index: 3; }
.tpl-component-netcat-module-requests-request .tpl-field-quantity .tpl-block-control-button:not(.tpl-state-disabled):active { border-color: #999; z-index: 3; box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25); }
.tpl-component-netcat-module-requests-request .tpl-field-quantity .tpl-block-control-button.tpl-link-decrease { left: 0; margin-right: -1px; border-top-right-radius: 0; border-bottom-right-radius: 0; background-image: url("/netcat_template/class/netcat_module_requests_request/images/icon_minus.png"); }
.tpl-component-netcat-module-requests-request .tpl-field-quantity .tpl-block-control-button.tpl-link-decrease.tpl-state-disabled { background-image: url("/netcat_template/class/netcat_module_requests_request/images/icon_minus_disabled.png"); }
.tpl-component-netcat-module-requests-request .tpl-field-quantity .tpl-block-control-button.tpl-link-increase { right: 0; margin-left: -1px; border-top-left-radius: 0; border-bottom-left-radius: 0; background-image: url("/netcat_template/class/netcat_module_requests_request/images/icon_plus.png"); }
.tpl-component-netcat-module-requests-request .tpl-field-quantity .tpl-block-control-button.tpl-link-increase.tpl-state-disabled { background-image: url("/netcat_template/class/netcat_module_requests_request/images/icon_plus_disabled.png"); }
.tpl-component-netcat-module-requests-request .tpl-block-button { position: relative; font-weight: bold; font-size: 18px; line-height: 22px; color: #fff; background: #01aff2; border: none; border-radius: 2px; min-height: 60px; cursor: pointer; transition: all .1s ease; min-width: 160px; box-sizing: border-box; outline: none; }
.tpl-component-netcat-module-requests-request .tpl-block-button.tpl-layout-background-dark { color: #fff; }
.tpl-component-netcat-module-requests-request .tpl-block-button.tpl-layout-background-bright { color: #000; }
.tpl-component-netcat-module-requests-request .tpl-block-button.tpl-layout-background-transparent { border: 2px solid #fff; }
.tpl-component-netcat-module-requests-request .tpl-link-form-submit .tpl-block-button { width: 100%; }
.tpl-component-netcat-module-requests-request .tpl-block-button[disabled="disabled"] { opacity: 0.5; }
.tpl-component-netcat-module-requests-request .tpl-block-button:not([disabled="disabled"]):hover, .tpl-component-netcat-module-requests-request .tpl-block-button:not([disabled="disabled"]):focus { opacity: 0.8; }
.tpl-component-netcat-module-requests-request .tpl-block-button:not([disabled="disabled"]):active { opacity: 0.8; box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25); }
.tpl-component-netcat-module-requests-request .tpl-block-button-content { display: inline-flex; width: 100%; align-items: flex-start; }
.tpl-component-netcat-module-requests-request .tpl-block-button .tpl-block-button-title { padding: 18px 30px; flex-grow: 2; text-align: center; }
.tpl-component-netcat-module-requests-request .tpl-block-button-title.tpl-field-item-price { white-space: nowrap; }
.tpl-component-netcat-module-requests-request .tpl-block-button .tpl-block-button-divider { width: 1px; min-width: 1px; position: absolute; top: 10px; bottom: 10px; background: rgba(255, 255, 255, 0.25); }
.tpl-component-netcat-module-requests-request .tpl-block-button::-moz-focus-inner { padding: 0; border: 0; }
.tpl-component-netcat-module-requests-request.tpl-block-popup { z-index: 500; position: fixed; left: 0; right: 0; top: 0; bottom: 0; min-width: 100%; max-width: 100%; border: none; overflow-y: auto; background: rgba(0, 0, 0, 0.5); text-align: center; width: 100%; }
.tpl-component-netcat-module-requests-request .tpl-block-popup-background { position: fixed; left: 0; right: 40px; bottom: 0; top: 0; }
.tpl-component-netcat-module-requests-request .tpl-block-popup-container { position: relative; display: inline-block; text-align: left; padding: 35px 90px 60px; margin: 20px 0; min-width: 250px; max-width: 1060px; background: #fff; border-radius: 2px; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); }
@media (max-width: 560px) { 
.tpl-component-netcat-module-requests-request .tpl-block-popup-container { margin: 0; }
 }
.tpl-component-netcat-module-requests-request .tpl-block-popup-container .tpl-block-popup-close-button { width: 50px; height: 50px; border-radius: 25px; background: url("/netcat_template/class/netcat_module_requests_request/images/icon_close.png") 50% 50% no-repeat; border: 1px solid #e5e5e5; transition: all .1s ease; position: absolute; top: 15px; right: 15px; }
.tpl-component-netcat-module-requests-request .tpl-block-popup-container .tpl-block-popup-close-button:hover { border-color: #999; }
.tpl-component-netcat-module-requests-request .tpl-block-popup-container .tpl-block-popup-close-button:active { border-color: #999; box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25); }
.tpl-component-netcat-module-requests-request .tpl-block-popup-body { font-size: 18px; }
.tpl-component-netcat-module-requests-request .tpl-block-popup-body P { margin: 0; padding: 0 0 10px; }
.tpl-component-netcat-module-requests-request.tpl-block-popup-message .tpl-block-popup-body { margin: 35px 0; }
.tpl-component-netcat-module-requests-request.tpl-block-popup-message .tpl-block-popup-icon { width: 50px; height: 50px; background-size: 50px; background-repeat: no-repeat; margin: 20px 0 10px; }
.tpl-component-netcat-module-requests-request.tpl-block-popup-message.tpl-state-success .tpl-block-popup-icon { background-image: url('/netcat_template/class/netcat_module_requests_request/images/icon_success.svg'); }
.tpl-component-netcat-module-requests-request.tpl-block-popup-message.tpl-state-error .tpl-block-popup-icon { background-image: url('/netcat_template/class/netcat_module_requests_request/images/icon_error.svg'); }
.tpl-component-netcat-module-requests-request.tpl-block-popup-form .tpl-block-popup-container { padding-top: 40px; }
@media (min-width: 1031px) { 
.tpl-component-netcat-module-requests-request.tpl-block-popup .tpl-block-fields:first-child { margin-top: 40px; }
 }
@media (max-width: 1030px) { 
.tpl-component-netcat-module-requests-request.tpl-block-popup-form .tpl-block-popup-container { max-width: 520px; padding-top: 55px; padding-left: 0; padding-right: 0; }
.tpl-component-netcat-module-requests-request .tpl-block-popup-body { margin: 15px 60px; }
.tpl-component-netcat-module-requests-request .tpl-block-columns { display: block; }
.tpl-component-netcat-module-requests-request .tpl-block-columns .tpl-block-divider { height: 50px; background: none; }
.tpl-component-netcat-module-requests-request .tpl-block-columns .tpl-block-image img { margin-top: 0; max-width: 100%; }
.tpl-component-netcat-module-requests-request .tpl-block-popup-container .tpl-block-form { margin: 0 auto; text-align: center; }
 }
.tpl-component-netcat-module-requests-request .tpl-state-animated { -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
@-webkit-keyframes tpl-animation-fade-in-down { from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; }
@font-face { font-family: "UltraIcons"; src: url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.eot"); src: url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.eot?#iefix") format("embedded-opentype"), url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.woff") format("woff"), url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.ttf") format("truetype"), url("/netcat_template/class/netcat_page_block_contact/plain/fonts/ultra-icons.svg#svgFontName") format("svg"); }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain H2 { font-weight: 600; font-size: 42px; line-height: 1.24em; color: #333; margin: 0 auto 30px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-contact.tpl-template-plain H2 * { line-height: 1.24em; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-description { text-align: center; margin: 0 auto; max-width: 740px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact { margin-top: 95px; display: flex; flex-wrap: wrap; justify-content: center; margin-left: -10px; margin-right: -10px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-row { display: flex; justify-content: center; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item { width: 250px; max-width: 250px; text-align: center; margin-bottom: 65px; padding: 0 10px; word-wrap: break-word; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-icon { font: 42px/44px "UltraIcons"; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item.tpl-layout-phone .tpl-block-icon { color: #01aff2; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item.tpl-layout-email .tpl-block-icon { color: #ffc433; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item.tpl-layout-address .tpl-block-icon { color: #ff5633; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item.tpl-layout-work-time .tpl-block-icon { color: #01aff2; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-label { font-weight: bold; font-size: 12px; line-height: 12px; text-transform: uppercase; margin-top: 25px; letter-spacing: 1px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-data { font-weight: 600; font-size: 18px; line-height: 1.44em; color: #333; margin-top: 15px; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-data * { line-height: 1.44em; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item .tpl-block-data A { color: #333; text-decoration: underline; word-break: break-all; }
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-map { width: 100%; height: 480px; position: relative; }
@media (max-width: 1100px) { 
.tpl-component-netcat-page-block-contact.tpl-template-plain .tpl-block-contact .tpl-block-item { width: 160px; max-width: 160px; }
 }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .nc-infoblock-toolbar { top: 0; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-background { position: absolute; top: 0; left: 0; right: 0; bottom: 135px; background: #e5e5e5; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; position: relative; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain H2 { font-weight: bold; font-size: 24px; line-height: 1.17em; color: #333; margin: 0 auto 20px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain H2 * { line-height: 1.17em; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-description { text-align: center; margin: 0 auto 37px; max-width: 740px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter { border: 5px solid #e5e5e5; display: flex; justify-content: center; background: #fff; margin: 80px 30px 0; box-sizing: border-box; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-text { font-weight: 600; font-size: 24px; line-height: 28px; color: #777; align-items: center; display: none; min-height: 160px; text-align: center; padding: 0 25px; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit { width: 190px; text-align: center; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit .tpl-block-value { font-weight: bold; font-size: 48px; line-height: 95px; height: 95px; color: #01aff2; border-bottom: 1px solid rgba(1, 175, 242, 0.25); }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit .tpl-block-label { font-weight: bold; font-size: 12px; color: #777; letter-spacing: 1px; line-height: 54px; height: 54px; text-transform: uppercase; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit.tpl-state-end .tpl-block-value { color: #ccc; border-color: rgba(119, 119, 119, 0.25); }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-digit.tpl-state-red .tpl-block-value { color: #ff5633; border-color: rgba(255, 86, 51, 0.25); }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-spacer { width: 60px; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter .tpl-block-spacer.tpl-layout-short { width: 25px; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter.tpl-state-end .tpl-block-digit, .tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter.tpl-state-end .tpl-block-spacer { display: none; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-counter.tpl-state-end .tpl-block-text { display: flex; }
.tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-page-block.tpl-layout-background-dark H2, .tpl-component-netcat-page-block-countdown.tpl-template-plain .tpl-block-page-block.tpl-layout-background-dark .tpl-block-description { color: #fff; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .nc-infoblock-toolbar { top: 0; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .nc-modal-trigger-overlay { border-radius: 50%; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-content { position: relative; margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; text-align: center; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-prefix { font-size: 12px; line-height: 1em; letter-spacing: 1px; font-weight: 600; color: #333; text-transform: uppercase; text-align: center; max-width: 340px; margin: 0 auto 38px; word-wrap: break-word; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-prefix * { line-height: 1em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center H1 { font-weight: 200; font-size: 60px; line-height: 1.13em; color: #333; margin: 0 auto 53px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center H1 * { line-height: 1.13em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-description { text-align: center; max-width: 740px; margin: 0 auto; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-slider { position: relative; margin-top: 80px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-slider .tpl-block-container { position: relative; max-width: 880px; max-height: 540px; margin: 0 auto 16px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-slider .tpl-block-container IMG { max-width: 100%; max-height: 540px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control { position: relative; display: inline-flex; background: #fff; padding: 11px 18px; border-radius: 20px; margin-bottom: 25px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control .tpl-block-dot { width: 18px; height: 18px; background: url("/netcat_template/class/netcat_page_block_cover/image_in_center/../images/dot_icon.png") 0 0 no-repeat; transition: all .1s ease; margin: 0 3px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control .tpl-block-dot:hover { background-image: url("/netcat_template/class/netcat_page_block_cover/image_in_center/../images/dot_icon_hover.png"); }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control .tpl-block-dot:active, .tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-dots-control .tpl-block-dot.tpl-state-active { background-image: url("/netcat_template/class/netcat_page_block_cover/image_in_center/../images/dot_icon_active.png"); }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information { position: absolute; right: 0; top: 80px; box-sizing: border-box; background: #ff5633; width: 260px; height: 260px; border-radius: 130px; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15); color: #fff; padding-top: 90px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .tpl-block-price-label { font-size: 18px; line-height: 18px; margin-bottom: 8px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .tpl-block-price { font-weight: bold; font-size: 32px; line-height: 32px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .tpl-block-discount { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information .tpl-block-saving { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information HR { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount { padding-top: 47px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-price-label { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-discount { font-size: 18px; line-height: 18px; text-decoration: line-through; display: block; margin-bottom: 8px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-price { margin-bottom: 24px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount HR { border: none; border-top: 1px solid rgba(255, 255, 255, 0.25); width: 220px; display: block; margin: 0 auto 30px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-saving { display: block; font-size: 18px; line-height: 18px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information.tpl-layout-discount .tpl-block-saving SPAN { display: block; font-size: 24px; line-height: 34px; font-weight: bold; }
@media (max-width: 570px) { 
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-button .tpl-block-button-divider, .tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-button .tpl-block-button-title { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-button .tpl-block-button-title:last-child { display: block; }
 }
@media (max-width: 620px) { 
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-information { position: relative; right: 0; top: 0; margin: 0 auto 40px; }
 }
.tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-page-block.tpl-layout-background-dark .tpl-block-prefix, .tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-page-block.tpl-layout-background-dark H1, .tpl-component-netcat-page-block-cover.tpl-template-image-in-center .tpl-block-page-block.tpl-layout-background-dark .tpl-block-description { color: #fff; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .nc-infoblock-toolbar { top: 0; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .nc-modal-trigger-overlay { border-radius: 50%; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-content { position: relative; margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; text-align: center; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-prefix { font-size: 12px; line-height: 1em; letter-spacing: 1px; font-weight: 600; color: #333; text-transform: uppercase; text-align: center; margin-bottom: 38px; word-wrap: break-word; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-prefix * { line-height: 1em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left H2 { font-weight: 600; font-size: 42px; line-height: 1.24em; color: #333; margin: 0 auto 20px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left H2 * { line-height: 1.24em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-description { text-align: center; max-width: 740px; margin: 0 auto; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover { position: relative; padding: 0 20px 80px; margin-top: 100px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover .tpl-block-background { position: absolute; left: 0; right: 0; bottom: 0; top: 90px; background: url("/netcat_template/class/netcat_page_block_cover/image_on_left/images/pat_cover.png") 50% 50% repeat; background-color: #ff5633; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover .tpl-block-container { position: relative; max-width: 1060px; margin: 0 auto; background: #fff; border-radius: 2px; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); display: flex; justify-content: flex-end; box-sizing: border-box; padding: 50px 90px 60px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information { position: absolute; left: 20px; top: -95px; box-sizing: border-box; background: #ff5633; width: 190px; height: 190px; border-radius: 95px; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15); color: #fff; padding-top: 72px; text-align: center; z-index: 2; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .tpl-block-price-label { font-size: 18px; line-height: 18px; margin-bottom: 8px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .tpl-block-price { font-weight: bold; font-size: 18px; line-height: 18px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .tpl-block-discount { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information .tpl-block-saving { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information HR { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount { padding-top: 34px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-price-label { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-discount { font-size: 18px; line-height: 18px; text-decoration: line-through; display: block; margin-bottom: 4px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-price { margin-bottom: 21px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount HR { border: none; border-top: 1px solid rgba(255, 255, 255, 0.25); width: 150px; display: block; margin: 0 auto 19px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-saving { display: block; font-size: 18px; line-height: 18px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information.tpl-layout-discount .tpl-block-saving SPAN { display: block; font-size: 18px; line-height: 24px; font-weight: bold; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form { max-width: 340px; min-height: 360px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-title { margin-bottom: 42px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-title H4 { font-weight: 600; font-size: 24px; line-height: 28px; color: #333; margin-bottom: 9px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-image { position: absolute; left: 50px; top: 50px; width: 430px; height: 360px; display: flex; justify-content: center; align-items: center; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-image * { max-width: 100%; max-height: 360px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form FORM .tpl-block-image { display: none; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form FORM .tpl-block-divider { display: none; }
@media (max-width: 980px) { 
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover { margin-top: 50px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-information { position: relative; left: 50%; margin: -55px 0 -95px -95px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover .tpl-block-container { display: block; max-width: 520px; padding-top: 55px; padding-left: 0; padding-right: 0; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-cover .tpl-block-container.tpl-layout-with-price { margin-top: 115px; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form { margin: 0 auto; text-align: center; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-image { position: relative; top: 0; left: 0; margin: 0 -45px 31px; max-width: 430px; width: auto; }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-title { margin-bottom: 31px; }
 }
@media (max-width: 520px) { 
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-form .tpl-block-image { margin: 0 -25px 31px; max-width: 390px; }
 }
.tpl-component-netcat-page-block-cover.tpl-template-image-on-left .tpl-block-page-block.tpl-layout-disable-bg-pattern .tpl-block-cover .tpl-block-background { background-image: none; }
.tpl-component-netcat-page-block-footer .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-footer .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; height: 90px; display: flex; justify-content: center; align-items: center; font-weight: 600; font-size: 14px; color: #777; }
.tpl-component-netcat-page-block-footer.tpl-template-plain .tpl-block-page-block { position: relative; min-width: 460px; word-wrap: break-word; }
.tpl-component-netcat-page-block-footer.tpl-template-plain .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; min-height: 90px; height: auto; display: flex; justify-content: center; align-items: center; font-weight: 600; font-size: 14px; color: #777; word-wrap: break-word; }
.tpl-component-netcat-page-block-footer.tpl-template-plain .tpl-block-content .tpl-field-text { max-width: 1060px; }
.tpl-component-netcat-page-block-footer.tpl-template-plain .tpl-block-content .tpl-field-text * { line-height: 1.86em; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .nc-infoblock-toolbar { position: absolute; top: 0; right: 10px; z-index: 2; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slide { position: relative; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .nc-toolbar { top: 0; z-index: 1; left: auto; right: 0; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .nc-move-place { display: none !important; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .nc-editable-image-container { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .nc-editable-image-container-toolbar { top: 10px; right: 147px; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .nc-object-toolbar-bridge { top: -100px; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; text-align: center; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider H2 { font-weight: 600; font-size: 42px; line-height: 1.18em; color: #333; margin: 0 auto 20px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider H2 * { line-height: 1.18em; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-description { text-align: center; margin: 0 auto 72px; max-width: 740px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider { position: relative; margin-top: 80px; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-button-prev { position: absolute; left: 0; top: 235px; width: 70px; height: 70px; border-radius: 35px; background: #01aff2 url("/netcat_template/class/netcat_page_block_gallery/slider/images/previous_button_icon.png") 23px 50% no-repeat; cursor: pointer; transition: all .1s ease; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-button-next { position: absolute; right: 0; top: 235px; width: 70px; height: 70px; border-radius: 35px; background: #01aff2 url("/netcat_template/class/netcat_page_block_gallery/slider/images/next_button_icon.png") 28px 50% no-repeat; cursor: pointer; transition: all .1s ease; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-button-prev:hover, .tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-button-next:hover { background-color: #34bff5; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-button-prev:active, .tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-button-next:active { background-color: #34bff5; box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25); }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-container { position: relative; border: 1px solid #f1f1f1; margin: 0 90px 16px; height: 540px; box-sizing: border-box; display: flex; justify-content: center; align-items: center; overflow: hidden; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-container IMG { max-width: 100%; max-height: 540px; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-container .tpl-block-slide { display: flex; justify-content: center; align-items: center; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-dots-control { position: relative; display: inline-flex; background: #fff; padding: 11px 18px; border-radius: 20px; margin-bottom: 10px; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-dots-control .tpl-block-dot { width: 18px; height: 18px; background: url("/netcat_template/class/netcat_page_block_gallery/slider/images/dot_icon.png") 0 0 no-repeat; transition: all .1s ease; margin: 0 3px; cursor: pointer; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-dots-control .tpl-block-dot:hover { background-image: url("/netcat_template/class/netcat_page_block_gallery/slider/images/dot_icon_hover.png"); }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-dots-control .tpl-block-dot:active, .tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-dots-control .tpl-block-dot.tpl-state-active { background-image: url("/netcat_template/class/netcat_page_block_gallery/slider/images/dot_icon_active.png"); }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slide-description { font-size: 16px; line-height: 20px; }
@media (max-width: 720px) { 
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-button-prev, .tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-button-next { display: none; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-container { margin-left: 0; margin-right: 0; height: 400px; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-container IMG { max-height: 400px; }
 }
@media (max-width: 520px) { 
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-container { height: 250px; }
.tpl-component-netcat-page-block-gallery.tpl-template-slider .tpl-block-slider .tpl-block-container IMG { max-height: 250px; }
 }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; min-height: 80px; padding: 0 20px 20px; display: flex; justify-content: space-between; align-items: flex-end; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-shadow { height: 20px; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05)); position: absolute; top: 100%; left: 0; right: 0; z-index: 2; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-flex-spacer { flex-grow: 2; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-logo { width: 160px; min-width: 160px; height: 60px; display: flex; align-items: center; justify-content: center; position: relative; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-logo IMG { max-width: 160px; max-height: 60px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone { margin: 15px 0 15px 110px; max-width: 430px; word-wrap: break-word; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone .tpl-field-phone { font-weight: bold; line-height: 1em; font-size: 18px; color: #333; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone .tpl-field-phone * { line-height: 1em; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone .tpl-field-work-time { font-weight: 600; line-height: 1em; font-size: 12px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone .tpl-field-work-time * { line-height: 1em; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-form { max-width: 400px; }
@media (max-width: 800px) { 
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-phone { margin-left: 30px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-button-divider, .tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-button-title.tpl-field-item-price { display: none; }
 }
@media (max-width: 600px) { 
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-content { height: 60px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-logo { width: 130px; min-width: 130px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-logo IMG { max-width: 130px; }
.tpl-component-netcat-page-block-header.tpl-template-plain .tpl-block-form { display: none; }
 }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .nc-object-toolbar { top: -51px; right: -10px; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .nc-infoblock-toolbar { top: 0; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quote { position: relative; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card H2 { font-weight: 600; font-size: 42px; line-height: 1.24em; color: #333; margin: 0 auto 20px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card H2 * { line-height: 1.24em; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-description { text-align: center; margin: 0 auto 72px; max-width: 740px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes { position: relative; padding: 0 20px; text-align: center; margin-top: 80px; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-background { position: absolute; left: 0; right: 0; bottom: 0; top: 120px; background: url("/netcat_template/class/netcat_page_block_opinion/slider_one_card/images/pat_quotes.png") 50% 50% repeat; background-color: #01aff2; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container { position: relative; margin: 0 auto; text-align: left; margin-bottom: 30px; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container { position: relative; margin: 0 auto; text-align: left; margin-bottom: 30px; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote { position: relative; background: #fff; border: 10px solid #01aff2; box-sizing: border-box; max-width: 880px; padding: 40px 20px 94px; margin: 0 auto; display: none; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote:first-child { display: block; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-tail-outer { position: absolute; width: 0; height: 0; left: 50px; bottom: -50px; border-style: solid; border-width: 50px 70px 0 0; border-color: #01aff2 transparent transparent transparent; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-tail-inner { position: absolute; width: 0; height: 0; left: 61px; bottom: -29px; border-style: solid; border-width: 29px 36px 0 0; border-color: #fff transparent transparent transparent; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-text { font-size: 24px; line-height: 1.58em; font-weight: 600; color: #333; max-width: 700px; margin: 0 auto; word-wrap: break-word; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-text * { line-height: 1.58em; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-author { font-size: 18px; line-height: 1em; max-width: 700px; margin: 32px auto 0; word-wrap: break-word; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-author * { line-height: 1em; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-slider-control { position: absolute; right: 20px; bottom: 20px; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-slider-control .tpl-block-button { display: inline-block; width: 60px; height: 60px; background: #01aff2 50% 50% no-repeat; border-radius: 2px; cursor: pointer; transition: all .1s ease; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-slider-control .tpl-block-button.tpl-layout-prev { background-image: url("/netcat_template/class/netcat_page_block_opinion/slider_one_card/images/previous_button_icon.png"); border-top-right-radius: 0; border-bottom-right-radius: 0; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-slider-control .tpl-block-button.tpl-layout-next { background-image: url("/netcat_template/class/netcat_page_block_opinion/slider_one_card/images/next_button_icon.png"); border-top-left-radius: 0; border-bottom-left-radius: 0; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-slider-control .tpl-block-button:hover { background-color: #34bff5; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-slider-control .tpl-block-button:active { background-color: #34bff5; box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25); }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-dots-control { position: relative; display: inline-flex; background: #fff; padding: 11px 18px; border-radius: 20px; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-dots-control .tpl-block-dot { width: 18px; height: 18px; background: url("/netcat_template/class/netcat_page_block_opinion/slider_one_card/images/dot_icon.png") 0 0 no-repeat; transition: all .1s ease; margin: 0 3px; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-dots-control .tpl-block-dot:hover { background-image: url("/netcat_template/class/netcat_page_block_opinion/slider_one_card/images/dot_icon_hover.png"); }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-dots-control .tpl-block-dot:active, .tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-dots-control .tpl-block-dot.tpl-state-active { background-image: url("/netcat_template/class/netcat_page_block_opinion/slider_one_card/images/dot_icon_active.png"); }
@media (max-width: 500px) { 
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-text { font-size: 18px; line-height: 1.56em; }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-quotes .tpl-block-container .tpl-block-quote .tpl-block-text * { line-height: 1.56em; }
 }
.tpl-component-netcat-page-block-opinion.tpl-template-slider-one-card .tpl-block-page-block.tpl-layout-disable-bg-pattern .tpl-block-quotes .tpl-block-background { background-image: none; }
.tpl-component-netcat-page-block-table .tpl-block-value { position: relative; }
.tpl-component-netcat-page-block-table .tpl-block-container .nc-toolbar { top: 6px; left: auto; right: -190px; }
.tpl-component-netcat-page-block-table .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-table .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 90px 20px 0; }
.tpl-component-netcat-page-block-table H2 { font-weight: 600; font-size: 42px; line-height: 52px; color: #333; margin-bottom: 20px; text-align: center; }
.tpl-component-netcat-page-block-table .tpl-block-description { text-align: center; margin-bottom: 82px; }
.tpl-component-netcat-page-block-table .tpl-block-table { position: relative; padding: 0 20px 80px; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-background { position: absolute; left: 0; right: 0; bottom: 0; top: 120px; background: url("/netcat_template/class/netcat_page_block_table/images/pat_specs.png") 50% 50% repeat; background-color: #e5e5e5; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container { position: relative; background: #fff; border-radius: 3px; border-top: 5px solid #ff5633; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); margin: 0 auto; max-width: 700px; box-sizing: border-box; padding: 35px 20px 50px; text-align: center; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container TABLE { max-width: 520px; margin: 0 auto 46px; font-size: 18px; line-height: 26px; text-align: left; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container TABLE TR { border-bottom: 1px solid #e5e5e5; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container TABLE TD { width: 50%; height: 60px; box-sizing: border-box; padding: 14px 0 16px; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-container TABLE TD.tpl-block-value { color: #333; padding-left: 10px; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-show-all-button { display: inline-block; font-size: 18px; color: #ff5633; line-height: 55px; height: 58px; border: 1px solid #ffd5cc; border-radius: 3px; padding: 0 20px; text-decoration: none; cursor: pointer; transition: all .1s ease; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-show-all-button:hover { border-color: #ff785c; }
.tpl-component-netcat-page-block-table .tpl-block-table .tpl-block-show-all-button:active { border-color: #ff785c; box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25); }
.tpl-component-netcat-page-block-table.tpl-template-table .nc-infoblock-toolbar { position: absolute; top: 0; right: 10px; z-index: 2; }
.tpl-component-netcat-page-block-table.tpl-template-table .nc-object-toolbar { left: 260px; top: 12px; }
.tpl-component-netcat-page-block-table.tpl-template-table .nc-object-toolbar-bridge { top: -7px; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-value { position: relative; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; }
.tpl-component-netcat-page-block-table.tpl-template-table H2 { font-weight: 600; font-size: 42px; line-height: 1.24em; color: #333; margin: 0 auto 20px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-table.tpl-template-table H2 * { line-height: 1.24em; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-description { text-align: center; margin: 0 auto 82px; max-width: 740px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table { position: relative; padding: 0 20px; margin-top: 80px; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-background { position: absolute; left: 0; right: 0; bottom: 0; top: 120px; background: url("/netcat_template/class/netcat_page_block_table/table/images/pat_specs.png") 50% 50% repeat; background-color: #e5e5e5; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-container { position: relative; background: #fff; border-radius: 3px; border-top: 5px solid #ff5633; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); margin: 0 auto; max-width: 700px; box-sizing: border-box; padding: 35px 20px 50px; text-align: center; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-container TABLE { max-width: 520px; width: 100%; margin: 0 auto 46px; font-size: 18px; line-height: 1.44em; text-align: left; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-container TABLE * { line-height: 1.44em; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-container TABLE TR { border-bottom: 1px solid #e5e5e5; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-container TABLE TD { width: 50%; max-width: 260px; height: 60px; box-sizing: border-box; padding: 14px 0 16px; vertical-align: top; word-wrap: break-word; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-container TABLE TD.tpl-block-value { color: #333; padding-left: 10px; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-show-all-button { display: inline-block; font-size: 18px; color: #ff5633; line-height: 55px; height: 58px; border: 1px solid #ffd5cc; border-radius: 3px; padding: 0 20px; text-decoration: none; cursor: pointer; transition: all .1s ease; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-show-all-button:hover { border-color: #ff785c; }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-table .tpl-block-show-all-button:active { border-color: #ff785c; box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25); }
.tpl-component-netcat-page-block-table.tpl-template-table .tpl-block-page-block.tpl-layout-disable-bg-pattern .tpl-block-table .tpl-block-background { background-image: none; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .nc-infoblock-toolbar { position: absolute; top:0; right: 10px; z-index: 2; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph h1 { font-weight: bold; font-size: 32px; line-height: 1.22em; color: #333; margin: 0 auto 23px; word-wrap: break-word; max-width: 700px; word-wrap: break-word; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph h1 * { line-height: 1.22em; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-text { max-width: 700px; margin: 0 auto; font-weight: 500; font-size: 24px; line-height: 1.58em; color: #333; word-wrap: break-word; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-text * { line-height: 1.58em; }
.tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-page-block.tpl-layout-background-dark H1, .tpl-component-netcat-page-block-text.tpl-template-paragraph .tpl-block-page-block.tpl-layout-background-dark .tpl-block-text { color: #fff; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .nc-object-toolbar { top: -40px; right: 0; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .nc-infoblock-toolbar { top: 0; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-icon .nc-editable-image-container-toolbar { top: -25px }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-item { position: relative; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background H2 { font-weight: 600; font-size: 42px; line-height: 1.24em; color: #333; margin: 0 auto 20px; text-align: center; max-width: 740px; word-wrap: break-word; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background H2 * { line-height: 1.24em; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-description { text-align: center; margin: 0 auto 75px; max-width: 740px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-description * { line-height: 1.44em; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns { position: relative; margin-top: 80px; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-background { position: absolute; left: 0; right: 0; bottom: 0; top: 77px; background: url("/netcat_template/class/netcat_page_block_text_column/cards_on_partial_background/images/pat_features.png") 50% 50% repeat; background-color: #ffc433; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container { position: relative; display: flex; justify-content: space-between; max-width: 1080px; margin: 0 auto; padding: 8px 10px 0; flex-wrap: wrap; justify-content: center; flex-wrap: nowrap; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-row { display: flex; justify-content: space-between; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-item { box-sizing: border-box; width: 250px; min-height: 380px; background: #fff; border-radius: 3px; box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); padding: 20px; margin: 0 10px; width: 300px; margin: 0 30px; padding: 30px; word-wrap: break-word; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-item .tpl-block-icon { max-height: 170px; max-width: 240px; margin-bottom: 25px; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-item .tpl-block-icon IMG { max-height: 170px; max-width: 100%; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-item H4 { font-weight: bold; color: #333; font-size: 18px; line-height: 1.22em; margin-bottom: 11px; font-size: 24px; line-height: 28px; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-item H4 * { line-height: 1.22em; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-item .tpl-block-text { font-size: 18px; line-height: 1.22em; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-item .tpl-block-text * { line-height: 1.22em; }
@media (max-width: 1119px) { 
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container { padding-bottom: 90px; justify-content: center; flex-wrap: wrap; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-row { flex-wrap: wrap; justify-content: center; width: 100%; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns .tpl-block-container .tpl-block-item { width: 600px; min-width: 340px; margin-bottom: 20px; padding: 40px; }
 }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns.tpl-layout-4 .tpl-block-container { flex-wrap: wrap; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-columns.tpl-layout-4 .tpl-block-container .tpl-block-item { width: 46%; margin: 0 2% 4% 2%; }
.tpl-component-netcat-page-block-text-column.tpl-template-cards-on-partial-background .tpl-block-page-block.tpl-layout-disable-bg-pattern .tpl-block-columns .tpl-block-background { background-image: none; }
.tpl-component-netcat-page-block-text-with-image .nc-infoblock-toolbar { position: absolute; right: 10px; z-index: 2; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 0 20px; display: flex; justify-content: space-between; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-container { max-width: 520px; min-width: 420px; }
.tpl-component-netcat-page-block-text-with-image H3 { font-weight: bold; font-size: 32px; line-height: 1.22em; color: #333; margin-bottom: 23px; word-wrap: break-word; }
.tpl-component-netcat-page-block-text-with-image H3 * { line-height: 1.22em; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-text { margin-bottom: 53px; padding-left: 2px; word-wrap: break-word; line-height: 1.44em; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-text * { line-height: 1.44em; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-image { position: relative; width: 430px; min-width: 430px; max-height: 360px; text-align: center; margin-top: 8px; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-image IMG { max-width: 430px; max-height: 360px; }
@media (max-width: 1010px) { 
.tpl-component-netcat-page-block-text-with-image .tpl-block-content { flex-direction: column-reverse; justify-content: flex-start; align-items: center; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-container { text-align: center; }
.tpl-component-netcat-page-block-text-with-image .tpl-block-image { margin-bottom: 43px; }
 }
@media (max-width: 1010px) { 
.tpl-component-netcat-page-block-text-with-image.tpl-template-image-on-right .tpl-block-content { flex-direction: column-reverse; }
 }
