<!-- FormPrefix --><?= $f_AdminCommon; ?>
<section class="vertical-section vertical-section_gray vertical-section_gray-decor">
  <span class="vertical-section__decor"></span><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div class="main-video js-check-in-view">
  <div class="main-video__cont">
    <span class="main-video__pic" style="background-image: url(<?=$template_path?>img/content/video.jpg)"></span>
    <a href="<?=$f_VideoUrl?>" data-width="1280" data-height="720" class="main-video__video-btn js-modal-link"><span class="main-video__video-btn-triangle"></span></a>
    <div class="main-video__text">
      <strong class="main-video__title"><?=$f_Header?></strong>
      <p><?=$f_HeaderSub?></p>
      <?if($f_ButtonLink){?>
        <a href="<?=$lang_prefix.$f_ButtonLink?>" class="btn-type2 btn-type2_green"><span class="btn-type2__text"><?=($f_ButtonText ? $f_ButtonText : Langs::TEXT_TO_LEAR_MORE)?></span></a>
      <?}?>
    </div>
  </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->