<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<div class="main-video js-check-in-view">
  <div class="main-video__cont">
    <span class="main-video__pic" style="background-image: url(<?=$template_path?>img/content/video.jpg)"></span>
    <a href="<?=$f_VideoUrl?>" data-width="1280" data-height="720" class="main-video__video-btn js-modal-link"><span class="main-video__video-btn-triangle"></span></a>
    <div class="main-video__text">
      <strong class="main-video__title"><?=$f_Header?></strong>
      <p><?=$f_HeaderSub?></p>
      <?if($f_ButtonLink){?>
        <a href="<?=$lang_prefix.$f_ButtonLink?>" class="btn-type2 btn-type2_green"><span class="btn-type2__text"><?=($f_ButtonText ? $f_ButtonText : Langs::TEXT_TO_LEAR_MORE)?></span></a>
      <?}?>
    </div>
  </div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>