<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?if($totRows){?>
  <div class="media-detail__right">
    <div class="js-sticky-col">
      <h3><?=Langs::TEXT_FRESH_ARTICLES?></h3>
      <div class="articles-list">
<?}?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$arrTagsIds = explode(',', $f_TagsCustom);
$arrTagsIds = array_map(function($value){
	return (int)$value;
}, $arrTagsIds);
$arrTagsIds = array_filter($arrTagsIds);
$arrTags = array();
foreach($arrTagsIds as $tag_id){
  $key_search = array_search($tag_id, array_column($allTags, 'ID'));
  if($key_search !== false){
    $arrTags[] = array(
      'name' => $allTags[$key_search]['Name'],
      'code' => $allTags[$key_search]['Code'],
    );
  }
}
?>
<div class="articles-list__item">
  <a href="<?=$lang_prefix.$fullLink?>" class="articles-list__link">
    
    <?php
    unset($arrRowTag);
    foreach($arrTags as $arrRowTag){
      echo '<span class="articles-list__label" style="background-color:'.$arrRowTag['code'].';">'.$arrRowTag['name'].'</span>';
    }
    ?>

    <strong class="articles-list__name"><?=$f_Name?></strong>
    <?=$f_Announce?>
  </a>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><?if($totRows){?>
      </div>
    </div>
  </div>
<?}?><!-- /FormSuffix -->