<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$arrTagsIds = explode(',', $f_TagsCustom);
$arrTagsIds = array_map(function($value){
	return (int)$value;
}, $arrTagsIds);
$arrTagsIds = array_filter($arrTagsIds);
$arrTags = array();
foreach($arrTagsIds as $tag_id){
  $key_search = array_search($tag_id, array_column($allTags, 'ID'));
  if($key_search !== false){
    $arrTags[] = array(
      'name' => $allTags[$key_search]['Name'],
      'code' => $allTags[$key_search]['Code'],
    );
  }
}
?>
<div class="articles-list__item">
  <a href="<?=$lang_prefix.$fullLink?>" class="articles-list__link">
    
    <?php
    unset($arrRowTag);
    foreach($arrTags as $arrRowTag){
      echo '<span class="articles-list__label" style="background-color:'.$arrRowTag['code'].';">'.$arrRowTag['name'].'</span>';
    }
    ?>

    <strong class="articles-list__name"><?=$f_Name?></strong>
    <?=$f_Announce?>
  </a>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>