<!-- FormPrefix --><? if ($inside_admin) { ?>
<?= $f_AdminCommon ?>
<?php
$netshop = nc_netshop::get_instance($catalogue);
$netshop_forms = $netshop->forms->get_objects();

$currencies = $netshop->get_setting('CurrencyDetails');
$default_currency = (int)$netshop->get_setting('DefaultCurrencyID');
$curency_short_name = $currencies[$default_currency]['NameShort'];

$sql = "SELECT * FROM `Classificator_ShopOrderStatus` ORDER BY `ShopOrderStatus_Priority`";
$statuses = (array)$db->get_results($sql, ARRAY_A);

$delivery_methods = $netshop->delivery->get_all_methods();

$order_filter_form_visibility = nc_core()->get_settings('OrderFilterForm', 'netshop');
$order_filter_form_visibility = $order_filter_form_visibility ? 1 : 0;
?>
    <style>
        #nc_objects_filter { display: none; }
        .tpl-property-total-price { white-space: nowrap; }
        .nc-netshop-order-filter-form-toggle { text-decoration: none; border-bottom: 1px dashed #1a87c2; }
        .nc-netshop-order-filter-form-toggle:hover { border-bottom: none; }
    </style>
    <div class="nc-bg-lighten nc-padding-10" style="border-bottom: 1px solid #DDD; margin-right: 20px;">
        <a href="#" class="nc-netshop-order-filter-form-toggle">Фильтр заказов</a>

        <form class="nc-form nc--horizontal <?= !$order_filter_form_visibility ? 'nc--hide' : ''; ?>" method="get">
            <!-- при использовании в качестве обычного шаблона инфоблока: -->
            <input type='hidden' name='admin_mode' value='<?= $admin_mode ?>'/>
            <input type='hidden' name='inside_admin' value='<?= (int)$inside_admin ?>'/>
            <input type='hidden' name='catalogue' value='<?= $catalogue ?>'>
            <input type='hidden' name='sub' value='<?= $sub ?>'>
            <input type='hidden' name='cc' value='<?= $cc ?>'>
            <!-- для работы внутри панели управления модулем: -->
            <input type="hidden" name="controller" value="order">
            <input type="hidden" name="action" value="index">

            <table class="nc--wide">
                <tr>
                    <td class="nc--wide">
                        <label style="display: block; margin-bottom: 2px;"><?= htmlspecialchars(NETCAT_MODULE_NETSHOP_ORDER_SEARCH) ?></label>
                        <input type="text" name="text_filter" class="nc--wide"
                               style="padding:4px 6px 3px; margin:0; height: 30px"
                               value="<?= htmlspecialchars($text_filter) ?>">
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style="padding-right: 30px;">
                        <label style="display: block; margin-bottom: 2px;"><?= NETCAT_MODULE_NETSHOP_ORDER_STATUS ?></label>
                        <select name="order_status" style="width: 80px; margin-top: 0;">
                            <option value="-1"><?= NETCAT_MODULE_NETSHOP_ORDER_ANY ?></option>
                            <option value="0"<?= (isset($order_status) && $order_status == 0) ? " selected" : "" ?>>
                                <?= NETCAT_MODULE_NETSHOP_ORDER_NEW ?>
                            </option>
                            <?=
                            listQuery("SELECT ShopOrderStatus_ID, ShopOrderStatus_Name FROM Classificator_ShopOrderStatus",
                                "<option value='\$data[ShopOrderStatus_ID]'\" .
                                 (\$data['ShopOrderStatus_ID']==\$_GET['order_status'] ? ' selected' : '') .
                                 \">\$data[ShopOrderStatus_Name]</option>\\n")
                            ?>
                        </select>
                    </td>
                    <td style="padding-right: 30px;">
                        <div style="display: inline-block;">
                            <label style="display: block; margin-bottom: 2px;"><?= NETCAT_MODULE_NETSHOP_DATE_FILTER; ?> <?= NETCAT_MODULE_NETSHOP_DATE_FILTER_FROM; ?></label>
                            <input size="7" style="margin-top: 0;" type="text" name="date_from" value="<?= htmlspecialchars($date_from) ?>"/>
                        </div>
                        <div style="display: inline-block;">
                            <label style="display: block; margin-bottom: 2px;"><?= NETCAT_MODULE_NETSHOP_DATE_FILTER_TO; ?></label>
                            <input size="7" style="margin-top: 0;" type="text" name="date_to" value="<?= htmlspecialchars($date_to) ?>"/>
                        </div>
                    </td>
                    <td style="padding-right: 30px;">
                        <div style="display: inline-block;">
                            <label style="display: block; margin-bottom: 2px;"><?= NETCAT_MODULE_NETSHOP_PRICE_FILTER; ?> <?= NETCAT_MODULE_NETSHOP_PRICE_FILTER_FROM; ?></label>
                            <input size="4" style="margin-top: 0;" type="text" name="price_from" value="<?= htmlspecialchars($price_from) ?>"/> <?= $curency_short_name; ?>

                        </div>
                        <div style="display: inline-block;">
                            <label style="display: block; margin-bottom: 2px;"><?= NETCAT_MODULE_NETSHOP_PRICE_FILTER_TO; ?></label>
                            <input size="4" style="margin-top: 0;" type="text" name="price_to" value="<?= htmlspecialchars($price_to) ?>"/> <?= $curency_short_name; ?>

                        </div>
                    </td>
                    <td>
                        <label style="display: block; margin-bottom: 2px;"><?= NETCAT_MODULE_NETSHOP_DELIVERY_METHOD_FILTER; ?></label>
                        <select name="delivery_method" style="width: 120px; margin-top: 0px;">
                            <option value="-1"><?= NETCAT_MODULE_NETSHOP_DELIVERY_METHOD_ALL; ?></option>
                            <? foreach ($delivery_methods as $delivery_method) { ?>
                                <option value="<?= $delivery_method['id']; ?>" <?= $delivery_method['id'] == $_GET['delivery_method'] ? 'selected="selected"' : ''; ?>><?= $delivery_method['name']; ?></option>
                            <? } ?>
                        </select>

                    </td>
                </tr>
            </table>
            <button type="submit" style="height: 30px"><?= NETCAT_MODULE_NETSHOP_ORDER_FILTER_SUBMIT; ?></button>
            <button type="button" style="height: 30px" onclick="if (confirm('<?= NETCAT_MODULE_NETSHOP_ORDER_FILTER_RESET_CONFIRM; ?>')) { $nc(this).closest('FORM').find('INPUT[type=text]').val(''); $nc(this).closest('FORM').find('SELECT').val(-1);} return true;"><?= NETCAT_MODULE_NETSHOP_ORDER_FILTER_RESET; ?></button>
            <script>
                $nc(function () {
                    $nc('A.nc-order-filter-form-toggle').on('click', function () {
                        var $this = $nc(this);
                        var $form = $this.next('FORM');
                        $form.slideToggle(function () {
                            $nc.post('', {form_visibility: $form.is(':visible') ? 1 : 0});
                        });

                        return false;
                    });

                    $nc('SELECT[name^="Status["').on('change', function (e) {
                        var $this = $nc(e.target);

                        if (confirm('<?= NETCAT_MODULE_NETSHOP_CONFIRM_STATUS_CHANGE; ?>')) {
                            var value = $this.val();
                            $this.attr('data-nc-original', value);
                            var id = /\[(\d+)\]/.exec($this.attr('name'));
                            id = id[1];

                            var checked = $nc('INPUT[name="Checked[' + id + ']"').val();
                            nc.process_start('status_change_' + id);

                            var url = '<?= $SUB_FOLDER . $HTTP_ROOT_PATH . "message.php?inside_admin=1&catalogue=" . $catalogue . "&sub=" . $sub . "&cc=" . $cc . "&classID=" . $classID . "&posting=1" . ($curPos ? "&curPos=" . $curPos : "") . ($admin_mode ? "&admin_mode=1" : ""); ?>';
                            url += '&message=' + id + '&f_Status=' + value + '&f_Checked=' + checked + '&update_status_action=1';

                            $nc.get(url, function () {
                                nc.process_stop('status_change_' + id);
                            });
                        } else {
                            $this.val($this.attr('data-nc-original'));
                        }

                        return true;
                    });

                    $nc('TH[class*="nc-sort"]').on('click', function () {
                        var $this = $nc(this);
                        var $tbody = $this.closest('TABLE').find('TBODY');
                        $this.siblings().removeClass('nc-sort-desc').removeClass('nc-sort-asc');
                        if ($this.hasClass('nc-sort-asc') || !$this.hasClass('nc-sort-desc')) {
                            $this.removeClass('nc-sort-asc').addClass('nc-sort-desc');
                        } else {
                            $this.removeClass('nc-sort-desc').addClass('nc-sort-asc');
                        }

                        var cell_index = $this.index('TH', $this.closest('TR'));

                        var source_array = [];

                        var i = 0;
                        $this.closest('TABLE').find('TR').not($this.closest('TR')).each(function () {
                            var value = $nc(this).find('TD').eq(cell_index);

                            switch (true) {
                                default:
                                    value = value.text();
                                    break;
                                case $this.hasClass('nc-sort-date'):
                                    value = new Date(value.text().replace(/(\d+)\.(\d+)\.(\d+)/, '$3-$2-$1')).getTime();
                                    break;
                                case $this.hasClass('nc-sort-float'):
                                    value = parseFloat(value.text().replace(/[^\d\.\,]/g, ''));
                                    value = isNaN(value) ? 0 : value;
                                    break;
                                case $this.hasClass('nc-sort-select'):
                                    value = value.find('OPTION:checked').text();
                                    break;
                            }

                            source_array.push([$nc(this).detach(), value]);

                            i++;
                            return true;
                        });

                        source_array.sort(function (a, b) {
                            if (a[1] > b[1]) return 1;
                            else if (a[1] < b[1]) return -1; else return 0;
                        });

                        if ($this.hasClass('nc-sort-desc')) {
                            source_array.reverse();
                        }

                        for (var i in source_array) {
                            $tbody.append(source_array[i][0]);
                        }

                        return true;
                    });

                    $nc('INPUT[name=date_from], INPUT[name=date_to]').datepicker();
                });
            </script>
        </form>
    </div>

<div class="nc-padding-20" style="padding-left:0 !important; ">
    <table class="nc-table nc--bordered nc--striped nc--wide">
        <thead>
        <tr style="cursor: pointer;">
            <th class="nc-sort-date nc-sort-desc">Дата</th>
            <th class="nc-sort-float">Номер заказа</th>
            <th class="nc-sort-string">Покупатель</th>
            <th class="nc-sort-string">Контакты</th>
            <th class="nc-sort-string">Содержание</th>
            <th class="nc-sort-float">Сумма</th>
            <th class="nc-sort-string">Способ доставки</th>
            <th class="nc-sort-select">Статус</th>
        </tr>
        </thead>
        <tbody>
        <? } else { ?>
        <?
        $sql = "SELECT `Status` FROM `Message{$classID}` WHERE " . $query_where;
        $current_statuses = array();
        foreach ((array)$db->get_col($sql) as $current_status) {
            $current_status = (int)$current_status;
            $current_status = $current_status ? $current_status : 'new';
            if (!in_array($current_status, $current_statuses)) {
                $current_statuses[] = $current_status;
            }
        }
        ?>
        <div style='min-height: 330px;'>
            <div style='padding: 5px;'>
                <?php if ($exists) { ?>
                <form method='post'>Статус заказа:
                    <select name='order_status' style='display: inline-block; width: auto; opacity: 100;' onchange='$nc(this).closest("FORM").submit();'>
                        <option selected value='0'>все</option>
                        <? if (in_array('new', $current_statuses)) { ?>
                            <option value='new'>новый</option>
                        <? } ?>
                        <? foreach ($status as $row) {
                            if (in_array($row->ID, $current_statuses)) {
                                ?>
                                <option value='<?= $row->ID ?>' <?= ($row->ID == $s_status ? 'selected' : '') ?>><?= $row->Name ?></option><?
                            }
                        }
                        ?></select>
                </form>
            </div>
            <br/>

            <div>
                <? } else { ?>
                    <div class="tpl-block-message tpl-state-error">
                        <?= NETCAT_MODULE_NETSHOP_NO_ORDERS; ?>
                    </div>
                <? } ?>
                <? } ?><!-- /FormPrefix -->

                <!-- RecordTemplate --><? if ($inside_admin) { ?>
                    <?php
                    $order = new nc_netshop_order($res[$f_RowNum]);
                    $order->set_catalogue_id($catalogue);
                    ?>
                    <tr>
                        <td><?= $f_Created_day; ?>.<?= $f_Created_month; ?>.<?= $f_Created_year; ?></td>
                        <td>
                            <a href="<?= $f_AdminButtons_change; ?>" title="<?= NETCAT_MODERATION_CHANGE; ?>" onclick="parent.nc_form(this.href); return false;"><?= $f_RowID; ?></a>
                        </td>
                        <td><?= $f_ContactName; ?></td>
                        <td><?= implode(',<br>', array($f_Email, $f_Phone)); ?></td>
                        <td>
                            <? foreach ($order->get_items() as $item) { ?>
                                <?= $item['FullName'] ?> - <?= $item['Qty'] ?> <?= $item['Units'] ?>
                                <br>
                            <? } ?>
                        </td>
                        <td class="tpl-property-total-price"><?= $order['TotalPriceF']; ?></td>
                        <td><?= $order['DeliveryMethodName']; ?></td>
                        <td>
                            <input type="hidden" name="Checked[<?= $f_RowID; ?>]" value="<?= $f_Checked; ?>"/>
                            <select name="Status[<?= $f_RowID; ?>]" data-nc-original="<?= $f_Status_id; ?>">
                                <option value="0"><?= NETCAT_MODULE_NETSHOP_ORDER_NEW; ?></option>
                                <? foreach ($statuses as $status) { ?>
                                    <option value="<?= $status['ShopOrderStatus_ID']; ?>" <?= $f_Status_id == $status['ShopOrderStatus_ID'] ? 'selected="selected"' : ''; ?>><?= $status['ShopOrderStatus_Name']; ?></option>
                                <? } ?>
                            </select>
                        </td>
                    </tr>
                <? } else { ?>
                <style type='text/css'>
                    .order_header div { display: inline-block; }
                    .order_body { padding: 5px; }
                    .order_body .left { text-align: left; width: 65%; display: inline-block; }
                    .order_body .right { text-align: right; width: 30%; display: inline-block; }
                </style>
                <?
                $netshop = nc_netshop::get_instance();
                $order = $netshop->load_order($f_RowID);
                ?>
                <form action='<?= $SUB_FOLDER ?>/netcat/message.php' method='post'>
                    <div style='padding: 5px; <?= ($f_RowNum % 2 ? '' : 'background-color: #EEE;') ?>'>
                        <div class='order_header'>
                            <div style='width: 70%;'>
                                <h3 style='margin-top: 5px; padding: 0px;'>
                                    <a href='<?= $fullLink ?>'>Заказ №<?= $f_RowID ?></a> от <?=
                                    $f_Created_day;
                                    echo " " . $months[(int)$f_Created_month];
                                    echo " " . $f_Created_year; ?> года</h3>
                            </div>
                            <div style='width: 25%; text-align: right;'>
                                <span>Статус заказа: </span><b><?= ($f_Status ? $f_Status : "Новый") ?></b>
                            </div>
                        </div>
                </form>
                <?= $f_AdminButtons ?>
                <div class='order_body'>
                    <div class='left'><?
                        $result_tmp = array();

                        foreach ($order->get_items() as $position) {
                            $result_tmp[] = $position['URL'] ? "<a href='" . $position['URL'] . "'>" . $position['Name'] . "</a>" : $position['Name'] . ($position['Qty'] > 1 ? " ({$position['Qty']})" : "");
                        }
                        echo join(', ', $result_tmp);
                        ?></div>
                    <div class='right'><b><?= $netshop->format_price($order->get_totals()) ?></b></div>
                </div>
                <br/></div>
            <? } ?><!-- /RecordTemplate -->

            <!-- FormSuffix --><? if ($inside_admin) { ?>
        </tbody>
    </table>
</div>
    <div style="margin: 15px 0">
        <?=
        browse_messages($cc_env, 15, array(
            'prefix' => "",
            'suffix' => "",
            'active' => "<b>%PAGE</b>",
            'unactive' => "<a href=%URL>%PAGE</a>",
            'divider' => " | ",
        )) ?></div>
<? } else { ?>
</div></div>
<? } ?><!-- /FormSuffix -->