<!-- FormPrefix --><?= $f_AdminCommon; ?>
<div class="page-width">
  <?if($totRows){?>
    <section class="vertical-section vertical-section_white">
      <ul class="main-benefits js-check-in-view">
  <?}?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$add_class_image = 'main-benefits__pic-bg';
$image_ext = pathinfo($f_Image, PATHINFO_EXTENSION);
if(mb_strtolower($image_ext) === 'svg'){
  $add_class_image = 'main-benefits__ico';
}
?>
<li class="main-benefits__item">
  <div class="main-benefits__pic">
    <span class="<?=$add_class_image?>" style="background-image: url(<?=$f_Image?>)"></span>
    <span class="main-benefits__pic-text">
      <span><?=$f_ImageHeader?></span>
    </span>
  </div>
  
  <?if($f_Header){?>
    <strong class="main-benefits__title"><?=$f_Header?></strong>
  <?}?>
  <span class="main-benefits__text"><?=$f_Text?></span>
</li><!-- /RecordTemplate -->

<!-- FormSuffix --><?if($totRows){?>
    </ul>
  </section>
<?}?><!-- /FormSuffix -->