<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$add_class_image = 'main-benefits__pic-bg';
$image_ext = pathinfo($f_Image, PATHINFO_EXTENSION);
if(mb_strtolower($image_ext) === 'svg'){
  $add_class_image = 'main-benefits__ico';
}
?>
<li class="main-benefits__item">
  <div class="main-benefits__pic">
    <span class="<?=$add_class_image?>" style="background-image: url(<?=$f_Image?>)"></span>
    <span class="main-benefits__pic-text">
      <span><?=$f_ImageHeader?></span>
    </span>
  </div>
  
  <?if($f_Header){?>
    <strong class="main-benefits__title"><?=$f_Header?></strong>
  <?}?>
  <span class="main-benefits__text"><?=$f_Text?></span>
</li>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>