<!-- FormPrefix --><?= $f_AdminCommon; ?><!-- /FormPrefix -->

<!-- RecordTemplate --><div style="border: 1px solid black; margin-bottom: 5px;">
<?=$f_AdminButtons;?>
<img src="<?=$f_Image;?>" style="width: 200px;">
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><br/>
<br/>
<?= browse_messages($cc_env, 15) ?>
<br/>
<br/><!-- /FormSuffix -->