<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?if(!$totRows){?>
  <div class="catalog-empty">
    <div class="catalog-empty__row">
      <div class="catalog-empty__col">
        <strong class="catalog-empty__title"><?=Langs::TEXT_NO_RESULTS_FOUND_FOR_YOUR_REQUEST?></strong> <?=Langs::TEXT_TRY_DIFF_SEARCH_OPTIONS?>
      </div>
      <div class="catalog-empty__col">
        <span class="btn-type3 js_clear_care">
          <?=Langs::TEXT_CLEAN_FILTER_LOWER?>
        </span>
      </div>
    </div>
  </div>
<?}?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div class="care-result">
  <div class="care-result__header">
    <div class="care-result__name">
      <?=$f_Name?>
    </div>
    <span class="care-result__type"><?=$f_TypeCloth_Name?></span>
  </div>
  <div class="care-result-info">
    <div class="care-result__left">
      <a href="<?=$f_VideoUrl?>" class="video-pic-link js-inline-video" style="background-image: url(<?=$f_Image?>)">
        <span class="video-pic-link__btn"><span></span></span>
      </a>
      <div class="video-iframe">
        <iframe frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="care-result__right">
      <?=$f_Text?>

      <ol class="pic-list">
        <?=$f_Images?>
      </ol>

    </div>
  </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->