<?= $f_AdminCommon; ?>
<?if(!$totRows){?>
  <div class="catalog-empty">
    <div class="catalog-empty__row">
      <div class="catalog-empty__col">
        <strong class="catalog-empty__title"><?=Langs::TEXT_NO_RESULTS_FOUND_FOR_YOUR_REQUEST?></strong> <?=Langs::TEXT_TRY_DIFF_SEARCH_OPTIONS?>
      </div>
      <div class="catalog-empty__col">
        <span class="btn-type3 js_clear_care">
          <?=Langs::TEXT_CLEAN_FILTER_LOWER?>
        </span>
      </div>
    </div>
  </div>
<?}?>