<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<div class="care-result">
  <div class="care-result__header">
    <div class="care-result__name">
      <?=$f_Name?>
    </div>
    <span class="care-result__type"><?=$f_TypeCloth_Name?></span>
  </div>
  <div class="care-result-info">
    <div class="care-result__left">
      <a href="<?=$f_VideoUrl?>" class="video-pic-link js-inline-video" style="background-image: url(<?=$f_Image?>)">
        <span class="video-pic-link__btn"><span></span></span>
      </a>
      <div class="video-iframe">
        <iframe frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="care-result__right">
      <?=$f_Text?>

      <ol class="pic-list">
        <?=$f_Images?>
      </ol>

    </div>
  </div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>