<?php
$template_path = helperData::getTemplatePath();

$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];

$query_select = "1,".($lang_id !== 1 ? 't_lang' : 't').".Name as TypeCloth_Name";
$query_join = "LEFT JOIN Message164 as t ON a.TypeCloth = t.Message_ID";
$query_where = "1";
if($lang_id !== 1){
  $query_join .= " LEFT JOIN Message164 as t_lang ON t.Message_ID = t_lang.Language_Parent ";
}


$arrFields = array(
                'Name',
                'Text',
);
$arrQueryLang = getQueryLang($classID,$arrFields);
$query_select .= $arrQueryLang["select"];
$query_join .= $arrQueryLang["join"];
$query_where .= $arrQueryLang["where"];

if(!empty($spot_ids)){
  $arrSpotIds = explode(',', $spot_ids);
  $arrSpotWhere = array();
  foreach($arrSpotIds as $spot_id){
    $arrSpotWhere[] = 'a.Spot LIKE "%,'.(int)$spot_id.',%"';
  }
  $query_where .= ' AND ('.implode(' OR ', $arrSpotWhere).')';
}


if(!empty($type_cloth_ids)){
  $arrTypeClothIds = explode(',', $type_cloth_ids);
  $arrTypeClothWhere = array();
  foreach($arrTypeClothIds as $type_cloth_id){
    $arrTypeClothWhere[] = 'a.TypeCloth = "'.(int)$type_cloth_id.'"';
  }
  $query_where .= ' AND ('.implode(' OR ', $arrTypeClothWhere).')';
}

$f_Images_tpl = array(
    'prefix' => "",
    'record' => "<li class='pic-list__item'><span class='pic-list__img' style='background-image: url(%Path%)'></span></li>",
    'divider' => "",
    'suffix' => "",
    'i' => 0
);
?>