<!-- FormPrefix --><?= $f_AdminCommon; ?>
<section class="vertical-section vertical-section_white"><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div class="main-drop-promo js-check-in-view">
  <div class="main-drop-promo__text">
    <div class="main-drop-promo__left">
      <span class="main-drop-promo__anim"><?=$f_HeaderLeft?></span>
    </div>
    <div class="main-drop-promo__right">
      <span class="main-drop-promo__anim"><?=$f_HeaderRight?></span>
    </div>
  </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->