<!-- FormPrefix -->
<?php
// способ отображения товаров в списке (плитка/список)
$template_partial_loading = nc_array_value($GLOBALS['template_settings'], 'enable_partial_loading');
$list_layout_cookie = $nc_core->input->fetch_cookie('tpl_default_list_layout');
$list_layout_class = $list_layout_cookie == 'list' && !$template_partial_loading ? 'tpl-layout-list' : 'tpl-layout-tiles';
?>

<aside>
    <!-- Список разделов в боковой колонке -->
    <?= nc_browse_sub($parent_sub_tree[count($parent_sub_tree)-2]['Subdivision_ID'], array($GLOBALS['browse_top_menu'][1], $GLOBALS['browse_top_menu'][2])); ?>
    <!-- Фильтр -->
    <div class="tpl-block-filter">
        <input type="hidden" name="request_uri" value="<?= htmlspecialchars($_SERVER["REQUEST_URI"]); ?>">
        <h3>Фильтр</h3>
        <?= $netshop->filter->make_form() ?>
    </div>
</aside>

<div class="tpl-block-main">
<div class="tpl-block-list tpl-component-goods">
<!-- Управление списком объектов -->
<div class="tpl-block-list-prefix">
    <!-- Хлебные крошки-->
    <?= nc_browse_path_range(0, $sub_level_count - 2, $GLOBALS['browse_path']); ?>
    <? if ($sorting_methods): ?>
        <!-- Сотрировка -->
        <? $sortBy = (string)$nc_core->input->fetch_get('sortBy'); ?>
        <div class="tpl-block-list-order">
            <span class="tpl-block-dropdown tpl-link-pseudo" data-target="#ordering_dropdown">
                <u><?= $sorting_methods[$sortBy]['title'] ?></u><i class="icon-angle-down"></i>
                <ul id="ordering_dropdown">
                    <? foreach ($sorting_methods as $key => $row): ?>
                        <li<?= $sortBy == $key ? " class='tpl-state-active'" : '' ?>>
                            <a href="<?= current_link('sortBy', $key) ?>" rel="nofollow"><?= $row['title'] ?></a>
                        </li>
                    <? endforeach ?>
                </ul>
            </span>
            <span class="tpl-link-pseudo<?= empty($sortDesc) ? ' tpl-state-active' : '' ?>">
                <u><a href="<?= current_link('sortDesc', null) ?>" title="По возрастанию" rel="nofollow"><i class="icon-lowtohight"></i></a></u>
            </span>
            <span class="tpl-link-pseudo<?= !empty($sortDesc) ? ' tpl-state-active' : '' ?>">
                <u><a href="<?= current_link('sortDesc', '1') ?>" title="По убыванию" rel="nofollow"><i class="icon-highttolow"></i></a></u>
            </span>
        </div>
    <? endif ?>
    <!-- Количество записей на странице -->
    <div class="tpl-block-list-per-page">
        <span class="tpl-link-pseudo tpl-block-dropdown" data-target="#ordering_limit">
            <u>Показывать по <?= $recNum ?></u><i class="icon-angle-down"></i>
            <ul id="ordering_limit">
                <? foreach (array(20, 40, 60) as $limit): ?>
                    <li<?= $limit == $recNum ? " class='tpl-state-active'" : '' ?>>
                        <a href="<?= current_link('recNum', $limit) ?>" rel="nofollow">Показывать по <?= $limit ?></a></li>
                <? endforeach ?>
            </ul>
        </span>
    </div>
    <!-- Список / плитка-->
    <div class="tpl-block-list-layout">
        <div class="tpl-block-list-layout-tiles<?= ($list_layout_class != 'tpl-layout-list' ? ' tpl-state-active' : '') ?>"
            title="Выводить плиткой"><i class="icon-th"></i></div>
        <div class="tpl-block-list-layout-list<?=  ($list_layout_class == 'tpl-layout-list' ? ' tpl-state-active' : '') ?>"
            title="Выводить строчками"><i class="icon-list"></i>
        </div>
    </div>

    <!-- Заголовок-->
    <h2><?= $nc_core->subdivision->get_by_id($sub, 'Subdivision_Name'); ?></h2>

    <!-- Список страниц -->
    <div class="tpl-block-pagination">
        <? if (strlen($prevLink)): ?>
            <a href="<?= $prevLink; ?>" class="tpl-link-prev" title="Предыдущая страница">Предыдущая страница</a>
        <? elseif (strlen($nextLink)): ?>
            <a class="tpl-link-prev tpl-state-disabled" title="Предыдущая страница">Предыдущая страница</a>
        <? endif; ?>
        <?= nc_browse_messages($cc_env, 5, $GLOBALS['pages_template']); ?>
        <? if (strlen($nextLink)): ?>
            <a href="<?= $nextLink; ?>" class="tpl-link-next" title="Следующая страница">Следующая страница</a>
        <? elseif (strlen($prevLink)): ?>
            <a class="tpl-link-next tpl-state-disabled" title="Следующая страница">Следующая страница</a>
        <? endif; ?>
    </div>
    <? if ($admin_mode): // блок с элементами интерфейса управления ?>
        <div class="tpl-block-admin"><?= $f_AdminCommon ?></div>
    <? endif; ?>
</div>

<!-- Список объектов -->
<div class="tpl-block-list-objects <?= $list_layout_class ?>">
<!-- /FormPrefix -->

<!-- RecordTemplate -->
<?
$item = new nc_netshop_item($res[$f_RowNum]);
$item_parent_id = $item['Parent_Message_ID'] ?: $item['Message_ID'];
$item_list_key = $item['Class_ID'] . ':' . $item_parent_id;

// запрет кэширования страницы сервером, если цена или скидки зависят от пользователя
if ($template_partial_loading && $item->price_depends_on_user_data()) {
    header('X-Accel-Expires: 0');
}

?>
<!-- Карточка-->
<div class="tpl-block-list-object"
    <?= nc_module_check_by_keyword('stats')
        ? nc_stats_analytics::get_item_attribute($item, 'Каталог', $curPos + $f_RowNum + 1)
        : '' ?>>
    <article>
        <? if ($admin_mode) { echo "<div class='tpl-block-admin'>$f_AdminButtons</div>"; } ?>
        <a href="<?= $fullLink; ?>" class="tpl-link-more">
            <!-- Заголовок-->
            <h3>
                <span class="tpl-property-name"><?= $item['Name']; ?></span>
            </h3>

            <!-- Подзаголовок -->
            <?

            $subheader = array();
            if (trim($item['Type']))   { $subheader[] = '<span class="tpl-property-type">' . $item['Type'] . '</span>'; }
            if (trim($item['Vendor'])) { $subheader[] = '<span class="tpl-property-vendor">' . $item['Vendor'] . '</span>'; }

            if ($subheader) {
               echo '<div class="tpl-block-subheader">',
                    join(", ", $subheader),
                    '</div>';
            }

            ?>

            <!-- Рейтинг-->
            <div class="tpl-block-rating">
                <? for ($i = 1; $i <= 5; $i++): ?>
                    <?
                    $rate = $item['RateCount'] ? $item['RateTotal'] / $item['RateCount'] : 0;
                    $class_name = 'icon-star';
                    if ($rate < $i && $rate > ($i - 1)) {
                        $class_name .= '-half-alt';
                    }
                    else if ($rate < $i) {
                        $class_name .= '-empty';
                    }
                    ?>
                    <div class="tpl-block-rating-item"><i class="<?= $class_name; ?>"></i></div>
                <? endfor; ?>
            </div>

            <!-- Картинка-->
            <div class="tpl-property-image"><img src="<?= $item['Image']; ?>"></div>

            <!-- Цена без скидки -->
            <? if ($item['ItemDiscount']): ?>
                <div class="tpl-property-original-price"><span class="tpl-value"><?= $item['OriginalPriceF']; ?></span></div>
            <? endif; // if ItemDiscount ?>

            <!-- Цена для покупателя -->
            <? if ($item['ItemPrice']): ?>
                <div class="tpl-property-item-price"><span class="tpl-value"><?= $item['ItemPriceF'] ?></span></div>
            <? elseif ($item['ItemPriceRange']): ?>
                <div class="tpl-property-item-price tpl-property-item-price-range"><?= $item['ItemPriceRange']  ?></div>
            <? endif; ?>

            <!-- Краткое описание -->
            <div class="tpl-property-description">
                <?= strlen($item['Description'])
                        ? $item['Description']
                        : nc_truncate_plain_string($item['Details'], $tpl_description_length);
                ?>
            </div>
        </a>

        <form action="<?= $netshop->get_add_to_cart_url() ?>" method="post">
            <input type="hidden" name="redirect_url" value="<?= $_SERVER["REQUEST_URI"] ?>"/>
            <input type="hidden" name="cart_mode" value="add"/>
            <input type="hidden" name="items[]" value="<?= $item['Class_ID'] . ':' . $item['Message_ID'] ?>"/>
            <input type="hidden" name="qty" value="1"/>

            <!-- ссылка — добавить к списку сравнения -->
            <? $is_in_compare_list = !$template_partial_loading && $netshop->goodslist_compare->check($item_parent_id, $item['Class_ID']); ?>
            <a class="tpl-link-compare-add" <?= ($is_in_compare_list ? 'style="display:none"' : '') ?>
                href="<?= $netshop->goodslist_compare->get_add_action_url($item_parent_id, $item['Class_ID'], $_SERVER['REQUEST_URI']); ?>" rel="nofollow"
                data-list-key="<?= $item_list_key ?>"
                title="Добавить в список сравнения">Добавить в список сравнения</a>
            <a class="tpl-link-compare" <?= ($is_in_compare_list ? '' : 'style="display:none"') ?>
                href="#" rel="nofollow"
                data-list-key="<?= $item_list_key ?>"
                title="Перейти к сравнению">Перейти к сравнению</a>

            <!-- ссылка — переключить в избранном -->
            <? $is_in_fav_list = !$template_partial_loading && $netshop->goodslist_favorite->check($item_parent_id, $item['Class_ID']); ?>
            <a class="tpl-link-favorite-add" <?= ($is_in_fav_list ? 'style="display:none"' : '') ?>
                href="<?= $netshop->goodslist_favorite->get_add_action_url($item_parent_id, $item['Class_ID'], $_SERVER['REQUEST_URI']); ?>"
                data-list-key="<?= $item_list_key ?>"
                rel="nofollow" title="Добавить в избранное">Добавить в избранное</a>
            <a class="tpl-link-favorite" <?= ($is_in_fav_list ? '' : 'style="display:none"') ?>
                href="<?= $netshop->goodslist_favorite->get_remove_action_url($item_parent_id, $item['Class_ID'], $_SERVER['REQUEST_URI']); ?>"
                data-list-key="<?= $item_list_key ?>"
                rel="nofollow" title="Уже в избранном">Уже в избранном</a>

            <!-- купить — доступно, если товар включён -->
            <? if ($item['Checked'] && $item['Qty'] != 0): ?>
                <!-- добавить в корзину -->
                <button class="tpl-link-cart-add" type="submit" title="В корзину">В корзину</button>
                <!-- добавить в корзину и перейти к оформлению заказа -->
                <button class="tpl-link-cart-add-and-checkout" type="submit"
                    name="redirect_url" value="<?= $add_order_url ?>">Купить сразу</button>
            <? else: ?>
                <a class="tpl-link-more tpl-link-select-variant" href="<?= $fullLink ?>">Выбрать модель</a>
            <? endif; ?>
        </form>
    </article>
</div>

<!-- /RecordTemplate -->

<!-- FormSuffix -->
</div>
<div class="tpl-block-list-suffix">
    <!-- Список страниц -->
    <div class="tpl-block-pagination">
        <? if (strlen($prevLink)): ?>
            <a href="<?= $prevLink; ?>" class="tpl-link-prev" title="Предыдущая страница">Предыдущая страница</a>
        <? elseif (strlen($nextLink)): ?>
            <a class="tpl-link-prev tpl-state-disabled" title="Предыдущая страница">Предыдущая страница</a>
        <? endif; ?>
        <?= nc_browse_messages($cc_env, 5, $GLOBALS['pages_template']); ?>
        <? if (strlen($nextLink)): ?>
            <a href="<?= $nextLink; ?>" class="tpl-link-next" title="Следующая страница">Следующая страница</a>
        <? elseif (strlen($prevLink)): ?>
            <a class="tpl-link-next tpl-state-disabled" title="Следующая страница">Следующая страница</a>
        <? endif; ?>
    </div>
</div>
</div>
</div>

<script>
    window.tpl_init_content && tpl_init_content();
    // обновление способа отображения (для случаев, когда страница кэшируется веб-сервером)
    if (document.cookie.indexOf('tpl_default_list_layout=list') !== -1) {
        document.querySelector('.tpl-block-list-layout .tpl-block-list-layout-tiles').className = 'tpl-block-list-layout-tiles';
        document.querySelector('.tpl-block-list-layout .tpl-block-list-layout-list').className = 'tpl-block-list-layout-list tpl-state-active';
        document.querySelector('.tpl-block-list-objects').className = 'tpl-block-list-objects tpl-layout-list';
    }
</script>
<!-- /FormSuffix -->