<?if(intval($_POST["jsQuery"])){?>

<?}else{?>
<?php
$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];
?>
  <div class='page-width'>
    <?=getBrcrHtml();?>
    <h1><?=getSubNameLang($sub)?></h1>
    <div class='form-cont' style="max-width:600px;">
      <form id='send_form_change_password' class='main-form' method='post' action='<?= $lang_prefix . $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>modules/auth/password_change.php'>
        <input type='hidden' name='catalogue' value='<?= $catalogue ?>' />
        <input type='hidden' name='sub' value='<?= $sub ?>' />
        <input type='hidden' name='cc' value='<?= $cc ?>' />
        <input type='hidden' name='post' value='1' />
        <input type='hidden' name='isNaked' value='1' />
        <input type='hidden' name='jsQuery' value='1' />
        <input type='hidden' name='uid' value='<?= (int)$uid ?>' />
        <input type='hidden' name='ucc' value='<?= htmlspecialchars($ucc, ENT_QUOTES) ?>' />
        <input type='hidden' name='REQUESTED_FROM' value='<?= htmlspecialchars($REQUESTED_FROM, ENT_QUOTES) ?>' />
        <input type='hidden' name='REQUESTED_BY' value='<?= htmlspecialchars($REQUESTED_BY, ENT_QUOTES) ?>' />
        
        <div class="main-form__line">
          <label class="main-form__label" for="password1"><?=Langs::TEXT_NEW_PASSWORD?>: *</label>
          <input type="password" class="main-form__text-input" id="password1" name="Password1" value="" required="">
        </div>
        
        <div class="main-form__line">
          <label class="main-form__label" for="password2"><?=Langs::TEXT_RETYPE_PASSWORD?>: *</label>
          <input type="password" class="main-form__text-input" id="password2" name="Password2" value="" required="">
        </div>

        <div class="submit-line">
          <div class="main-form__line">
            <input type="submit" value="<?=Langs::TEXT_CHANGE_PASSWORD?>" class="btn-type3">
          </div>
        </div>
      </form>
    </div>
  </div>
<?}?>