<?if(intval($_POST["jsQuery"])){?>
  <?php
      $resultObject = array("status" => 0, "text" => strip_tags($warnText), "header" => Langs::TEXT_CHANGE_PASSWORD_OTHER);
      ob_end_clean();
      header("Content-Type: application/json;charset=utf-8");
      echo json_encode($resultObject);
      exit;
  ?>
<?}else{?>
  <div class='page-width'>
    <?=getBrcrHtml();?>
    <h1><?=getSubNameLang($sub)?></h1>
    <div class='form-cont' style="max-width:600px;">
      <h3><?= $warnText ?></h3>
    </div>
  </div>
<?}?>