<?if(intval($_POST["jsQuery"])){?>

<?}else{?>
  <div class='page-width'>
    <?=getBrcrHtml();?>
    <h1><?=getSubNameLang($sub)?></h1>
    <div class='form-cont' style="max-width:600px;">
      <form id='send_form_recovery_password' class='main-form' enctype='multipart/form-data' method='post'>
        <input type='hidden' name='catalogue' value='<?= $catalogue ?>' />
        <input type='hidden' name='sub' value='<?= $sub ?>' />
        <input type='hidden' name='cc' value='<?= $cc ?>' />
        <input type='hidden' name='post' value='1' />
        <input type='hidden' name='isNaked' value='1' />
        <input type='hidden' name='jsQuery' value='1' />

        <div class="main-form__line">
          <label class="main-form__label" for="Email">Email: *</label>
          <input type="email" class="main-form__text-input" id="Email" name="Email" value="" required="">
        </div>

        <div class="submit-line">
          <div class="main-form__line">
            <input type="submit" value="<?=Langs::TEXT_RESTORE_PASSWORD?>" class="btn-type3">
          </div>
        </div>
      </form>
    </div>
  </div>
<?}?>