<!-- FormPrefix --><!-- /FormPrefix -->

<!-- RecordTemplate --><?php
$row_i = 0;
foreach($f_ImagePhotos->to_array() as $row_image){
  if($row_i === 0){
    echo '<div class="modal-gallery-slider__item">
            <div class="equal-pic js-equal-height" data-mh="gallery">
              <img src="'.$row_image->resize('1350', '900').'" width="1350" height="900" alt="">
              <!-- src у первого, чтоб не скакал попап.  Первым делаем в зависитимости от параметра id в ajax запросе -->
            </div>
          </div>';
  }else{
    echo '<div class="modal-gallery-slider__item">
            <div class="equal-pic js-equal-height" data-mh="gallery">
              <img data-lazy="'.$row_image->resize('1350', '900').'" width="1350" height="900" alt="">
            </div>
          </div>';
  }
  $row_i++;
}
?><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->