<?php
$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];

if(empty($AUTH_USER_ID)){
  header("Location: ".$lang_prefix."/");
  exit;
}
?>

<div class="form-row__right">
  <? $auth_settings = $nc_core->get_settings('', 'auth')?>
  <form id='send_form_reg' class='main-form' enctype='multipart/form-data' method='post' action='<?= $nc_core->SUB_FOLDER ?><?= $nc_core->HTTP_ROOT_PATH ?>add.php'>
    <div id='nc_moderate_form'>
      <div class='nc_clear'></div>
      <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
      <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
      <input name='cc' type='hidden' value='<?= $cc ?>' />
      <input name='sub' type='hidden' value='<?= $sub ?>' />
      <input name='posting' type='hidden' value='1' />
      <input name='isNaked' type='hidden' value='1' />
      <input name='jsQuery' type='hidden' value='1' />
      <input name='curPos' type='hidden' value='<?= $curPos ?>' />
      <div class='nc_clear'></div>
    </div>

    <h4><?=Langs::TEXT_I_AM_NEW_USER?></h4>

    <div class="main-form__line">
      <label class="main-form__label" for="name_reg"><?=Langs::TEXT_FIO?>: *</label>
      <input type="text" class="main-form__text-input" id="name_reg" name="f_FIO" value="" required>
    </div>

    <div class="page-row page-row_wrap">
      <div class="page-col page-col_w50">
        <div class="main-form__line">
          <label class="main-form__label" for="login"><?=Langs::TEXT_EMAIL?>: *</label>
          <input type="email" class="main-form__text-input" id="login" name="f_Login" value="" placeholder="E-mail" required>
        </div>
      </div>
      <div class="page-col page-col_w50">
        <div class="main-form__line">
          <label class="main-form__label" for="tel"><?=Langs::TEXT_PHONE?>: *</label>
          <input type="tel" class="main-form__text-input js-phone-input" value="" id="tel" name="f_Phone" placeholder="+_ (___) ___-__-__" required>
        </div>
      </div>
    </div>

    <div class="page-row page-row_wrap">
      <div class="page-col page-col_w50">
        <div class="main-form__line">
          <label class="main-form__label" for="password1"><?=Langs::TEXT_PASSWORD?>: *</label>
          <input type="password" class="main-form__text-input" id="password1" name="Password1" value="" required>
        </div>
      </div>
      <div class="page-col page-col_w50">
        <div class="main-form__line">
          <label class="main-form__label" for="password2"><?=Langs::TEXT_CONFIRM_PASSWORD?>: *</label>
          <input type="password" class="main-form__text-input" value="" id="password2" name="Password2" required>
        </div>
      </div>
    </div>

    <div class="main-form__line main-form__line_small">
      <label class="checkbox">
        <input type="checkbox" name="nc_agreed" checked="checked" class="checkbox__input">
        <span class="checkbox__text"><?=Langs::TEXT_I_AGREE_TO?> <a href="#" class="js-modal-link" data-fancybox data-type="ajax" data-src="<?=nc_folder_path(sct::sub('privacy_policy'))?>?isNaked=1"><?=Langs::TEXT_PRIVACY_POLICY?></a></span>
      </label>
    </div>

    <div class="submit-line">
      <div class="main-form__line">
        <input type="submit" value="<?=Langs::TEXT_SIGN_UP?>" class="btn-type3">
      </div>
      <span class="required-caption">* <?=Langs::TEXT_REQUIRED_FIELDS?></span>
    </div>

  </form>
</div>


    </div>
  </div>
</div>