<!-- FormPrefix --><?=$f_AdminCommon;?>
<div class="personal-row__left">
  <div class="personal-cont">

    <dl class="personal-info-params">
      <dt><?=Langs::TEXT_FIO?>:</dt>
      <dd><?=$current_user['FIO']?></dd>
    </dl>

    <dl class="personal-info-params">
      <dt>Email:</dt>
      <dd><?=$current_user['Email']?></dd>
    </dl>

    <dl class="personal-info-params">
      <dt><?=Langs::TEXT_PHONE?>:</dt>
      <dd><?=$current_user['Phone']?></dd>
    </dl>

    <dl class="personal-info-params">
      <dt><?=Langs::TEXT_BIRTHDAY?>:</dt>
      <dd><?=(!empty($current_user['DateBirthday']) ? date('d.m.Y', strtotime($current_user['DateBirthday'])) : '-')?></dd>
    </dl>

    <div class="h30-separator"></div>

    <a href="<?=$lang_prefix.$subLink?>edit_<?=$current_cc['EnglishName']?>_<?=$AUTH_USER_ID?>.html" class="btn-type3"><?=Langs::TEXT_EDIT_INFORMATION?></a>
  </div>
</div><!-- /FormPrefix -->

<!-- RecordTemplate --><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->