<?php
$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];
$nc_subscriber = nc_subscriber::get_object();
$arrSubscUser = $nc_subscriber->get_user_subscription($AUTH_USER_ID);
$subsc_status = $db->get_var("SELECT Status FROM Subscriber_Subscription
                              WHERE Mailer_ID = 2 AND User_ID = '".(int)$AUTH_USER_ID."'");
?>
<div class="personal-row__left">
  <div class="personal-cont">
    <form id='send_form_edit_personal' class='nc-form main-form' enctype='multipart/form-data' method='post' action='<?= $lang_prefix . $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>message.php'>
      <div id='nc_moderate_form'>
        <div class='nc_clear'></div>
        <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
        <?= $nc_core->token->get_input() ?>
        <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
        <input name='cc' type='hidden' value='<?= $cc ?>' />
        <input name='sub' type='hidden' value='<?= $sub ?>' />
        <input name='message' type='hidden' value='<?= $message ?>' />
        <input name='posting' type='hidden' value='1' />
        <input name='isNaked' type='hidden' value='1' />
        <input name='jsQuery' type='hidden' value='1' />
        <input name='curPos' type='hidden' value='<?= $curPos ?>' />
        <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
        <?= nc_form_moderate('change', $admin_mode, 1, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
      </div>

      <dl class="personal-info-params">
        <dt><?=Langs::TEXT_FIO?>:</dt>
        <dd>
          <input type="text" name="f_FIO" class="text-input" value="<?=$current_user['FIO']?>" required>
        </dd>
      </dl>
      <dl class="personal-info-params">
        <dt>Email:</dt>
        <dd>
          <input type="email" name="f_Email" class="text-input" value="<?=$current_user['Email']?>" required>
        </dd>
      </dl>

      <dl class="personal-info-params">
        <dt><?=Langs::TEXT_PHONE?>:</dt>
        <dd>
          <input type="tel" name="f_Phone" class="text-input js-phone-input" placeholder="+_ (___) ___-__-__" value="<?=$current_user['Phone']?>" required>
        </dd>
      </dl>

      <dl class="personal-info-params">
        <dt><?=Langs::TEXT_BIRTHDAY?>:</dt>
        <dd>
          <input type="text" name="f_DateBirthday" class="text-input" value="<?=(!empty($current_user['DateBirthday']) ? date('d.m.Y', strtotime($current_user['DateBirthday'])) : NULL)?>">
        </dd>
      </dl>

      <dl class="personal-info-params">
        <dt><?=Langs::TEXT_NEW_PASSWORD?>:</dt>
        <dd>
          <input type="password" name="new_password" class="text-input js_new_password">
        </dd>
      </dl>
      <dl class="personal-info-params">
        <dt><?=Langs::TEXT_CONFIRM_PASSWORD?>:</dt>
        <dd>
          <input type="password" name="new_password2" class="text-input js_new_password2">
        </dd>
      </dl>

      <div class="h40-separator"></div>

      <label class="checkbox">
        <input type="checkbox" name="agree_subsc" <?=(in_array(2, $arrSubscUser) && $subsc_status === 'on' ? 'checked="checked"' : NULL)?> class="checkbox__input">
        <span class="checkbox__text"><?=Langs::TEXT_I_AGRRE_TO_SUBSC?></span>
      </label>

      <div class="h30-separator"></div>

      <a href="#" class="btn-type3 js_save_form_edit_personal"><?=Langs::TEXT_SAVE?></a>
      <a href="<?=$lang_prefix.$subLink?>" class="btn-type3"><?=Langs::TEXT_CANCEL?></a>

    </form>
  </div>
</div>