<!-- FormPrefix --><?= $f_AdminCommon; ?>
<div class="company-review">
  <div class="page-width">
    <h3><?=Langs::TEXT_COMPANY_REVIEWS?></h3>

    <div class="page-row company-review__text">
      <div class="page-col">
        <p><?=$cc_settings['Text'.$lang_prefix_field]?></p>
      </div>
      <div class="page-col">
        <a href="#review-modal" class="btn-type1 btn-type1_comment js-modal-link"><?=Langs::TEXT_LEAVE_REVIEW_ABOUT_COMPANY?></a>
      </div>
    </div>
    
    <?if(!$totRows){?>
      <h4><?=Langs::TEXT_ABOUT_COMPANY_REVIEWS_EMPTY_FIRST_ONE?></h4>
    <?}?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?php
$total_rating = round(($f_ReviewRating_PriceQuality + $f_ReviewRating_QualityService + $f_ReviewRating_Personel + $f_ReviewRating_OrderSpeed + $f_ReviewRating_FeedbackQuality) / 5);

/*
$total_plus = (int)$db->get_var("SELECT COUNT(Message_ID) FROM Message218 WHERE Comment_ID = '".$f_RowID."' AND LikeComment = 1 AND Company_ID = '".$company_id."'");
$total_minus = (int)$db->get_var("SELECT COUNT(Message_ID) FROM Message218 WHERE Comment_ID = '".$f_RowID."' AND LikeComment = 2 AND Company_ID = '".$company_id."'");
*/
?>
<div class="review">
  <div class="review__left">
    <span class="review__date"><?=$f_Created_day?> <?=getRusMonth($f_Created_month)?></span>

    <strong class="review__name"><?=$f_Fio?></strong>

    <div class="review-results <?=(existsVoteUser($f_RowID, $company_id) ? 'disabled' : NULL)?>">
      <?=Langs::TEXT_HELPFUL_REVIEW?>:<br>

      <div class="review-results__val js-review-vote" data-url="<?=$lang_prefix?>/netcat/modules/default/addLikeComment.php" data-id="<?=$f_RowID?>" data-company="<?=$company_id?>" data-type="2"><span class="review-results__ico"></span> <span class="js_total_value"><?=$f_TotalMinus?></span></div>
      <div class="review-results__val js-review-vote" data-url="<?=$lang_prefix?>/netcat/modules/default/addLikeComment.php" data-id="<?=$f_RowID?>" data-company="<?=$company_id?>" data-type="1"><span class="review-results__ico"></span> <span class="js_total_value"><?=$f_TotalPlus?></span></div>
    </div>
  </div>
  <div class="review__right">
    <span class="review__rating"><?=$total_rating?></span>
    <strong class="review__title"><?=$f_Header?></strong>

    <dl class="review-params">
      <dt><?=Langs::TEXT_PROS?>:</dt>
      <dd><?=$f_Plus?></dd>
    </dl>
    <dl class="review-params review-params_minus">
      <dt><?=Langs::TEXT_MINUSES?>:</dt>
      <dd><?=$f_Minus?></dd>
    </dl>
    <dl class="review-params review-params_comment">
      <dt><?=Langs::TEXT_A_COMMENT?>:</dt>
      <dd><?=$f_Comment?></dd>
    </dl>
    
    <?if($f_Answer){?>
      <div class="review__answer">
        <strong class="review__title"><?=Langs::TEXT_RESPONSE_TO_REVIEW?></strong><?=$f_Answer?>
      </div>
    <?}?>

  </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix -->  </div>
</div><!-- /FormSuffix -->