<?= $f_AdminCommon; ?>
<div class="company-review">
  <div class="page-width">
    <h3><?=Langs::TEXT_COMPANY_REVIEWS?></h3>

    <div class="page-row company-review__text">
      <div class="page-col">
        <p><?=$cc_settings['Text'.$lang_prefix_field]?></p>
      </div>
      <div class="page-col">
        <a href="#review-modal" class="btn-type1 btn-type1_comment js-modal-link"><?=Langs::TEXT_LEAVE_REVIEW_ABOUT_COMPANY?></a>
      </div>
    </div>
    
    <?if(!$totRows){?>
      <h4><?=Langs::TEXT_ABOUT_COMPANY_REVIEWS_EMPTY_FIRST_ONE?></h4>
    <?}?>