<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<?php
$total_rating = round(($f_ReviewRating_PriceQuality + $f_ReviewRating_QualityService + $f_ReviewRating_Personel + $f_ReviewRating_OrderSpeed + $f_ReviewRating_FeedbackQuality) / 5);

/*
$total_plus = (int)$db->get_var("SELECT COUNT(Message_ID) FROM Message218 WHERE Comment_ID = '".$f_RowID."' AND LikeComment = 1 AND Company_ID = '".$company_id."'");
$total_minus = (int)$db->get_var("SELECT COUNT(Message_ID) FROM Message218 WHERE Comment_ID = '".$f_RowID."' AND LikeComment = 2 AND Company_ID = '".$company_id."'");
*/
?>
<div class="review">
  <div class="review__left">
    <span class="review__date"><?=$f_Created_day?> <?=getRusMonth($f_Created_month)?></span>

    <strong class="review__name"><?=$f_Fio?></strong>

    <div class="review-results <?=(existsVoteUser($f_RowID, $company_id) ? 'disabled' : NULL)?>">
      <?=Langs::TEXT_HELPFUL_REVIEW?>:<br>

      <div class="review-results__val js-review-vote" data-url="<?=$lang_prefix?>/netcat/modules/default/addLikeComment.php" data-id="<?=$f_RowID?>" data-company="<?=$company_id?>" data-type="2"><span class="review-results__ico"></span> <span class="js_total_value"><?=$f_TotalMinus?></span></div>
      <div class="review-results__val js-review-vote" data-url="<?=$lang_prefix?>/netcat/modules/default/addLikeComment.php" data-id="<?=$f_RowID?>" data-company="<?=$company_id?>" data-type="1"><span class="review-results__ico"></span> <span class="js_total_value"><?=$f_TotalPlus?></span></div>
    </div>
  </div>
  <div class="review__right">
    <span class="review__rating"><?=$total_rating?></span>
    <strong class="review__title"><?=$f_Header?></strong>

    <dl class="review-params">
      <dt><?=Langs::TEXT_PROS?>:</dt>
      <dd><?=$f_Plus?></dd>
    </dl>
    <dl class="review-params review-params_minus">
      <dt><?=Langs::TEXT_MINUSES?>:</dt>
      <dd><?=$f_Minus?></dd>
    </dl>
    <dl class="review-params review-params_comment">
      <dt><?=Langs::TEXT_A_COMMENT?>:</dt>
      <dd><?=$f_Comment?></dd>
    </dl>
    
    <?if($f_Answer){?>
      <div class="review__answer">
        <strong class="review__title"><?=Langs::TEXT_RESPONSE_TO_REVIEW?></strong><?=$f_Answer?>
      </div>
    <?}?>

  </div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>