<!-- FormPrefix --><?= $f_AdminCommon; ?><!-- /FormPrefix -->

<!-- RecordTemplate --><div>
  <?= $f_AdminButtons; ?>
  <h3><?=$f_Header?></h3>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><br/>
<br/>
<?= browse_messages($cc_env, 15) ?>
<br/>
<br/><!-- /FormSuffix -->