<?php
$db->query("UPDATE Message".$classID." SET Checked = 0 WHERE Message_ID = '".$message."'");


$system_email = $system_env["SpamFromEmail"];
$main_office_email = $db->get_var("SELECT Email FROM Message204 
                                   WHERE TypeContact = 1
                                   ORDER BY Priority
                                   LIMIT 1");
if(!$main_office_email){
  $main_office_email = $system_email;
}



$htmlText = "Номер заказа - ".$f_OrderNumber."\n<br/>
             Артикул Ткани - ".$f_ArticleCloth."\n<br/>
             ФИО - ".$f_Fio."\n<br/>
             Телефон - ".$f_Phone."\n<br/>
             Email - ".$f_Email."\n<br/>
             Соотношение цена/качество - ".$f_ReviewRating_PriceQuality."\n<br/>
             Качество оказанных услуг - ".$f_ReviewRating_QualityService."\n<br/>
             Оценка персонала - ".$f_ReviewRating_Personel."\n<br/>
             Скорость выполнения заказа - ".$f_ReviewRating_OrderSpeed."\n<br/>
             Качество обратной связи - ".$f_ReviewRating_FeedbackQuality."\n<br/>
             Заголовок - ".$f_Header."\n<br/>
             Плюсы - ".$f_Plus."\n<br/>
             Минусы - ".$f_Minus."\n<br/>
             Комментарий - ".$f_Comment."\n<br/>";




//Отправка в Главный офис
if(!$inside_admin){
  $mailer = new CMIMEMail();
  $mailer->mailbody(strip_tags($htmlText),$htmlText);
  $subject = "Новый отзыв в разделе Перетяжка";
  $mailer->send($main_office_email, $system_email, $system_email, $subject, $current_catalogue["Catalogue_Name"]);
}
//Отправка Филиалу/Дилеру
//$email_region = $db->get_var("SELECT Email FROM Message204 WHERE Message_ID = '".$f_Company_ID."'");
if(empty($email_region)){
  $email_region = $db->get_var("SELECT c.Email FROM Message".$classID." as a 
                                    LEFT JOIN Message204 as p ON a.Company_ID = p.Message_ID
                                    LEFT JOIN Message204 as c ON p.Dealer_ID = c.Message_ID
                                WHERE a.Message_ID = '".$message."'");
}
if(!$inside_admin){
  $mailer = new CMIMEMail();
  $mailer->mailbody(strip_tags($htmlText),$htmlText);
  $subject = "Новый отзыв в разделе Перетяжка";
  $mailer->send($email_region, $system_email, $system_email, $subject, $current_catalogue["Catalogue_Name"]);
}



ob_end_clean();
$response_arr = array('status' => 1, 'text' => Langs::TEXT_THANKS_FOR_FEEDBACK_AFTER_CHECK_YOUR_REVIEW_PUBLIC, "header" => Langs::TEXT_REVIEW_SUCCESS_ADDED);
echo json_encode($response_arr);
exit;

if($inside_admin) {
    ob_end_clean();
    header('Location: '.$goBackLink.'&inside_admin=1');
    exit;
} else { 
	echo ($IsChecked ? NETCAT_MODERATION_MSG_OBJADD : NETCAT_MODERATION_MSG_OBJADDMOD);
	echo "<br /><br />".$goBack;
}
?>