<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?if(!empty($cc_settings['wrapSectionWhite'])){?>
  <section class="vertical-section vertical-section_white">
<?}?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<div class="main-about js-check-in-view">
  <div class="main-about__pic">
    <img src="<?=$f_Image?>" width="354" height="347" alt="<?=$f_Header?>">
  </div>
  <div class="main-about__text">
    <div class="main-about__anim">
      <strong class="<?=(!$f_Text ? 'main-about__title2' : 'main-about__title')?>"><?=$f_Header?></strong> <?=$f_Text?>
    </div>
  </div>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><?if(empty($cc_settings['noEndSection']) || !empty($cc_settings['wrapSectionWhite'])){?>
  </section>
<?}?><!-- /FormSuffix -->