<?/* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?= $f_AdminButtons; ?>
<div class="main-about js-check-in-view">
  <div class="main-about__pic">
    <img src="<?=$f_Image?>" width="354" height="347" alt="<?=$f_Header?>">
  </div>
  <div class="main-about__text">
    <div class="main-about__anim">
      <strong class="<?=(!$f_Text ? 'main-about__title2' : 'main-about__title')?>"><?=$f_Header?></strong> <?=$f_Text?>
    </div>
  </div>
</div>
<?/* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>