<!-- FormPrefix --><?= $f_AdminCommon; ?>
<?if($totRows){?>
  <div class="page-width" <?=($cc == sct::cc('main_about') ? 'id="about"' : NULL)?>>
    <section class="vertical-section">
      <div class="main-text">
<?}?><!-- /FormPrefix -->

<!-- RecordTemplate --><?= $f_AdminButtons; ?>
<?if($f_Header){?>
  <h2 class="main-text__title"><?=$f_Header?></h2>
<?}?>
<p><?=$f_Text?></p><!-- /RecordTemplate -->

<!-- FormSuffix --><?if($totRows){?>
      </div>
    </section>
  </div>
<?}?><!-- /FormSuffix -->