<?= $f_AdminCommon; ?>
<?php
$goods = nc_netshop::get_instance()->goodslist_favorite->get_all('DESC', 9999);
foreach($goods as $arrRowItem){
  if((int)$arrRowItem['Class_ID'] !== 31){
    $allItems = $db->get_results("SELECT Message_ID FROM Message31 
                                  WHERE Collection = '".(int)$arrRowItem['Item_ID']."' AND 
                                        Parent_Message_ID = 0 AND 
                                        Language_Parent IS NULL",ARRAY_A);
    if(!empty($allItems)){
      $arrItemsCol = array();
      foreach($allItems as $arrRowI){
        $arrItemsCol[] = array(
          'id' => $arrRowI['Message_ID'],
        );
      }
      $html_favorites .= s_list_class(sct::sub('item'), sct::cc('item'), "nc_ctpl=".sct::tpl('item')."&isNaked=1&json_favorites=".json_encode($arrItemsCol)."");
    }
  }else{
    $arrItemToJson = array(
      array(
        'id' => $arrRowItem['Item_ID'],
        'show_by_article' => true,
      )
    );
    $html_favorites .= s_list_class(sct::sub('item'), sct::cc('item'), "nc_ctpl=".sct::tpl('item')."&isNaked=1&json_favorites=".json_encode($arrItemToJson));
  }
}

//$html_favorites = s_list_class(sct::sub('item'), sct::cc('item'), "nc_ctpl=".sct::tpl('item')."&isNaked=1&json_favorites=1");
?>
<div class="page-width">

  <?=getBrcrHtml()?>

  <h1><?=getSubNameLang($sub)?></h1>

  <div class="catalog-wrap">
    <div class="catalog-wrap__cont">
      <div class="catalog-sort">
        <div class="catalog-sort__left">
          <label class="checkbox">
            <input type="checkbox" class="checkbox__input js_group_cloth" <?=($group_cloth ? 'checked="checked"' : NULL)?> data-param-name="group_cloth" value="1">
            <span class="checkbox__text"><?=Langs::TEXT_GROUP_BY_TYPE_OF_FABRIC?></span>
          </label>
        </div>

        <div class="catalog-sort__right">
          <span class="catalog-sort__view-btn js-catalog-view" data-type="0" data-href="catalog-ajax.html"></span>
          <span class="catalog-sort__view-btn js-catalog-view active" data-type="1" data-href="catalog-ajax2.html"></span>
          <span class="catalog-sort__view-btn js-catalog-view" data-type="2" data-href="catalog-ajax3.html"></span>
        </div>
      </div>

      <div class="catalog-list js_favorite_items_list">
        <h2 class="text_no_items" <?=($html_favorites ? 'style="display:none;"' : NULL)?>><?=Langs::TEXT_NO_PRODUCTS_IN_FAVORITES?></h2>
        
        <?=$html_favorites?>
      </div>
    </div>

    <div class="catalog-preloader">
      <div class="catalog-preloader__sticky js-sticky-col">
        <div class="preloader"></div>
      </div>
    </div>
  </div>

</div>