<?php
$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];
$settings = $nc_core->get_settings('', 'auth');
$mailer = new CMIMEMail();

// подтверждение через почту
if ( $settings['confirm'] ) {
  $mailinfo = $nc_auth->get_confirm_mail( $message );
  $mail_body = nc_mail_attachment_attach($mailer, $mailinfo['body'], 'auth_confirm_' . $catalogue);
  $mailer->mailbody( strip_tags($mail_body), $mailinfo['html'] ?  $mail_body : "");
  $mailer->send($f_Email, $system_env['SpamFromEmail'], $system_env['SpamFromEmail'], $mailinfo['subject'],  $system_env['SpamFromName']);
  //echo "На Ваш почтовый ящик было выслано письмо со ссылкой для подтверждения регистрации.<br/>";
}

// премодерация администратором
if ( $settings['premoderation'] ) {
  //echo "Ваша учетная запись будет активирована после проверки администратора.<br/>";
}

// подтверждение не нужно
if ( !$settings['premoderation'] && !$settings['confirm'] ) {
  //echo "Регистрация прошла успешно.<br/>";
  // авторизация после регистрации
  if ( $settings['autoauthorize'] ) {
    $nc_core->user->authorize_by_id($message);
    //echo "Сейчас Вы будете перемещены на главную страницу.<br/>";
    //echo "<meta http-equiv='refresh' content='2;url=http://".$_SERVER['HTTP_HOST']."/' />";
  }
}

// оповещение администратора
if ( $settings['notify_admin'] ) {
    $mailinfo = $nc_auth->get_notify_admin_mail( $message );
    $mail_body = nc_mail_attachment_attach($mailer, $mailinfo['body'], 'auth_notify_' . $catalogue);
    $mailer->mailbody( strip_tags($mail_body), $mailinfo['html'] ?  $mail_body : "");
    $mailer->send($system_env['SpamFromEmail'], $system_env['SpamFromEmail'], $system_env['SpamFromEmail'], $mailinfo['subject'], $system_env['SpamFromName']);;
}


$url = $lang_prefix.nc_folder_path(sct::sub('lk_personal'));
$resultObject = array("status" => "1", "text" => str_replace('%LOGIN%', $f_Login, Langs::TEXT_HELLO_THANK_YOU_REGISTERING), "url" => $url);
ob_end_clean();
header("Content-Type: application/json;charset=utf-8");
echo json_encode($resultObject);
exit;
?>