<?php
$nc_core = nc_core::get_object();
$netshop = nc_netshop::get_instance();

$arrLang = getLanguage(false, true);
$lang_id = (int)$arrLang['id'];
$lang_name = $arrLang['name'];
$lang_prefix = $arrLang['prefix'];
$lang_prefix_field = $arrLang['prefix_field'];
$cookie_city_id = (int)$nc_core->input->fetch_cookie('city_id');
if(!empty($cookie_city_id)){
  $cookie_city_name = $db->get_var("SELECT Cities".$lang_prefix_field."_Name FROM Classificator_Cities".$lang_prefix_field." 
                                    WHERE Cities".$lang_prefix_field."_ID = '".$cookie_city_id."'");
}else{
  $cookie_city_name = getDefaultCityName();
}

$arrAddress = array();
if($AUTH_USER_ID){
	$allAddress = $db->get_results("SELECT Message_ID as id,
										   City as city,
										   Address as address,
										   Zip as zip
										   FROM Message253
									WHERE isReturn <> 1 AND User_ID = '".$AUTH_USER_ID."'
									ORDER BY Message_ID DESC", ARRAY_A);
	if(!empty($allAddress)){
		$arrAddress = $allAddress;
	}
}

$cart_url = $lang_prefix.nc_folder_path(sct::sub('cart'));


if (!$netshop->cart->get_item_count()) {
    // корзина пуста! оформление заказа невозможно
?>
  <div class="basket-empty">
    <div class="basket-empty__ico">
      <svg width="66px" height="66px">
        <path fill-rule="evenodd"  stroke="rgb(8, 135, 170)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
              d="M56.866,46.777 L63.998,16.958 L15.262,16.958 L15.262,6.458 C15.262,3.811 13.457,0.998 10.111,0.998 L0.998,0.998 L0.998,7.038 L9.111,7.038 C9.289,7.038 9.380,7.064 9.381,7.061 C9.433,7.123 9.497,7.344 9.508,7.502 L9.508,50.558 C9.508,54.377 12.693,57.548 15.836,58.797 C15.721,59.179 15.659,59.585 15.659,60.008 C15.659,62.212 17.344,63.997 19.423,63.997 C21.502,63.997 23.187,62.212 23.187,60.008 C23.187,59.792 23.166,59.581 23.135,58.958 L44.238,58.958 C44.207,59.583 44.187,59.793 44.187,60.008 C44.187,62.212 45.872,63.997 47.951,63.997 C50.030,63.997 51.715,62.212 51.715,60.008 C51.715,59.793 51.695,59.583 51.664,59.377 L53.300,59.377 L53.300,53.339 L22.395,53.339 L18.828,53.334 C16.512,53.334 15.262,52.388 15.262,50.558 L15.262,46.777 L56.866,46.777 Z"/>
      </svg>
    </div>
    <strong class="basket-empty__title">
      <?=Langs::TEXT_CART_EMPTY?>
    </strong>
  </div>

  <div class="basket-buttons">
    <a href="<?=$lang_prefix.nc_folder_path(sct::sub('catalog'))?>" class="btn-type4"><?=Langs::TEXT_RETURN_TO_CATALOG?></a>
  </div>
<?php
    return;
}


// --- Таблица с содержимым заказа на первой странице оформления заказа, в блоке «Подтверждение состава заказа»
function tpl_netshop_make_cart_contents_table() {
    $netshop = nc_netshop::get_instance();
    $items = $netshop->cart->get_items();

    $result = "";
    
    $arrItems = array();
    foreach($items as $item){
      $arrItems[$item['Message_ID']] = array(
          'id' => $item['Message_ID'],
          'qty' => $item['Qty'],
      );
    }
    
    $result .= s_list_class(sct::sub('item'), sct::cc('item'), "nc_ctpl=".sct::tpl('item')."&isNaked=1&no_wrap_catalog=1&json_cart_order=".json_encode($arrItems)."");

    return $result;
}


/**
 *  Оформление заказа производится:
 *  — на одной странице, если возможные методы доставки и оплаты не зависят от данных,
 *    указываемых пользователем при оформлении заказа;
 *  — на двух страницах, если методы доставки или оплаты зависят от данных,
 *    указываемых пользователем при оформлении заказа, и возможные способы оплаты не
 *    зависят от способов доставки;
 *  — на трёх страницах, если методы оплаты зависят от способов доставки.
 *
 *  1-страничный режим: данные заказа и выбор способа оплаты и выбор способа доставки
 *  2-страничный режим: данные заказа → выбор способа оплаты и выбор способа доставки
 *                 или: данные заказа и выбор способа оплаты → выбор способа доставки
 *  3-страничный режим: данные заказа → выбор способа оплаты → выбор способа доставки
 *
 *  Если включена опция «Показывать страницу подтверждения заказа», то также будет
 *  дополнительно отображена страница подтверждения.
 */

// Список способов доставки и оплаты на текущем сайте:

$all_delivery_methods = $netshop->delivery->get_enabled_methods();
$all_payment_methods = $netshop->payment->get_enabled_methods();

// объекты, необходимые для дальнейших расчётов для способов доставки и оплаты:
$order = nc_netshop_order::from_post_data((array)$nc_core->input->fetch_post(), $netshop);
$context = $netshop->get_condition_context();
$context->set_order($order);

// -------------------------------------------------------------------------
// Некоторые настройки отображения
// -------------------------------------------------------------------------
// Для изменения настроек используйте соответствующие пункты в «Настройках
// отображения компонента» в настройках инфоблока.

// Показывать страницу подтверждения (по умолчанию — true):
$show_confirmation_page =
    isset($cc_settings['show_confirmation_page']) ? $cc_settings['show_confirmation_page'] : true;

// -------------------------------------------------------------------------
// Определение количества страниц, которое потребуется для оформления заказа
// -------------------------------------------------------------------------

// Сколько страниц будет в оформлении заказа:
$pages = 3;

// Страница, на которой пользователя спросят о способах доставки:
$delivery_page = count($all_delivery_methods) ? 2 : 0;
// Страница, на которой пользователя спросят о способах оплаты:
$payment_page = count($all_payment_methods) ? 3 : 0;
// Страница подтверждения заказа:
$confirmation_page = 4;

// Если способы доставки зависят от полей заказа, показывать их на второй странице
if ($all_delivery_methods->any('depends_on_order_data', true)) {
    $pages = 3;
    $delivery_page = 2;
}

// Если способы оплаты зависят от полей заказа, показывать их на второй странице
if ($all_payment_methods->any('depends_on_order_data', true)) {
    $pages = 3;
    $payment_page = 3;
}

// Если способы оплаты зависят от способов доставки, показывать их на отдельной
// (второй или третьей) странице
if ($all_payment_methods->any('depends_on_delivery_method', true)) {
    $pages++;
    $payment_page = $delivery_page + 1;
}

// Учесть страницу подтверждения заказа:
if ($show_confirmation_page) {
    $pages++;
    $confirmation_page = $pages;
}

// Текущая страница:
$current_page = $is_posted = $nc_core->input->fetch_post('current_page');
if (!$current_page) {
    $current_page = 1;
}
$go_to_next_page = $nc_core->input->fetch_post('go_to_next_page');

// Ошибки в случае, если форма заполнена неправильно, выводятся в блоке «Данные заказа».
// Если ошибок нет — переходим к следующей странице
if (!$warnText && $go_to_next_page && $pages > 1) {
    $current_page++;
}

// Инициализация некоторых переменных
$delivery_variant_id = $nc_core->input->fetch_post('delivery_variant_id');
$delivery_point_id = $nc_core->input->fetch_post('delivery_point_id');

// -------------------------------------------------------------------------
// Общая часть формы (начало)
// -------------------------------------------------------------------------

$arrTitlePage = array(
	1 => Langs::TEXT_CONTACT_AND_SHIPPING_ADDRESS,
	2 => Langs::TEXT_DELIVERY_METHOD,
	3 => Langs::TEXT_PAYMENT_METHOD,
	4 => Langs::TEXT_ORDER_LIST,
);
?>

<div class="page-width">
	<?=getBrcrHtml()?>
	<h1><?=getSubNameLang($sub)?></h1>

	<ol class="order-steps">
		<li class="order-steps__item active"><?=Langs::TEXT_CONTACT_DETAILS?></li>
		<li class="order-steps__item <?=($current_page > 1 ? 'active' : NULL)?>"><?=Langs::TEXT_DELIVERY?></li>
		<li class="order-steps__item <?=($current_page > 2 ? 'active' : NULL)?>"><?=Langs::TEXT_PAYMENT?></li>
		<li class="order-steps__item <?=($current_page > 3 ? 'active' : NULL)?>"><?=Langs::TEXT_CONFIRMATION?></li>
	</ol>

	<h3><?=$arrTitlePage[$current_page]?></h3>

	<form id='nc_netshop_add_order_form' class='main-form' method='post' action='<?= $SUB_FOLDER . $HTTP_ROOT_PATH ?>add.php'>
      <input name='admin_mode' type='hidden' value='<?= $nc_core->admin_mode ?>'/>
      <?= $nc_core->token->get_input() . "\n" ?>
      <input name='catalogue' type='hidden' value='<?= $catalogue ?>'/>
      <input name='cc' type='hidden' value='<?= $cc ?>'/>
      <input name='sub' type='hidden' value='<?= $sub ?>'/>
      <input name='posting' type='hidden' value='0'/>
      <input name='curPos' type='hidden' value='0'/>
      <input name='f_Parent_Message_ID' type='hidden' value='0'/>
      <input name='current_page' type='hidden' value='<?= $current_page ?>'/>

<?php
// -------------------------------------------------------------------------
// Данные заказа
// -------------------------------------------------------------------------

if ($current_page == 1) {
    // Подготавливаем данные пользователя:
    $user = $AUTH_USER_ID ? nc_Core::get_object()->user->get_by_id($AUTH_USER_ID) : null;
    $last_order = null;

    if ($AUTH_USER_ID) {
        $sql = "SELECT `Message_ID` FROM `Message{$classID}` WHERE `User_ID` = {$AUTH_USER_ID} ORDER BY `Created` DESC LIMIT 1";

        $last_order_id = $db->get_var($sql);
        if ($last_order_id) {
            $last_order = new nc_netshop_order();
            $last_order->set_catalogue_id($catalogue_id);
            $last_order->load($last_order_id);
        }
    }

    $contact_name = null;
    if (!isset($f_ContactName)) {
        if (isset($user['FIO'])) {
            $contact_name = $user['FIO'];
        } else if (isset($_COOKIE['Order_ContactName'])) {
            $contact_name = $_COOKIE['Order_ContactName'];
        }
    } else {
		$contact_name = $f_ContactName;
	}

    $contact_email = null;
    if (!isset($f_Email)) {
        if (isset($user['Email'])) {
            $contact_email = $user['Email'];
        } else if (isset($_COOKIE['Order_Email'])) {
            $contact_email = $_COOKIE['Order_Email'];
        }
    } else {
		$contact_email = $f_Email;
	}

    $contact_phone = null;
    if (!isset($f_Phone)) {
        if (isset($user['Email'])) {
			$contact_phone = $user['Phone'];
		} else if ($last_order) {
            $contact_phone = $last_order['Phone'];
        } else if (isset($_COOKIE['Order_Phone'])) {
            $contact_phone = $_COOKIE['Order_Phone'];
        }
    } else {
		$contact_phone = $f_Phone;
	}

    $address = null;
    if (!isset($f_Address)) {
        if ($last_order) {
            $address = $last_order['Address'];
        } else if (isset($_COOKIE['Order_Address'])) {
            $address = $_COOKIE['Order_Address'];
        }
    } else {
		$address = $f_Address;
	}

    $zip = null;
    if (!isset($f_Zip)) {
        if ($last_order) {
            $zip = $last_order['Zip'];
        } else if (isset($_COOKIE['Order_Zip'])) {
            $zip = $_COOKIE['Order_Zip'];
        }
    } else {
		$zip = $f_Zip;
	}


    // Сделать выбранным по умолчанию город, в котором расположен магазин
    $selected_city = null;
    if (!isset($f_City)) {
        if (isset($_COOKIE['Order_City'])) {
            $selected_city = $_COOKIE['Order_City'];
        } else {
            $selected_city = $cookie_city_name;//$netshop->get_setting('City');
        }
    } else {
		$selected_city = $f_City;
	}
    // Поля формы:
?>
    
      <div class="form-cont">
        <div class="form-row">
          <div class="form-row__left">
            <div class="page-row page-row_justify page-row_wrap page-row_wrap-xl">
              <div class="page-col">
                <h4><?=Langs::TEXT_RECIPIENT_DATA?></h4>
              </div>
			  <?if(!$AUTH_USER_ID){?>
				  <div class="page-col">
					<p><a href="#login-modal" class="ico-link js-modal-link"><?=Langs::TEXT_LOGIN_WITH_YOUR_ACCOUNT?></a></p>
				  </div>
			  <?}?>
            </div>

            <div class="main-form__line">
              <label class="main-form__label" for="email_order"><?=Langs::TEXT_EMAIL?>: *</label>
              <input type="email" class="main-form__text-input" id="email_order" name="f_Email" value="<?=$contact_email?>" placeholder="E-mail" required>
            </div>

            <div class="main-form__line">
              <label class="main-form__label" for="tel"><?=Langs::TEXT_PHONE?>: *</label>
              <input type="tel" class="main-form__text-input js-phone-input" value="<?=$contact_phone?>" id="tel" name="f_Phone" placeholder="+_ (___) ___-__-__" required>
            </div>

            <div class="main-form__line">
              <label class="main-form__label" for="name_order"><?=Langs::TEXT_YOUR_NAME_AND_SURNAME?> *</label>
              <input type="text" class="main-form__text-input" id="name_order" name="f_ContactName" value="<?=$contact_name?>" required>
            </div>
          </div>
          <div class="form-row__right">
            <div class="page-row page-row_justify page-row_wrap page-row_wrap-xl">
              <div class="page-col">
                <h4><?=Langs::TEXT_SHIPPING_ADDRESS?></h4>
              </div>
              <?if($AUTH_USER_ID && !empty($arrAddress)){?>
				  <div class="page-col">
					<p><a href="#address-select-modal" class="ico-link ico-link_point js-modal-link"><?=Langs::TEXT_OTHER_SHIPPING_ADDRESS?></a></p>
				  </div>
			  <?}?>
            </div>

            <div class="main-form__line">
              <label class="main-form__label" for="city"><?=Langs::TEXT_CITY?> *</label>
              <input type="text" class="main-form__text-input js_order_city" id="city" name="f_City" value="<?=$selected_city?>" required>
            </div>

            <div class="main-form__line">
              <label class="main-form__label" for="address"><?=Langs::TEXT_ADDRESS?> *</label>
              <input type="text" class="main-form__text-input js_order_address" id="address" name="f_Address" value="<?=$address?>" required>
            </div>

            <div class="main-form__line">
              <label class="main-form__label" for="postcode"><?=Langs::TEXT_INDEX?> *</label>
              <input type="text" class="main-form__text-input js_order_zip" id="postcode" name="f_Zip" value="<?=$zip?>" required>
            </div>

          </div>
        </div>

        <div class="h10-separator"></div>
        <div class="main-form__line">
          <label class="main-form__label" for="message"><?=Langs::TEXT_NOTE?></label>
          <textarea placeholder="<?=Langs::TEXT_MESSAGE_TEXT?>" id="message" name="f_Comments" class="main-form__text-input"><?=$f_Comments?></textarea>
        </div>

        <div class="page-row  page-row_wrap page-row_justify">
          <div class="page-col">
            <label class="checkbox">
              <input type="checkbox" checked="checked" name="agreement" class="checkbox__input" required>
              <span class="checkbox__text"><?=Langs::TEXT_I_AGREE_TO?> <a href="#" class="js-modal-link" data-fancybox data-type="ajax" data-src="<?=nc_folder_path(sct::sub('privacy_policy'))?>?isNaked=1"><?=Langs::TEXT_PRIVACY_POLICY?></a></span>
            </label>
          </div>
          <div class="page-col">
            <span class="required-caption">* <?=Langs::TEXT_REQUIRED_FIELDS?></span>
          </div>

        </div>
      </div>
	  
	  
      <h3><?=Langs::TEXT_ORDER_LIST?></h3>
      <div class="basket-table-wrap">
        <table class="basket-table">
          <thead>
            <tr>
              <th class="basket-table__cell basket-table__cell_title"><?=Langs::TEXT_DESCRIPTION?>:</th>
              <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_PRICE?>:</th>
              <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_AMOUNT?>:</th>
              <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_SUM?>:</th>
              <th class="basket-table__cell basket-table__cell_title"></th>
            </tr>
          </thead>
          <tbody>
            <?=tpl_netshop_make_cart_contents_table()?>
          </tbody>
        </table>
      </div>

    <?php

    // В случае возврата со страницы подтверждения нужно сохранить выбранные
    // параметры доставки и оплаты
    foreach (array('delivery_variant_id', 'delivery_point_id', 'f_PaymentMethod') as $var) {
        if (!empty($$var)) {
            echo "<input type='hidden' name='" . $var . "' value='" . htmlspecialchars($$var, ENT_QUOTES) . "' />\n";
        }
    }

} // "if $current_page == 1"
else {

    // Это уже не первая страница; необходимо сохранить введённые значения
    // в hidden-полях формы:
    foreach ((array)$nc_core->input->fetch_post() as $key => $value) {
        if (strpos($key, "f_") === 0 || strpos($key, "delivery_") === 0) {
            if($key === "delivery_variant_id"){
				echo "<input type='hidden' name='f_DeliveryMethod' value='" .
					 htmlspecialchars($value, ENT_QUOTES) . "' />\n";
		    }
			echo "<input type='hidden' name='" . htmlspecialchars($key, ENT_QUOTES) . "' value='" .
                 htmlspecialchars($value, ENT_QUOTES) . "' />\n";
        }
    }

} // конец блока «Данные заказа»

// -------------------------------------------------------------------------
// Выбор способа доставки
// -------------------------------------------------------------------------

if ($delivery_page == $current_page) {
    /** @var nc_netshop_delivery_method_collection $all_delivery_methods */
    /** @var nc_netshop_delivery_method_collection $methods_to_show */
    $available_delivery_methods = $all_delivery_methods->matching($context);
    $methods_to_show = $show_unavailable_delivery_methods
        ? $all_delivery_methods->with_variants($order)
        : $available_delivery_methods;

    $num_methods_to_show = count($methods_to_show);

    global $method_ids_to_load_with_ajax;
    $method_ids_to_load_with_ajax = array();

    // --- НАЧАЛО ШАБЛОНА ВЫВОДА СПОСОБА ДОСТАВКИ ---
    $print_delivery_method =
        function (nc_netshop_delivery_method $method, $options_block = '')
        use ($context, $use_ajax_to_load_delivery_estimate, $num_methods_to_show, $show_unavailable_delivery_methods)
    {

        static $is_first = true; // флаг для пред-выбора первого элемента
        global $method_ids_to_load_with_ajax, $delivery_variant_id;

        $order = $context->get_order();
        $is_available = !$show_unavailable_delivery_methods || $method->evaluate_conditions($context);
        $method_id = $method->get_id();
        $method_description = $method->get('description');
		
		// --- Оценка стоимости и времени доставки ---
		// Для методов доставки, вычисляющих стоимость и сроки на основании данных
		// от внешних служб, загрузка информации производится через AJAX.
		// Это сделано для того, чтобы не замедлять отображение страницы при
		// большом количестве таких вариантов доставки и/или медленном ответе
		// внешних служб.

		$dates_estimate = "";
		$price_estimate = "";
		$show_dates_estimate = true;
		$estimate_error = "";

		// Сбор данных
		if ($use_ajax_to_load_delivery_estimate && $method->get('handler_id')) {
			// "(данные загружаются)"
			$dates_estimate = NETCAT_MODULE_NETSHOP_CHECKOUT_DELIVERY_ESTIMATE_LOADING;
			$method_ids_to_load_with_ajax[] = $method_id;
		} else {
			// расчёт сроков и стоимости производятся на нашем сервере
			$estimate = $method->get_estimate($order);

			if ($estimate->has_error()) {
				// при расчёте стоимости возникла ошибка
				$estimate_error = $estimate->get('error');
				$price_estimate = "";
			} else {
				// значение для блока «Стоимость доставки»
				$price_estimate = $estimate->get_formatted_price_and_discount();

				// значение для блока «Ожидаемые даты доставки»:
				$dates_estimate = $estimate->get_dates_string();
				// показывать блок с датами доставки только если есть оценка сроков:
				$show_dates_estimate = strlen($estimate->get('min_days')) > 0;

			} // конец блока «произведён расчёт на нашем сервере (без ошибок)»
		}
		
		// Решаем, должен ли текущий пункт быть выбранным:
		if ($is_available) {
			// checked, если уже был указан метод оплаты (возврат со страницы
			// подтверждения), иначе — если это первый метод в списке:
			$is_checked = isset($delivery_variant_id) ? $delivery_variant_id == $method_id : $is_first;
		} else {
			// недоступные методы никогда не являются выбранными
			$is_checked = false;
		}
        ?>
		
		
		
		<div class="delivery-select__col" style="<?=($estimate_error ? 'opacity:0.5;' : NULL)?>">
		  <label class="delivery-select__label" data-mh="delivery-type">
			<input type="radio" class="delivery-select__input" <?=(!empty($estimate_error) ? 'disabled="disabled"' : NULL)?> name="delivery_variant_id" <?=($is_checked ? 'checked="checked"' : NULL)?> value="<?=$method_id?>">
			<span class="delivery-select__name" data-mh="delivery-name"><?= $method->get('name'); ?></span>

			<span class="delivery-select__text">
			  <?= nl2br($method_description) ?>
			  <strong>
				<?=Langs::TEXT_COST_OF?>: <?=(!empty($estimate_error) ? $estimate_error : $price_estimate)?><br>
				<?=Langs::TEXT_DELIVERY?>: <?=(!empty($dates_estimate) ? $dates_estimate : Langs::TEXT_UNKNOWN)?>
			  </strong>
			</span>
			<span class="delivery-select__bg"></span>
		  </label>
		</div>
		
		
		
        <?php
        if ($is_available) {
            $is_first = false;
        }
    };
	
	echo '<div class="delivery-select">';
		foreach ($available_delivery_methods as $method) {
			$print_delivery_method($method);
		}
	echo '</div>';
	
    // --- КОНЕЦ ШАБЛОНА ВЫВОДА СПОСОБА ДОСТАВКИ ---
} // конец блока «Выбор способа доставки»

// -------------------------------------------------------------------------
// Выбор способа оплаты
// -------------------------------------------------------------------------

if ($payment_page == $current_page) {
    $available_payment_methods = $all_payment_methods->matching($context);
    $methods_to_show = $show_unavailable_payment_methods
        ? $all_payment_methods
        : $available_payment_methods;

    $num_methods_to_show = count($methods_to_show);

    // Если ранее был указан способ оплаты (возврат со страницы подтверждения
    // заказа), проверим, доступен ли он до сих пор (мог измениться способ
    // доставки):
    $previously_selected_method_is_available = isset($f_PaymentMethod)
        ? $available_payment_methods->any('id', $f_PaymentMethod)
        : false;

    $is_first = true; // флаг для пред-выбора первого элемента

	echo '<div class="delivery-select">';
    foreach ($methods_to_show as $method) {
		/** @var nc_netshop_payment_method $method */
		$is_available = $method->evaluate_conditions($context);
		$method_id = $method->get_id();
		// Решаем, должен ли текущий пункт быть выбранным:
		if ($is_available) {
			// checked, если уже был указан метод оплаты (возврат со страницы
			// подтверждения), иначе — если это первый метод в списке:
			$is_checked = isset($f_PaymentMethod) && $previously_selected_method_is_available
				? $f_PaymentMethod == $method_id
				: $is_first;
		} else {
			// недоступные методы никогда не являются выбранными
			$is_checked = false;
		}
?>
		
		<div class="delivery-select__col">
		  <label class="delivery-select__label" data-mh="delivery-type">
			<input type="radio" class="delivery-select__input" <?=($is_checked ? 'checked="checked"' : NULL)?> name="f_PaymentMethod" value="<?=$method_id?>">
			<span class="delivery-select__name" data-mh="delivery-name"><?= $method->get('name'); ?></span>

			<span class="delivery-select__text">
			  <?= nl2br($method->get('description')); ?>
			</span>
			<span class="delivery-select__bg"></span>
		  </label>
		</div>
    <?php
		if ($is_available) {
			$is_first = false;
		}
	}
	echo '</div>';
} // конец блока «Выбор способа оплаты»

// -------------------------------------------------------------------------
// Подтверждение заказа
// -------------------------------------------------------------------------

if ($confirmation_page == $current_page) {
    // Итоговая сумма к оплате
    $total_sum = $netshop->cart->get_totals();
	$total_sum_no_change = $total_sum;
	$method_delivery = $netshop->delivery->get_method_if_enabled($delivery_variant_id, $context);
	$estimate = $method_delivery->get_estimate($order);
	$delivery_price = (float)$estimate->get('price');
	if(!empty($delivery_price)){
		$total_sum += $delivery_price;
		$delivery_price = formatPrice($estimate->get('price')).' ₽';
	}else{
		$delivery_price = Langs::TEXT_FREE;
	}
	
	$method_payment = $netshop->payment->get_method_if_enabled($f_PaymentMethod, $context);
    ?>
	
	<div class="basket-table-wrap">
		<table class="basket-table">
		  <thead>
			<tr>
			  <th class="basket-table__cell basket-table__cell_title"><?=Langs::TEXT_DESCRIPTION?>:</th>
			  <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_PRICE?>:</th>
			  <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_AMOUNT?>:</th>
			  <th class="basket-table__cell basket-table__cell_title basket-table__cell_center"><?=Langs::TEXT_SUM?>:</th>
			  <th class="basket-table__cell basket-table__cell_title"></th>
			</tr>
		  </thead>
		  <tbody>
			<?=tpl_netshop_make_cart_contents_table()?>
		  </tbody>
		</table>
    </div>
	
	<div class="h30-separator"></div>

	<h3><?=Langs::TEXT_INFO_ABOUT_ORDER?></h3>

	<div class="order-info">
	  <div class="order-info__row">
		<div class="order-info__left">
		  <h4><?=Langs::TEXT_CONTACT_AND_SHIPPING_ADDRESS?></h4>

		  <p>
			Email: <?=$f_Email?><br>
			<?=Langs::TEXT_FIO?>: <?=$f_ContactName?><br>
			<?=Langs::TEXT_CONTACT_PHONE?>: <?=$f_Phone?><br>
			<?=Langs::TEXT_DELIVERY_CITY?>: <?=$f_Zip?>, <?=$f_City?>, <?=$f_Address?>
		  </p>

		  <div class="order-info__edit">
			<button type="submit" class="ico-link ico-link_edit" name="current_page" value="1">
				<?=Langs::TEXT_CHANGE?>
			</button>
		  </div>

		</div>
		<div class="order-info__right">
		  <h4><?=Langs::TEXT_DELIVERY_METHOD?></h4>

		  <p>
			<?=Langs::TEXT_DELIVERY_METHOD?>: <?=$method_delivery->get('name')?><br>
			<?=Langs::TEXT_COST_OF?>: <?=$delivery_price?><br>
			<?=Langs::TEXT_EXPECTED_DELIVERY_DATE?>: <?=$estimate->get_dates_string()?>
		  </p>

		  <div class="order-info__edit">
			<button type="submit" class="ico-link ico-link_edit" name="current_page" value="<?= $delivery_page; ?>">
				<?=Langs::TEXT_CHANGE?>
			</button>
		  </div>
		</div>
		<div class="order-info__left">
		  <h4><?=Langs::TEXT_PAYMENT_METHOD?></h4>

		  <p>
			<?=Langs::TEXT_PAYMENT_METHOD_ORDER?>: <?=$method_payment->get('name')?>
		  </p>

		  <div class="order-info__edit">
			<button type="submit" class="ico-link ico-link_edit" name="current_page" value="<?= $payment_page; ?>">
                <?=Langs::TEXT_CHANGE?>
            </button>
		  </div>

		</div>
		<div class="order-info__right">
		  <h4><?=Langs::TEXT_TOTAL?></h4>
		  <p>
			<?=Langs::TEXT_TOTAL_COST?>: <strong><?=formatPrice($total_sum_no_change)?> ₽</strong><br>
			<?=Langs::TEXT_DELIVERY?>: <strong><?=$delivery_price?></strong><br>
			<?=Langs::TEXT_TOTAL_FOR_PAYMENT?>: <strong><?=formatPrice($total_sum)?> ₽</strong>
		  </p>
		</div>
	  </div>
	</div>
	
	
	
    <?php
}

// -------------------------------------------------------------------------
// Общая завершающая часть формы
// -------------------------------------------------------------------------

?>
		<div class="basket-buttons">
			<? if ($current_page > 1) { ?>
				<button type="submit" class="btn-type4" name="current_page" value="<?= $current_page - 1; ?>">
					<?=Langs::TEXT_PREV?>
				</button>
			<? } ?>
			<? if ($current_page == $pages) { ?>
				<button type="submit" name="posting" value="1" class="btn-type3">
					<?=Langs::TEXT_CHECKOUT?>
				</button>
			<?
			} else {
				?>
				<button type="submit" class="btn-type3 js_next_page_order" name="go_to_next_page" value="1">
					<?=Langs::TEXT_CONTINUE?>
				</button>
				
				<? if ($current_page <= 1) {?>
					<a href="<?=$cart_url?>" class="btn-type4"><?=Langs::TEXT_RETURN_TO_CART?></a>
				<? } ?>
			<? } ?>
		</div>
	</form>
</div>



<div class="modal-window modal-window_form" id="login-modal">
  <form id='send_form_auth' class='main-form' enctype='multipart/form-data' method='post' action='<?= $lang_prefix . $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>add.php'>
    
	<div id="nc_moderate_form">
		<div class="nc_clear"></div>
		<input name="admin_mode" type="hidden" value="<?= $admin_mode ?>" />
		<?= $nc_core->token->get_input() ?>
		<input name="catalogue" type="hidden" value="<?= $catalogue ?>" />
		<input name="cc" type="hidden" value="<?=sct::cc("auth")?>" />
		<input name="sub" type="hidden" value="<?=sct::sub("auth")?>" />
		<input name="posting" type="hidden" value="1" />
		<input name="isNaked" type="hidden" value="1" />
		<input name="jsQuery" type="hidden" value="1" />
		<input name="is_order" type="hidden" value="1" />
		<input type="hidden" name="AuthPhase" value="1">
		<input type="hidden" name="REQUESTED_FROM" value="<?=$_SERVER["REQUEST_URI"]?>">
		<input type="hidden" name="REQUESTED_BY" value="POST">
		<input type="hidden" name="login_save" value="1">
		<input name="curPos" type="hidden" value="<?= $curPos ?>" />
		<input name="f_Parent_Message_ID" type="hidden" value="<?= $f_Parent_Message_ID ?>" />
		<?= nc_form_moderate("add", $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
	  </div>
	
    <div class="modal-window__title"><?=Langs::TEXT_LOGIN_WITH_YOUR_ACCOUNT?></div>

    <div class="main-form__line">
      <label class="main-form__label" for="login_auth"><?=Langs::TEXT_EMAIL?>: *</label>
      <input type="email" class="main-form__text-input" id="login_auth" name="AUTH_USER" required>
    </div>

    <div class="main-form__line">
      <label class="main-form__label" for="pass_auth"><?=Langs::TEXT_PASSWORD?>: *</label>
      <input type="password" class="main-form__text-input" id="pass_auth" name="AUTH_PW" required>
    </div>

    <div class="submit-line">
      <input type="submit" value="<?=Langs::TEXT_LOG_IN?>" class="btn-type3">
      <a href="<?=$lang_prefix?>/netcat/modules/auth/password_recovery.php" target="_blank" class="pass-reset-link js_link_no_clicked"><?=Langs::TEXT_FORGOT_PASSWORD?></a>
    </div>
  </form>
</div>

<div class="modal-window modal-window_form" id="address-select-modal">
  <form class="main-form">

    <div class="modal-window__title"><?=Langs::TEXT_ADDRESS_SHIPPING?></div>

    <ul class="address-select">
      <?php
	  $row_i = 1;
	  foreach($arrAddress as $arrRowAddress){
		  echo '<li class="address-select__item">
					<label class="address-select__radio">
					  <input type="radio" value="'.$arrRowAddress['id'].'" data-json=\''.json_encode($arrRowAddress).'\' name="address-select" '.($row_i === 1 ? 'checked="checked"' : NULL).' class="address-select__input js_address_order">
					  <span class="address-select__text">
						<strong class="address-select__name">'.Langs::TEXT_SHIPPING_ADDRESS_NO.$row_i.'</strong>
						'.$arrRowAddress['address'].', '.$arrRowAddress['zip'].', '.$arrRowAddress['city'].'
					  </span>
					</label>
				</li>';
		  
		  $row_i++;
	  }
	  ?>
    </ul>

    <div class="submit-line">
      <input type="submit" value="<?=Langs::TEXT_APPLY_SHIPPING_ADDRESS?>" class="btn-type3 js_select_address_order">
    </div>
  </form>
</div>